<!--begin::Card-->
<div class="card card-custom card-stretch w-100 h-100">
  <div class="card-header border-0">
    <div class="card-title text-center">
      <h3 class="card-label">{{ l('RequestsInMarketPlace') }}</h3>
    </div>
    <div class="card-toolbar" *ngIf="Requests">
      <a class="btn btn-danger btn-xs red" target="_blank" href="/app/main/marketplace/list">{{ l('More') }}</a>
    </div>
  </div>
  <div class="card-body">
    <p-table [value]="Requests" [busyIf]="loading">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ l('ReferanceNumber') }}</th>
          <th>{{ l('EndDate') }}</th>
          <th>{{ l('TotalOffers') }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-record>
        <tr>
          <td>{{ record.requestReference }}</td>
          <td>{{ record.biddingEndDate | momentFormat: 'dd/MM/YYYY' }}</td>
          <td>{{ record.numberOfOffers }}</td>
        </tr>
      </ng-template>
    </p-table>
    <div class="pd-5 text-center" *ngIf="!Requests || Requests.length == 0">
      {{ l('NoData') }}
    </div>
    <!--end::Body-->
  </div>
</div>
<!--end::Card-->
