agm-map {
  height: 500px;
}

.btn.btn-light-danger {
  color: #f64e60;
  background-color: #ffe2e5;
  border-color: transparent;
}
.btn.btn-success {
  color: #fff !important;
  background-color: #1bc5bd !important;
  border-color: #1bc5bd !important;
}
