.vertical-separator {
  border-left: 2px dashed #ebedf3;
  max-height: 80%;
  left: 50%;
  margin-left: -3px;
  top: 0;
}
agm-map {
  height: 350px;
}

.btn.btn-light-danger {
  color: #f64e60;
  background-color: #ffe2e5;
  border-color: transparent;
}
.btn.btn-success {
  color: #fff !important;
  background-color: #1bc5bd !important;
  border-color: #1bc5bd !important;
}
