<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #trucksTypesTranslationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="trucksTypesTranslation.id">{{ l('EditTrucksTypesTranslation') }}</span>
            <span *ngIf="!trucksTypesTranslation.id">{{ l('CreateNewTrucksTypesTranslation') }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group m-form__group">
            <label for="TrucksTypeDisplayName">{{ l('TrucksType') }}</label>
            <select name="trucksTypesTranslation.coreId" [(ngModel)]="trucksTypesTranslation.coreId" class="form-control" required>
              <option value="">{{ l('SelectATrucksType') }}</option>
              <option *ngFor="let item of allTrucksTypes" value="{{ item.id }}">{{ item.displayName }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="TrucksTypesTranslation_TranslatedDisplayName">{{ l('TranslatedDisplayName') }} <span class="required-fileds"> *</span></label>
            <input
              type="text"
              #TrucksTypesTranslation_TranslatedDisplayName="ngModel"
              id="TrucksTypesTranslation_TranslatedDisplayName"
              class="form-control"
              [(ngModel)]="trucksTypesTranslation.translatedDisplayName"
              name="TranslatedDisplayName"
              minlength="0"
              maxlength="256"
              required
            />
            <validation-messages [formCtrl]="TrucksTypesTranslation_TranslatedDisplayName"></validation-messages>
          </div>

          <div class="form-group">
            <label for="TrucksTypesTranslation_Language">{{ l('Language') }} <span class="required-fileds"> *</span></label>
            <input
              type="text"
              #TrucksTypesTranslation_Language="ngModel"
              id="TrucksTypesTranslation_Language"
              class="form-control"
              [(ngModel)]="trucksTypesTranslation.language"
              name="Language"
              minlength="0"
              maxlength="32"
              required
            />
            <validation-messages [formCtrl]="TrucksTypesTranslation_Language"></validation-messages>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
          <button
            type="submit"
            class="btn btn-primary blue"
            [disabled]="!trucksTypesTranslationForm.form.valid"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
