<div [@routerTransition]>
  <div class="">
    <sub-header [title]="'RoutSteps' | localize" [description]="'' | localize">
      <div role="actions">
        <button *ngIf="isGranted('Pages.RoutSteps.Create')" (click)="createRoutStep()" class="btn btn-primary blue">
          <i class="fa fa-plus"></i> {{ l('CreateNewRoutStep') }}
        </button>
      </div>
    </sub-header>

    <div class="row align-items-center">
      <!--<Primeng-Datatable-Start>-->
      <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
        <p-table
          #dataTable
          (onLazyLoad)="getRoutSteps($event)"
          [value]="primengTableHelper.records"
          rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
          [paginator]="false"
          [lazy]="true"
          [scrollable]="true"
          ScrollWidth="100%"
          [responsive]="primengTableHelper.isResponsive"
          [resizableColumns]="primengTableHelper.resizableColumns"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 130px;" [hidden]="!isGrantedAny('Pages.RoutSteps.Edit', 'Pages.RoutSteps.Delete')">{{ l('Actions') }}</th>
              <th style="width: 150px;" pSortableColumn="originCityFk.displayName">
                {{ l('city') }}
                <p-sortIcon field="cityDisplayName"></p-sortIcon>
              </th>
              <th style="width: 150px;" pSortableColumn="destinationCityFk.displayName">
                {{ l('city2') }}
                <p-sortIcon field="cityDisplayName2"></p-sortIcon>
              </th>

              <th style="width: 150px;" pSortableColumn="displayName">
                {{ l('DisplayName') }}
                <p-sortIcon field="routStep.displayName"></p-sortIcon>
              </th>
              <th style="width: 150px;" pSortableColumn="latitude">
                {{ l('Latitude') }}
                <p-sortIcon field="routStep.latitude"></p-sortIcon>
              </th>
              <th style="width: 150px;" pSortableColumn="longitude">
                {{ l('Longitude') }}
                <p-sortIcon field="routStep.longitude"></p-sortIcon>
              </th>
              <th style="width: 150px;" pSortableColumn="order">
                {{ l('Order') }}
                <p-sortIcon field="routStep.order"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-record="$implicit">
            <tr>
              <td style="width: 130px;" [hidden]="!isGrantedAny('Pages.RoutSteps.Edit', 'Pages.RoutSteps.Delete')">
                <div class="btn-group dropdown" dropdown container="body">
                  <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                    <i class="fa fa-cog"></i><span class="caret"></span> {{ l('Actions') }}
                  </button>
                  <ul class="dropdown-menu" *dropdownMenu>
                    <li>
                      <a href="javascript:;" class="dropdown-item" (click)="viewRoutStepModal.show(record)">{{ l('View') }}</a>
                    </li>
                    <li>
                      <a
                        href="javascript:;"
                        *ngIf="permission.isGranted('Pages.RoutSteps.Edit')"
                        class="dropdown-item"
                        (click)="createOrEditRoutStepModal.show(record.routStep.id)"
                        >{{ l('Edit') }}</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="javascript:;"
                        *ngIf="permission.isGranted('Pages.RoutSteps.Delete')"
                        (click)="deleteRoutStep(record.routStep)"
                        >{{ l('Delete') }}</a
                      >
                    </li>
                    <li>
                      <a href="javascript:;" *ngIf="entityHistoryEnabled" (click)="showHistory(record.routStep)">{{ l('History') }}</a>
                    </li>
                  </ul>
                </div>
              </td>
              <td style="width: 150px;">
                <span class="ui-column-title"> {{ l('DisplayName') }}</span>
                {{ record.cityDisplayName }}
              </td>
              <td style="width: 150px;">
                <span class="ui-column-title"> {{ l('DisplayName') }}</span>
                {{ record.cityDisplayName2 }}
              </td>
              <td style="width: 150px;">
                <span class="ui-column-title"> {{ l('DisplayName') }}</span>
                {{ record.routStep.displayName }}
              </td>
              <td style="width: 150px;">
                <span class="ui-column-title"> {{ l('Latitude') }}</span>
                {{ record.routStep.latitude }}
              </td>
              <td style="width: 150px;">
                <span class="ui-column-title"> {{ l('Longitude') }}</span>
                {{ record.routStep.longitude }}
              </td>
              <td style="width: 150px;">
                <span class="ui-column-title"> {{ l('Order') }}</span>
                {{ record.routStep.order }}
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
          {{ l('NoData') }}
        </div>
        <div class="primeng-paging-container">
          <p-paginator
            [rows]="primengTableHelper.defaultRecordsCountPerPage"
            #paginator
            (onPageChange)="getRoutSteps($event)"
            [totalRecords]="primengTableHelper.totalRecordsCount"
            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
          >
          </p-paginator>
          <span class="total-records-count">
            {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
          </span>
        </div>
      </div>
      <!--<Primeng-Datatable-End>-->
    </div>
    <createOrEditRoutStepModal [routeId]="routeId" #createOrEditRoutStepModal (modalSave)="getRoutSteps()"> </createOrEditRoutStepModal>
    <viewRoutStepModal #viewRoutStepModal></viewRoutStepModal>
    <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
  </div>
</div>
