<!--begin::Card-->
<div class="card card-custom card-stretch w-100 h-100" [busyIf]="loading">
  <div class="card-header border-0">
    <div class="card-title text-center">
      <h3 class="card-label">{{ l('MostWorkedWithCarriers') }}</h3>
    </div>
  </div>
  <div class="card-body p-4">
    <!--begin::Body-->
    <div id="chart">
      <apx-chart
        *ngIf="Carriers.length > 0"
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [labels]="chartOptions.labels"
        [responsive]="chartOptions.responsive"
        [plotOptions]="plotOptions"
        [legend]="legend"
      ></apx-chart>
    </div>
    <!--end::Body-->
  </div>
</div>
<!--end::Card-->
