<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #actorForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="actor.id">{{ l('EditActor') }}</span>
            <span *ngIf="!actor.id">{{ l('CreateNewActor') }}</span>
          </h4>

          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="Actor_CompanyName">{{ l('CompanyName') }} <span class="required-fileds">*</span></label>
            <input
              type="text"
              #Actor_CompanyName="ngModel"
              id="Actor_CompanyName"
              class="form-control"
              [(ngModel)]="actor.companyName"
              name="CompanyName"
              minlength="0"
              maxlength="255"
              required
            />
            <validation-messages [formCtrl]="Actor_CompanyName"></validation-messages>
          </div>

          <div class="form-group">
            <label for="Actor_ActorType">{{ l('ActorType') }} <span class="required-fileds">*</span></label>
            <select
              class="form-select form-control custom-select"
              #Actor_ActorType="ngModel"
              required
              name="ActorType"
              id="Actor_ActorType"
              [(ngModel)]="actor.actorType"
            >
              <option value="1">{{ l('Shipper') }}</option>

              <option value="2">{{ l('Carrier') }}</option>
            </select>
            <validation-messages [formCtrl]="Actor_ActorType"></validation-messages>
          </div>

          <div class="form-group">
            <label for="Actor_MoiNumber">{{ l('MoiNumber') }} <span class="required-fileds">*</span></label>
            <input
              type="text"
              #Actor_MoiNumber="ngModel"
              id="Actor_MoiNumber"
              class="form-control"
              [(ngModel)]="actor.moiNumber"
              name="MoiNumber"
              pattern="^7\d{9}$"
              required
            />
            <validation-messages [formCtrl]="Actor_MoiNumber"></validation-messages>
          </div>

          <div class="form-group">
            <label for="Actor_Address">{{ l('Address') }} <span class="required-fileds">*</span></label>
            <input type="text" #Actor_Address="ngModel" id="Actor_Address" class="form-control" [(ngModel)]="actor.address" name="Address" required />
            <validation-messages [formCtrl]="Actor_Address"></validation-messages>
          </div>

          <div class="form-group">
            <label>{{ l('Logo') }} {{ fileToken }} </label>
            <div class="custom-file">
              <input
                name="file"
                (change)="DocFileChangeEvent($event, actor.createOrEditDocumentFileDto)"
                type="file"
                class="custom-file-input"
                accept="image/x-png,image/jpeg,application/pdf"
                required
              />
              <label class="custom-file-label text-truncate">
                {{ actor.createOrEditDocumentFileDto?.name ? actor.createOrEditDocumentFileDto.name : l('SelectFile') }}</label
              >
            </div>
            <div class="margin-top-5">
              <p-progressBar [value]="docProgress" [style]="{ height: '6px', width: '100' }"></p-progressBar>
            </div>
            <div class="mt-2" *ngIf="actor.createOrEditDocumentFileDto?.name">
              <div class="d-flex align-items-center flex-wrap mb-8">
                <!--begin::Symbol-->
                <div class="symbol symbol-50 symbol-light mr-3 ml-3">
                  <span class="symbol-label">
                    <i class="fa-2x fa-file-image fas" style="color: #5cb85c" aria-hidden="true"></i>
                  </span>
                </div>
                <!--end::Symbol-->
                <!--begin::Text-->
                <div class="d-flex flex-column flex-grow-1 mr-2">
                  <a (click)="downloadAttatchment()" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">
                    {{ actor.createOrEditDocumentFileDto?.name }}</a
                  >
                  <span class="text-muted font-weight-bold">{{ actor.createOrEditDocumentFileDto?.documentTypeDto?.templateContentType }}</span>
                </div>
                <!--end::Text-->
                <a
                  *ngIf="actor.createOrEditDocumentFileDto?.binaryObjectId"
                  (click)="downloadAttatchment()"
                  class="btn btn-sm btn-icon btn-bg-light btn-icon-primary btn-hover-primary"
                >
                  <i class="flaticon2-download"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="Actor_MobileNumber">{{ l('MobileNumber') }} <span class="required-fileds">*</span></label>
            <input
              type="number"
              #Actor_MobileNumber="ngModel"
              id="Actor_MobileNumber"
              class="form-control"
              [(ngModel)]="actor.mobileNumber"
              name="MobileNumber"
              required
            />
            <validation-messages [formCtrl]="Actor_MobileNumber"></validation-messages>
          </div>

          <div class="form-group">
            <label for="Actor_Email">{{ l('Email') }} <span class="required-fileds">*</span></label>
            <input type="text" #Actor_Email="ngModel" id="Actor_Email" class="form-control" [(ngModel)]="actor.email" name="Email" required />
            <validation-messages [formCtrl]="Actor_Email"></validation-messages>
          </div>

          <div class="form-group">
            <label for="Actor_Email">{{ l('InvoiceDueDays') }} <span class="required-fileds">*</span></label>
            <input
              type="number"
              min="0"
              #Actor_InvoiceDueDays="ngModel"
              id="Actor_InvoiceDueDays"
              class="form-control"
              [(ngModel)]="actor.invoiceDueDays"
              name="InvoiceDueDays"
              required
            />
            <validation-messages [formCtrl]="Actor_InvoiceDueDays"></validation-messages>
          </div>

          <div *ngIf="actor.createOrEditDocumentFileDtos != undefined ? (actor.createOrEditDocumentFileDtos.length > 0 ? true : false) : false">
            <div class="separator separator-dashed my-5"></div>
            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">{{ l('TruckDocuments') }}</h3>
            <app-required-document-form-child
              #requiredDocumentFormChildComponent
              [createOrEditDocumentFileDtos]="actor.createOrEditDocumentFileDtos"
              (onDocsUploaderCompleteAll)="createOrEd()"
              [parentForm]="actorForm"
            >
            </app-required-document-form-child>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
          <button
            type="submit"
            class="btn btn-primary blue"
            [disabled]="!actorForm.form.valid"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
