<!--begin::Card-->
<div class="card card-custom card-stretch w-100 h-100">
  <div class="card-header border-0">
    <div class="card-title text-center">
      <h3 class="card-label">{{ l('MostUsedVases') }}</h3>
    </div>
  </div>
  <div class="card-body p-1">
    <div class="col-12 pb-3 text-center">
      <img src="assets/SVG/Vases_Vector.svg" width="100%" style="max-height: 100px" />
    </div>
    <div class="col-12" *ngIf="vases.length > 0">
      <ng-container *ngFor="let vas of vases">
        <div class="d-flex justify-content-between">
          <div>
            {{ vas.vasName }}
          </div>
          <div>
            {{ vas.value }}
          </div>
        </div>
        <div class="progress w-100" style="height: 2px">
          <div
            class="progress-bar accepted"
            role="progressbar"
            [ngStyle]="{
              width: (vas.value > 0 && total > 0 ? (vas.value / total) * 100 : 100) + '%',
              height: '2px',
              'background-color': '#a8c5da'
            }"
            [attr.aria-valuenow]="vas.value > 0 && total > 0 ? (vas.value / total) * 100 : 100"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
      </ng-container>
    </div>
    <div class="col-12" *ngIf="vases.length === 0">
      {{ l('NoData') }}
    </div>
  </div>
</div>
<!--end::Card-->
