<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #documentFileForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="documentFile.id">{{ l('EditDocumentFile') }}</span>
            <span *ngIf="!documentFile.id">{{ l('CreateNewDocumentFile') }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group col-md-12">
            <input (change)="fileChangeEvent($event)" type="file" /><br />
            <span class="help-block m-b-none">{{ 'DocumentFile_Change_Info' | localize: maxDocumentFileBytesUserFriendlyValue }}</span>
          </div>
          <!--            <input type="file" ng2FileSelect [uploader]="uploader" />-->

          <div class="form-group m-form__group">
            <label for="DocumentTypeDisplayName">{{ l('DocumentType') }}</label>
            <select name="documentFile.documentTypeId" [(ngModel)]="documentFile.documentTypeId" class="form-control" required>
              <option value="">{{ l('SelectADocumentType') }}</option>
              <option *ngFor="let item of allDocumentTypes" value="{{ item.id }}">{{ item.displayName }}</option>
            </select>
          </div>

          <div class="form-group m-form__group">
            <label for="TruckPlateNumber">{{ l('Truck') }}</label>
            <select name="documentFile.truckId" [(ngModel)]="documentFile.truckId" class="form-control">
              <option value="">{{ l('SelectATruck') }}</option>
              <option *ngFor="let item of allTrucks" value="{{ item.id }}">{{ item.displayName }}</option>
            </select>
          </div>

          <div class="form-group m-form__group">
            <label for="TrailerTrailerCode">{{ l('Trailer') }}</label>
            <select name="documentFile.trailerId" [(ngModel)]="documentFile.trailerId" class="form-control">
              <option value="">{{ l('SelectATrailer') }}</option>
              <option *ngFor="let item of allTrailers" value="{{ item.id }}">{{ item.displayName }}</option>
            </select>
          </div>

          <div class="form-group m-form__group">
            <label for="UserName">{{ l('User') }}</label>
            <select name="documentFile.userId" [(ngModel)]="documentFile.userId" class="form-control">
              <option value="">{{ l('SelectAUser') }}</option>
              <option *ngFor="let item of allUsers" value="{{ item.id }}">{{ item.displayName }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="DocumentFile_ExpirationDate">{{ l('ExpirationDate') }}</label>
            <input
              required
              class="form-control m-input"
              type="datetime"
              bsDatepicker
              datePickerMomentModifier
              [(date)]="documentFile.expirationDate"
              id="DocumentFile_ExpirationDate"
              name="DocumentFile_ExpirationDate"
            />
          </div>

          <div class="form-group">
            <label for="DocumentFile_IsAccepted">{{ l('IsAccepted') }}</label>
            &nbsp;
            <input
              (change)="isAcceptedChange()"
              type="checkbox"
              id="DocumentFile_IsAccepted"
              class=""
              [(ngModel)]="documentFile.isAccepted"
              name="IsAccepted"
            />
          </div>
          <div class="form-group">
            <label for="DocumentFile_IsRejected">{{ l('IsRejected') }}</label>
            &nbsp;
            <input
              (change)="isRejectedChange()"
              type="checkbox"
              id="DocumentFile_IsRejected"
              class=""
              [(ngModel)]="documentFile.isRejected"
              name="IsRejected"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
          <button
            type="submit"
            class="btn btn-save blue"
            [disabled]="!documentFileForm.form.valid"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
