<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #documentFileForm="ngForm" (ngSubmit)="save()" novalidate autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="documentFile.id">{{ l('Edit') }} {{ l('DocumentFile') }}</span>
            <span *ngIf="!documentFile.id">{{ l('Create') }} {{ l('NewDocumentFile') }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!--          <div *ngIf="!documentFile.id && CreateOrEditDocumentFileDtoList.length == 1" style="width: 200px;">-->
          <!--            <label-->
          <!--              >Create Document:-->
          <!--              <h3>{{ CreateOrEditDocumentFileDtoList[0].documentTypeDto.displayName }}</h3></label-->
          <!--            >-->
          <!--          </div>-->

          <div class="row">
            <div *ngIf="!documentFile.id" class="form-group col-md-6">
              <div>
                <label> Select Document</label>
                <select
                  id="DocumentType"
                  [(ngModel)]="documentFile.documentTypeId"
                  (change)="chooseDocumentToBeCreated($event.target.value)"
                  name="selectedDoctumentTypeDto"
                  class="form-control"
                >
                  <option *ngFor="let docFile of CreateOrEditDocumentFileDtoList" [value]="docFile.documentTypeDto.id"
                    >{{ docFile.documentTypeDto.displayName }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>{{ l('SelectFile') }}</label>
              <div class="custom-file">
                <input
                  (change)="DocFileChangeEvent($event, documentFile)"
                  type="file"
                  class="custom-file-input"
                  accept="image/x-png,image/jpeg,application/pdf"
                  required
                />
                <label class="custom-file-label text-truncate" [for]="documentFile.name">
                  {{ documentFile.name ? documentFile.name : l('SelectFile') }}</label
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div *ngIf="documentFile.documentTypeDto.hasNumber" class="form-group col-md-6">
              <label for="DocumentNumber">{{ l('Number') }} </label>
              <input
                type="text"
                class="form-control"
                id="DocumentNumber"
                (change)="numberChange(documentFile)"
                [maxLength]="documentFile.documentTypeDto.numberMaxDigits"
                [minLength]="documentFile.documentTypeDto.numberMinDigits"
                name="documentNumber"
                required
                [(ngModel)]="documentFile.number"
              />
              <span
                *ngIf="documentFile.number == null ? 0 : documentFile.number.length < documentFile.documentTypeDto.numberMinDigits"
                class="text-danger"
              >
                {{ l('TheNumberLengthMustBeMoreThanMinDigits') }}
              </span>
              <span
                *ngIf="documentFile.number == null ? false : documentFile.number.length > documentFile.documentTypeDto.numberMaxDigits"
                class="text-danger"
              >
                {{ l('TheNumberLengthMustBeLessThanMaxDigits') }}
              </span>
              <span class="form-text text-muted"
                >{{ l('minDigits:') }} {{ documentFile.documentTypeDto.numberMinDigits }} {{ l('maxDigits:') }}
                {{ documentFile.documentTypeDto.numberMaxDigits }}
              </span>
            </div>

            <div *ngIf="documentFile.documentTypeDto.hasExpirationDate" class="form-group col-md-6">
              <hijri-gregorian-datepicker-test
                [selectedDateType]="selectedDateType"
                [label]="l('ExpirationDate')"
                class="m-input"
                [isRequired]="true"
                [readonly]="true"
                [minHijri]="todayHijri"
                [minGreg]="todayGregorian"
                (selectedDateChange)="hijriDatepickerSelectedDateChange($event, documentFile)"
                [(selectedDate)]="selectedDate"
              >
              </hijri-gregorian-datepicker-test>
            </div>
          </div>

          <div class="row">
            <div *ngIf="documentFile.documentTypeDto.hasNotes" class="form-group col-md-12">
              <label for="Note">{{ l('Note') }} </label>
              <textarea
                type="text"
                placeholder="{{ l('Note') }}"
                cols="12"
                rows="4"
                style="resize: none;"
                class="form-control"
                id="Note"
                [maxLength]="500"
                [minLength]="0"
                name="documentNotes"
                [(ngModel)]="documentFile.notes"
              >
              </textarea>
            </div>
          </div>

          <div class="row">
            <label>{{ docProgressFileName }}</label>
            <div class="col-md-12">
              <p-progressBar [value]="docProgress" [style]="{ height: '6px', width: '100' }"></p-progressBar>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
          <button
            type="submit"
            class="btn btn-save blue"
            [disabled]="!documentFileForm.form.valid || !isNumberValid || !alldocumentsValid || selectedDate == null"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
