<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #documentFileForm="ngForm" (ngSubmit)="save()" novalidate autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>{{ l('EditDocumentFile') }}</span>
            <!-- <span *ngIf="!documentFile.id">{{ l('CreateNewDocumentFile') }}</span> -->
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label for="DocumentType"> Edit : {{ documentFile.documentTypeDisplayName }}</label>
          <hr />

          <div class="form-group col-md-12">
            <label>{{ l('Choose File') }}</label>
            <div class="custom-file">
              <input (change)="DocFileChangeEvent($event, documentFile)" type="file" class="custom-file-input" required />
              <label class="custom-file-label text-truncate" [for]="documentFile.name">
                {{ documentFile.name ? documentFile.name : l('select file') }}</label
              >
            </div>
          </div>

          <div class="row">
            <div *ngIf="documentFile.hasNumber" class="form-group col-md-6">
              <label for="DocumentNumber">{{ l('Number') }} </label>
              <input
                [pattern]="numberpattern"
                type="text"
                class="form-control"
                id="DocumentNumber"
                [maxLength]="documentFile.numberMaxDigits"
                [minLength]="documentFile.numberMinDigits"
                name="documentNumber"
                required
                [(ngModel)]="documentFile.number"
              />
              <span class="form-text text-muted"
                >{{ l('minDigits:') }} {{ documentFile.numberMinDigits }} {{ l('maxDigits:') }}
                {{ documentFile.numberMaxDigits }}
              </span>
            </div>

            <div *ngIf="documentFile.hasExpirationDate && !documentFile.hasHijriExpirationDate" class="form-group col-md-6">
              <label for="DocumentExpireDate">{{ l('Expiration Date') }} </label>
              <input
                type="datetime"
                placeholder="{{ l('Expiration Date') }}"
                bsDatepicker
                class="form-control"
                id="DocumentExpireDate"
                name="documentExpireDate"
                required
                [(ngModel)]="documentFile.expirationDate"
              />
              <span style="line-height: 40px; padding: 0 15px 0 15px;"> &mdash; </span>
            </div>

            <div *ngIf="documentFile.hasExpirationDate && documentFile.hasHijriExpirationDate" class="form-group col-md-6">
              <label for="DocumentExpireDate">{{ l('Expiration Date') }} </label>
              <hijri-gregorian-datepicker-test
                [label]="l('ExpirationDate')"
                class="m-input"
                [isRequired]="true"
                [readonly]="true"
                [selectedDateType]="selectedDateTypeHijri"
                (selectedDateChange)="selectedDateChange($event, documentFile)"
              >
              </hijri-gregorian-datepicker-test>
              <span style="line-height: 40px; padding: 0 15px 0 15px;"> &mdash; </span>
            </div>
          </div>

          <div class="row">
            <div *ngIf="documentFile.hasNotes" class="form-group col-md-12">
              <label for="Note">{{ l('Note') }} </label>
              <textarea
                type="text"
                placeholder="{{ l('Note') }}"
                cols="12"
                rows="4"
                style="resize: none;"
                class="form-control"
                id="DocumentExpireDate"
                [maxLength]="500"
                [minLength]="0"
                name="documentExpireDate"
                required
                [(ngModel)]="documentFile.notes"
              >
              </textarea>
            </div>
          </div>

          <div class="row">
            <label>{{ docProgressFileName }}</label>
            <div class="col-md-12">
              <p-progressBar [value]="docProgress" [style]="{ height: '6px', width: '100' }"></p-progressBar>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
          <button
            type="submit"
            class="btn btn-save blue"
            [disabled]="!documentFileForm.form.valid"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
