<div
  bsModal
  #modal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form *ngIf="active" #Form="ngForm" novalidate (ngSubmit)="cancelTrip()">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>{{ l('CancelTrip') }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="Image">{{ 'CancelReasonName' | localize }} <span class="required-fileds">*</span></label>
            <textarea
              name="reason.canceledReason"
              rows="4"
              [(ngModel)]="reason.canceledReason"
              class="form-control"
              required
              minLength="3"
              maxlength="150"
            ></textarea>
          </div>
        </div>
        <div class="modal-footer" *ngIf="!view">
          <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{ l('close') }}</button>

          <button
            type="submit"
            class="btn btn-danger"
            [disabled]="!Form.form.valid"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot' | localize)"
          >
            <i class="fa fa-save"></i> <span> {{ 'CancelTrip' | localize }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
