<!--begin::Body-->
<div class="row bg-white p-2 w-100 h-100">
  <div class="col-lg-12">
    <agm-map
      minZoom="5"
      [longitude]="allDrivers[0]?.lng || 46.675761"
      [latitude]="allDrivers[0]?.lat || 24.717942"
      [scrollwheel]="false"
      (mapReady)="mapReady($event)"
    >
      <div id="Settings" class="rounded bg-white p-2" style="height: 50px">
        <div class="form-group row p-1">
          <label class="col-3 col-form-label">{{ l('Drivers') }}</label>
          <div class="col-3">
            <span class="switch switch-outline switch-icon switch-danger">
              <label>
                <input [(ngModel)]="driversToggle" type="checkbox" name="driversToggle" (click)="driverToggle()" />
                <span></span>
              </label>
            </span>
          </div>
          <label class="col-3 col-form-label">{{ l('Trip') }}</label>
          <div class="col-3">
            <span class="switch switch-outline switch-icon switch-danger">
              <label>
                <input [(ngModel)]="tripsToggle" type="checkbox" name="tripsToggle" (click)="tripToggle()" />
                <span></span>
              </label>
            </span>
          </div>
        </div>
      </div>
      <ng-container *ngIf="driversToggle">
        <agm-marker *ngFor="let driver of allDrivers" [longitude]="driver.lng" [latitude]="driver.lat" [iconUrl]="trackingIconsList.truckIcon">
          <agm-info-window>
            <div class="d-flex flex-column">
              <div>
                <span class="font-weight-bold">{{ l('Driver') }}</span> : {{ driver.driverName }}
              </div>
              <div>
                <span class="font-weight-bold">{{ l('Waybill') }}</span> :
                <a href="javascript:;" [busyIf]="waybillDownloading" (click)="DownloadSingleDropWaybillPdf(driver.tripId)">{{
                  driver.waybillNumber
                }}</a>
              </div>
            </div>
          </agm-info-window>
        </agm-marker>
      </ng-container>

      <ng-container *ngIf="tripsToggle">
        <ng-container *ngFor="let direction of directions">
          <agm-direction
            *ngIf="direction.show"
            [origin]="direction.origin"
            [destination]="direction.destination"
            [renderOptions]="direction.renderOptions"
          >
          </agm-direction>
        </ng-container>
      </ng-container>
    </agm-map>
    <div class="col-lg-12 mt-3 p-0">
      <div class="col-lg-12">
        <form class="form" autocomplete="off">
          <div>
            <div class="row" [hidden]="!advancedFiltersAreShown">
              <div class="col-lg-12">
                <div class="kt-separator kt-separator--border-dashed"></div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="originCity">{{ l('OriginCity') }}</label>
                  <select name="originCity" id="originCity" [(ngModel)]="cityFillter" class="form-control" (change)="getTableRecords()">
                    <option value="" selected>
                      {{ 'All' | localize }}
                    </option>
                    <option [value]="t.id" *ngFor="let t of citiesList">
                      {{ t.displayName | localize }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="destCity">{{ l('DestinationCity') }}</label>
                  <select name="destCity" id="destCity" [(ngModel)]="destCityFilter" class="form-control" (change)="getTableRecords()">
                    <option value="" selected>
                      {{ 'All' | localize }}
                    </option>
                    <option [value]="t.id" *ngFor="let t of citiesList">
                      {{ t.displayName | localize }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="waybill">{{ l('WaybillNumber') }}</label>
                  <input type="text" class="form-control" id="waybill" name="waybill" [(ngModel)]="waybillNumber" (change)="getTableRecords()" />
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="TruckType">{{ l('TruckType') }}</label>
                  <!--              <input type="text" class="form-control" id="TruckType" name="TruckType" [(ngModel)]="TruckType" (change)="getTableRecords()" />-->

                  <select name="TruckType" id="TruckType" [(ngModel)]="TruckType" class="form-control" (change)="getTableRecords()">
                    <option value="" selected>
                      {{ 'All' | localize }}
                    </option>
                    <option [value]="t.id" *ngFor="let t of allTruckTypes">
                      {{ t.displayName | localize }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="RouteType">{{ l('RouteType') }}</label>
                  <select name="RouteType" id="RouteType" [(ngModel)]="RouteType" class="form-control" (change)="getTableRecords()">
                    <option value="" selected>
                      {{ 'All' | localize }}
                    </option>
                    <option [value]="t.key" *ngFor="let t of ShippingRequestRouteType">
                      {{ t.value | localize }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group">
                  <label for="driverName">{{ l('DriverName') }}</label>
                  <input type="text" class="form-control" id="driverName" name="driverName" [(ngModel)]="driverName" (change)="getTableRecords()" />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!--<Primeng-Datatable-Start>-->
      <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
        <p-table
          #dataTable
          (onLazyLoad)="getTableRecords($event)"
          [value]="primengTableHelper.records"
          rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
          [paginator]="false"
          [lazy]="true"
          [scrollable]="true"
          ScrollWidth="100%"
          [responsive]="primengTableHelper.isResponsive"
          [resizableColumns]="primengTableHelper.resizableColumns"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="Source">
                {{ l('OriginCity') }}
                <p-sortIcon field="Source"></p-sortIcon>
              </th>
              <th pSortableColumn="Destination">
                {{ l('DestinationCity') }}
                <p-sortIcon field="Destination"></p-sortIcon>
              </th>
              <th pSortableColumn="waybillNumber">
                {{ l('WaybillNumber') }}
                <p-sortIcon field="waybillNumber"></p-sortIcon>
              </th>
              <th pSortableColumn="truckType">
                {{ l('TruckType') }}
                <p-sortIcon field="truckType"></p-sortIcon>
              </th>
              <th pSortableColumn="driverName">
                {{ l('DriverName') }}
                <p-sortIcon field="driverName"></p-sortIcon>
              </th>
              <th>
                {{ l('DeliveryStatus') }}
              </th>
              <th>
                {{ l('ExpectedDeliveryTime') }}
              </th>
              <th>{{ l('Show') }}</th>
              <!--            <th>{{ l('tag') }}</th>-->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-record="$implicit">
            <tr>
              <td>
                <span class="ui-column-title"> {{ l('Source') }}</span>
                {{ record.trackingMapDto?.originCity }}
              </td>
              <td>
                <span class="ui-column-title"> {{ l('Destination') }}</span>
                {{ record.trackingMapDto?.destinationCity }}
              </td>
              <td>
                <span class="ui-column-title"> {{ l('WaybillNumber') }}</span>
                {{ record.trackingMapDto?.wayBillNumber }} <i style="color: {{ record.color }}" class="fa fa-genderless fs-1"></i>
              </td>
              <td>
                <span class="ui-column-title"> {{ l('truckType') }}</span>
                {{ record.trackingMapDto.truckType }}
              </td>
              <td>
                <span class="ui-column-title"> {{ l('driverName') }}</span>
                {{ record.trackingMapDto.driverName }}
              </td>
              <td>
                <span class="ui-column-title"> {{ l('deliveryStatus') }}</span>
                <span
                  class="label label-xl label-inline mr-2"
                  [ngClass]="{
                    'label-danger': isTripDelayed(record.trackingMapDto.expectedDeliveryTime) === l('Delayed'),
                    'label-success': isTripDelayed(record.trackingMapDto.expectedDeliveryTime) === l('OnTime'),
                    'label-warning': isTripDelayed(record.trackingMapDto.expectedDeliveryTime) === l('Unknown')
                  }"
                  >{{ isTripDelayed(record.trackingMapDto.expectedDeliveryTime) }}</span
                >
              </td>
              <td>
                <span class="ui-column-title"> {{ l('expectedDeliveryTime') }}</span>
                {{ getDate(record.trackingMapDto.expectedDeliveryTime) | date: 'MMM d, y h:mm a' }}
              </td>
              <td>
                <span class="switch switch-sm">
                  <label>
                    <input [(ngModel)]="record.show" type="checkbox" checked="checked" name="select" />
                    <span></span>
                  </label>
                </span>
              </td>
              <!--            <td><i style="color: {{ record.color }}" class="icon-2x flaticon-add-label-button"></i></td>-->
            </tr>
          </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
          {{ l('NoData') }}
        </div>
        <div class="primeng-paging-container">
          <p-paginator
            [rows]="primengTableHelper.defaultRecordsCountPerPage"
            #paginator
            (onPageChange)="getTableRecords($event)"
            [totalRecords]="primengTableHelper.totalRecordsCount"
            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
          >
          </p-paginator>
          <span class="total-records-count">
            {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
          </span>
        </div>
      </div>
      <!--<Primeng-Datatable-End>-->
    </div>
  </div>
</div>
