<!--begin::Body-->
<div class="row bg-white p-2">
  <div class="col-lg-12" *ngIf="loading">
    <agm-map minZoom="5" [zoom]="zoom" [longitude]="source1.lng || 46.675761" [latitude]="source1.lat || 24.717942" [scrollwheel]="false">
      <agm-direction
        *ngFor="let item of items"
        [origin]="item.source"
        [destination]="item.destination"
        [waypoints]="item.waybill"
        [renderOptions]="item.renderOption"
        [markerOptions]="item.markerOptions"
        [optimizeWaypoints]="false"
      ></agm-direction>
    </agm-map>
  </div>
  <div class="col-lg-12">
    <p-table [value]="trips">
      <ng-template pTemplate="header">
        <tr>
          <th>{{ l('Source') }}</th>
          <th>{{ l('Destination') }}</th>
          <th>{{ l('status') }}</th>
          <th>{{ l('WayBillNumber') }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-record>
        <tr>
          <td>{{ record.originCity }}</td>
          <td>{{ record.destinationCity }}</td>
          <td>{{ record.statusTitle }}</td>
          <td>{{ record.wayBillNumber }}</td>
        </tr>
      </ng-template>
    </p-table>
    <div class="pd-5" *ngIf="!trips || trips.length == 0">
      {{ l('NoData') }}
    </div>
  </div>
</div>
