<div
  appBsModal
  #createOrEditModal="bs-modal"
  (onShown)="onShown()"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static', keyboard: !saving }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #userForm="ngForm" novalidate (ngSubmit)="save()">
        <div class="modal-header">
          <h4 *ngIf="!creatDriver" class="modal-title">
            <span *ngIf="user.id"> {{ 'Edit' | localize }} {{ 'User' | localize }}: {{ user.userName }}</span>
            <span *ngIf="!user.id">{{ 'Create' | localize }} {{ 'NewUser' | localize }}</span>
          </h4>
          <h4 *ngIf="creatDriver" class="modal-title">
            <span *ngIf="user.id">{{ 'Edit' | localize }} {{ 'Driver' | localize }}: {{ user.userName }}</span>
            <span *ngIf="!user.id">{{ 'Create' | localize }}{{ 'NewDriver' | localize }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <tabset>
            <tab class="pt-5" heading="{{ 'UserInformations' | localize }}">
              <div class="row">
                <div class="col-sm-3 text-center mb-5 mt-5">
                  <img src="{{ profilePicture }}" width="128" height="128" class="img-thumbnail img-rounded" />
                </div>
                <div class="col-sm-9">
                  <div class="form-group">
                    <label for="UserName">{{ 'PhoneNumber' | localize }} *</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">+966</span>
                      </div>
                      <input
                        (change)="CheckIfDriverPhoneNumberIsValid(userNameInput.value, user.id)"
                        id="UserName"
                        #userNameInput="ngModel"
                        type="text"
                        (keypress)="numberOnly($event)"
                        [disabled]="!canChangeUserName"
                        name="UserName"
                        pattern="^\d{9}$"
                        class="form-control"
                        [(ngModel)]="user.userName"
                        required
                      />
                    </div>
                    <validation-messages [formCtrl]="userNameInput"></validation-messages>

                    <span class="form-text text-muted">{{ 'Enter' | localize }} {{ 'PhoneNumber' | localize }}</span>
                    <span class="form-text text-muted">{{ '9digitsNumber' | localize }}</span>
                    <!-- <div *ngIf="isUserNameValid" class="valid-feedback">Success! You've done it.</div> -->
                    <span *ngIf="!isPhoneNumberAvilable" class="form-text text-danger">{{ l('AlreadyTaken') }}</span>

                    <span class="help-block" *ngIf="!canChangeUserName">{{ 'CanNotChangeAdminUserName' | localize }}</span>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="Name">{{ 'Name' | localize }} *</label>
                        <input
                          id="Name"
                          #nameInput="ngModel"
                          class="form-control"
                          type="text"
                          name="Name"
                          [(ngModel)]="user.name"
                          required
                          maxlength="64"
                        />
                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="Surname">{{ 'Surname' | localize }} *</label>
                        <input
                          id="Surname"
                          #surnameInput="ngModel"
                          type="text"
                          name="Surname"
                          class="form-control"
                          [(ngModel)]="user.surname"
                          required
                          maxlength="64"
                        />
                        <validation-messages [formCtrl]="surnameInput"></validation-messages>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="Nationality">{{ 'Nationality' | localize }}*</label>
                    <select name="Nationality" [(ngModel)]="user.nationality" required class="form-control form-control-lg custom-select mr-sm-2">
                      <option *ngFor="let nationality of nationalities" value="nationality.id">{{ nationality.displayName }}</option>
                    </select>
                    <span class="text-muted">{{ 'ChooseNationality' | localize }}</span>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="Address">{{ 'Address' | localize }}</label>
                    <input id="Address" type="text" name="Address" class="form-control" [(ngModel)]="user.address" maxlength="256" />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="form-group" *ngIf="user.isDriver">
                    <label for="ExperienceField">{{ 'ExperienceField' | localize }}</label>
                    <input
                      id="ExperienceField"
                      type="text"
                      name="DrivingLicenseNumber"
                      class="form-control"
                      [(ngModel)]="user.experienceField"
                      maxlength="256"
                    />
                  </div>
                </div>
              </div>

              <div class="checkbox-inline">
                <label for="EditUser_ShouldChangePasswordOnNextLogin" class="checkbox">
                  <input
                    id="EditUser_ShouldChangePasswordOnNextLogin"
                    type="checkbox"
                    name="ShouldChangePasswordOnNextLogin"
                    [(ngModel)]="user.shouldChangePasswordOnNextLogin"
                  />
                  {{ 'ShouldChangePasswordOnNextLogin' | localize }}
                  <span></span>
                </label>
                <label for="EditUser_IsActive" class="checkbox">
                  <input id="EditUser_IsActive" type="checkbox" name="IsActive" [(ngModel)]="user.isActive" />
                  {{ 'Active' | localize }}
                  <span></span>
                </label>

                <label *ngIf="isTwoFactorEnabled" for="EditUser_IsTwoFactorEnabled" class="checkbox">
                  <input id="EditUser_IsTwoFactorEnabled" type="checkbox" name="IsTwoFactorEnabled" [(ngModel)]="user.isTwoFactorEnabled" />
                  {{ 'IsTwoFactorEnabled' | localize }}
                  <span></span>
                </label>

                <label *ngIf="isLockoutEnabled" for="EditUser_IsLockoutEnabled" class="checkbox">
                  <input id="EditUser_IsLockoutEnabled" type="checkbox" name="IsLockoutEnabled" [(ngModel)]="user.isLockoutEnabled" />
                  {{ 'IsLockoutEnabled' | localize }}
                  <span></span>
                </label>
              </div>
            </tab>
            <tab *ngIf="!user.id" class="pt-5" heading="{{ 'DriverDocuments' | localize }}">
              <div *ngFor="let item of createOrEditDocumentFileDtos; index as i" class="">
                <div class="card card-custom">
                  <div class="card-header">
                    <div class="card-title">
                      <h3 class="card-title">{{ item.documentTypeDto.displayName }}</h3>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row d-flex">
                      <div class="form-group col-6">
                        <label>{{ l('File') }} *</label>
                        <div class="custom-file">
                          <input
                            accept="image/x-png,image/jpeg,application/pdf"
                            (change)="DocFileChangeEvent($event, item, i)"
                            type="file"
                            [disabled]="saving"
                            class="custom-file-input"
                            [required]="true"
                          />
                          <label class="custom-file-label text-truncate" [for]="item.documentTypeDto.displayName">
                            {{ item.name ? item.name : l('Select') + l('File') }}</label
                          >
                        </div>
                        <span class="form-text text-muted">{{ 'ValidDocumentFilesMsg' | localize }}</span>
                        <div *ngIf="fileFormateIsInvalideIndexList[i]">
                          <span class="form-text text-danger text-left">{{ 'PleaseChooseAvalidFormat' | localize }}</span>
                        </div>
                      </div>
                      <!-- <div *ngIf="item.documentTypeDto.hasExpirationDate" class="form-group col-6">
                        <label>{{ l('Expirationdate') }} <span class="text-danger">*</span></label>
                        <input
                          name="expirationDate{{ i }}"
                          id="expirationDate{{ i }}"
                          bsDatepicker
                          class="form-control m-input"
                          datePickerMomentModifier
                          [required]="item.documentTypeDto.isRequired"
                          [(date)]="item.expirationDate"
                        />
                      </div> -->
                      <div *ngIf="item.documentTypeDto.hasNumber" class="form-group col-6">
                        <label
                          >{{ l('Number') }}
                          <span class="text-danger">*</span>
                        </label>
                        <input
                          #inputDocumentNumber
                          name="number{{ i }}"
                          id="number{{ i }}"
                          class="form-control m-input"
                          required
                          (change)="numberChange(item, i)"
                          [maxLength]="item.documentTypeDto.numberMaxDigits == 0 ? 50 : item.documentTypeDto.numberMaxDigits"
                          [minLength]="item.documentTypeDto.numberMinDigits"
                          type="text"
                          [(ngModel)]="item.number"
                        />
                        <span *ngIf="item.number == null ? 0 : item.number.length < item.documentTypeDto.numberMinDigits" class="text-danger">
                          {{ l('TheNumberLengthMustBeMoreThanMinDigits') }}
                        </span>
                        <span *ngIf="item.number == null ? false : item.number.length > item.documentTypeDto.numberMaxDigits" class="text-danger">
                          {{ l('TheNumberLengthMustBeLessThanMaxDigits') }}
                        </span>
                        <span class="form-text text-muted"
                          >{{ l('minDigits:') }} {{ item.documentTypeDto.numberMinDigits }} {{ l('maxDigits:') }}
                          {{ item.documentTypeDto.numberMaxDigits == 0 ? 50 : item.documentTypeDto.numberMaxDigits }}
                        </span>
                      </div>

                      <div *ngIf="item.documentTypeDto.hasExpirationDate" class="form-group col-6">
                        <hijri-gregorian-datepicker-test
                          [label]="l('ExpirationDate')"
                          class="m-input"
                          [isRequired]="true"
                          [readonly]="true"
                          [minGreg]="todayGregorian"
                          [minHijri]="todayHijri"
                          [selectedDate]="item.documentTypeDto.hasHijriExpirationDate ? todayHijri : todayGregorian"
                          [selectedDateType]="item.documentTypeDto.hasHijriExpirationDate ? selectedDateTypeHijri : selectedDateTypeGregorian"
                          (selectedDateChange)="hijriDatepickerSelectedDateChange($event, item)"
                        >
                        </hijri-gregorian-datepicker-test>
                      </div>
                      <div *ngIf="item.documentTypeDto.hasNotes" class="form-group col-6">
                        <label>{{ l('Note') }}</label>
                        <textarea
                          name="note{{ i }}"
                          id="note{{ i }}"
                          class="form-control m-input"
                          type="text"
                          rows="2"
                          style="resize: none;"
                          [(ngModel)]="item.notes"
                        ></textarea>
                      </div>
                    </div>
                  </div>

                  <div *ngIf="createOrEditDocumentFileDtos.length - 1 != i" class="separator separator-dashed my-5"></div>
                </div>
              </div>
              <div *ngIf="!user.id" class="row">
                <label>{{ docProgressFileName }}</label>
                <div class="col-md-12">
                  <p-progressBar [value]="docProgress" [style]="{ height: '6px', width: '100' }"></p-progressBar>
                </div>
              </div>
            </tab>
          </tabset>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold" (click)="close()">
            {{ 'Cancel' | localize }}
          </button>
          <button
            *ngIf="!user.id"
            type="submit"
            class="btn btn-save font-weight-bold"
            [disabled]="!userForm.form.valid || !alldocumentsValid || !allnumbersValid || !allDatesValid || !alldocumentsNotDuplicated"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i> <span>{{ 'Save' | localize }}</span>
          </button>
          <button
            *ngIf="user.id"
            type="submit"
            class="btn btn-save font-weight-bold"
            [disabled]="!userForm.form.valid"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i> <span>{{ 'Save' | localize }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
