<div
  appBsModal
  #createOrEditModal="bs-modal"
  (onShown)="onShown()"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static', keyboard: !saving }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #userForm="ngForm" novalidate (ngSubmit)="save()">
        <div class="modal-header">
          <h4 *ngIf="!creatDriver" class="modal-title">
            <span *ngIf="user.id"> {{ 'EditDriver' | localize }}: {{ user.userName }}</span>
            <span *ngIf="!user.id">{{ 'Create' | localize }} {{ 'NewUser' | localize }}</span>
          </h4>
          <h4 *ngIf="creatDriver" class="modal-title">
            <span *ngIf="user.id"> {{ 'EditDriver' | localize }}: {{ user.userName }}</span>
            <span *ngIf="!user.id"> {{ 'CreateNewDriver' | localize }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <tabset>
            <tab class="pt-5" heading="{{ 'DriverInformation' | localize }}">
              <div class="row">
                <div class="col-sm-3 text-center mb-5 mt-5">
                  <img src="{{ profilePicture }}" width="128" height="128" class="img-thumbnail img-rounded" />
                </div>
                <div class="col-sm-9">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="Name">{{ 'FirstName' | localize }}<span class="text-danger">*</span> </label>
                        <input
                          id="Name"
                          #nameInput="ngModel"
                          class="form-control"
                          type="text"
                          name="Name"
                          [(ngModel)]="user.name"
                          required
                          maxlength="64"
                          [ngClass]="{
                            'is-valid': userForm.submitted && nameInput.valid,
                            'is-invalid': userForm.submitted && !nameInput.valid
                          }"
                        />
                        <validation-messages [formCtrl]="nameInput"></validation-messages>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="Surname">{{ 'LastName' | localize }}<span class="text-danger">*</span> </label>
                        <input
                          id="Surname"
                          #surnameInput="ngModel"
                          type="text"
                          name="Surname"
                          class="form-control"
                          [(ngModel)]="user.surname"
                          required
                          maxlength="64"
                          [ngClass]="{
                            'is-valid': userForm.submitted && surnameInput.valid,
                            'is-invalid': userForm.submitted && !surnameInput.valid
                          }"
                        />
                        <validation-messages [formCtrl]="surnameInput"></validation-messages>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="form-group col-6" hidden>
                      <label for="EmailAddress">{{ 'EmailAddress' | localize }} <span class="required-fileds"> *</span></label>
                      <input
                        style="text-align: left !important"
                        id="EmailAddress"
                        #emailAddressInput="ngModel"
                        type="email"
                        name="EmailAddress"
                        class="form-control"
                        [(ngModel)]="user.emailAddress"
                        (change)="removeWhiteSpacesFromEmail()"
                        maxlength="256"
                        email
                      />
                      <span *ngIf="!isEmailValid" class="form-text text-danger">{{ l('NotValid') }}</span>
                      <span *ngIf="!isEmailAvailable" class="form-text text-danger">{{ l('AlreadyTaken') }}</span>
                      <validation-messages [formCtrl]="emailAddressInput"></validation-messages>
                    </div>

                    <div class="form-group col-6">
                      <label for="UserName">{{ 'PhoneNumber' | localize }}<span class="text-danger">*</span> </label>
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">+966</span>
                        </div>
                        <input
                          style="text-align: left !important"
                          (input)="CheckIfDriverPhoneNumberIsValid(userNameInput.value, user.id)"
                          id="UserName"
                          #userNameInput="ngModel"
                          [disabled]="!canChangeUserName"
                          name="UserName"
                          pattern="^\d{9}$"
                          maxlength="9"
                          placeholder="{{ '9digitsNumber' | localize }}"
                          type="tel"
                          class="form-control"
                          [(ngModel)]="user.userName"
                          required
                          [ngClass]="{
                            'is-valid': CheckingIfDriverPhoneNumberIsValid && isPhoneNumberAvilable && userNameInput.valid,
                            'is-invalid':
                              userForm.submitted && !CheckingIfDriverPhoneNumberIsValid && (!isPhoneNumberAvilable || !userNameInput.valid)
                          }"
                        />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i [ngClass]="{ 'fa-spin': CheckingIfDriverPhoneNumberIsValid }" class="flaticon-refresh"></i>
                          </span>
                        </div>
                      </div>
                      <validation-messages [formCtrl]="userNameInput"></validation-messages>
                      <span
                        *ngIf="!CheckingIfDriverPhoneNumberIsValid && userNameInput.valid && !isPhoneNumberAvilable"
                        class="form-text text-danger"
                        >{{ l('AlreadyTaken') }}</span
                      >
                      <span
                        *ngIf="!CheckingIfDriverPhoneNumberIsValid && userNameInput.valid && isPhoneNumberAvilable"
                        class="form-text text-success"
                        >{{ l('Available') }}</span
                      >
                      <span class="help-block" *ngIf="!canChangeUserName">{{ 'CanNotChangeAdminUserName' | localize }}</span>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12" *ngIf="isUserTenantRequired">
                  <div class="form-group">
                    <label>{{ 'Carrier' | localize }}<span class="text-danger">*</span> </label>
                    <select
                      #DriverTenantId="ngModel"
                      class="form-control"
                      name="DriverTenantId"
                      id="DriverTenantId"
                      [(ngModel)]="user.tenantId"
                      [ngClass]="{
                        'is-valid': DriverTenantId.touched && DriverTenantId.valid,
                        'is-invalid': DriverTenantId.touched && !DriverTenantId.valid
                      }"
                      [required]="isUserTenantRequired"
                    >
                      <option [ngValue]="null" selected disabled>{{ l('SelectACarrier') }}</option>
                      <option *ngFor="let item of carriers" value="{{ item.id }}">{{ item.displayName }}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="Nationality"> {{ 'Nationality' | localize }}<span class="text-danger">*</span> </label>
                    <select
                      id="Nationality"
                      #Nationality="ngModel"
                      name="Nationality"
                      [(ngModel)]="user.nationalityId"
                      required
                      class="form-control form-control-lg custom-select mr-sm-2"
                      [ngClass]="{
                        'is-valid': userForm.submitted && Nationality.valid,
                        'is-invalid': userForm.submitted && !Nationality.valid
                      }"
                    >
                      <option *ngFor="let nationality of nationalities" [value]="nationality.id">{{ nationality.displayName }}</option>
                    </select>
                    <validation-messages [formCtrl]="Nationality"></validation-messages>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <!--                    <label for="DateOfBirth">{{ 'DateOfBirth' | localize }}</label>-->
                    <!--                    <div class="input-group date">-->
                    <!--                      <input-->
                    <!--                        type="datetime"-->
                    <!--                        id="DateOfBirth"-->
                    <!--                        #DateOfBirth-->
                    <!--                        name="DateOfBirth"-->
                    <!--                        class="form-control"-->
                    <!--                        bsDatepicker-->
                    <!--                        datePickerMomentModifier-->
                    <!--                        [(date)]="user.dateOfBirth"-->
                    <!--                        [bsConfig]="{ adaptivePosition: true }"-->
                    <!--                        readonly-->
                    <!--                        placeholder="Select date"-->
                    <!--                      />-->
                    <!--                      <div class="input-group-append">-->
                    <!--                        <span class="input-group-text">-->
                    <!--                          <i class="la la-calendar-check-o"></i>-->
                    <!--                        </span>-->
                    <!--                      </div>-->
                    <!--                    </div>-->
                    <hijri-gregorian-datepicker-test
                      [parentForm]="userForm"
                      [label]="l('DateOfBirth')"
                      class="m-input"
                      [isRequired]="true"
                      [(selectedDate)]="selectedDate"
                      [readonly]="true"
                      (selectedDateChange)="dateOfBirthSelectedDateChange($event, user)"
                      [minGreg]="minGreg"
                      [minHijri]="minHijri"
                      [maxGreg]="maxGreg"
                      [maxHijri]="maxHijri"
                    >
                    </hijri-gregorian-datepicker-test>
                  </div>
                </div>

                <div class="col-6">
                  <div class="form-group">
                    <label for="Address">{{ 'Address' | localize }}</label>
                    <input id="Address" type="text" name="Address" class="form-control" [(ngModel)]="user.address" maxlength="256" />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group" *ngIf="user.isDriver">
                    <label for="ExperienceField">{{ 'ExperienceField' | localize }}</label>
                    <input
                      id="ExperienceField"
                      type="text"
                      name="DrivingLicenseNumber"
                      class="form-control"
                      [(ngModel)]="user.experienceField"
                      maxlength="256"
                    />
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="driverLicenseTypeId"> {{ 'DriverLicenseType' | localize }}<span class="text-danger">*</span> </label>
                    <select
                      id="driverLicenseTypeId"
                      #driverLicenseTypeId="ngModel"
                      name="driverLicenseTypeId"
                      [(ngModel)]="user.driverLicenseTypeId"
                      required
                      class="form-control form-control-lg custom-select mr-sm-2"
                      [ngClass]="{
                        'is-valid': userForm.submitted && driverLicenseTypeId.valid,
                        'is-invalid': userForm.submitted && !driverLicenseTypeId.valid
                      }"
                    >
                      <option selected disabled [ngValue]="null">{{ l('SelectALicenseType') }}</option>
                      <option *ngFor="let item of driverLicenseTypes" [value]="item.id">{{ item.name }}</option>
                    </select>
                    <validation-messages [formCtrl]="driverLicenseTypeId"></validation-messages>
                  </div>
                </div>
              </div>

              <div class="checkbox-inline">
                <label for="EditUser_ShouldChangePasswordOnNextLogin" class="checkbox">
                  <input
                    id="EditUser_ShouldChangePasswordOnNextLogin"
                    type="checkbox"
                    name="ShouldChangePasswordOnNextLogin"
                    [(ngModel)]="user.shouldChangePasswordOnNextLogin"
                  />
                  {{ 'ShouldChangePasswordOnNextLogin' | localize }}
                  <span></span>
                </label>
                <label for="EditUser_IsActive" class="checkbox">
                  <input id="EditUser_IsActive" type="checkbox" name="IsActive" [(ngModel)]="user.isActive" />
                  {{ 'Active' | localize }}
                  <span></span>
                </label>

                <label *ngIf="isTwoFactorEnabled" for="EditUser_IsTwoFactorEnabled" class="checkbox">
                  <input id="EditUser_IsTwoFactorEnabled" type="checkbox" name="IsTwoFactorEnabled" [(ngModel)]="user.isTwoFactorEnabled" />
                  {{ 'IsTwoFactorEnabled' | localize }}
                  <span></span>
                </label>

                <label *ngIf="isLockoutEnabled" for="EditUser_IsLockoutEnabled" class="checkbox">
                  <input id="EditUser_IsLockoutEnabled" type="checkbox" name="IsLockoutEnabled" [(ngModel)]="user.isLockoutEnabled" />
                  {{ 'IsLockoutEnabled' | localize }}
                  <span></span>
                </label>

                <label *ngIf="user.id !== null" for="EditUser_IsAvailable" class="checkbox">
                  <input id="EditUser_IsAvailable" type="checkbox" name="IsAvailable" [(ngModel)]="user.isAvailable" />
                  {{ 'Available' | localize }}
                  <span></span>
                </label>
              </div>
            </tab>
            <tab *ngIf="!user.id" class="pt-5" heading="{{ 'DriverDocuments' | localize }}">
              <app-required-document-form-child
                #requiredDocumentFormChildComponent
                [createOrEditDocumentFileDtos]="createOrEditDocumentFileDtos"
                (onDocsUploaderCompleteAll)="saveInternal()"
                [parentForm]="userForm"
              ></app-required-document-form-child>
            </tab>
          </tabset>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold" (click)="close()">
            {{ 'Cancel' | localize }}
          </button>
          <button *ngIf="!user.id" type="submit" class="btn btn-save font-weight-bold" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
            <i class="fa fa-save"></i> <span>{{ 'Save' | localize }}</span>
          </button>
          <button
            *ngIf="user.id"
            type="submit"
            class="btn btn-save font-weight-bold"
            [disabled]="!userForm.form.valid"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i> <span>{{ 'Save' | localize }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
