<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <!-- [description]="'DriversHeaderInfo' | localize" -->
    <sub-header [title]="'Drivers' | localize">
      <div role="actions">
        <div class="btn-group" dropdown>
          <button
            dropdownToggle
            type="button"
            class="btn btn-outline-success dropdown-toggle mr-1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="far fa-file-excel"></i> {{ 'ExcelOperations' | localize }}
          </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu>
            <a class="dropdown-item" id="ExportUsersToExcelButton" (click)="exportToExcel()" href="javascript:;">
              <i class="fa fa-download mr-2 mt-1" style="font-size: 1rem"></i>
              {{ 'ExportToExcel' | localize }}
            </a>
            <a href="javascript:;" *ngIf="'Pages.Administration.Users.Create' | permission" class="no-padding">
              <span class="fileinput-button">
                <p-fileUpload
                  customUpload="true"
                  name="ExcelFileUpload"
                  #ExcelFileUpload
                  maxFileSize="10000000"
                  auto="auto"
                  accept=".csv,.xls,.xlsx"
                  (uploadHandler)="uploadExcel($event)"
                  (onError)="onUploadExcelError()"
                  chooseLabel="{{ 'ImportFromExcel' | localize }}"
                >
                </p-fileUpload>
              </span>
            </a>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item-text text-muted pl-3" href="#">
              <small
                *ngIf="isArabic"
                [innerHTML]="
                  l('ImportToExcelSampleFileDownloadInfo', '<a href=/assets/sampleFiles/ImportDriversSampleFileAr.xlsx>' + l('ClickHere') + '</a>')
                "
              ></small>
              <small
                *ngIf="!isArabic"
                [innerHTML]="
                  l('ImportToExcelSampleFileDownloadInfo', '<a href=/assets/sampleFiles/ImportDriversSampleFile.xlsx>' + l('ClickHere') + '</a>')
                "
              ></small>
            </span>
          </div>
        </div>

        <button (click)="createUser()" *ngIf="'Pages.Administration.Users.Create' | permission" class="btn btn-primary">
          <i class="fa fa-plus"></i> {{ 'CreateNewDriver' | localize }}
        </button>
      </div>
    </sub-header>
    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <div class="row align-items-center">
            <dx-data-grid
              style="height: 45vw"
              #grid
              id="dataGrid"
              [dataSource]="dataSource"
              [remoteOperations]="{ groupPaging: true, sorting: true, filtering: true, paging: true }"
              [showColumnLines]="true"
              [showRowLines]="false"
              [showBorders]="true"
              [rowAlternationEnabled]="true"
              keyExpr="id"
              [wordWrapEnabled]="true"
            >
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-search-panel [visible]="true" placeholder="{{ 'Search' | localize }}..."></dxo-search-panel>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-filter-builder-popup></dxo-filter-builder-popup>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-group-panel [visible]="false" emptyPanelText="{{ l('DragAColumnHeaderHereToGroupByThatColumn') }}"></dxo-group-panel>
              <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
              <!--              <dxo-remote-operations> </dxo-remote-operations>-->
              <dxo-paging [pageSize]="20"></dxo-paging>
              <dxo-summary>
                <dxi-group-item column="id" summaryType="count"> </dxi-group-item>
              </dxo-summary>

              <dxi-column
                cellTemplate="cellTemplateActions"
                [allowFiltering]="false"
                [allowSorting]="false"
                [width]="50"
                [hidden]="
                  !(
                    [
                      'Pages.Administration.Users.Impersonation',
                      'Pages.Administration.Users.Edit',
                      'Pages.Administration.Users.ChangePermissions',
                      'Pages.Administration.Users.Delete'
                    ] | permissionAny
                  )
                "
              ></dxi-column>
              <dxi-column dataField="name" caption="{{ 'FirstName' | localize }}"></dxi-column>
              <dxi-column dataField="surname" caption="{{ 'LastName' | localize }}"></dxi-column>
              <dxi-column dataField="phoneNumber" caption="{{ 'PhoneNumber' | localize }}"></dxi-column>
              <!-- <dxi-column dataField="emailAddress" caption="{{ 'Email' | localize }}"></dxi-column> -->
              <dxi-column dataField="accountNumber" caption="{{ 'UserID' | localize }}"></dxi-column>
              <dxi-column cellTemplate="cellRatingTemplate" dataField="rate" dataType="string" caption="{{ 'rating' | localize }}"></dxi-column>
              <dxi-column cellTemplate="cellTemplate_IsActive" dataField="isActive" caption="{{ 'Status' | localize }}"></dxi-column>
              <dxi-column dataField="creationTime" caption="{{ 'DriverCreationDateAndTime' | localize }}" dataType="datetime"></dxi-column>
              <dxi-column dataField="companyName" caption="{{ l('companyName') }}"> </dxi-column>
              <dxi-column dataField="nationality" caption="{{ l('Nationality') }}"> </dxi-column>
              <dxi-column dataField="assignedTruck" caption="{{ l('Truck') }}"> </dxi-column>
              <dxi-column
                cellTemplate="cellDriverTrackingTemplate"
                cellTemplate="cellTrackingTemplate"
                caption="{{ 'DriverTracking' | localize }}"
              ></dxi-column>
              <dxi-column
                dataField="isMissingDocumentFiles"
                caption="{{ 'MissingDocumentFiles' | localize }}"
                [allowFiltering]="false"
                [allowSorting]="false"
              ></dxi-column>
              <div *dxTemplate="let options of 'cellTemplate_IsActive'">
                <span *ngIf="options.data.isActive" class="badge badge-success badge-inline">{{ 'Active' | localize }}</span>
                <span *ngIf="!options.data.isActive" class="badge badge-dark badge-inline">{{ 'InActive' | localize }}</span>
              </div>

              <div *dxTemplate="let options of 'cellTemplateActions'">
                <div class="btn-group dropdown" dropdown container="body">
                  <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" dropdownToggle>
                    <span class="svg-icon svg-icon-md">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="24px"
                        height="24px"
                        viewBox="0 0 24 24"
                        version="1.1"
                      >
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"></rect>
                          <path
                            d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z"
                            fill="#000000"
                          ></path>
                        </g>
                      </svg>
                    </span>
                  </a>

                  <ul class="dropdown-menu" *dropdownMenu>
                    <li>
                      <a
                        href="javascript:;"
                        class="dropdown-item"
                        (click)="viewOrEditEntityDocumentsModal.show(options.data.id, documentsEntitiesEnum.Driver)"
                        >{{ l('ViewDocuments') }}</a
                      >
                    </li>
                    <li>
                      <a
                        href="javascript:;"
                        class="dropdown-item"
                        *ngIf="'Pages.Administration.Users.Edit' | permission"
                        (click)="createOrEditUserModal.show(options.data.id)"
                        >{{ 'Edit' | localize }}</a
                      >
                    </li>
                    <li>
                      <a
                        href="javascript:;"
                        class="dropdown-item"
                        *ngIf="'Pages.Administration.Users.Unlock' | permission"
                        (click)="unlockUser(options.data)"
                        >{{ 'Unlock' | localize }}</a
                      >
                    </li>
                    <li>
                      <a
                        href="javascript:;"
                        class="dropdown-item"
                        *ngIf="'Pages.Administration.Users.Delete' | permission"
                        (click)="deleteUser(options.data)"
                        >{{ 'Delete' | localize }}</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <div *dxTemplate="let options of 'cellRatingTemplate'" class="d-flex justify-content-center">
                <p-rating [ngModel]="options.data.rate" readonly="true" stars="5" [cancel]="false"></p-rating>
              </div>
              <div *dxTemplate="let options of 'cellTrackingTemplate'" class="d-flex justify-content-center">
                <i
                  (click)="DriverTrackingModal.show(options.data.id, null)"
                  class="icon-2x text-dark-50 flaticon-placeholder-3"
                  style="cursor: pointer"
                ></i>
              </div>
              <dxo-summary> <dxi-total-item column="userName" summaryType="count"> </dxi-total-item> </dxo-summary>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </div>
    <viewOrEditEntityDocumentsModal #viewOrEditEntityDocumentsModal></viewOrEditEntityDocumentsModal>
    <createOrEditDriverModal [creatDriver]="true" #createOrEditUserModal (modalSave)="getDrivers()"> </createOrEditDriverModal>
    <editUserPermissionsModal #editUserPermissionsModal></editUserPermissionsModal>
    <app-driver-tracking-modal #DriverTrackingModal></app-driver-tracking-modal>
  </div>
</div>
