<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'TenantRequiredDocuments' | localize" [description]="'TenantRequiredDocumentsHeaderInfo' | localize"> </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <form *ngIf="active" #TenantRequiredDocumentsForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
          <div class="card-body">
            <div *ngFor="let item of createOrEditDocumentFileDtos; index as i" class="row">
              <div class="form-group col-md-6">
                <label>{{ item.name }}</label>
                <div class="custom-file">
                  <input
                    [disabled]="item.isAccepted"
                    (change)="DocFileChangeEvent($event, item)"
                    type="file"
                    class="custom-file-input"
                    [required]="item.documentTypeDto.isRequired"
                  />
                  <label class="custom-file-label" [for]="item.name">{{ l('select file') }}</label>
                </div>
              </div>
              <div *ngIf="item.documentTypeDto.hasExpirationDate" class="form-group col-md-6">
                <label>{{ l('expiration date') }}</label>
                <input
                  name="expirationDate{{ i }}"
                  id="expirationDate{{ i }}"
                  bsDatepicker
                  class="form-control m-input"
                  datePickerMomentModifier
                  [required]="item.documentTypeDto.isRequired && !item.isAccepted"
                  type="datetime"
                  [(ngModel)]="item.expirationDate"
                  [disabled]="item.isAccepted"
                />
              </div>
            </div>
            <div class="row">
              <label>{{ docProgressFileName }}</label>
              <div class="col-md-12">
                <p-progressBar [value]="docProgress" [style]="{ height: '6px', width: '100' }"></p-progressBar>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button
              type="submit"
              class="btn btn-primary blue"
              [disabled]="!TenantRequiredDocumentsForm.form.valid"
              [buttonBusy]="saving"
              [busyText]="l('SavingWithThreeDot')"
            >
              <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
