<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'EmailTemplates' | localize" [description]="'EmailTemplatesHeaderInfo' | localize">
      <div role="actions">
        <button *ngIf="isGranted('Pages.EmailTemplates.Create')" (click)="createEmailTemplate()" class="btn btn-primary blue">
          <i class="fa fa-plus"></i> {{ l('CreateNewEmailTemplate') }}
        </button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <div class="row align-items-center">
            <dx-data-grid
              #grid
              id="dataGrid"
              [dataSource]="dataSource"
              [remoteOperations]="{ sorting: true, filtering: true, paging: true }"
              [showColumnLines]="true"
              [showRowLines]="false"
              [showBorders]="true"
              [rowAlternationEnabled]="true"
              keyExpr="id"
            >
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-search-panel [visible]="true" placeholder="{{ 'Search' | localize }}..."></dxo-search-panel>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-filter-builder-popup></dxo-filter-builder-popup>
              <dxo-master-detail [enabled]="true" template="translations"></dxo-master-detail>
              <div *dxTemplate="let options of 'translations'">
                <app-email-template-translation-template [CoreId]="options.data.id"></app-email-template-translation-template>
              </div>
              <div *dxTemplate="let options of 'cellTemplateActions'">
                <div class="btn-group dropdown" dropdown container="body">
                  <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" dropdownToggle>
                    <span class="svg-icon svg-icon-md">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"></rect>
                          <path
                            d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z"
                            fill="#000000"
                          ></path>
                        </g>
                      </svg>
                    </span>
                  </a>

                  <ul class="dropdown-menu" *dropdownMenu>
                    <li>
                      <a
                        href="javascript:;"
                        *ngIf="permission.isGranted('Pages.EmailTemplates.Edit')"
                        class="dropdown-item"
                        (click)="createOrEditEmailTemplateModal.show(options.data.id)"
                        >{{ l('Edit') }}</a
                      >
                    </li>
                  </ul>
                </div>
              </div>

              <!--              <dxo-remote-operations [sorting]="true" [paging]="true" [filtering]="true"></dxo-remote-operations>-->
              <dxo-paging [pageSize]="10"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true"></dxo-pager>
              <dxi-column dataField="displayName" caption="{{ l('displayName') }}">></dxi-column>
              <dxi-column cellTemplate="cellTemplateActions" [allowFiltering]="false" [allowSorting]="false" [width]="50"></dxi-column>
            </dx-data-grid>
          </div>

          <!--          <div class="row align-items-center">-->
          <!--            &lt;!&ndash;<Primeng-Datatable-Start>&ndash;&gt;-->
          <!--            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">-->
          <!--              <p-table-->
          <!--                #dataTable-->
          <!--                (onLazyLoad)="getEmailTemplates($event)"-->
          <!--                [value]="primengTableHelper.records"-->
          <!--                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"-->
          <!--                [paginator]="false"-->
          <!--                [lazy]="true"-->
          <!--                [scrollable]="true"-->
          <!--                ScrollWidth="100%"-->
          <!--                [responsive]="primengTableHelper.isResponsive"-->
          <!--                [resizableColumns]="primengTableHelper.resizableColumns"-->
          <!--              >-->
          <!--                <ng-template pTemplate="header">-->
          <!--                  <tr>-->
          <!--                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.EmailTemplates.Edit', 'Pages.EmailTemplates.Delete')">-->
          <!--                      {{ l('Actions') }}-->
          <!--                    </th>-->
          <!--                    <th style="width: 150px" pSortableColumn="name">-->
          <!--                      {{ l('Name') }}-->
          <!--                      <p-sortIcon field="emailTemplate.name"></p-sortIcon>-->
          <!--                    </th>-->
          <!--                    <th style="width: 150px" pSortableColumn="displayName">-->
          <!--                      {{ l('DisplayName') }}-->
          <!--                      <p-sortIcon field="emailTemplate.displayName"></p-sortIcon>-->
          <!--                    </th>-->
          <!--                  </tr>-->
          <!--                </ng-template>-->
          <!--                <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">-->
          <!--                  <tr>-->
          <!--                    <td style="width: 130px" [hidden]="!isGrantedAny('Pages.EmailTemplates.Edit', 'Pages.EmailTemplates.Delete')">-->
          <!--                      <div class="btn-group dropdown" dropdown container="body">-->
          <!--                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>-->
          <!--                          <i class="fa fa-cog"></i><span class="caret"></span> {{ l('Actions') }}-->
          <!--                        </button>-->
          <!--                        <ul class="dropdown-menu" *dropdownMenu>-->
          <!--                          <li>-->
          <!--                            <a href="javascript:;" class="dropdown-item" (click)="viewEmailTemplateModal.show(record)">{{ l('View') }}</a>-->
          <!--                          </li>-->
          <!--                          <li>-->
          <!--                            <a-->
          <!--                              href="javascript:;"-->
          <!--                              *ngIf="permission.isGranted('Pages.EmailTemplates.Edit')"-->
          <!--                              class="dropdown-item"-->
          <!--                              (click)="createOrEditEmailTemplateModal.show(record.emailTemplate.id)"-->
          <!--                              >{{ l('Edit') }}</a-->
          <!--                            >-->
          <!--                          </li>-->
          <!--                          <li>-->
          <!--                            <a-->
          <!--                              class="dropdown-item"-->
          <!--                              href="javascript:;"-->
          <!--                              *ngIf="permission.isGranted('Pages.EmailTemplates.Delete')"-->
          <!--                              (click)="deleteEmailTemplate(record.emailTemplate)"-->
          <!--                              >{{ l('Delete') }}</a-->
          <!--                            >-->
          <!--                          </li>-->
          <!--                        </ul>-->
          <!--                      </div>-->
          <!--                    </td>-->
          <!--                    <td style="width: 150px">-->
          <!--                      <span class="ui-column-title"> {{ l('Name') }}</span>-->
          <!--                      {{ record.emailTemplate.name }}-->
          <!--                    </td>-->
          <!--                    <td style="width: 150px">-->
          <!--                      <span class="ui-column-title"> {{ l('DisplayName') }}</span>-->
          <!--                      {{ record.emailTemplate.displayName }}-->
          <!--                    </td>-->
          <!--                  </tr>-->
          <!--                </ng-template>-->
          <!--              </p-table>-->
          <!--              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">-->
          <!--                {{ l('NoData') }}-->
          <!--              </div>-->
          <!--              <div class="primeng-paging-container">-->
          <!--                <p-paginator-->
          <!--                  [rows]="primengTableHelper.defaultRecordsCountPerPage"-->
          <!--                  #paginator-->
          <!--                  (onPageChange)="getEmailTemplates($event)"-->
          <!--                  [totalRecords]="primengTableHelper.totalRecordsCount"-->
          <!--                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"-->
          <!--                  [showCurrentPageReport]="true"-->
          <!--                  [currentPageReportTemplate]="'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount"-->
          <!--                >-->
          <!--                </p-paginator>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--            &lt;!&ndash;<Primeng-Datatable-End>&ndash;&gt;-->
          <!--          </div>-->
        </div>
      </div>
    </div>

    <createOrEditEmailTemplateModal #createOrEditEmailTemplateModal (modalSave)="getEmailTemplates()"></createOrEditEmailTemplateModal>
    <viewEmailTemplateModal #viewEmailTemplateModal></viewEmailTemplateModal>
  </div>
</div>
