<div *ngFor="let item of createOrEditDocumentFileDtos; index as i" class="">
  <div *ngIf="i != 0" class="separator separator-dashed mb-5"></div>
  <div class="row">
    <div class="form-group col-6">
      <label class="text-primary"
        >{{ item.documentTypeDto.name ? item.documentTypeDto.name : item.documentTypeDto.displayName
        }}<span *ngIf="item.documentTypeDto.isRequiredDocumentTemplate" class="text-danger">*</span>
      </label>
      <div class="custom-file">
        <input
          accept="image/x-png,image/jpeg,application/pdf"
          (change)="DocFileChangeEvent($event, item, i)"
          type="file"
          class="custom-file-input is-valid"
          [required]="item.documentTypeDto.isRequiredDocumentTemplate"
          [ngClass]="{
            'is-valid': item?.name,
            'is-invalid': parentForm.submitted && !item?.name && item.documentTypeDto.isRequiredDocumentTemplate
          }"
        />
        <label class="custom-file-label text-truncate" [for]="item.documentTypeDto.displayName"> {{ item.name ? item.name : l('SelectFile') }}</label>
      </div>
      <span class="form-text text-muted">{{ 'ValidDocumentFilesMsg' | localize }}</span>
      <div *ngIf="!isFileFormatValid(i)">
        <span class="form-text text-danger text-left">{{ 'PleaseChooseAvalidFormat' | localize }}</span>
      </div>
      <div *ngIf="isFileDuplicate(i)">
        <span class="form-text text-danger text-left">{{ 'DuplicateFileUploadMsg' | localize }}</span>
      </div>
    </div>
    <div *ngIf="item.documentTypeDto?.templateName" class="form-group col-6">
      <label>{{ l('FileTemplate') }}</label>

      <div>
        <div class="d-flex align-items-center flex-wrap mb-8">
          <!--begin::Symbol-->
          <div class="symbol symbol-50 symbol-light mr-3 ml-3">
            <span class="symbol-label">
              <i class="{{ getFileExtension(item.documentTypeDto?.templateName) }} fa-2x" style="color: #5cb85c" aria-hidden="true"></i>
            </span>
          </div>
          <!--end::Symbol-->
          <!--begin::Text-->
          <div class="d-flex flex-column flex-grow-1 mr-2">
            <a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1"> {{ item.documentTypeDto?.templateName }}</a>
            <span class="text-muted font-weight-bold">{{ item.documentTypeDto?.templateContentType }}</span>
          </div>
          <!--end::Text-->

          <a
            *ngIf="item.documentTypeDto?.templateId"
            (click)="downloadTemplate(item.documentTypeDto?.id)"
            class="btn btn-sm btn-icon btn-bg-light btn-icon-primary btn-hover-primary"
          >
            <i class="flaticon2-download"></i>
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="item.documentTypeDto.hasNumber" class="form-group col-6">
      <label>
        {{ l('Number') }}
        <span *ngIf="item.documentTypeDto.isRequiredNumber" class="required-fileds"> *</span>
      </label>
      <input
        #inputDocumentNumber="ngModel"
        name="number{{ i }}"
        id="number{{ i }}"
        class="form-control m-input"
        [required]="item.documentTypeDto.isRequiredNumber"
        [(ngModel)]="item.number"
        type="text"
        [pattern]="'[0-9]{' + item.documentTypeDto.numberMinDigits + ',' + item.documentTypeDto.numberMaxDigits + '}'"
        [ngClass]="{
          'is-valid': parentForm.submitted && inputDocumentNumber.valid,
          'is-invalid': parentForm.submitted && !inputDocumentNumber.valid
        }"
      />
      <validation-messages [formCtrl]="inputDocumentNumber"></validation-messages>
      <span *ngIf="item.number == null ? 0 : item.number.length < item.documentTypeDto.numberMinDigits" class="form-text text-danger">
        {{ l('TheNumberLengthMustBeMoreThanMinDigits') }}
      </span>
      <span *ngIf="item.number == null ? false : item.number.length > item.documentTypeDto.numberMaxDigits" class="form-text text-danger">
        {{ l('TheNumberLengthMustBeLessThanMaxDigits') }}
      </span>
      <span class="form-text text-muted"
        >{{ l('MinDigits') }} {{ item.documentTypeDto.numberMinDigits }} {{ l('MaxDigits') }}
        {{ item.documentTypeDto.numberMaxDigits }}
      </span>
    </div>

    <div *ngIf="item.documentTypeDto.hasExpirationDate" class="form-group col-6">
      <hijri-gregorian-datepicker-test
        [parentForm]="parentForm"
        [label]="l('ExpirationDate')"
        class="m-input"
        [isRequired]="item.documentTypeDto.isRequiredExpirationDate"
        [readonly]="true"
        [minGreg]="todayGregorian"
        [minHijri]="todayHijri"
        [selectedDate]="selectedDate"
        [selectedDateType]="2"
        (selectedDateChange)="hijriDatepickerSelectedDateChange($event, item)"
      >
      </hijri-gregorian-datepicker-test>
    </div>
    <div *ngIf="item.documentTypeDto.hasNotes" class="form-group col-6">
      <label>{{ l('Note') }}</label>
      <textarea
        name="note{{ i }}"
        id="note{{ i }}"
        class="form-control m-input"
        type="text"
        rows="1"
        style="resize: none"
        [(ngModel)]="item.notes"
      ></textarea>
    </div>
  </div>
</div>
<div class="row">
  <label>{{ docProgressFileName }}</label>
  <div class="col-md-12">
    <p-progressBar [value]="docProgress" [style]="{ height: '6px', width: '100' }"></p-progressBar>
  </div>
</div>
