<div *ngFor="let item of createOrEditDocumentFileDtos; index as i" class="">
  <div *ngIf="i != 0" class="separator separator-dashed mb-5"></div>
  <div class="row">
    <div class="form-group col-6">
      <label class="text-primary"
        ><span class="text-danger">*</span> {{ item.documentTypeDto.name ? item.documentTypeDto.name : item.documentTypeDto.displayName }}</label
      >
      <div class="custom-file">
        <input
          accept="image/x-png,image/jpeg,application/pdf"
          (change)="DocFileChangeEvent($event, item, i)"
          type="file"
          class="custom-file-input is-valid"
          required
          [ngClass]="{
            'is-valid': item?.name,
            'is-invalid': parentForm.submitted && !item?.name
          }"
        />
        <label class="custom-file-label text-truncate" [for]="item.documentTypeDto.displayName"> {{ item.name ? item.name : l('SelectFile') }}</label>
      </div>
      <span class="form-text text-muted">{{ 'ValidDocumentFilesMsg' | localize }}</span>
      <div *ngIf="!isFileFormatValid(i)">
        <span class="form-text text-danger text-left">{{ 'PleaseChooseAvalidFormat' | localize }}</span>
      </div>
      <div *ngIf="isFileDuplicate(i)">
        <span class="form-text text-danger text-left">{{ 'DuplicateFileUploadMsg' | localize }}</span>
      </div>
    </div>
    <div *ngIf="item.documentTypeDto.hasNumber" class="form-group col-6">
      <label><span class="required-fileds"> *</span> {{ l('Number') }} </label>
      <input
        #inputDocumentNumber="ngModel"
        name="number{{ i }}"
        id="number{{ i }}"
        class="form-control m-input"
        required
        [maxLength]="item.documentTypeDto.numberMaxDigits"
        [minLength]="item.documentTypeDto.numberMinDigits"
        type="text"
        [(ngModel)]="item.number"
        (keypress)="onlyNumberKey($event)"
        [ngClass]="{
          'is-valid': inputDocumentNumber.valid,
          'is-invalid': parentForm.submitted && !inputDocumentNumber.valid
        }"
      />
      <validation-messages [formCtrl]="inputDocumentNumber"></validation-messages>
      <span *ngIf="item.number == null ? 0 : item.number.length < item.documentTypeDto.numberMinDigits" class="form-text text-danger">
        {{ l('TheNumberLengthMustBeMoreThanMinDigits') }}
      </span>
      <span *ngIf="item.number == null ? false : item.number.length > item.documentTypeDto.numberMaxDigits" class="form-text text-danger">
        {{ l('TheNumberLengthMustBeLessThanMaxDigits') }}
      </span>
      <span class="form-text text-muted"
        >{{ l('minDigits') }} {{ item.documentTypeDto.numberMinDigits }} {{ l('maxDigits') }}
        {{ item.documentTypeDto.numberMaxDigits }}
      </span>
    </div>

    <div *ngIf="item.documentTypeDto.hasExpirationDate" class="form-group col-6">
      <hijri-gregorian-datepicker-test
        [parentForm]="parentForm"
        [label]="l('ExpirationDate')"
        class="m-input"
        [isRequired]="true"
        [readonly]="true"
        [minGreg]="todayGregorian"
        [minHijri]="todayHijri"
        [selectedDate]="selectedDate"
        [selectedDateType]="2"
        (selectedDateChange)="hijriDatepickerSelectedDateChange($event, item)"
      >
      </hijri-gregorian-datepicker-test>
    </div>
    <div *ngIf="item.documentTypeDto.hasNotes" class="form-group col-6">
      <label>{{ l('Note') }}</label>
      <textarea
        name="note{{ i }}"
        id="note{{ i }}"
        class="form-control m-input"
        type="text"
        rows="1"
        style="resize: none;"
        [(ngModel)]="item.notes"
      ></textarea>
    </div>
  </div>
</div>
<div class="row">
  <label>{{ docProgressFileName }}</label>
  <div class="col-md-12">
    <p-progressBar [value]="docProgress" [style]="{ height: '6px', width: '100' }"></p-progressBar>
  </div>
</div>
