<div
  bsModal
  #modal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span>{{ l('TripIncident') }}</span>
        </h4>
      </div>
      <div class="modal-body">
        <div class="content d-flex flex-column flex-column-fluid">
          <div [class]="containerClass">
            <div class="card card-custom">
              <div>
                <div class="row align-items-center">
                  <p>{{ 'ClickRowToViewActions' | localize }}</p>
                  <dx-data-grid
                    id="gridContainer"
                    [dataSource]="incidentsDataSource"
                    keyExpr="Id"
                    (onSelectionChanged)="fillCurrentIncident()"
                    [(selectedRowKeys)]="selectedIncidents"
                    [showBorders]="true"
                  >
                    <dxo-selection mode="single"></dxo-selection>
                    <dxo-paging [pageSize]="10"></dxo-paging>
                    <dxo-pager [visible]="true" [allowedPageSizes]="[5, 10, 15, 20]" [showPageSizeSelector]="true" [showNavigationButtons]="true">
                    </dxo-pager>
                    <dxi-column
                      cellTemplate="cellTemplateActions"
                      [allowFiltering]="false"
                      [allowSorting]="false"
                      [allowEditing]="false"
                      [editorOptions]="{ visible: false }"
                      [width]="70"
                      caption="{{ l('Actions') }}"
                    ></dxi-column>
                    <dxi-column dataField="creationTime" cellTemplate="creationTimeTemplate" caption="{{ l('CreationTime') }}"></dxi-column>
                    <dxi-column
                      dataField="resolveListDto.resolveTypeTitle"
                      caption="{{ l('ResolvingAction') }}"
                      cellTemplate="resolveTypeTemplate"
                    ></dxi-column>
                    <dxi-column
                      dataField="resolveListDto.resolveStatus"
                      cellTemplate="resolveStatusTemplate"
                      caption="{{ l('ResolveStatus') }}"
                    ></dxi-column>
                    <dxi-column dataField="reason" caption="{{ l('Reason') }}"></dxi-column>

                    <div *dxTemplate="let options of 'resolveStatusTemplate'">
                      {{ options.data?.resolveListDto?.resolveStatus | localize }}
                    </div>
                    <div *dxTemplate="let options of 'creationTimeTemplate'">
                      {{ options.data.creationTime | momentFormat: 'DD/MMM/YYYY' }}
                    </div>
                    <div *dxTemplate="let options of 'resolveTypeTemplate'">
                      {{ options.data?.resolveListDto?.resolveTypeTitle | localize }}
                    </div>
                    <div *dxTemplate="let options of 'cellTemplateActions'">
                      <div class="btn-group dropdown" dropdown container="body">
                        <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" dropdownToggle>
                          <span class="svg-icon svg-icon-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"></rect>
                                <path
                                  d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z"
                                  fill="#000000"
                                ></path>
                              </g>
                            </svg>
                          </span>
                        </a>

                        <ul class="dropdown-menu" *dropdownMenu>
                          <li>
                            <a
                              href="javascript:;"
                              *ngIf="permission.isGranted('Pages.ShippingRequest.Accidents.Edit') && this.currentTrip.status != 3"
                              class="dropdown-item"
                              (click)="EditTripAccidentModal.show(currentTrip.id, options.data.id)"
                              >{{ l('Edit') }}</a
                            >
                          </li>
                          <li>
                            <a href="javascript:;" class="dropdown-item" (click)="AddTripAccidentCommentModal.show(options.data.id)">{{
                              l('Comments')
                            }}</a>
                          </li>
                          <li>
                            <a href="javascript:;" class="dropdown-item" (click)="viewAccidentDetails.show(options.data.id)">{{ l('View') }}</a>
                          </li>
                          <li
                            [busyIf]="continueTripLoading"
                            *ngIf="permission.isGranted('Pages.ShippingRequest.Accidents.Edit') && currentIncident.isPointStopped"
                          >
                            <a href="javascript:;" class="dropdown-item" (click)="continueTrip()">{{ l('ContinueTripAndResolveLater') }}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </dx-data-grid>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="close()">{{ l('Close') }}</button>
        <!--    Carrier & Shipper Resolve Actions-->
        <div *ngIf="isShipper || isCarrier">
          <button
            *ngIf="currentIncident?.resolveListDto?.id"
            type="button"
            class="btn btn-primary"
            (click)="TripAccidentResolveModal.showForView(currentIncident)"
          >
            {{ l('ViewResolve') }}
          </button>

          <button
            *ngIf="canApproveResolve()"
            type="button"
            class="btn btn-primary"
            (click)="approveResolve()"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot' | localize)"
          >
            <i class="fa fa-save"></i> <span>{{ 'ApproveChange' | localize }}</span>
          </button>
        </div>

        <!--   Tachyon Dealer Resolve Actions-->
        <div *ngIf="isTachyonDealerOrHost">
          <button
            (click)="TripAccidentResolveModal.show(currentIncident)"
            *ngIf="isTachyonDealer && currentIncident?.id && !currentIncident?.isResolve"
            type="button"
            class="btn btn-primary btn-wide"
          >
            {{ currentIncident?.resolveListDto?.id ? 'UpdateResolve' : ('ResolveIncident' | localize) }}
          </button>
          <button
            *ngIf="currentTrip.status == 1 && currentIncident?.resolveListDto?.id && !currentIncident?.isResolve"
            type="button"
            class="btn btn-danger"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
            (click)="enforceChange(currentTrip.id)"
          >
            {{ l('EnforceChange') }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <trip-accident-modal #EditTripAccidentModal (modalSave)="refreshTable()" [Trip]="currentTrip"></trip-accident-modal>
  <app-view-details-accident-modal #viewAccidentDetails [allReasons]="allReasons"></app-view-details-accident-modal>
  <app-add-accident-comment-modal #AddTripAccidentCommentModal></app-add-accident-comment-modal>
  <trip-accident-resolve-modal (modalSave)="refreshTable()" #TripAccidentResolveModal></trip-accident-resolve-modal>
</div>
