<div #Modal="bs-modal" bsModal role="dialog" class="modal fade">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form *ngIf="isFormActive" (ngSubmit)="createOrEdit()" [busyIf]="isFormLoading">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="pricePackageDto.id">{{ l('EditPricePackage') }}</span>
            <span *ngIf="!pricePackageDto.id">{{ l('CreatePricePackage') }}</span>
          </h4>
        </div>
        <div class="modal-body">
          <form #PPForm="ngForm" novalidate autocomplete="off">
            <div class="row">
              <div *ngIf="isTachyonDealerOrHost && !pricePackageDto.id" class="form-group col-md-6">
                <label>{{ l('CompanyType') }} <span class="text-danger">*</span></label>
                <select
                  #companyTypeInput="ngModel"
                  class="form-control"
                  name="PP_CompanyType"
                  [ngClass]="{
                    'is-invalid': companyTypeInput.invalid && (companyTypeInput.dirty || companyTypeInput.touched),
                    'is-valid': companyTypeInput.valid
                  }"
                  (change)="companyTypeChanged()"
                  [(ngModel)]="companyType"
                  required
                >
                  <option selected disabled [value]="undefined">{{ 'SelectCompanyType' | localize }}</option>
                  <option *ngFor="let item of companyTypes" [value]="item.key">{{ item.value }}</option>
                </select>
                <div *ngIf="companyTypeInput.invalid && (companyTypeInput.dirty || companyTypeInput.touched)" class="invalid-feedback">
                  {{ 'PricePackageInvalidCompanyTypeMsg' | localize }}
                </div>
              </div>

              <div class="form-group col-md-6">
                <label>{{ l('DisplayName') }} <span class="text-danger">*</span></label>
                <input
                  #displayName="ngModel"
                  [(ngModel)]="pricePackageDto.displayName"
                  required
                  type="text"
                  minlength="3"
                  class="form-control"
                  name="tmsPP_DisplayName"
                  [ngClass]="{
                    'is-invalid': displayName.invalid && (displayName.dirty || displayName.touched),
                    'is-valid': displayName.valid && (displayName.dirty || displayName.touched)
                  }"
                />
                <div *ngIf="displayName.invalid && (displayName.dirty || displayName.touched)" class="invalid-feedback">
                  {{ 'PricePackageInvalidDisplayNameMsg' | localize }}
                </div>
              </div>
              <div *ngIf="isTachyonDealerOrHost && !pricePackageDto.id" class="form-group col-md-6">
                <label>{{ l('Company') }} <span class="text-danger">*</span></label>
                <div
                  [ngClass]="{
                    'spinner spinner-success spinner-right mr-1 ml-1': companiesLoading
                  }"
                >
                  <select
                    [disabled]="!companyType || companiesLoading"
                    [(ngModel)]="pricePackageDto.destinationTenantId"
                    required
                    class="form-control"
                    name="tmsPP_Shipper"
                    #company="ngModel"
                    [ngClass]="{
                      'is-invalid': company.invalid && (company.dirty || company.touched),
                      'is-valid': company.valid && (company.dirty || company.touched)
                    }"
                  >
                    <option selected disabled [value]="undefined">{{ 'SelectCompany' | localize }}</option>
                    <option *ngFor="let item of companies" [value]="item.id">{{ item.displayName }}</option>
                  </select>
                  <div *ngIf="company.invalid && (company.dirty || company.touched)" class="invalid-feedback">
                    {{ (companyType == companyTypeEnum.Shipper ? 'PricePackageInvalidShipperMsg' : 'PricePackageInvalidCarrierMsg') | localize }}
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label>{{ l('TransportType') }} <span class="text-danger">*</span></label>
                <select
                  [(ngModel)]="pricePackageDto.transportTypeId"
                  (change)="transportTypeChanged()"
                  #transportType="ngModel"
                  required
                  class="form-control"
                  name="tmsPP_TransportType"
                  [ngClass]="{
                    'is-invalid': transportType.invalid && (transportType.dirty || transportType.touched),
                    'is-valid': transportType.valid && (transportType.dirty || transportType.touched)
                  }"
                >
                  <option selected disabled [value]="undefined">{{ 'SelectaTransportType' | localize }}</option>
                  <option *ngFor="let item of transportTypes" [value]="item.id">{{ item.displayName }}</option>
                </select>
                <div *ngIf="transportType.invalid && (transportType.dirty || transportType.touched)" class="invalid-feedback">
                  {{ 'PricePackageInvalidTransportTypeMsg' | localize }}
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>{{ l('TruckType') }} <span class="text-danger">*</span></label>
                <div
                  [ngClass]="{
                    'spinner spinner-success spinner-right mr-1 ml-1': truckTypeLoading
                  }"
                >
                  <select
                    #truckType="ngModel"
                    [(ngModel)]="pricePackageDto.truckTypeId"
                    required
                    class="form-control"
                    (ngModelChange)="companyType == companyTypeEnum.Shipper ? applyFilters() : undefined"
                    name="tmsPP_TruckType"
                    [disabled]="!pricePackageDto.transportTypeId || !truckTypes || truckTypeLoading"
                    [ngClass]="{
                      'is-invalid': truckType.invalid && (truckType.dirty || truckType.touched),
                      'is-valid': truckType.valid && (truckType.dirty || truckType.touched)
                    }"
                  >
                    <option selected disabled [value]="undefined">{{ 'SelectaTruckType' | localize }}</option>
                    <option *ngFor="let item of truckTypes" [value]="item.id">{{ item.displayName }}</option>
                  </select>
                  <div *ngIf="truckType.invalid && (truckType.dirty || truckType.touched)" class="invalid-feedback">
                    {{ 'PricePackageInvalidTruckTypeMsg' | localize }}
                  </div>
                </div>
              </div>

              <div class="form-group col-md-6">
                <label>{{ l('RouteType') }} <span class="text-danger">*</span></label>
                <select
                  #routeType="ngModel"
                  [(ngModel)]="pricePackageDto.routeType"
                  required
                  class="form-control"
                  name="tmsPP_RouteType"
                  [ngClass]="{
                    'is-invalid': routeType.invalid && (routeType.dirty || routeType.touched),
                    'is-valid': routeType.valid && (routeType.dirty || routeType.touched)
                  }"
                >
                  <option selected disabled [value]="undefined">{{ 'SelectRouteType' | localize }}</option>
                  <option *ngFor="let item of routeTypes" [value]="item.key">{{ item.value }}</option>
                </select>
                <div *ngIf="routeType.invalid && (routeType.dirty || routeType.touched)" class="invalid-feedback">
                  {{ 'PricePackageInvalidRouteTypeMsg' | localize }}
                </div>
              </div>
              <div class="form-group col-md-6">
                <label>{{ l('PricePackageType') }} <span class="text-danger">*</span></label>
                <select
                  [(ngModel)]="pricePackageDto.type"
                  required
                  class="form-control"
                  name="tmsPP_PricePackageType"
                  [disabled]="pricePackageDto.id != undefined && pricePackageDto.id != null"
                  #pricePackageTypeInput="ngModel"
                  (ngModelChange)="pricePackageTypeChanged()"
                  [ngClass]="{
                    'is-invalid': pricePackageTypeInput.invalid && (pricePackageTypeInput.dirty || pricePackageTypeInput.touched),
                    'is-valid': pricePackageTypeInput.valid && (pricePackageTypeInput.dirty || pricePackageTypeInput.touched)
                  }"
                >
                  <option selected disabled [value]="undefined">{{ 'SelectPricePackageType' | localize }}</option>
                  <option *ngFor="let item of pricePackageTypes" [value]="item.key">
                    {{ item.value }}
                  </option>
                </select>
                <div *ngIf="pricePackageTypeInput.invalid && (pricePackageTypeInput.dirty || pricePackageTypeInput.touched)" class="invalid-feedback">
                  {{ 'PricePackageInvalidPricePackageTypeMsg' | localize }}
                </div>
              </div>
              <div *ngIf="pricePackageDto.type == pricePackageType.Dedicated" class="form-group col-md-6">
                <label>{{ l('OriginCountry') }} <span class="text-danger">*</span></label>
                <select
                  [(ngModel)]="pricePackageDto.originCountryId"
                  (ngModelChange)="originCountryChanged()"
                  required
                  class="form-control"
                  name="tmsPP_OriginCity"
                  #originCity="ngModel"
                  [ngClass]="{
                    'is-invalid': originCity.invalid && (originCity.dirty || originCity.touched),
                    'is-valid': originCity.valid && (originCity.dirty || originCity.touched)
                  }"
                >
                  <option selected disabled [value]="undefined">{{ 'SelectAnOriginCountry' | localize }}</option>
                  <option *ngFor="let item of countries" [value]="item.id">
                    {{ item.displayName }}
                  </option>
                </select>
                <div *ngIf="originCity.invalid && (originCity.dirty || originCity.touched)" class="invalid-feedback">
                  {{ 'PricePackageInvalidOriginCountryMsg' | localize }}
                </div>
              </div>

              <div class="form-group col-md-6">
                <label>{{ l('ShippingType') }} <span class="text-danger">*</span></label>
                <select
                  [(ngModel)]="pricePackageDto.shippingTypeId"
                  (ngModelChange)="shippingTypeChanged()"
                  required
                  class="form-control"
                  name="tmsPP_ShippingType"
                  #shippingType="ngModel"
                  [ngClass]="{
                    'is-invalid': shippingType.invalid && (shippingType.dirty || shippingType.touched),
                    'is-valid': shippingType.valid && (shippingType.dirty || shippingType.touched)
                  }"
                >
                  <option selected disabled [value]="undefined">{{ 'SelectShippingType' | localize }}</option>
                  <option *ngFor="let item of shippingTypes" [value]="item.id">
                    {{ item.displayName }}
                  </option>
                </select>
                <div *ngIf="shippingType.invalid && (shippingType.dirty || shippingType.touched)" class="invalid-feedback">
                  {{ 'PricePackageInvalidShippingTypeMsg' | localize }}
                </div>
              </div>

              <div *ngIf="pricePackageDto.type == pricePackageType.Dedicated" class="form-group col-md-6">
                <label>{{ l('SelectServiceAreas') }} </label>
                <p-multiSelect
                  #serviceAreas="ngModel"
                  dropdownIcon="fa fa-caret-down"
                  name="serviceAreas"
                  [options]="cities"
                  [(ngModel)]="pricePackageDto.serviceAreas"
                  (onChange)="applyFilters()"
                  [selectedItemsLabel]="'{0} items selected'"
                  [style]="{ width: '100%' }"
                  styleClass="form-control pt-1"
                  [selectionLimit]="serviceAreasSelectionLimit"
                  [dataKey]="'id'"
                  required
                  [disabled]="!pricePackageDto.shippingTypeId || !pricePackageDto.originCountryId"
                  optionLabel="displayName"
                  [ngClass]="{
                    'is-invalid': serviceAreas.invalid && (serviceAreas.dirty || serviceAreas.touched),
                    'is-valid': serviceAreas.valid && (serviceAreas.dirty || serviceAreas.touched)
                  }"
                >
                </p-multiSelect>
                <div *ngIf="serviceAreas.invalid && (serviceAreas.dirty || serviceAreas.touched)" class="invalid-feedback">
                  {{ 'PricePackageInvalidServiceAreasMsg' | localize }}
                </div>
              </div>

              <div *ngIf="pricePackageDto.type == pricePackageType.Dedicated" class="form-group col-md-6">
                <label>{{ l('ProjectName') }} </label>
                <input
                  [(ngModel)]="pricePackageDto.projectName"
                  minlength="3"
                  maxlength="150"
                  name="projectName"
                  type="text"
                  class="form-control"
                  #projectName="ngModel"
                  [ngClass]="{
                    'is-invalid': projectName.invalid && (projectName.dirty || projectName.touched),
                    'is-valid': projectName.valid && (projectName.dirty || projectName.touched)
                  }"
                />
                <div *ngIf="projectName.invalid && (projectName.dirty || projectName.touched)" class="invalid-feedback">
                  {{ 'PricePackageInvalidProjectNameMsg' | localize }}
                </div>
              </div>

              <div *ngIf="pricePackageDto.type == pricePackageType.Dedicated" class="form-group col-md-6">
                <label>{{ l('ScopeOfWork') }}</label>
                <input
                  [(ngModel)]="pricePackageDto.scopeOfWork"
                  minlength="3"
                  maxlength="300"
                  name="scopeOfWork"
                  type="text"
                  class="form-control"
                  #scopeOfWork="ngModel"
                  [ngClass]="{
                    'is-invalid': scopeOfWork.invalid && (scopeOfWork.dirty || scopeOfWork.touched),
                    'is-valid': scopeOfWork.valid && (scopeOfWork.dirty || scopeOfWork.touched)
                  }"
                />
                <div *ngIf="scopeOfWork.invalid && (scopeOfWork.dirty || scopeOfWork.touched)" class="invalid-feedback">
                  {{ 'PricePackageInvalidScopeOfWorkMsg' | localize }}
                </div>
              </div>

              <div *ngIf="companyType == companyTypeEnum.Shipper" class="form-group col-md-6">
                <label>{{ l('SelectCarriers') }} </label>
                <p-multiSelect
                  dropdownIcon="fa fa-caret-down"
                  name="carriers"
                  [options]="carriers"
                  [(ngModel)]="selectedCarriers"
                  [selectedItemsLabel]="'{0} items selected'"
                  (ngModelChange)="applyFilters()"
                  [style]="{ width: '100%' }"
                  styleClass="form-control pt-1"
                  [dataKey]="'id'"
                  optionLabel="displayName"
                >
                </p-multiSelect>
                <span class="form-text text-muted">{{ 'UseCarriersFilterMsg' | localize }}</span>
              </div>

              <div *ngIf="pricePackageDto.type == pricePackageType.PerTrip" class="form-group col-md-6">
                <label>{{ l('OriginCity') }} <span class="text-danger">*</span></label>
                <select
                  [(ngModel)]="pricePackageDto.originCityId"
                  (ngModelChange)="originCityChanged()"
                  required
                  [disabled]="!pricePackageDto.shippingTypeId"
                  class="form-control"
                  name="tmsPP_OriginCity"
                  #originCity="ngModel"
                  [ngClass]="{
                    'is-invalid': originCity.invalid && (originCity.dirty || originCity.touched),
                    'is-valid': originCity.valid && (originCity.dirty || originCity.touched)
                  }"
                >
                  <option selected disabled [value]="undefined">{{ 'SelectanOriginCity' | localize }}</option>
                  <option
                    [disabled]="pricePackageDto.shippingTypeId == 2 && pricePackageDto.destinationCityId == item.id"
                    *ngFor="let item of cities"
                    [value]="item.id"
                  >
                    {{ item.displayName }}
                  </option>
                </select>
                <div *ngIf="originCity.invalid && (originCity.dirty || originCity.touched)" class="invalid-feedback">
                  {{ 'PricePackageInvalidOriginCityMsg' | localize }}
                </div>
              </div>
              <div *ngIf="pricePackageDto.type == pricePackageType.PerTrip && pricePackageDto.shippingTypeId != 1" class="form-group col-md-6">
                <label>{{ l('DestinationCity') }} <span class="text-danger">*</span></label>
                <select
                  [(ngModel)]="pricePackageDto.destinationCityId"
                  (ngModelChange)="companyType == companyTypeEnum.Shipper ? applyFilters() : undefined"
                  [disabled]="!pricePackageDto.shippingTypeId"
                  required
                  class="form-control"
                  name="tmsPP_DestinationCity"
                  #destinationCity="ngModel"
                  [ngClass]="{
                    'is-invalid': destinationCity.invalid && (destinationCity.dirty || destinationCity.touched),
                    'is-valid': destinationCity.valid && (destinationCity.dirty || destinationCity.touched)
                  }"
                >
                  <option selected disabled [value]="undefined">{{ 'SelectaDestination' | localize }}</option>
                  <option
                    [disabled]="pricePackageDto.shippingTypeId == 2 && pricePackageDto.originCityId == item.id"
                    *ngFor="let item of cities"
                    [value]="item.id"
                  >
                    {{ item.displayName }}
                  </option>
                </select>
                <div *ngIf="destinationCity.invalid && (destinationCity.dirty || destinationCity.touched)" class="invalid-feedback">
                  {{ 'PricePackageInvalidDestinationCityMsg' | localize }}
                </div>
              </div>

              <div *ngIf="pricePackageDto.routeType == routeTypeEnum.MultipleDrops" class="form-group col-md-6">
                <label>{{ l('PricePerExtraDrop') }} <span class="text-danger">*</span></label>
                <input
                  [(ngModel)]="pricePackageDto.pricePerAdditionalDrop"
                  min="0"
                  required
                  (keypress)="numberOnly($event)"
                  name="pricePerAdditionalDrop"
                  type="number"
                  class="form-control"
                  #pricePerAdditionalDrop="ngModel"
                  [ngClass]="{
                    'is-invalid': pricePerAdditionalDrop.invalid && (pricePerAdditionalDrop.dirty || pricePerAdditionalDrop.touched),
                    'is-valid': pricePerAdditionalDrop.valid && (pricePerAdditionalDrop.dirty || pricePerAdditionalDrop.touched)
                  }"
                />
                <div
                  *ngIf="pricePerAdditionalDrop.invalid && (pricePerAdditionalDrop.dirty || pricePerAdditionalDrop.touched)"
                  class="invalid-feedback"
                >
                  {{ 'PricePackageInvalidPricePerAdditionalDropMsg' | localize }}
                </div>
              </div>
              <div *ngIf="companyType == companyTypeEnum.Carrier" class="form-group col-md-6">
                <label>{{ l('TachyonMSRequestPrice') }} <span class="text-danger">*</span></label>
                <input
                  [(ngModel)]="pricePackageDto.totalPrice"
                  min="0"
                  (keypress)="numberOnly($event)"
                  name="totalPrice"
                  type="number"
                  class="form-control"
                  required
                  #TachyonMSRequestPrice="ngModel"
                  [ngClass]="{
                    'is-invalid': TachyonMSRequestPrice.invalid && (TachyonMSRequestPrice.dirty || TachyonMSRequestPrice.touched),
                    'is-valid': TachyonMSRequestPrice.valid && (TachyonMSRequestPrice.dirty || TachyonMSRequestPrice.touched)
                  }"
                />
                <div *ngIf="TachyonMSRequestPrice.invalid && (TachyonMSRequestPrice.dirty || TachyonMSRequestPrice.touched)" class="invalid-feedback">
                  {{ 'PricePackageInvalidTachyonMSRequestPriceMsg' | localize }}
                </div>
              </div>

              <div *ngIf="companyType == companyTypeEnum.Carrier" class="form-group col-md-6">
                <label>{{ l('DirectRequestPrice') }} <span class="text-danger">*</span></label>
                <input
                  [(ngModel)]="pricePackageDto.directRequestPrice"
                  min="0"
                  (keypress)="numberOnly($event)"
                  name="directRequestPrice"
                  type="number"
                  class="form-control"
                  required
                  #directRequestPrice="ngModel"
                  [ngClass]="{
                    'is-invalid': directRequestPrice.invalid && (directRequestPrice.dirty || directRequestPrice.touched),
                    'is-valid': directRequestPrice.valid && (directRequestPrice.dirty || directRequestPrice.touched)
                  }"
                />
                <div *ngIf="directRequestPrice.invalid && (directRequestPrice.dirty || directRequestPrice.touched)" class="invalid-feedback">
                  {{ 'PricePackageInvalidDirectRequestPriceMsg' | localize }}
                </div>
              </div>
            </div>

            <div *ngIf="companyType == companyTypeEnum.Shipper">
              <h3>{{ l('SelectTheMatchingPricePackages') }}</h3>
              <!-- devExtream Table  -->
              <div [class]="'row'">
                <div class="card card-custom gutter-b">
                  <div class="card-body">
                    <div class="row align-items-center">
                      <dx-data-grid
                        #grid
                        id="dataGrid"
                        [dataSource]="dataSource"
                        (onSelectionChanged)="calculatePriceForSelection()"
                        [(selectedRowKeys)]="selectedRows"
                        [remoteOperations]="{ groupPaging: false, sorting: true, filtering: true }"
                        [showColumnLines]="true"
                        [showRowLines]="false"
                        [showBorders]="false"
                        [rowAlternationEnabled]="true"
                        keyExpr="id"
                        [wordWrapEnabled]="true"
                      >
                        <dxo-selection [showCheckBoxesMode]="'always'" mode="multiple"></dxo-selection>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                        <dxo-search-panel [visible]="true" placeholder="{{ 'Search' | localize }}..."></dxo-search-panel>
                        <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                        <dxo-filter-builder-popup></dxo-filter-builder-popup>
                        <dxo-scrolling mode="virtual"></dxo-scrolling>
                        <!--                    <dxo-group-panel [visible]="true" emptyPanelText="{{ l('DragAColumnHeaderHereToGroupByThatColumn') }}"></dxo-group-panel>-->
                        <!--                    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>-->
                        <!--                    <dxo-remote-operations [groupPaging]="true" [sorting]="true" [filtering]="true"> </dxo-remote-operations>-->
                        <dxi-column dataField="displayName" caption="{{ l('PricePackageName') }}"></dxi-column>
                        <dxi-column dataField="company" caption="{{ l('Carrier') }} "></dxi-column>
                        <dxi-column dataField="truckType" caption="{{ l('TruckType') }}" [groupIndex]="0"></dxi-column>
                        <dxi-column dataField="totalPrice" caption="{{ l('TachyonMSRequestPrice') }}"></dxi-column>
                        <dxi-column dataField="isMultiDrop" cellTemplate="cellTemplate_RoutType" caption="{{ l('RouteType') }}"></dxi-column>
                        <dxi-column dataField="originCity" caption="{{ l('Origin') }}"></dxi-column>
                        <dxi-column dataField="destinationCity" caption="{{ l('Destination') }}"></dxi-column>

                        <div *dxTemplate="let options of 'cellTemplate_RoutType'">
                          <span *ngIf="options.data.isMultiDrop">{{ 'MultipleDrops' | localize }}</span>
                          <span *ngIf="!options.data.isMultiDrop">{{ 'SingleDrop' | localize }}</span>
                        </div>
                      </dx-data-grid>
                    </div>
                  </div>
                </div>
              </div>

              <!-- end::DevExtream Table -->

              <div class="row">
                <div class="form-group col-md-6">
                  <label>{{ l('PricingMethod') }} <span class="text-danger">*</span></label>
                  <select [(ngModel)]="pricingMethod" (ngModelChange)="updatePricingMethod()" required class="form-control" name="pricingMethod">
                    <option *ngFor="let item of pricingMethods" [value]="item.key">{{ item.value }}</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label>{{ calculatedPriceTitle }} <span class="text-danger">*</span></label>
                  <input
                    [(ngModel)]="calculatedPrice"
                    (keypress)="numberOnly($event)"
                    name="calculatedPrice"
                    type="number"
                    class="form-control"
                    [disabled]="pricingMethod != pricingMethodEnum.FinalPrice"
                  />
                </div>
              </div>

              <div class="row" *ngIf="pricingMethod != pricingMethodEnum.FinalPrice">
                <div class="form-group col-md-6">
                  <label>{{ l('CommissionType') }} <span class="text-danger">*</span></label>
                  <select
                    [(ngModel)]="commissionType"
                    (ngModelChange)="calculateTotalCommissionAndTotalPrice()"
                    required
                    class="form-control"
                    name="commissionType"
                  >
                    <option selected disabled [value]="undefined">{{ 'SelectCommissionType' | localize }}</option>
                    <option *ngFor="let item of commissionTypes" [value]="item.key">{{ item.value }}</option>
                  </select>
                </div>
                <div class="form-group col-md-6">
                  <label>{{ l('CommissionAmount') }} <span class="text-danger">*</span></label>
                  <input
                    [(ngModel)]="commissionAmount"
                    min="0"
                    [disabled]="!commissionType"
                    (change)="calculateTotalCommissionAndTotalPrice()"
                    (keypress)="numberOnly($event)"
                    name="commissionAmount"
                    type="number"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="row" *ngIf="pricingMethod != pricingMethodEnum.FinalPrice">
                <div class="form-group col-md-6">
                  <label>{{ l('TotalCommission') }} <span class="text-danger">*</span></label>
                  <input [(ngModel)]="totalCommission" disabled name="totalCommission" type="number" class="form-control" />
                </div>
                <div class="form-group col-md-6">
                  <label>{{ l('TotalPrice') }} </label>
                  <input [(ngModel)]="totalPrice" disabled name="tmsPP_TotalPrice" type="number" class="form-control" />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" [buttonBusy]="isFormSaving" [disabled]="PPForm.invalid" class="btn btn-primary">
            {{ 'Save' | localize }}
          </button>
          <button type="button" class="btn btn-light" (click)="close()">{{ 'Close' | localize }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
