<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #trucksTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="trucksType.id">{{ l('Edit') }} {{ l('TrucksType') }}</span>
            <span *ngIf="!trucksType.id">{{ l('Create') }} {{ l('NewTrucksType') }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group m-form__group">
            <label for="transportTypeDisplayName">{{ l('TransportType') }}<span class="required-fileds"> *</span></label>
            <select
              id="transportTypeDisplayName"
              name="transportType.transportTypeId"
              [(ngModel)]="trucksType.transportTypeId"
              class="form-control form-control-lg custom-select mr-sm-2"
            >
              <option [ngValue]="null">{{ l('SelectATransportType') }}</option>
              <option *ngFor="let item of allTransportTypes" value="{{ item.id }}">{{ item.displayName }}</option>
            </select>
            <span class="form-text text-muted">{{ l('Choose') }} {{ 'TransportType' | localize }}</span>
          </div>
          <div class="form-group">
            <label for="TrucksType_DisplayName">{{ l('TrucksType') }} <span class="required-fileds"> *</span></label>
            <input
              type="text"
              id="TrucksType_DisplayName"
              class="form-control"
              [(ngModel)]="trucksType.displayName"
              name="DisplayName"
              minlength="0"
              maxlength="256"
              required
            />
            <span class="form-text text-muted">{{ l('Enter') }} {{ 'TruckType' | localize }}</span>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
          <button
            type="submit"
            class="btn btn-save blue"
            [disabled]="!trucksTypeForm.form.valid || trucksType.transportTypeId == null"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
