<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'TrucksTypes' | localize"> </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <div class="row align-items-center">
            <dx-data-grid
              #grid
              id="dataGrid"
              [dataSource]="dataSource"
              [remoteOperations]="true"
              [showColumnLines]="true"
              [showRowLines]="false"
              [showBorders]="true"
              [rowAlternationEnabled]="true"
              keyExpr="id"
              (onRowUpdating)="updateRow($event)"
            >
              <dxo-editing mode="inline" [allowUpdating]="true" [allowAdding]="true"> </dxo-editing>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-search-panel [visible]="true"></dxo-search-panel>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-filter-builder-popup></dxo-filter-builder-popup>
              <dxo-master-detail [enabled]="true" template="translations"></dxo-master-detail>
              <div *dxTemplate="let options of 'translations'">
                <trucksType-translationsTemplate [CoreId]="options.data.id"></trucksType-translationsTemplate>
              </div>
              <dxo-remote-operations></dxo-remote-operations>
              <dxo-paging [pageSize]="10"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true"></dxo-pager>
              <dxi-column dataField="displayName" caption="{{ l('truckType') }}">
                <dxi-validation-rule type="required"></dxi-validation-rule
              ></dxi-column>

              <dxi-column dataField="transportTypeId" caption="{{ l('transportType') }}">
                <dxo-lookup [dataSource]="transportTypes" displayExpr="displayName" valueExpr="id"> </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="isActive" caption="{{ l('IsActive') }}"></dxi-column>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
