<div>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'PricePackages' | localize">
      <div role="actions">
        <button (click)="CreateOrEditPricePackageModal.show()" class="btn btn-primary">
          <i class="fa fa-plus"></i> {{ l('CreateNormalPricePackage') }}
        </button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <div class="row align-items-center">
            <dx-data-grid
              class="col-12 padding-left-0 padding-right-0"
              style="height: 45vw"
              id="dataGrid"
              [dataSource]="dataSource"
              [remoteOperations]="{ sorting: true, paging: true, filtering: true }"
              [showColumnLines]="true"
              [showRowLines]="false"
              [showBorders]="true"
              [rowAlternationEnabled]="true"
              [allowColumnResizing]="true"
              [allowColumnReordering]="true"
              [columnAutoWidth]="true"
              [columnWidth]="100"
              keyExpr="id"
              (onExporting)="onExporting($event)"
            >
              <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
              <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-search-panel [visible]="true" placeholder="{{ 'Search' | localize }}..."></dxo-search-panel>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-scrolling mode="virtual" columnRenderingMode="virtual"></dxo-scrolling>
              <dxo-group-panel [visible]="true" emptyPanelText="{{ l('DragAColumnHeaderHereToGroupByThatColumn') }}"></dxo-group-panel>
              <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>

              <dxo-filter-builder-popup></dxo-filter-builder-popup>
              <dxo-remote-operations [sorting]="true" [paging]="true" [filtering]="true"></dxo-remote-operations>
              <dxo-export *ngIf="isEnabled('App.ExportFunctionality')" [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
              <dxi-column
                cellTemplate="cellTemplateActions"
                [fixed]="true"
                [allowFiltering]="false"
                [allowSorting]="false"
                [allowEditing]="false"
                [allowExporting]="false"
                [editorOptions]="{ visible: false }"
                [width]="50"
              ></dxi-column>

              <dxi-column dataField="pricePackageReference" [width]="220" caption="{{ l('PricePackageReference') }}"></dxi-column>
              <dxi-column dataField="displayName" [width]="220" caption="{{ l('DisplayName') }}"></dxi-column>
              <dxi-column dataField="transportTypeId" [width]="110" caption="{{ l('TransportType') }}">
                <dxo-lookup [dataSource]="AllTransType" displayExpr="displayName" valueExpr="id"> </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="truckTypeId" caption="{{ l('TruckType') }}">
                <dxo-lookup [dataSource]="AllTruckTypes" displayExpr="displayName" valueExpr="id"> </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="originCityId" [width]="110" caption="{{ l('OriginCity') }}">
                <dxo-lookup [dataSource]="Allcities" displayExpr="displayName" valueExpr="id"> </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="destinationCityId" [width]="110" caption="{{ l('DestinationCity') }}">
                <dxo-lookup [dataSource]="Allcities" displayExpr="displayName" valueExpr="id"> </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="actorShipperId" [width]="110" caption="{{ l('ActorShipper') }}">
                <dxo-lookup [dataSource]="AllActores" displayExpr="displayName" valueExpr="id"> </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="goodCategoryId" [width]="110" caption="{{ l('GoodCategory') }}">
                <dxo-lookup [dataSource]="allGoodCategorys" displayExpr="displayName" valueExpr="id"> </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="shippingTypeId" [width]="110" caption="{{ l('ShippingType') }}">
                <dxo-lookup [dataSource]="allShippingTypes" displayExpr="displayName" valueExpr="id"> </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="actorShipperPrice" [width]="110" caption="{{ l('ActorShipperPrice') }}"></dxi-column>

              <dxo-summary>
                <dxi-group-item column="id" summaryType="count"></dxi-group-item>
              </dxo-summary>

              <div *dxTemplate="let options of 'cellTemplateActions'">
                <div class="btn-group dropdown" dropdown container="body">
                  <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" dropdownToggle>
                    <span class="svg-icon svg-icon-md">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"></rect>
                          <path
                            d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z"
                            fill="#000000"
                          ></path>
                        </g>
                      </svg>
                    </span>
                  </a>

                  <ul class="dropdown-menu" *dropdownMenu>
                    <li>
                      <a class="dropdown-item" (click)="CreateOrEditPricePackageModal.show(options.data.id)">{{ l('Edit') }}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="delete(options.data.id)">{{ l('Delete') }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </dx-data-grid>

            <div class="options mt-3">
              <div class="caption">Options</div>
              <div class="option">
                <dx-check-box id="autoExpand" [(value)]="expand.autoExpandAll" text="Expand All Groups"></dx-check-box>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-create-or-edit-saas-price-package-modal
  #CreateOrEditPricePackageModal
  (modalSave)="getAllPricePackages()"
></app-create-or-edit-saas-price-package-modal>
