<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #documentTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="documentType.id"> {{ l('Edit') }} {{ l('DocumentType') }}</span>
            <span *ngIf="!documentType.id"> {{ l('Create') }} {{ l('NewDocumentType') }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="dx-fieldset">
            <div class="dx-fieldset-header">Credentials</div>
            <div class="dx-field">
              <div class="dx-field-label">{{ l('Name') }}</div>
              <div class="dx-field-value">
                <dx-text-box [(value)]="documentType.displayName">
                  <dx-validator>
                    <dxi-validation-rule type="required" message="Name is required"></dxi-validation-rule>
                    <dxi-validation-rule type="stringLength" [min]="2" message="Name must have at least 2 symbols"> </dxi-validation-rule>
                    <dxi-validation-rule type="stringLength" [max]="256"> </dxi-validation-rule>
                  </dx-validator>
                </dx-text-box>
                <span class="text-muted">{{ 'PleaseEnterDocumentType' | localize }}</span>
              </div>
            </div>
            <div class="dx-field">
              <div class="dx-field-label">{{ l('Entity') }}</div>
              <div class="dx-field-value">
                <dx-select-box
                  [(value)]="documentType.documentsEntityId"
                  [dataSource]="allDocumentsEntities"
                  displayExpr="displayName"
                  valueExpr="id"
                >
                  <dx-validator>
                    <dxi-validation-rule type="required" message="documentsEntity is required"></dxi-validation-rule>
                  </dx-validator>
                </dx-select-box>
              </div>
            </div>
            <div class="dx-field" *ngIf="documentType.documentsEntityId == 1">
              <div class="dx-field-label">{{ l('edition') }}</div>
              <div class="dx-field-value">
                <dx-select-box
                  [(value)]="documentType.editionId"
                  [dataSource]="editions"
                  displayExpr="displayName"
                  valueExpr="id"
                  placeholder="{{ l('Select') }}"
                  (onValueChanged)="editionOnValueChanged($event)"
                >
                </dx-select-box>
              </div>
            </div>

            <div *ngIf="documentType.documentsEntityId == 1" class="dx-field">
              <div class="dx-field-label">{{ l('tenant') }}</div>
              <div class="dx-field-value">
                <dx-select-box
                  [(value)]="documentType.documentRelatedWithId"
                  [dataSource]="Tenants"
                  displayExpr="displayName"
                  valueExpr="id"
                  placeholder="{{ l('Select') }}"
                  [searchEnabled]="true"
                  searchMode="contains"
                  searchExpr="displayName"
                >
                </dx-select-box>
                <span class="text-muted">{{ 'Select edition to show tenants ' | localize }}</span>
              </div>
            </div>

            <div class="dx-field">
              <div class="dx-field-label">{{ l('specialConstant') }}</div>
              <div class="dx-field-value">
                <dx-text-box [(value)]="documentType.specialConstant"> </dx-text-box>
              </div>
            </div>
            <div class="dx-field">
              <dx-check-box [(value)]="documentType.isRequired" text="{{ l('isRequired') }}"> </dx-check-box>
            </div>
            <div class="dx-field">
              <dx-check-box [(value)]="documentType.hasNotes" text="{{ l('hasNotes') }}"> </dx-check-box>
            </div>
          </div>
          <div class="dx-fieldset">
            <div class="dx-fieldset-header">DocumentTemplate</div>
            <div class="dx-field">
              <div class="dx-field-label">{{ l('DocumentTemplate') }}</div>
              <div class="dx-field-value">
                <dx-file-uploader
                  #fileUploader
                  [uploadUrl]="uploadUrl"
                  [multiple]="false"
                  accept="image/jpeg,application/pdf"
                  [(value)]="value"
                  uploadMode="instantly"
                  [uploadHeaders]="{
                    authorization: authorizationToken
                  }"
                  [uploadCustomData]="{
                    FileToken: guid(),
                    FileType: 'templateExt',
                    FileName: 'templateName'
                  }"
                  (onUploaded)="onUploaded($event)"
                  [uploadedMessage]="l('uploading is finished')"
                  [uploadFailedMessage]="l('uploading failure !')"
                ></dx-file-uploader>
                <div *ngIf="documentType?.templateName">
                  <div class="d-flex align-items-center flex-wrap mb-8">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-50 symbol-light mr-3 ml-3">
                      <span class="symbol-label">
                        <i class="{{ getFileExtension(documentType?.templateName) }} fa-2x" style="color: #5cb85c" aria-hidden="true"></i>
                      </span>
                    </div>
                    <!--end::Symbol-->
                    <!--begin::Text-->
                    <div class="d-flex flex-column flex-grow-1 mr-2">
                      <a href="#" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1"> {{ documentType?.templateName }}</a>
                      <span class="text-muted font-weight-bold">{{ documentType?.templateContentType }}</span>
                    </div>
                    <!--end::Text-->

                    <a (click)="DeleteTemplate()" class="btn btn-sm btn-icon btn-bg-light btn-icon-danger btn-hover-danger">
                      <i class="flaticon2-delete"></i>
                    </a>
                    <a
                      *ngIf="documentType?.templateId"
                      (click)="downloadTemplate(documentType?.id)"
                      class="btn btn-sm btn-icon btn-bg-light btn-icon-primary btn-hover-primary"
                    >
                      <i class="flaticon2-download"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="dx-fieldset">
            <div class="dx-fieldset-header">{{ l('documentNumber') }}</div>
            <div class="dx-field">
              <dx-check-box [(value)]="documentType.hasNumber" text="{{ l('hasNumber') }}"> </dx-check-box>
            </div>
            <div class="dx-field" *ngIf="documentType.hasNumber">
              <dx-check-box [(value)]="documentType.isNumberUnique" text="{{ l('isNumberUnique') }}"> </dx-check-box>
            </div>

            <div class="dx-field" *ngIf="documentType.hasNumber">
              <div class="dx-field-label">{{ l('numberMinDigits') }}</div>
              <div class="dx-field-value">
                <dx-number-box
                  [(value)]="documentType.numberMinDigits"
                  [min]="1"
                  [max]="documentType.numberMaxDigits"
                  [showSpinButtons]="true"
                ></dx-number-box>
                <span class="text-muted">{{ 'NumberMinDigits' | localize }}</span>
              </div>
            </div>

            <div class="dx-field" *ngIf="documentType.hasNumber">
              <div class="dx-field-label">{{ l('numberMaxDigits') }}</div>
              <div class="dx-field-value">
                <dx-number-box
                  [(value)]="documentType.numberMaxDigits"
                  [min]="documentType.numberMinDigits"
                  max="100"
                  [showSpinButtons]="true"
                ></dx-number-box>
                <span class="text-muted">{{ 'NumberMaxDigits' | localize }}</span>
              </div>
            </div>
          </div>
          <div class="dx-fieldset">
            <div class="dx-fieldset-header">{{ l('expirationDate') }}</div>
            <div class="dx-field">
              <dx-check-box [(value)]="documentType.hasExpirationDate" text="{{ l('hasExpirationDate') }}"> </dx-check-box>
            </div>
            <div *ngIf="documentType.hasExpirationDate" class="dx-field">
              <div class="dx-field-label">{{ l('expirationAlertDays') }}</div>
              <div class="dx-field-value">
                <dx-number-box [(value)]="documentType.expirationAlertDays" [min]="0" [showSpinButtons]="true">
                  <dx-validator>
                    <dxi-validation-rule type="required" message="{{ l('expirationAlertDays is required') }}"></dxi-validation-rule>
                  </dx-validator>
                </dx-number-box>
                <span class="text-muted">{{ 'AlertDaysBeforExpiration' | localize }}:</span>
              </div>
            </div>
            <div class="dx-field" *ngIf="documentType.hasExpirationDate">
              <dx-check-box [(value)]="documentType.hasHijriExpirationDate" text="{{ l('hasHijriExpirationDate') }}"> </dx-check-box>
            </div>
            <div class="dx-field" *ngIf="documentType.hasExpirationDate">
              <dx-check-box [(value)]="documentType.inActiveAccountExpired" text="{{ l('inActiveAccountExpired') }}"> </dx-check-box>
            </div>
            <div class="dx-field" *ngIf="documentType.hasExpirationDate && documentType.inActiveAccountExpired">
              <div class="dx-field-label">{{ l('inActiveToleranceDays') }}</div>
              <div class="dx-field-value">
                <dx-number-box [(value)]="documentType.inActiveToleranceDays" [min]="0" [showSpinButtons]="true"></dx-number-box>
                <span class="text-muted">{{ 'ToleranceDaysBeforeDeactivateAfterExpiration' | localize }}:</span>
              </div>
            </div>
          </div>
          <div class="dx-fieldset">
            <dx-validation-summary id="summary"></dx-validation-summary>
          </div>
        </div>

        <div class="modal-footer">
          <dx-load-panel [closeOnOutsideClick]="true" [(visible)]="saving" [showIndicator]="false"> </dx-load-panel>
          <!--          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>-->
          <dx-button id="button" text="{{ l('Save') }}" type="success" [useSubmitBehavior]="true"> </dx-button>
          <dx-button id="buttonBack" text="{{ l('Cancel') }}" (click)="close()"> </dx-button>
        </div>
      </form>
    </div>
  </div>
</div>
