<div
  bsModal
  #modal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span> {{ l('ViewOffer') }}</span>
        </h4>
        <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form class="contentSetPrice">
          <!--          <ng-template [ngIf]="!feature.isEnabled('App.Carrier')">-->
          <!--            <div class="infoBasic">-->
          <!--              <a href="javascript:void(0)" class="companyName"> {{ offer.editionId!=4 ? offer.name:l('TachyonManageService')}} </a>-->
          <!--            </div>-->
          <!--       -->
          <!--          </ng-template>-->
          <ng-template [ngIf]="offer.status==2 || offer.status==5">
            <div class="infoBasic alert alert-warning">
              <div class="alert alert-warning" role="alert">{{offer.rejectedReason}}</div>
            </div>
            <div class="divirCard"></div>
          </ng-template>

          <div>
            <table class="table">
              <thead>
                <tr class="table-active">
                  <th>{{l('Price')}}</th>
                  <th *ngIf="feature.isEnabled('App.TachyonDealer') || !appSession.tenantId">{{l('CommissionType')}}</th>
                  <th>{{l('NoOfTrips')}}</th>
                  <th>{{l('Total')}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <price-sar [value]="offer.itemPrice"></price-sar>
                  </td>
                  <td *ngIf="feature.isEnabled('App.TachyonDealer') || !appSession.tenantId">{{l(offer.commissionTypeTitle)}}</td>
                  <td>{{offer.quantity}}</td>
                  <td>
                    <price-sar [value]="(offer.itemPrice * offer.quantity)"></price-sar>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="Items.length">
            <table class="table">
              <thead>
                <tr class="table-active">
                  <th>{{l('Name')}}</th>
                  <th>{{l('Price')}}</th>
                  <th>{{l('Qty')}}</th>
                  <th>{{l('Total')}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of Items; let i = index">
                  <td>{{item.itemName}}</td>
                  <td>
                    <price-sar [value]="item.itemPrice"></price-sar>
                  </td>
                  <td>
                    <price-sar [value]="item.quantity"></price-sar>
                  </td>

                  <td>
                    <price-sar [value]="(item.itemPrice * item.quantity)"></price-sar>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div>
            <table class="table">
              <thead>
                <tr class="table-active">
                  <th scope="col">{{l('SubTotalAmount')}}</th>
                  <th scope="col">{{l('VatAmount')}}</th>
                  <th scope="col">{{l('TotalAmount')}}</th>
                  <th *ngIf="feature.isEnabled('App.TachyonDealer') || !appSession.tenantId" scope="col">{{l('Commission')}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <price-sar [value]="offer.subTotalAmount"></price-sar>
                  </td>

                  <td>
                    <price-sar [value]="offer.vatAmount"></price-sar>
                  </td>

                  <td>
                    <price-sar [value]="offer.totalAmount"></price-sar>
                  </td>

                  <td *ngIf="feature.isEnabled('App.TachyonDealer') || !appSession.tenantId">
                    <price-sar [value]="offer.commissionAmount"></price-sar>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-primary" (click)="ModelPrice.show(input.shippingRequestId ,offer.id);close()" *ngIf="canEditOffer()">
          <i class="fas fa-pen"></i>
          {{offer.status==2? l('RePricing'):l('Edit')}}
        </button>
        <button (click)="delete()" class="btn btn-danger" *ngIf="canDeleteOffer()">
          <i class="far fa-trash-alt"></i>
          {{l('Delete')}}
        </button>
        <button class="btn btn-warning" (click)="ModelReject.show(offer.id)" *ngIf="canAcceptOrRejectOffer()">
          <i class="fas fa-ban"></i>
          {{l('RejectOffer')}}
        </button>
        <button class="btn btn-success" (click)="acceptoffer()" *ngIf="canAcceptOrRejectOffer()">
          <i class="fas fa-check"></i>
          {{l('AcceptPrice')}}
        </button>

        <button class="btn btn-primary" (click)="ModelPrice.show(input.shippingRequestId ,offer.id);close()" *ngIf="canSendOfferOrCancel()">
          <i class="fas fa-check"></i>
          {{l('SendOffer')}}
        </button>
        <button class="btn btn-warning" (click)="CancelAccepted()" *ngIf="canSendOfferOrCancel()">
          <i class="fas fa-check"></i>
          {{l('Cancel')}}
        </button>
      </div>
    </div>
  </div>
</div>
<price-offer-model #ModelPrice [Channel]="Channel"></price-offer-model>
<price-offer-reject-model #ModelReject (modalsave)="reject($event)"></price-offer-reject-model>
