<div
  bsModal
  #modal="bs-modal"
  class="modal fade modalSetPrice tachyonDialer {{ direction == 'rtl' ? ' rtl' : '' }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close closeModal" data-dismiss="modal" (click)="close()" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
        <form class="contentSetPrice">
          <ng-template [ngIf]="!feature.isEnabled('App.Carrier')">
            <div class="infoBasic">
              <a href="javascript:void(0)" class="companyName"> {{ offer.editionId!=4 ? offer.name:l('TachyonManageService')}} </a>
            </div>
            <div class="divirCard"></div>
          </ng-template>
          <ng-template [ngIf]="offer.status==2 || offer.status==5">
            <div class="infoBasic alert alert-warning">
              <div class="alert alert-warning" role="alert">{{offer.rejectedReason}}</div>
            </div>
            <div class="divirCard"></div>
          </ng-template>

          <div class="table-sendOffer">
            <span class="titleSendOffer">
              <a href="javascript:void(0)" class="edit" (click)="ModelPrice.show(input.shippingRequestId ,offer.id);close()" *ngIf="canEditOffer()">
                <i class="fas fa-pen"></i>
                {{offer.status==2? l('RePricing'):l('Edit')}}
              </a>
              <a href="javascript:void(0)" (click)="delete()" class="delete" *ngIf="canDeleteOffer()">
                <i class="far fa-trash-alt"></i>
                {{l('Delete')}}
              </a>
              <a href="javascript:void(0)" class="reject" (click)="ModelReject.show(offer.id,isPostPriceOffer)" *ngIf="canAcceptOrRejectOffer()">
                <i class="fas fa-ban"></i>
                {{l('RejectOffer')}}
              </a>
              <a href="javascript:void(0)" class="accept" (click)="acceptoffer()" *ngIf="canAcceptOrRejectOffer()">
                <i class="fas fa-check"></i>
                {{l('AcceptPrice')}}
              </a>

              <a
                href="javascript:void(0)"
                class="accept"
                (click)="ModelPrice.show(input.shippingRequestId ,offer.id);close()"
                *ngIf="canSendOfferOrCancel()"
              >
                <i class="fas fa-check"></i>
                {{l('SendOffer')}}
              </a>
              <a href="javascript:void(0)" class="acceptTMS" (click)="accepTMStoffer()" *ngIf="canAcceptOrRejectOffer()">
                <i class="fas fa-check"></i>
                {{l('AcceptOfferOnBehalfShipper')}}
              </a>

              <a href="javascript:void(0)" class="delete" (click)="CancelAccepted()" *ngIf="canSendOfferOrCancel()">
                <i class="fas fa-check"></i>
                {{l('Cancel')}}
              </a>
            </span>
            <table>
              <thead>
                <tr>
                  <th>{{l('Price')}}</th>
                  <th *ngIf="feature.isEnabled('App.TachyonDealer') || !appSession.tenantId">{{l('CommissionType')}}</th>
                  <th>{{l('NoOfTrips')}}</th>
                  <th>{{l('Total')}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{offer.itemPrice}}</td>
                  <td *ngIf="feature.isEnabled('App.TachyonDealer') || !appSession.tenantId">{{l(offer.commissionTypeTitle)}}</td>
                  <td>{{offer.quantity}}</td>
                  <td>
                    <span>{{(offer.itemPrice * offer.quantity) | number}}</span>
                    <span>{{l('SAR')}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="divirCard"></div>
          <div class="table-vas" *ngIf="Items.length">
            <table>
              <thead>
                <tr>
                  <th>{{l('Name')}}</th>
                  <th>{{l('Price')}}</th>
                  <th>{{l('Qty')}}</th>
                  <th>{{l('Total')}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of Items; let i = index">
                  <td>{{item.itemName}}</td>
                  <td>{{item.itemPrice}}</td>
                  <td>{{item.quantity}}</td>
                  <td>
                    <span>{{(item.itemPrice * item.quantity) | number}}</span>
                    <span>{{l('SAR')}}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="divirCard"></div>
          <div class="resultPrice">
            <div>
              <p>{{l('SubTotalAmount')}}</p>
              <p>
                <span>{{offer.subTotalAmount | number}}</span>
                <span>{{l('SAR')}}</span>
              </p>
            </div>
            <div>
              <p>{{l('VatAmount')}}</p>
              <p>
                <span>{{offer.vatAmount | number}}</span>
                <span>{{l('SAR')}}</span>
              </p>
            </div>
            <div>
              <p>{{l('TotalAmount')}}</p>
              <p>
                <span>{{offer.totalAmount | number}}</span>
                <span>{{l('SAR')}}</span>
              </p>
            </div>
            <div *ngIf="feature.isEnabled('App.TachyonDealer') || !appSession.tenantId">
              <p>{{l('Commission')}}</p>
              <p>
                <span>{{offer.commissionAmount | number}}</span>
                <span>{{l('SAR')}}</span>
              </p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<price-offer-model #ModelPrice [Channel]="Channel"></price-offer-model>
<price-offer-reject-model #ModelReject (modalsave)="reject($event)" (postPriceOfferReject)="postPriceOfferReject($event)"></price-offer-reject-model>
