<div class="card card-custom gutter-b" id="directRequests">
  <div class="card-header" *ngIf="feature.isEnabled('App.TachyonDealer')">
    <h3 class="card-title">
      {{ l('DirectShippingRequests') }}
    </h3>
    <div class="card-toolbar">
      <button class="btn btn-danger" (click)="sendDirectRequestsModal.show()">
        <i class="flaticon2-paper-plane"></i> {{ l('sendDirectRequests') }}
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="row align-items-center">
      <!--<Primeng-TurboTable-Start>-->
      <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
        <p-table
          #dataTableForCarrier
          sortMode="multiple"
          (onLazyLoad)="getDirectRequests($event)"
          [value]="primengTableHelper.records"
          rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
          [paginator]="false"
          [lazy]="true"
          [scrollable]="true"
          ScrollWidth="100%"
          [responsive]="primengTableHelper.isResponsive"
          [resizableColumns]="primengTableHelper.resizableColumns"
        >
          <ng-template pTemplate="header">
            <tr>
              <!-- <th style="width: 80px;">
                {{ 'id' | localize }}
              </th> -->
              <th style="width: 150px;" pSortableColumn="shipperName" *ngIf="feature.isEnabled('App.Carrier')">
                {{ 'ShipperName' | localize }}
                <p-sortIcon field="shipperName"></p-sortIcon>
              </th>
              <th style="width: 150px;" pSortableColumn="carrierName" *ngIf="feature.isEnabled('App.TachyonDealer')">
                {{ 'CarrierName' | localize }}
                <p-sortIcon field="carrierName"></p-sortIcon>
              </th>
              <th style="width: 150px;" pSortableColumn="price">
                {{ 'Price' | localize }}
                <p-sortIcon field="price"></p-sortIcon>
              </th>
              <th style="width: 100px;" pSortableColumn="statusTitle">
                {{ 'Status' | localize }}
                <p-sortIcon field="statusTitle"></p-sortIcon>
              </th>
              <th style="width: 160px;" pSortableColumn="requestId" *ngIf="feature.isEnabled('App.Carrier')">
                {{ 'ShippingRequest' | localize }}
                <p-sortIcon field="requestId"></p-sortIcon>
              </th>
              <th style="width: 150px;">
                {{ 'Actions' | localize }}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-record="$implicit">
            <tr>
              <!-- <td style="width: 80px;">
                <span class="ui-column-title"> {{ 'id' | localize }}</span>
                <span>
                  {{ record.id }}
                </span>
              </td> -->
              <td style="width: 150px;" *ngIf="feature.isEnabled('App.Carrier')">
                <span class="ui-column-title"> {{ 'ShipperName' | localize }}</span>
                <span>
                  {{ record.shipperName }}
                </span>
              </td>
              <td style="width: 150px;" *ngIf="feature.isEnabled('App.TachyonDealer')">
                <span class="ui-column-title"> {{ 'CarrierName' | localize }}</span>
                <span>
                  <a class="text-hover-primary" (click)="openCarrierProfile()">{{ record.carrierName }}</a>
                </span>
              </td>
              <td style="width: 150px;">
                <span class="ui-column-title"> {{ 'Price' | localize }}</span>
                <span>
                  {{ record.price }}
                </span>
              </td>
              <td style="width: 100px;">
                <span class="ui-column-title"> {{ 'StatusTitle' | localize }}</span>
                <span>
                  {{ record.statusTitle }}
                </span>
              </td>
              <td style="width: 160px;" *ngIf="feature.isEnabled('App.Carrier')">
                <span class="ui-column-title"> {{ 'RequestId' | localize }}</span>
                <span>
                  <button class="btn btn-danger btn-sm" (click)="openViewShippingRequestInNewWindow(record.requestId)">
                    <i class="flaticon-interface-9"></i> {{ l('ViewShippingRequest') }}
                  </button>
                </span>
              </td>
              <td style="width: 150px;">
                <div
                  class="btn-group dropdown"
                  dropdown
                  container="body"
                  *ngIf="(feature.isEnabled('App.Carrier') && record.status === 0) || (feature.isEnabled('App.TachyonDealer') && record.status != 0)"
                >
                  <div class="row ml-1">
                    <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                      <i class="fa fa-cog"></i><span class="caret"></span> {{ l('Actions') }}
                    </button>
                  </div>
                  <ul class="dropdown-menu" *dropdownMenu>
                    <li *ngIf="feature.isEnabled('App.Carrier') && record.status === 0">
                      <a class="dropdown-item" (click)="carrierResponceModal.show(record.id)">{{ l('Response') }}</a>
                    </li>
                    <li *ngIf="feature.isEnabled('App.TachyonDealer')">
                      <a class="dropdown-item" (click)="tachyonDealerResponceModel.show(undefined, record.id, record.requestId)">{{ l('Accept') }}</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
          {{ 'NoData' | localize }}
        </div>
        <div class="primeng-paging-container">
          <p-paginator
            [rows]="primengTableHelper.defaultRecordsCountPerPage"
            #paginatorForCarrier
            (onPageChange)="getDirectRequests($event)"
            [totalRecords]="primengTableHelper.totalRecordsCount"
            [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
          >
          </p-paginator>
          <span class="total-records-count">
            {{ 'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount }}
          </span>
        </div>
      </div>
      <!--<Primeng-TurboTable-End>-->
    </div>
  </div>
</div>
<carrierResponceModal #carrierResponceModal (modalsave)="reloadPage()"></carrierResponceModal>
<tachyonDealerResponceModel #tachyonDealerResponceModel (modalsave)="reloadPage()"></tachyonDealerResponceModel>
<ng-template [ngIf]="feature.isEnabled('App.TachyonDealer')">
  <sendDirectRequestsModal
    #sendDirectRequestsModal
    (directRequestSent)="reloadPage()"
    [shippingRequestId]="shippingRequestId"
  ></sendDirectRequestsModal>
</ng-template>
