<!-- begin::CreateNewGoodModal   -->
<div
  #createOrEditGoodDetail="bs-modal"
  [config]="{ backdrop: 'static' }"
  aria-hidden="true"
  aria-labelledby="createOrEditGoodDetail"
  bsModal
  class="modal fade"
  role="dialog"
  tabindex="-10000"
>
  <div class="modal-dialog modal-lg">
    <div *ngIf="active" class="modal-content">
      <form #goodsDetailForm="ngForm" (ngSubmit)="AddOrEditGoodDetail()" autocomplete="off" novalidate>
        <div class="modal-header">
          <h4 class="modal-title">
            <span>{{ l('AddNewGoodDetail') }}</span>
          </h4>
          <button (click)="close()" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <!--<div class="form-group m-form__group">-->
            <div class="col-12">
              <div class="form-group row fv-plugins-icon-container">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label> {{ l('GoodSubCategory') }} <span class="required-fileds">*</span> </label>
                    <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allSubGoodCategorys }">
                      <select
                        #subgoodsDetail="ngModel"
                        [(ngModel)]="goodCategoryId"
                        class="form-control"
                        name="goodsDetail.goodCategoryId"
                        [disabled]="!allSubGoodCategorys"
                        required
                        [class.is-invalid]="subgoodsDetail.touched && !subgoodsDetail.valid"
                        [class.is-valid]="subgoodsDetail.touched && subgoodsDetail.valid"
                      >
                        <option value="">{{ l('SelectAGoodSubCategory') }}</option>
                        <option *ngFor="let item of allSubGoodCategorys" [value]="item.id">{{ item.displayName }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="GoodsDetail_Weight">{{ l('Weight') }} <span class="required-fileds">*</span> </label>
                    <input
                      #GoodsWeight="ngModel"
                      [(ngModel)]="weight"
                      class="form-control"
                      id="GoodsDetail_Weight"
                      [maxLength]="7"
                      [minLength]="1"
                      (keypress)="numberOnly($event)"
                      [min]="1"
                      pattern="^[1-9][0-9]*$"
                      name="Weight"
                      type="number"
                      [class.is-invalid]="GoodsWeight.touched && !GoodsWeight.valid"
                      [class.is-valid]="GoodsWeight.touched && GoodsWeight.valid"
                      required
                    />
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="goodsDetail.amount">{{ l('Quantity') }} <span class="required-fileds">*</span> </label>
                    <input
                      #GoodsAmount="ngModel"
                      [(ngModel)]="amount"
                      class="form-control"
                      id="goodsDetail.amount"
                      name="goodsDetail.amount"
                      type="number"
                      (keypress)="numberOnly($event)"
                      [maxLength]="6"
                      [minLength]="1"
                      [min]="1"
                      pattern="^[1-9][0-9]*$"
                      [class.is-invalid]="GoodsAmount.touched && !GoodsAmount.valid"
                      [class.is-valid]="GoodsAmount.touched && GoodsAmount.valid"
                      required
                    />
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label>{{ l('UnitOfMeasure') }} <span class="required-fileds">*</span> </label>
                    <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allUnitOfMeasure }">
                      <select
                        #GoodsUnitOfMeasure="ngModel"
                        [(ngModel)]="unitOfMeasureId"
                        class="form-control"
                        name="goodsDetail.unitOfMeasureId"
                        [disabled]="!allUnitOfMeasure"
                        [class.is-valid]="GoodsUnitOfMeasure.touched && GoodsUnitOfMeasure.valid"
                        [class.is-invalid]="GoodsUnitOfMeasure.touched && !GoodsUnitOfMeasure.valid"
                        required
                      >
                        <option value="">{{ l('selectAUnitOfMeasure') }}</option>
                        <option *ngFor="let item of allUnitOfMeasure" [value]="item.id">{{ item.displayName }}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="GoodsDetail_Description">{{ l('Description') }} <span class="required-fileds">*</span> </label>
                    <input
                      #Description="ngModel"
                      [(ngModel)]="description"
                      class="form-control"
                      id="GoodsDetail_Description"
                      name="Description"
                      type="text"
                      [class.is-valid]="Description.touched && Description.valid"
                      [class.is-invalid]="Description.touched && !Description.valid"
                      required
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="GoodsDetail_Dimentions">{{ l('Dimentions') }}</label>
                    <input [(ngModel)]="dimentions" class="form-control" id="GoodsDetail_Dimentions" name="Dimentions" type="text" />
                  </div>
                </div>
                <div class="col-lg-6 mt-10">
                  <div class="form-group checkbox-inline">
                    <label class="checkbox checkbox-danger">
                      <input
                        #CheckDan="ngModel"
                        [(ngModel)]="isDangerousGood"
                        id="GoodsDetail_IsDangerousGood"
                        name="IsDangerousGood"
                        type="checkbox"
                        [class.is-valid]="CheckDan.touched && CheckDan.valid"
                      />
                      <span></span>
                      {{ l('IsDangerousGood') }}
                    </label>
                  </div>
                </div>
                <div class="col-lg-6" [hidden]="!isDangerousGood">
                  <div class="form-group">
                    <label> {{ l('DangerousGoodType') }} <span class="required-fileds">*</span> </label>
                    <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': isDangerousGoodLoading }">
                      <select
                        #DangerousGoodTypes="ngModel"
                        [(ngModel)]="dangerousGoodsTypeId"
                        class="form-control"
                        name="goodsDetail.dangerousGoodTypeId"
                        [disabled]="!allSubGoodCategorys"
                        [class.is-invalid]="DangerousGoodTypes.touched && !DangerousGoodTypes.valid"
                        [class.is-valid]="DangerousGoodTypes.touched && DangerousGoodTypes.valid"
                        [required]="goodsDetail.isDangerousGood"
                      >
                        <option value="">{{ l('SelectADangeroudGoodType') }}</option>
                        <option *ngFor="let item of allDangerousGoodTypes" [value]="item.id">{{ item.displayName }}</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group" [hidden]="!isDangerousGood">
                    <label for="GoodsDetail_DangerousGoodsCode">{{ l('DangerousGoodsCode') }} <span class="required-fileds">*</span> </label>
                    <input
                      #DangerousGoods="ngModel"
                      [(ngModel)]="dangerousGoodsCode"
                      class="form-control"
                      id="GoodsDetail_DangerousGoodsCode"
                      name="DangerousGoodsCode"
                      type="text"
                      [required]="isDangerousGood"
                      [class.is-invalid]="DangerousGoods.touched && !DangerousGoods.valid"
                      [class.is-valid]="DangerousGoods.touched && DangerousGoods.valid"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="close()" class="btn btn-secondary" type="button">{{ l('Cancel') }}</button>
          <button [disabled]="!goodsDetailForm.form.valid" class="btn btn-primary blue" type="submit">
            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End::CreateNewGoodModal   -->
