<div class='card card-custom card-stretch w-100 h-100'>
    <div  class='card-header border-0'>
        <div  class='card-title m-0'>

            <div class='row'>
                <h3  class='card-label m-5 col-12'> {{ 'NextDocDueDate' | localize }} </h3>
                <div class='col-12'>
                    <div class='w-100'>
                        <dx-select-box
                            (onValueChanged)='fetchData()'
                            [(value)]='selectedActorShipper'
                            [dataSource]='actorTypes'
                            [searchEnabled]='true'
                            [wrapItemText]='true'
                            displayExpr='value'
                            id='actorShipper'
                            name='actorShipper'
                            placeholder="{{ l('SelectADateType') }}"
                            valueExpr='key'
                        ></dx-select-box>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='card-body p-4 d-flex flex-column pt-8'>

        <div *ngFor='let doc of documents' appMakeScrollable>
            <div class='d-flex justify-content-between mb-4 px-4'>
                <div class='clickable-item'>
                    {{ doc.count }}
                </div>

                <div>
                    <b> {{ 'Within ' | localize }} {{ doc.timeUnit }} </b>
                </div>
            </div>
        </div>
        <div *ngIf='documents.length === 0'>
            {{ 'NoData' | localize }}
        </div>
    </div>
</div>
