<div class="row d-flex justify-content-center h-100" [busyIf]="loading">
  <div class="col-sm">
    <!--begin::Card-->
    <div class="card card-custom card-stretch border-bottom-5 border-bottom-dark">
      <div class="card-header border-bottom-0 pl-4">
        <div class="card-title w-50">
          <h3 class="w-100">
            {{ l('OverallTotalAmountPerAllTrips') }}
          </h3>
        </div>
        <div class="mt-6 sar-red-circle">
          <div class="sar-label">
            <h1 class="h-100 d-flex flex-column align-items-center justify-content-center">{{ 'SAR' | localize }}</h1>
          </div>
        </div>
      </div>
      <div class="card-body ribbon ribbon-left pt-0 pl-3 w-100 d-flex justify-content-center flex-column">
        <div
          class="ribbon-target bg-dark"
          [style]="
            isRtl
              ? 'top: 20%;font-size: 1.6em;padding-right:4em;right:-2px !important;left:auto !important;font-size: 1.6em;'
              : 'top: 20%;font-size: 1.6em;padding-left:4em;left:-2px;font-size: 1.6em;'
          "
        >
          {{ 'Selling' | localize }}
        </div>
        <div
          class="ribbon-target bg-primary"
          [style]="
            isRtl
              ? 'top: 40%;font-size: 1.6em;padding-right:4em;right:-2px !important;left:auto !important;font-size: 1.6em;'
              : 'top: 40%;font-size: 1.6em;padding-left:4em;left:-2px;font-size: 1.6em;'
          "
        >
          {{ 'Cost' | localize }}
        </div>
        <div
          class="ribbon-target bg-gray"
          [style]="
            isRtl
              ? 'top: 60%;font-size: 1.6em;padding-right:4em;right:-2px !important;left:auto !important;font-size: 1.6em;'
              : 'top: 60%;font-size: 1.6em;padding-left:4em;left:-2px;font-size: 1.6em;'
          "
        >
          {{ 'Profit' | localize }}
        </div>
        <h1 class="ml-4 font-weight-bold label-absolute-for-overall" style="top: 20%">{{ selling }}</h1>
        <h1 class="ml-4 font-weight-bold label-absolute-for-overall" style="top: 40%">{{ cost }}</h1>
        <h1 class="ml-4 font-weight-bold label-absolute-for-overall" style="top: 60%">{{ profit }}</h1>
      </div>
    </div>
    <!--end::Card-->
  </div>
</div>
