::ng-deep {
    #gridContainer {
        height: 70vh;
    }
    .dx-datagrid-rowsview {
        .dx-master-detail-row {
            &:not(.dx-datagrid-edit-form) {
                & > .dx-datagrid-group-space,
                .dx-master-detail-cell {
                    background: var(--white, #fff);
                    .shipCard {
                        border: 1px solid #ddd !important;
                    }
                }
            }
        }
    }
}
