<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #truckForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="truck.id">{{ l('Edit') }} {{ l('Truck') }}</span>
            <span *ngIf="!truck.id">{{ l('Create') }} {{ l('NewTruck') }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label
            ><h3>{{ l('TrucktypeDetails') }}</h3></label
          >

          <div class="row">
            <div class="col-md-6">
              <div class="form-group m-form__group">
                <label for="TruckStatusDisplayName">{{ l('TruckStatus') }}*</label>
                <select [(ngModel)]="truck.truckStatusId" class="form-control" name="truck.truckStatusId" required>
                  <option [ngValue]="null"> {{ l('Select') }} {{ l('TruckStatus') }}</option>
                  <option *ngFor="let item of allTruckStatuss" value="{{ item.id }}">{{ item.displayName }}</option>
                </select>
              </div>
            </div>

            <hr />
            <div class="col-md-6">
              <div class="form-group m-form__group">
                <label for="transportTypeDisplayName">{{ l('TransportType') }}*</label>
                <select
                  [(ngModel)]="truck.transportTypeId"
                  class="form-control"
                  name="truck.transportTypeId"
                  (change)="GetTransportDropDownList('GetAllTransportSubTypes', truck.transportTypeId)"
                  required
                >
                  <option [ngValue]="null">{{ l('Select') }} {{ l('TransportType') }}</option>
                  <option *ngFor="let item of allTransportTypes" value="{{ item.id }}">{{ item.displayName }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group m-form__group">
                <label for="allTransportSubTypes">{{ l('TransportSubType') }}*</label>
                <select
                  [(ngModel)]="truck.transportSubtypeId"
                  class="form-control"
                  name="truck.transportSubtypeId"
                  (change)="GetTransportDropDownList('GetAllTruckTypesByTransportSubTypes', truck.transportSubtypeId)"
                  [disabled]="allTransportTypes != null ? null : true"
                  required
                >
                  <option [ngValue]="null">{{ l('Select') }} {{ l('TransportSubType') }}</option>
                  <option *ngFor="let item of allTransportSubTypes" value="{{ item.id }}">{{ item.displayName }} </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group m-form__group">
                <label for="allTruckTypesByTransportSubtype">{{ l('TruckType') }}*</label>
                <select
                  [(ngModel)]="truck.trucksTypeId"
                  class="form-control"
                  name="truck.trucksTypeId"
                  (change)="GetTransportDropDownList('GetAllTruckSubTypesByTruckTypeId', truck.trucksTypeId)"
                  [disabled]="truck.transportSubtypeId != null && allTransportTypes != null ? null : true"
                  required
                >
                  <option [ngValue]="null">{{ l('Select') }} {{ l('TruckType') }}</option>
                  <option *ngFor="let item of allTruckTypesByTransportSubtype" value="{{ item.id }}"> {{ item.displayName }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group m-form__group">
                <label for="allTruckSubTypesByTruckTypeIdDisplayName">{{ l('TruckSubType') }}*</label>
                <select
                  [(ngModel)]="truck.truckSubtypeId"
                  class="form-control"
                  name="truck.truckSubtypeId"
                  (change)="GetTransportDropDownList('GetAllCapByTruckSybTypeId', truck.truckSubtypeId)"
                  [disabled]="truck.trucksTypeId != null && truck.transportSubtypeId != null && allTransportTypes != null ? null : true"
                  required
                >
                  <option [ngValue]="null">{{ l('Select') }} {{ l('TruckSubType') }}</option>
                  <option *ngFor="let item of allTruckSubTypesByTruckTypeId" value="{{ item.id }}"> {{ item.displayName }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group m-form__group">
                <label for="truck.capacityId">{{ l('CapacityCategory') }}*</label>
                <select
                  [(ngModel)]="truck.capacityId"
                  class="form-control"
                  name="truck.capacityId"
                  [disabled]="
                    truck.truckSubtypeId != null && truck.trucksTypeId != null && truck.transportSubtypeId && (allTransportTypes != null) != null
                      ? null
                      : true
                  "
                  required
                >
                  <option [ngValue]="null">{{ l('Select') }} {{ l('CapacityCategory') }}</option>
                  <option *ngFor="let item of allTrucksCapByTruckSubTypeId" value="{{ item.id }}">{{ item.displayName }} </option>
                </select>
              </div>
            </div>
          </div>
          <hr />
          <label
            ><h3>{{ l('TrucktDetails') }}</h3></label
          >
          <div class="row">
            <div class="col-md-6">
              <div class="form-group m-form__group">
                <label for="DriverName">{{ l('Driver') }}*</label>
                <div class="input-group">
                  <input [(ngModel)]="userName" class="form-control" disabled id="UserName" name="userName" type="text" />
                  <div class="input-group-append">
                    <button (click)="openSelectUserModal()" class="btn btn-primary blue" type="button">
                      <i class="fa fa-search"></i> {{ l('Choose') }}
                    </button>
                  </div>
                  <div class="input-group-prepend">
                    <button (click)="setDriver1UserIdNull()" class="btn btn-danger btn-icon" type="button"><i class="fa fa-times"></i></button>
                  </div>
                </div>
                <span class="form-text text-muted">{{ l('Enter') }} {{ l('DriverName') }}</span>
              </div>
              <input [(ngModel)]="truck.driver1UserId" class="form-control" hidden name="truck.driver1UserId" type="text" />
            </div>
            <div class="form-group col-md-6">
              <label for="Truck_PlateNumber">{{ l('PlateNumber') }} *</label>
              <input
                [(ngModel)]="truck.plateNumber"
                #plateNumberInput
                class="form-control"
                id="Truck_PlateNumber"
                maxlength="64"
                minlength="0"
                name="PlateNumber"
                required
                pattern="^[a-z0-9].*?[a-z0-9]$"
                type="text"
              />
              <span class="form-text text-muted">{{ l('Enter') }} {{ l('PlateNumber') }}</span>
              <validation-messages [formCtrl]="plateNumberInput"></validation-messages>
            </div>

            <div class="form-group col-md-6">
              <label for="Truck_ModelName">{{ l('ModelName') }} *</label>
              <input
                [(ngModel)]="truck.modelName"
                class="form-control"
                id="Truck_ModelName"
                maxlength="64"
                minlength="0"
                name="ModelName"
                required
                type="text"
              />
              <span class="form-text text-muted">{{ l('Enter') }} {{ l('ModalName') }}</span>
            </div>

            <div class="form-group col-md-6">
              <label for="Truck_ModelYear">{{ l('ModelYear') }} *</label>
              <input
                [(ngModel)]="truck.modelYear"
                class="form-control modelyearinput"
                id="Truck_ModelYear"
                maxlength="4"
                placeholder="YYYY"
                minlength="0"
                min="0"
                name="ModelYear"
                required
                type="number"
                (keydown)="numberOnly($event)"
              />
              <span class="form-text text-muted"> {{ l('Enter') }} {{ l('ModalYear') }}</span>
              <span class="form-text text-muted">{{ l('UseArrowKeysToChooseTheYear') }}</span>
            </div>

            <!--            <div class="m-checkbox-list col-md-6">-->
            <!--              <br />-->
            <!--              <br />-->
            <!--              <label class="kt-checkbox" for="Truck_IsAttachable">-->
            <!--                <input [(ngModel)]="truck.isAttachable" id="Truck_IsAttachable" name="IsAttachable" type="checkbox" />-->
            <!--                {{ l('IsAttachable') }}-->
            <!--                <span></span>-->
            <!--              </label>-->
            <!--            </div>-->

            <div class="form-group col-md-6">
              <label for="Truck_Capacity">{{ l('Capacity') }}</label>
              <div class="input-group">
                <input
                  [(ngModel)]="truck.capacity"
                  class="form-control"
                  id="Truck_Capacity"
                  maxlength="4"
                  placeholder="YYYY"
                  minlength="0"
                  min="0"
                  name="Capacity"
                  required
                  type="number"
                  (keydown)="numberOnly($event)"
                />
                <div class="input-group-append">
                  <span class="input-group-text">{{ l('Tons') }}</span>
                </div>
              </div>
              <span class="form-text text-muted">{{ l('EnterCapacity') }}</span>
              <span class="form-text text-muted">{{ l('UseTheArrowKeysToChooseTheCapacity') }}</span>
            </div>

            <div class="form-group col-md-12">
              <label for="Truck_Note">{{ l('Note') }}</label>
              <textarea
                [(ngModel)]="truck.note"
                class="form-control"
                id="Truck_Note"
                maxlength="256"
                rows="4"
                cols="12"
                style="resize: none;"
                minlength="0"
                name="Note"
                type="text"
              ></textarea>
              <span class="form-text text-muted">{{ l('Enter') }} {{ l('EnterNote') }}</span>
            </div>

            <!--            <div class="form-group col-md-12">-->
            <!--              <input (change)="fileChangeEvent($event)" type="file" />-->
            <!--              <span class="help-block m-b-none">{{ 'ProfilePicture_Change_Info' | localize: maxProfilPictureBytesUserFriendlyValue }}</span>-->
            <!--            </div>-->
            <!--            <image-cropper-->
            <!--              (imageCropped)="imageCroppedFile($event)"-->
            <!--              [aspectRatio]="4 / 4"-->
            <!--              [imageChangedEvent]="imageChangedEvent"-->
            <!--              [maintainAspectRatio]="true"-->
            <!--              [resizeToWidth]="128"-->
            <!--              format="png"-->
            <!--            ></image-cropper>-->
          </div>

          <createOrEditDocumentFileModal #createOrEditDocumentFileModal></createOrEditDocumentFileModal>
          <viewDocumentFileModal #viewDocumentFileModal></viewDocumentFileModal>
          <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
          <hr />
          <label *ngIf="!truck.id"><h3>Truck Documents</h3></label>

          <div *ngIf="truck.createOrEditDocumentFileDtos != undefined ? (truck.createOrEditDocumentFileDtos.length > 0 ? true : false) : false">
            <div *ngFor="let item of truck.createOrEditDocumentFileDtos; index as i" class="">
              <div class="card card-custom">
                <div class="card-header">
                  <div class="card-title">
                    <h3 class="card-title">{{ item.documentTypeDto.displayName }}</h3>
                  </div>
                </div>
                <div class="card-body padding-bottom-5">
                  <div class="row d-flex">
                    <div class="form-group col-6">
                      <label>{{ l('File') }} *</label>
                      <div class="custom-file">
                        <input
                          accept="image/x-png,image/jpeg,application/pdf"
                          [disabled]="item.isAccepted"
                          name="item.documentTypeDto.displayName{{ i }}"
                          (change)="DocFileChangeEvent($event, item, i)"
                          type="file"
                          class="custom-file-input"
                          [required]="true"
                        />
                        <label class="custom-file-label text-truncate" [for]="item.documentTypeDto.displayName">
                          {{ item.name ? item.name : l('Select') + l(' File') }}</label
                        >
                      </div>
                      <span class="form-text text-muted">{{ 'ValidDocumentFilesMsg' | localize }}</span>
                      <div *ngIf="fileFormateIsInvalideIndexList[i]">
                        <span class="form-text text-danger text-left">{{ 'PleaseChooseAvalidFormat' | localize }}</span>
                      </div>
                    </div>
                    <!--                  <div *ngIf="item.documentTypeDto.hasExpirationDate" class="form-group col-6">-->
                    <!--                    <label>{{ l('expiration date') }} <span class="text-danger">*</span></label>-->
                    <!--                    <input-->
                    <!--                      name="expirationDate{{ i }}"-->
                    <!--                      id="expirationDate{{ i }}"-->
                    <!--                      bsDatepicker-->
                    <!--                      class="form-control m-input"-->
                    <!--                      datePickerMomentModifier-->
                    <!--                      [required]="item.documentTypeDto.isRequired && !item.isAccepted"-->
                    <!--                      [(date)]="item.expirationDate"-->
                    <!--                      [disabled]="item.isAccepted"-->
                    <!--                    />-->
                    <!--                  </div>-->
                    <div *ngIf="item.documentTypeDto.hasNumber" class="form-group col-6">
                      <label
                        >{{ l('Number') }}
                        <span class="text-danger">*</span>
                      </label>
                      <input
                        name="number{{ i }}"
                        id="number{{ i }}"
                        class="form-control m-input"
                        required
                        (change)="numberChange(item, i)"
                        [maxLength]="item.documentTypeDto.numberMaxDigits == 0 ? 50 : item.documentTypeDto.numberMaxDigits"
                        [minLength]="item.documentTypeDto.numberMinDigits"
                        type="text"
                        [(ngModel)]="item.number"
                        [disabled]="item.isAccepted"
                      />
                      <span *ngIf="item.number == null ? 0 : item.number.length < item.documentTypeDto.numberMinDigits" class="text-danger">
                        {{ l('TheNumberLengthMustBeMoreThanMinDigits') }}
                      </span>
                      <span *ngIf="item.number == null ? false : item.number.length > item.documentTypeDto.numberMaxDigits" class="text-danger">
                        {{ l('TheNumberLengthMustBeLessThanMaxDigits') }}
                      </span>
                      <span class="form-text text-muted"
                        >{{ l('minDigits:') }} {{ item.documentTypeDto.numberMinDigits }} {{ l('maxDigits:') }}
                        {{ item.documentTypeDto.numberMaxDigits == 0 ? 50 : item.documentTypeDto.numberMaxDigits }}
                      </span>
                    </div>

                    <div *ngIf="item.documentTypeDto.hasExpirationDate" class="form-group col-6">
                      <hijri-gregorian-datepicker-test
                        [label]="l('ExpirationDate')"
                        class="m-input"
                        [isRequired]="true"
                        [readonly]="true"
                        [minGreg]="todayGregorian"
                        [minHijri]="todayHijri"
                        [selectedDate]="item.documentTypeDto.hasHijriExpirationDate ? todayHijri : todayGregorian"
                        [selectedDateType]="item.documentTypeDto.hasHijriExpirationDate ? selectedDateTypeHijri : selectedDateTypeGregorian"
                        (selectedDateChange)="hijriDatepickerSelectedDateChange($event, item)"
                      >
                      </hijri-gregorian-datepicker-test>
                    </div>

                    <div *ngIf="item.documentTypeDto.hasNotes" class="form-group col-6">
                      <label>{{ l('Note') }}*</label>
                      <textarea
                        name="note{{ i }}"
                        id="note{{ i }}"
                        class="form-control m-input"
                        [required]="item.documentTypeDto.hasNotes"
                        type="text"
                        rows="2"
                        style="resize: none;"
                        [(ngModel)]="item.notes"
                        [disabled]="item.isAccepted"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!truck.id" class="row">
            <label>{{ docProgressFileName }}</label>
            <div class="col-md-12">
              <p-progressBar [value]="docProgress" [style]="{ height: '6px', width: '100' }"></p-progressBar>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
          <button
            type="submit"
            class="btn btn-save blue"
            [disabled]="!truckForm.form.valid || !alldocumentsValid || !allnumbersValid || !allDatesValid || !alldocumentsNotDuplicated"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <truckUserLookupTableModal #truckUserLookupTableModal (modalSave)="getNewDriver1UserId()"></truckUserLookupTableModal>
  <!-- <truckUserLookupTableModal #truckUserLookupTableModal2 (modalSave)="getNewDriver2UserId()"> </truckUserLookupTableModal> -->
</div>
