<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #truckForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="truck.id">{{l("EditTruck")}}</span>
                        <span *ngIf="!truck.id">{{l("CreateNewTruck")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


					<div class="form-group m-form__group">
						<label for="TrucksTypeDisplayName">{{l("TrucksType")}}</label>
						<select name="truck.trucksTypeId" [(ngModel)]="truck.trucksTypeId" class="form-control" required>
							<option value="">{{l("SelectATrucksType")}}</option>
							<option *ngFor="let item of allTrucksTypes" value="{{item.id}}">{{item.displayName}}</option>
						</select>
					</div>

					<div class="form-group m-form__group">
						<label for="TruckStatusDisplayName">{{l("TruckStatus")}}</label>
						<select name="truck.truckStatusId" [(ngModel)]="truck.truckStatusId" class="form-control" required>
							<option value="">{{l("SelectATruckStatus")}}</option>
							<option *ngFor="let item of allTruckStatuss" value="{{item.id}}">{{item.displayName}}</option>
						</select>
					</div>

					<div class="form-group m-form__group">
                        <label for="UserName">{{l("User")}}</label>
                        <div class="input-group">
                            <input [(ngModel)]="userName" class="form-control" disabled id="UserName" name="userName"
                                   type="text">
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setDriver1UserIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="truck.driver1UserId" [(ngModel)]="truck.driver1UserId" type="text"  hidden>

                    <div class="form-group m-form__group">
                        <label for="UserName2">{{l("User")}}</label>
                        <div class="input-group">
                            <input [(ngModel)]="userName2" class="form-control" disabled id="UserName2"
                                   name="userName2" type="text">
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectUserModal2()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setDriver2UserIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="truck.driver2UserId" [(ngModel)]="truck.driver2UserId" type="text"  hidden>


                    <div class="form-group">
									<label for="Truck_PlateNumber">{{l("PlateNumber")}} *</label>
									<input type="text" id="Truck_PlateNumber" class="form-control" [(ngModel)]="truck.plateNumber" name="PlateNumber"   minlength="0"  maxlength="64"  required/>
								</div>

                    <div class="form-group">
									<label for="Truck_ModelName">{{l("ModelName")}} *</label>
									<input type="text" id="Truck_ModelName" class="form-control" [(ngModel)]="truck.modelName" name="ModelName"   minlength="0"  maxlength="64"  required/>
								</div>

                    <div class="form-group">
									<label for="Truck_ModelYear">{{l("ModelYear")}} *</label>
									<input type="text" id="Truck_ModelYear" class="form-control" [(ngModel)]="truck.modelYear" name="ModelYear"   minlength="0"  maxlength="64"  required/>
								</div>

                    <div class="form-group">
									<label for="Truck_LicenseNumber">{{l("LicenseNumber")}} *</label>
									<input type="text" id="Truck_LicenseNumber" class="form-control" [(ngModel)]="truck.licenseNumber" name="LicenseNumber"   minlength="0"  maxlength="256"  required/>
								</div>

                    <div class="form-group">
									<label for="Truck_LicenseExpirationDate">{{l("LicenseExpirationDate")}}</label>
                        <input [(date)]="truck.licenseExpirationDate" bsDatepicker class="form-control m-input" datePickerMomentModifier
                               id="Truck_LicenseExpirationDate" name="Truck_LicenseExpirationDate"
                               required type="datetime">
                    </div>

                    <br/>
                    <div class="m-checkbox-list">
                        <label class="kt-checkbox" for="Truck_IsAttachable">
                            <input [(ngModel)]="truck.isAttachable" id="Truck_IsAttachable" name="IsAttachable"
                                   type="checkbox">
                            {{l("IsAttachable")}}
                            <span></span>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Truck_RentPrice">{{l("RentPrice")}}</label>
                        <input [(ngModel)]="truck.rentPrice" class="form-control" id="Truck_RentPrice" maxlength="256"
                               minlength="0" name="rentPrice" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="Truck_RentDuration">{{l("RentDuration")}}</label>
                        <input [(ngModel)]="truck.rentDuration" class="form-control" id="Truck_RentDuration" maxlength="256"
                               minlength="0" name="rentDuration" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="Truck_Note">{{l("Note")}}</label>
                        <input [(ngModel)]="truck.note" class="form-control" id="Truck_Note" maxlength="256" minlength="0"
                               name="Note" type="text"/>
                    </div>







                            <div class="form-group">
                                <input type="file" (change)="fileChangeEvent($event)"  />
                                <span class="help-block m-b-none" >{{"ProfilePicture_Change_Info" | localize:maxProfilPictureBytesUserFriendlyValue}}</span>
                            </div>
                            <image-cropper
                                [imageChangedEvent]="imageChangedEvent"
                                [maintainAspectRatio]="true"
                                [aspectRatio]="4 / 4"
                                [resizeToWidth]="128"
                                format="png"
                                (imageCropped)="imageCroppedFile($event)"
                            ></image-cropper>
x








                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!truckForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<truckUserLookupTableModal #truckUserLookupTableModal (modalSave)="getNewDriver1UserId()"></truckUserLookupTableModal>
		 <truckUserLookupTableModal #truckUserLookupTableModal2 (modalSave)="getNewDriver2UserId()"></truckUserLookupTableModal>

</div>
