<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #truckForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="truck.id">{{ l('Edit') }} {{ l('Truck') }}</span>
            <span *ngIf="!truck.id">{{ l('CreateNewTruck') }} </span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">{{ l('TruckTypeDetails') }}</h3> -->

          <div class="row">
            <div class="col-sm-12" *ngIf="isTruckTenantRequired">
              <div class="form-group">
                <label>{{ 'Carrier' | localize }}<span class="text-danger">*</span> </label>
                <select
                  #TruckTenantId="ngModel"
                  class="form-control"
                  name="TruckTenantId"
                  id="TruckTenantId"
                  [(ngModel)]="truck.tenantId"
                  [ngClass]="{
                    'is-valid': TruckTenantId.touched && TruckTenantId.valid,
                    'is-invalid': TruckTenantId.touched && !TruckTenantId.valid
                  }"
                  [required]="isTruckTenantRequired"
                >
                  <option [ngValue]="null" selected disabled>{{ l('SelectACarrier') }}</option>
                  <option *ngFor="let item of carriers" value="{{ item.id }}">{{ item.displayName }}</option>
                </select>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group m-form__group">
                <label for="transportTypeId">{{ l('TransportType') }}<span class="text-danger">*</span> </label>
                <select
                  id="transportTypeId"
                  #transportTypeId="ngModel"
                  [(ngModel)]="truck.transportTypeId"
                  class="form-control"
                  name="truck.transportTypeId"
                  (change)="transportTypeSelectChange(truck.transportTypeId)"
                  required
                  [ngClass]="{
                    'is-valid': transportTypeId.valid,
                    'is-invalid': truckForm.submitted && transportTypeId.invalid
                  }"
                >
                  <option [ngValue]="null">{{ l('Select') }} {{ l('TransportType') }}</option>
                  <option *ngFor="let item of allTransportTypes" value="{{ item.id }}">{{ item.displayName }}</option>
                </select>
                <validation-messages [formCtrl]="transportTypeId"></validation-messages>
                <span class="form-text text-muted">{{ l('SelectTransportType') }} </span>
              </div>

              <div class="form-group m-form__group" [hidden]="!IfOther(allTransportTypes, truck.transportTypeId)">
                <label>{{ l('OtherTransportType') }} <span class="required-fileds">*</span></label>
                <div>
                  <div class="input-group">
                    <input
                      id="otherTransportTypeName"
                      type="text"
                      #otherTransportTypeName="ngModel"
                      name="otherTransportTypeName"
                      class="form-control"
                      [(ngModel)]="truck.otherTransportTypeName"
                      [ngClass]="{
                        'is-valid':
                          otherTransportTypeName.touched && otherTransportTypeName.valid && cannotContainSpace(truck.otherTransportTypeName),
                        'is-invalid':
                          otherTransportTypeName.touched &&
                          (!otherTransportTypeName.valid || !cannotContainSpace(truck.otherTransportTypeName)) &&
                          IfOther(allTransportTypes, truck.transportTypeId)
                      }"
                      [required]="IfOther(allTransportTypes, truck.transportTypeId)"
                    />
                  </div>
                </div>
                <span class="form-text text-muted">{{ l('OtherTransportTypeName') }}</span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group m-form__group">
                <label for="trucksTypeId">{{ l('TruckType') }}<span class="text-danger">*</span> </label>
                <div
                  [ngClass]="{
                    'spinner spinner-success spinner-right mr-1 ml-1': truckTypeLoading
                  }"
                >
                  <select
                    id="trucksTypeId"
                    #trucksTypeId="ngModel"
                    [(ngModel)]="truck.trucksTypeId"
                    class="form-control"
                    name="truck.trucksTypeId"
                    (change)="trucksTypeSelectChange(truck.trucksTypeId)"
                    [disabled]="truck.transportTypeId != null && allTransportTypes != null ? null : true"
                    required
                    [ngClass]="{
                      'is-valid': trucksTypeId.valid,
                      'is-invalid': truckForm.submitted && trucksTypeId.invalid
                    }"
                  >
                    <option [ngValue]="null">{{ l('Select') }} {{ l('TruckType') }}</option>
                    <option *ngFor="let item of allTruckTypesByTransportType" value="{{ item.id }}">{{ item.displayName }}</option>
                  </select>
                </div>
                <validation-messages [formCtrl]="trucksTypeId"></validation-messages>
                <span class="form-text text-muted">{{ l('SelectTransportTypeToOpenTrucksType') }} </span>
              </div>
              <div class="form-group m-form__group" [hidden]="!IfOther(allTruckTypesByTransportType, truck.trucksTypeId)">
                <label>{{ l('otherTrucksType') }} <span class="required-fileds">*</span></label>
                <div>
                  <div class="input-group">
                    <input
                      type="text"
                      id="otherTrucksTypeName"
                      #otherTrucksTypeName="ngModel"
                      name="otherTrucksTypeName"
                      class="form-control"
                      [(ngModel)]="truck.otherTrucksTypeName"
                      [ngClass]="{
                        'is-valid': otherTrucksTypeName.touched && otherTrucksTypeName.valid && cannotContainSpace(truck.otherTrucksTypeName),
                        'is-invalid':
                          otherTrucksTypeName.touched &&
                          (!otherTrucksTypeName.valid || !cannotContainSpace(truck.otherTrucksTypeName)) &&
                          IfOther(allTransportTypes, truck.transportTypeId)
                      }"
                      [required]="IfOther(allTruckTypesByTransportType, truck.trucksTypeId)"
                    />
                  </div>
                </div>
                <span class="form-text text-muted">{{ l('OtherTrucksTypeName') }}</span>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group m-form__group">
                <label for="capacityId"> {{ l('CapacityCategory') }}<span class="text-danger">*</span></label>
                <div
                  [ngClass]="{
                    'spinner spinner-success spinner-right mr-1 ml-1': capacityLoading
                  }"
                >
                  <select
                    id="capacityId"
                    #capacityId="ngModel"
                    [(ngModel)]="truck.capacityId"
                    class="form-control"
                    name="truck.capacityId"
                    [attr.disabled]="
                      capacityLoading
                        ? true
                        : null || truck.transportTypeId == null
                        ? true
                        : null || allTransportTypes == null
                        ? true
                        : null || allTrucksCapByTruckTypeId == null
                        ? true
                        : null
                    "
                    required
                    [ngClass]="{
                      'is-valid': capacityId.valid,
                      'is-invalid': truckForm.submitted && capacityId.invalid
                    }"
                  >
                    <option [ngValue]="null">{{ l('Select') }} {{ l('CapacityCategory') }}</option>
                    <option *ngFor="let item of allTrucksCapByTruckTypeId" value="{{ item.id }}">{{ item.displayName }}</option>
                  </select>
                </div>
                <validation-messages [formCtrl]="capacityId"></validation-messages>
                <span class="form-text text-muted">{{ l('SelectTrucksTypeToOpenCapacity') }} </span>
              </div>
            </div>
            <div class="form-group col-md-3">
              <label for="Truck_Capacity">{{ l('Capacity') }}</label>
              <div class="input-group">
                <input
                  [(ngModel)]="truck.capacity"
                  [attr.disabled]="
                    capacityLoading
                      ? true
                      : null || truck.trucksTypeId == null
                      ? true
                      : null || truck.transportTypeId == null
                      ? true
                      : null || allTransportTypes == null
                      ? true
                      : null || allTrucksCapByTruckTypeId == null
                      ? true
                      : null
                  "
                  #capacity="ngModel"
                  class="form-control"
                  id="Truck_Capacity"
                  name="Capacity"
                  type="text"
                />
                <div class="input-group-append">
                  <!-- <span class="input-group-text">{{ l('Tons') }}</span> -->
                </div>
              </div>
              <validation-messages [formCtrl]="capacity"></validation-messages>
              <span *ngIf="Number(truck.capacity) < 0" class="form-text text-danger">{{ l('vlaueMustBeGreaterThan') }} 0</span>
            </div>
            <div class="form-group col-md-3">
              <label for="Truck_Length">{{ l('Length') }}</label>
              <div class="input-group">
                <input [(ngModel)]="truck.length" #length="ngModel" class="form-control" id="Truck_Length" min="0" name="Length" type="number" />
                <div class="input-group-append">
                  <!-- <span class="input-group-text">{{ l('Meter') }}</span> -->
                </div>
              </div>
              <validation-messages [formCtrl]="length"></validation-messages>
              <span *ngIf="truck.length < 0" class="form-text text-danger">{{ l('vlaueMustBeGreaterThan') }} 0</span>
            </div>
          </div>
          <div class="separator separator-dashed my-5"></div>

          <!-- <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">{{ l('TruckDetails') }}</h3> -->

          <div class="row">
            <div class="form-group col-md-6">
              <label for="TruckStatus">{{ l('TruckStatus') }}<span class="text-danger">*</span> </label>
              <select
                #TruckStatus="ngModel"
                id="TruckStatus"
                [(ngModel)]="truck.truckStatusId"
                class="form-control"
                name="truck.truckStatusId"
                required
                [ngClass]="{
                  'is-valid': TruckStatus.valid,
                  'is-invalid': truckForm.submitted && TruckStatus.invalid
                }"
              >
                <option [ngValue]="null">{{ l('Select') }} {{ l('TruckStatus') }}</option>
                <option *ngFor="let item of allTruckStatuss" value="{{ item.id }}">{{ item.displayName }}</option>
              </select>
              <validation-messages [formCtrl]="TruckStatus"></validation-messages>
            </div>
            <div class="form-group col-md-6">
              <label for="PlateTypeId"> {{ l('PlateType') }}<span class="text-danger">*</span></label>
              <select
                #PlateTypeId="ngModel"
                id="PlateTypeId"
                [(ngModel)]="truck.plateTypeId"
                class="form-control"
                name="truck.plateTypeId"
                required
                [ngClass]="{
                  'is-valid': PlateTypeId.valid,
                  'is-invalid': truckForm.submitted && PlateTypeId.invalid
                }"
              >
                <option [ngValue]="null">{{ l('Select') }} {{ l('PlateType') }}</option>
                <option
                  *ngFor="let item of allPlateTypes"
                  value="{{ item.id }}"
                  [selected]="item.isDefault && (!truck.plateTypeId || truck.plateTypeId == item.id)"
                >
                  {{ item.displayName }}
                </option>
              </select>
              <validation-messages [formCtrl]="PlateTypeId"></validation-messages>
            </div>

            <div class="form-group col-md-6">
              <label for="Truck_PlateNumber">{{ l('PlateNumber') }}<span class="text-danger">*</span> </label>
              <input
                [(ngModel)]="truck.plateNumber"
                #plateNumberInput="ngModel"
                pattern="^\d{4}\s[a-zA-Z\u0600-\u06FF]{1}\s[a-zA-Z\u0600-\u06FF]{1}\s[a-zA-Z\u0600-\u06FF]{1}$"
                class="form-control"
                id="Truck_PlateNumber"
                maxlength="64"
                minlength="0"
                name="PlateNumber"
                required
                type="text"
                [ngClass]="{
                  'is-valid': plateNumberInput.valid,
                  'is-invalid': truckForm.submitted && plateNumberInput.invalid
                }"
              />
              <validation-messages [formCtrl]="plateNumberInput"></validation-messages>
              <span class="form-text text-muted">1234 a a a </span>
            </div>

            <div class="form-group col-md-6">
              <label for="Truck_ModelName"> {{ l('ModelName') }}<span class="text-danger">*</span> </label>
              <input
                [(ngModel)]="truck.modelName"
                #modelName="ngModel"
                class="form-control"
                id="Truck_ModelName"
                maxlength="64"
                minlength="0"
                name="ModelName"
                required
                type="text"
                [ngClass]="{
                  'is-valid': modelName.valid,
                  'is-invalid': truckForm.submitted && modelName.invalid
                }"
              />
              <validation-messages [formCtrl]="modelName"></validation-messages>
            </div>

            <div class="form-group col-md-6">
              <label for="Truck_ModelYear"> {{ l('ModelYear') }}<span class="text-danger">*</span> </label>
              <input
                #modelYear="bsDatepicker"
                id="Truck_ModelYear"
                name="Truck_ModelYear"
                type="text"
                [(ngModel)]="truck.modelYear"
                [bsConfig]="{ viewMode: 'year', minMode: 'year', dateInputFormat: 'YYYY' }"
                bsDatepicker
                (keydown)="(false)"
                [maxDate]="truckModelMaxYear"
                class="form-control"
                required
              />
              <validation-messages [formCtrl]="modelYear"></validation-messages>
              <!--            </div>-->
              <!--              <input-->
              <!--                #modelYear="ngModel"-->
              <!--                [(ngModel)]="truck.modelYear"-->
              <!--                class="form-control modelyearinput"-->
              <!--                id="Truck_ModelYear"-->
              <!--                [max]="2021"-->
              <!--                name="ModelYear"-->
              <!--                required-->
              <!--                type="number"-->
              <!--                [ngClass]="{-->
              <!--                  'is-valid': modelYear.valid,-->
              <!--                  'is-invalid': (truckForm.submitted && modelYear.invalid) || Number(truck.modelYear) < 1900-->
              <!--                }"-->
              <!--              />-->
              <!--              <validation-messages [formCtrl]="modelYear"></validation-messages>-->
            </div>

            <div class="form-group col-md-12">
              <label for="Truck_Note">{{ l('Note') }}</label>
              <textarea
                [(ngModel)]="truck.note"
                class="form-control"
                id="Truck_Note"
                maxlength="256"
                rows="1"
                cols="12"
                style="resize: none"
                minlength="0"
                name="Note"
                type="text"
              ></textarea>
            </div>
          </div>

          <createOrEditDocumentFileModal #createOrEditDocumentFileModal></createOrEditDocumentFileModal>
          <viewDocumentFileModal #viewDocumentFileModal></viewDocumentFileModal>
          <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>

          <div *ngIf="truck.createOrEditDocumentFileDtos != undefined ? (truck.createOrEditDocumentFileDtos.length > 0 ? true : false) : false">
            <div class="separator separator-dashed my-5"></div>
            <h3 class="font-size-lg text-dark-75 font-weight-bold mb-10">{{ l('TruckDocuments') }}</h3>
            <app-required-document-form-child
              #requiredDocumentFormChildComponent
              [createOrEditDocumentFileDtos]="truck.createOrEditDocumentFileDtos"
              (onDocsUploaderCompleteAll)="createOrEditTruck()"
              [parentForm]="truckForm"
            >
            </app-required-document-form-child>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>

          <button
            [disabled]="!truckForm.form.valid"
            type="submit"
            class="btn btn-save blue"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <!--  <truckUserLookupTableModal #truckUserLookupTableModal (modalSave)="getNewDriver1UserId()"></truckUserLookupTableModal>-->
  <!-- <truckUserLookupTableModal #truckUserLookupTableModal2 (modalSave)="getNewDriver2UserId()"> </truckUserLookupTableModal> -->
</div>
