<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <!-- [description]="'TrucksHeaderInfo' | localize" -->
    <sub-header [title]="'Trucks' | localize">
      <div role="actions">
        <div class="btn-group" dropdown>
          <button
            dropdownToggle
            type="button"
            class="btn btn-outline-success dropdown-toggle mr-1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="far fa-file-excel"></i> {{ 'ExcelOperations' | localize }}
          </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu>
            <a class="dropdown-item" id="ExportTrucksToExcelButton" (click)="exportToExcel()" href="javascript:;">
              <i class="fa fa-download mr-2 mt-1" style="font-size: 1rem"></i>
              {{ 'ExportToExcel' | localize }}
            </a>
            <div *ngIf="'Pages.Trucks.Create' | permission" class="no-padding">
              <span class="fileinput-button">
                <p-fileUpload
                  customUpload="true"
                  name="ExcelFileUpload"
                  #ExcelFileUpload
                  maxFileSize="10000000"
                  auto="auto"
                  accept=".csv,.xls,.xlsx"
                  (uploadHandler)="uploadExcel($event)"
                  (onError)="onUploadExcelError()"
                  chooseLabel="{{ 'ImportFromExcel' | localize }}"
                >
                </p-fileUpload>
              </span>
            </div>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item-text text-muted pl-3" href="#">
              <small
                *ngIf="isArabic"
                [innerHTML]="
                  l('ImportToExcelSampleFileDownloadInfo', '<a href=/assets/sampleFiles/ImportTrucksSampleFileAr.xlsx>' + l('ClickHere') + '</a>')
                "
              ></small>
              <small
                *ngIf="!isArabic"
                [innerHTML]="
                  l('ImportToExcelSampleFileDownloadInfo', '<a href=/assets/sampleFiles/ImportTrucksSampleFile.xlsx>' + l('ClickHere') + '</a>')
                "
              ></small>
            </span>
          </div>
        </div>

        <button *ngIf="isGranted('Pages.Trucks.Create')" (click)="createTruck()" class="btn btn-primary blue">
          <i class="fa fa-plus"></i> {{ l('CreateNewTruck') }}
        </button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <div class="row align-items-center">
            <dx-data-grid
              style="height: 45vw"
              #grid
              id="dataGrid"
              [dataSource]="dataSource"
              [remoteOperations]="true"
              [showColumnLines]="true"
              [showRowLines]="false"
              [showBorders]="true"
              [rowAlternationEnabled]="true"
              keyExpr="id"
              [wordWrapEnabled]="true"
            >
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-search-panel [visible]="true" placeholder="{{ 'Search' | localize }}..."></dxo-search-panel>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-filter-builder-popup></dxo-filter-builder-popup>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-group-panel [visible]="false" emptyPanelText="{{ l('DragAColumnHeaderHereToGroupByThatColumn') }}"></dxo-group-panel>
              <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
              <dxo-remote-operations [groupPaging]="false" [sorting]="false" [filtering]="false"> </dxo-remote-operations>
              <dxo-paging [pageSize]="20"></dxo-paging>

              <dxi-column
                cellTemplate="cellTemplateActions"
                [allowFiltering]="false"
                [allowSorting]="false"
                [allowEditing]="false"
                [editorOptions]="{ visible: false }"
                [width]="50"
              ></dxi-column>
              <dxi-column dataField="plateNumber" caption="{{ l('PlateNumber') }}"> </dxi-column>
              <dxi-column dataField="modelName" caption="{{ l('ModelName') }}"> </dxi-column>
              <dxi-column dataField="modelYear" caption="{{ l('ModelYear') }}"> </dxi-column>
              <dxi-column dataField="length" caption="{{ l('Length') }}"> </dxi-column>
              <dxi-column dataField="truckStatusDisplayName" caption="{{ l('TruckStatus') }}"> </dxi-column>
              <dxi-column dataField="companyName" caption="{{ l('companyName') }}"> </dxi-column>
              <dxi-column dataField="transportTypeDisplayName" caption="{{ l('TransportType') }}"> </dxi-column>
              <dxi-column dataField="trucksTypeDisplayName" caption="{{ l('TrucksType') }}"> </dxi-column>
              <dxi-column dataField="capacityDisplayName" caption="{{ l('Capacity') }}"> </dxi-column>
              <dxi-column dataField="capacity" caption="{{ l('Capacity') }}"> </dxi-column>
              <dxi-column dataField="istmaraNumber" caption="{{ l('IstmaraNumber') }}"> </dxi-column>
              <dxi-column
                dataField="isMissingDocumentFiles"
                caption="{{ l('MissingDocumentFiles') }}"
                [allowFiltering]="false"
                [allowSorting]="false"
              >
              </dxi-column>

              <div *dxTemplate="let options of 'cellTemplateActions'">
                <div class="btn-group dropdown" dropdown container="body">
                  <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" dropdownToggle>
                    <span class="svg-icon svg-icon-md">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="24px"
                        height="24px"
                        viewBox="0 0 24 24"
                        version="1.1"
                      >
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"></rect>
                          <path
                            d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z"
                            fill="#000000"
                          ></path>
                        </g>
                      </svg>
                    </span>
                  </a>
                  <ul class="dropdown-menu" *dropdownMenu>
                    <li>
                      <a href="javascript:;" class="dropdown-item" (click)="viewTruckModal.show(options.data)">{{ l('View') }}</a>
                    </li>
                    <li>
                      <a
                        href="javascript:;"
                        *ngIf="permission.isGranted('Pages.Trucks.Edit')"
                        class="dropdown-item"
                        (click)="createOrEditTruckModal.show(options.data.id)"
                        >{{ l('Edit') }}</a
                      >
                    </li>
                    <li>
                      <a
                        href="javascript:;"
                        class="dropdown-item"
                        (click)="viewOrEditEntityDocumentsModal.show(options.data.id, documentsEntitiesEnum.Truck)"
                        >{{ l('ViewDocuments') }}</a
                      >
                    </li>
                    <li>
                      <a
                        class="dropdown-item"
                        href="javascript:;"
                        *ngIf="permission.isGranted('Pages.Trucks.Delete')"
                        (click)="deleteTruck(options.data)"
                        >{{ l('Delete') }}</a
                      >
                    </li>
                    <li>
                      <a href="javascript:;" *ngIf="entityHistoryEnabled" (click)="showHistory(options.data)">{{ l('History') }}</a>
                    </li>
                  </ul>
                </div>
              </div>
              <dxo-summary> <dxi-total-item column="plateNumber" summaryType="count"> </dxi-total-item> </dxo-summary>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </div>
    <createOrEditTruckModal #createOrEditTruckModal (modalSave)="getAllTrucks(undefined)"></createOrEditTruckModal>
    <viewTruckModal #viewTruckModal></viewTruckModal>
    <app-viwe-truck-documents-modal #viewOrEditEntityDocumentsModal (modalSave)="getAllTrucks(undefined)"> </app-viwe-truck-documents-modal>
    <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
  </div>
</div>
