<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'Trucks' | localize" [description]="'TrucksHeaderInfo' | localize">
      <div role="actions">
        <div class="btn-group" dropdown>
          <button
            dropdownToggle
            type="button"
            class="btn btn-outline-success dropdown-toggle mr-1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="far fa-file-excel"></i> {{ 'ExcelOperations' | localize }}
          </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu>
            <a class="dropdown-item" id="ExportTrucksToExcelButton" (click)="exportToExcel()" href="javascript:;">
              <i class="fa fa-download mr-2 mt-1" style="font-size: 1rem;"></i>
              {{ 'ExportToExcel' | localize }}
            </a>
            <a href="javascript:;" *ngIf="'Pages.Administration.TruckStatuses.Create' | permission" class="no-padding">
              <span class="fileinput-button">
                <p-fileUpload
                  customUpload="true"
                  name="ExcelFileUpload"
                  #ExcelFileUpload
                  maxFileSize="10000000"
                  auto="auto"
                  accept=".csv,.xls,.xlsx"
                  (uploadHandler)="uploadExcel($event)"
                  (onError)="onUploadExcelError()"
                  chooseLabel="{{ 'ImportFromExcel' | localize }}"
                >
                </p-fileUpload>
              </span>
            </a>
            <div class="dropdown-divider"></div>
            <span class="dropdown-item-text text-muted pl-3" href="#">
              <small
                [innerHTML]="
                  l('ImportToExcelSampleFileDownloadInfo', '<a href=/assets/sampleFiles/ImportTrucksSampleFile.xlsx>' + l('ClickHere') + '</a>')
                "
              ></small>
            </span>
          </div>
        </div>

        <button *ngIf="isGranted('Pages.Trucks.Create')" (click)="createTruck()" class="btn btn-primary blue">
          <i class="fa fa-plus"></i> {{ l('CreateNewTruck') }}
        </button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <form class="form" autocomplete="off">
            <div>
              <div class="row align-items-center">
                <div class="col-xl-12">
                  <div class="form-group m-form__group align-items-center">
                    <div class="input-group">
                      <input
                        [(ngModel)]="filterText"
                        name="filterText"
                        autoFocus
                        class="form-control m-input"
                        [placeholder]="l('SearchWithThreeDot')"
                        type="text"
                      />
                      <span class="input-group-btn">
                        <button (click)="getTrucks()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row" [hidden]="!advancedFiltersAreShown">
                <div class="col-md-12">
                  <div class="kt-separator kt-separator--border-dashed"></div>
                </div>

                <div class="col-md-3">
                  <div class="form-group">
                    <label for="PlateNumberFilter">{{ l('PlateNumber') }}</label>
                    <input type="text" class="form-control" id="PlateNumberFilter" name="plateNumberFilter" [(ngModel)]="plateNumberFilter" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="ModelNameFilter">{{ l('ModelName') }}</label>
                    <input type="text" class="form-control" id="ModelNameFilter" name="modelNameFilter" [(ngModel)]="modelNameFilter" />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="ModelYearFilter">{{ l('ModelYear') }}</label>
                    <input
                      type="datetime"
                      bsDatepicker
                      placeholder="{{ l('ModelYear') }}"
                      class="form-control"
                      id="ModelYearFilter"
                      name="modelYearFilter"
                      [(ngModel)]="modelYearFilter"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <label for="IsAttachableFilterSelect">{{ l('IsAttachable') }}</label>
                  <select class="form-control" name="IsAttachableFilter" id="IsAttachableFilterSelect" [(ngModel)]="isAttachableFilter">
                    <option value="-1">{{ l('All') }}</option>
                    <option value="0">{{ l('False') }}</option>
                    <option value="1">{{ l('True') }}</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="TrucksTypeDisplayNameFilter">{{ l('TrucksType') }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="TrucksTypeDisplayNameFilter"
                      name="trucksTypeDisplayNameFilter"
                      [(ngModel)]="trucksTypeDisplayNameFilter"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="TruckStatusDisplayNameFilter">{{ l('TruckStatus') }}</label>
                    <input
                      type="text"
                      class="form-control"
                      id="TruckStatusDisplayNameFilter"
                      name="truckStatusDisplayNameFilter"
                      [(ngModel)]="truckStatusDisplayNameFilter"
                    />
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="UserNameFilter">{{ l('Driver') }}</label>

                    <div class="input-group">
                      <input [(ngModel)]="userNameFilter" class="form-control" disabled id="UserName" name="userName" type="text" />
                      <div class="input-group-append">
                        <button (click)="openSelectUserModal()" class="btn btn-primary blue" type="button">
                          <i class="fa fa-search"></i> {{ l('Pick') }}
                        </button>
                      </div>
                      <div class="input-group-prepend">
                        <button (click)="setDriver1UserIdNull()" class="btn btn-danger btn-icon" type="button"><i class="fa fa-times"></i></button>
                      </div>
                    </div>
                    <input type="text" class="form-control" id="UserNameFilter" name="userNameFilter" [(ngModel)]="userNameFilter" />
                  </div>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col-sm-12">
                  <span
                    class="clickable-item text-muted"
                    *ngIf="!advancedFiltersAreShown"
                    (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                    ><i class="fa fa-angle-down"></i> {{ l('ShowAdvancedFilters') }}</span
                  >
                  <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                    ><i class="fa fa-angle-up"></i> {{ l('HideAdvancedFilters') }}</span
                  >
                </div>
              </div> -->
            </div>
          </form>

          <div class="row align-items-center">
            <!--<Primeng-Datatable-Start>-->
            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
              <p-table
                #dataTable
                (onLazyLoad)="getTrucks($event)"
                [value]="primengTableHelper.records"
                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                [paginator]="false"
                [lazy]="true"
                [scrollable]="true"
                ScrollWidth="100%"
                [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 130px;" [hidden]="!isGrantedAny('Pages.Trucks.Edit', 'Pages.Trucks.Delete')">{{ l('Actions') }}</th>
                    <th style="width: 150px;" pSortableColumn="plateNumber">
                      {{ l('PlateNumber') }}
                      <p-sortIcon field="plateNumber"></p-sortIcon>
                    </th>
                    <!-- <th style="width: 350px;" pSortableColumn="id">
                      {{ l('ID') }}
                      <p-sortIcon field="truckId"></p-sortIcon>
                    </th> -->
                    <th style="width: 500px;" pSortableColumn="trucksTypeFk.displayName">
                      {{ l('TruckType') }}
                      <p-sortIcon field="truckStatusDisplayName"></p-sortIcon>
                    </th>
                    <th style="width: 150px;" pSortableColumn="truckStatusFk.displayName">
                      {{ l('Status') }}
                      <p-sortIcon field="truckStatus"></p-sortIcon>
                    </th>
                    <th style="width: 150px;" pSortableColumn="driver1UserFk.name">
                      {{ l('DriverName') }}
                      <p-sortIcon field="driverName"></p-sortIcon>
                    </th>
                    <th style="width: 150px;" pSortableColumn="modelName">
                      {{ l('ModelName') }}
                      <p-sortIcon field="truck.modelName"></p-sortIcon>
                    </th>
                    <th style="width: 150px;" pSortableColumn="modelYear">
                      {{ l('ModelYear') }}
                      <p-sortIcon field="truck.modelYear"></p-sortIcon>
                    </th>
                    <!-- <th style="width: 150px;" pSortableColumn="licenseNumber">
                      {{ l('LicenseNumber') }}
                      <p-sortIcon field="truck.licenseNumber"></p-sortIcon>
                    </th> -->
                    <!-- <th style="width: 150px;" pSortableColumn="licenseExpirationDate">
                      {{ l('LicenseExpirationDate') }}
                      <p-sortIcon field="truck.licenseExpirationDate"></p-sortIcon>
                    </th> -->
                    <!-- <th style="width: 150px;" pSortableColumn="isAttachable">
                      {{ l('IsAttachable') }}
                      <p-sortIcon field="truck.isAttachable"></p-sortIcon>
                    </th> -->
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td style="width: 130px;" [hidden]="!isGrantedAny('Pages.Trucks.Edit', 'Pages.Trucks.Delete')">
                      <div class="btn-group dropdown" dropdown container="body">
                        <div class="row">
                          <i
                            *ngIf="record.isMissingDocumentFiles"
                            class="flaticon2-information text-warning"
                            style="padding: 3px;"
                            data-toggle="tooltip"
                            title="Missing documents"
                          ></i>

                          <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                            <i class="fa fa-cog"></i><span class="caret"></span> {{ l('Actions') }}
                          </button>
                        </div>

                        <ul class="dropdown-menu" *dropdownMenu>
                          <li>
                            <a href="javascript:;" class="dropdown-item" (click)="viewTruckModal.show(record)">{{ l('View') }}</a>
                          </li>
                          <li>
                            <a
                              href="javascript:;"
                              *ngIf="permission.isGranted('Pages.Trucks.Edit')"
                              class="dropdown-item"
                              (click)="createOrEditTruckModal.show(record.truck.id)"
                              >{{ l('Edit') }}</a
                            >
                          </li>
                          <li>
                            <a href="javascript:;" class="dropdown-item" (click)="viewOrEditEntityDocumentsModal.show(record.truck.id, 'Truck')">{{
                              l('View Documents')
                            }}</a>
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="javascript:;"
                              *ngIf="permission.isGranted('Pages.Trucks.Delete')"
                              (click)="deleteTruck(record.truck)"
                              >{{ l('Delete') }}</a
                            >
                          </li>
                          <li>
                            <a href="javascript:;" *ngIf="entityHistoryEnabled" (click)="showHistory(record.truck)">{{ l('History') }}</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('PlateNumber') }}</span>
                      {{ record.truck.plateNumber }}
                    </td>
                    <!-- <td style="width: 350px;">
                      <span class="ui-column-title"> {{ l('ID') }}</span>
                      {{ record.truck.id }}
                    </td> -->
                    <td style="width: 500px;">
                      <span class="ui-column-title"> {{ l('TruckType') }}</span>
                      {{ record.trucksTypeDisplayName }}
                    </td>
                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('Status') }}</span>
                      {{ record.truckStatusDisplayName }}
                    </td>
                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('Driver') }}</span>
                      {{ record.userName }}
                    </td>
                    <!-- <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('Name') }}</span>
                      {{ record.userName2 }}
                    </td> -->

                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('ModelName') }}</span>
                      {{ record.truck.modelName }}
                    </td>
                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('ModelYear') }}</span>
                      {{ record.truck.modelYear }}
                    </td>
                    <!-- 
                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('LicenseExpirationDate') }}</span>
                      <span *ngIf="record.truck.licenseExpirationDate">
                        {{ record.truck.licenseExpirationDate | momentFormat: 'L' }}
                      </span>
                      <span *ngIf="!record.truck.licenseExpirationDate">-</span>
                    </td> -->
                    <!-- <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('IsAttachable') }}</span>
                      <div *ngIf="record.truck.isAttachable" class="text-center"><i class="fa fa-check-circle text-success" title="True"></i></div>
                      <div *ngIf="!record.truck.isAttachable" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                    </td> -->
                    <!-- <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('Note') }}</span>
                      {{ record.truck.note }}
                    </td> -->
                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{ l('NoData') }}
              </div>
              <div class="primeng-paging-container">
                <p-paginator
                  [rows]="primengTableHelper.defaultRecordsCountPerPage"
                  #paginator
                  (onPageChange)="getTrucks($event)"
                  [totalRecords]="primengTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                >
                </p-paginator>
                <span class="total-records-count">
                  {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                </span>
              </div>
            </div>
            <!--<Primeng-Datatable-End>-->
          </div>
        </div>
      </div>
    </div>
    <createOrEditTruckModal #createOrEditTruckModal (modalSave)="getTrucks()"></createOrEditTruckModal>
    <viewTruckModal #viewTruckModal></viewTruckModal>
    <viewOrEditEntityDocumentsModal #viewOrEditEntityDocumentsModal (modalSave)="getTrucks()"></viewOrEditEntityDocumentsModal>
    <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
    <truckUserLookupTableModal #truckUserLookupTableModal (modalSave)="getNewDriver1UserId()"></truckUserLookupTableModal>
  </div>
</div>
