<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span>{{ l('Details') }}</span>
        </h4>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- <div class="col-6 mb-3">
            <h6>{{ l('ID') }} :</h6>
            {{ item.truck.id }}
          </div> -->
          <div class="col-6 mb-3">
            <h6>{{ l('PlateNumber') }} :</h6>
            {{ item.truck.plateNumber }}
          </div>
        </div>

        <div class="row">
          <div class="col-6 mb-3">
            <h6>{{ l('ModelYear') }} :</h6>
            {{ item.truck.modelYear }}
          </div>
          <!-- <div class="col-6 mb-3">
            <h6>{{ l('IsAttachable') }} :</h6>
            <div *ngIf="item.truck.isAttachable" class="text-left"><i class="fa fa-check-circle text-success" title="True"></i></div>
            <div *ngIf="!item.truck.isAttachable" class="text-left"><i class="fa fa-times-circle" title="False"></i></div>
          </div> -->
          <div class="col-6 mb-3">
            <h6>{{ l('ModelName') }} :</h6>
            {{ item.truck.modelName }}
          </div>
        </div>

        <div class="row">
          <div class="col-6 mb-3">
            <h6>{{ l('TruckStatus') }} :</h6>
            {{ item.truckStatusDisplayName }}
          </div>
        </div>

        <div class="row">
          <div class="col-6 mb-3">
            <h6>{{ l('DriverName') }} :</h6>
            {{ item.userName }}
          </div>
          <div class="col-6 mb-3">
            <h6>{{ l('TruckType') }} :</h6>
            {{ item.trucksTypeDisplayName }}
          </div>
        </div>

        <div class="row">
          <div class="col-12 mb-3">
            <h6>{{ l('Note') }} :</h6>
            {{ item.truck.note }}
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{ l('Close') }}</button>
      </div>
    </div>
  </div>
</div>
