<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'GroupItemDetail' | localize" [description]="'GroupItemDetailHeaderInfo' | localize">
      <div role="actions">
        <button (click)="delete()" *ngIf="permission.isGranted('Pages.Administration.Host.Invoices.GroupsPeriods.Delete')" class="btn btn-danger">
          <i class="fa fa-trash"></i> {{ l('Delete') }}
        </button>
        <button
          (click)="GroupPeriodDemanModel.show(Data.id)"
          *ngIf="!Data.isDemand && permission.isGranted('Pages.Invoices.GroupsPeriods.Demand')"
          class="btn btn-success"
        >
          <i class="fa fa-file-excel"></i> {{ l('Demand') }}
        </button>
        <button
          (click)="UnDemand()"
          *ngIf="Data.isDemand && !Data.isClaim && permission.isGranted('Pages.Invoices.GroupsPeriods.UnDemand')"
          class="btn btn-secondary"
        >
          <i class="fa fa-file-excel"></i> {{ l('UnDemand') }}
        </button>
        <button
          (click)="Claim()"
          *ngIf="Data.isDemand && !Data.isClaim && permission.isGranted('Pages.Administration.Host.Invoices.GroupsPeriods.Claim')"
          class="btn btn-info"
        >
          <i class="fa fa-file-excel"></i> {{ l('Claim') }}
        </button>
        <button
          (click)="UnClaim()"
          *ngIf="Data.isClaim && permission.isGranted('Pages.Administration.Host.Invoices.GroupsPeriods.UnClaim')"
          class="btn btn-light"
        >
          <i class="fa fa-file-excel"></i> {{ l('UnClaim') }}
        </button>
        <button (click)="downloadDocument()" *ngIf="Data.demandFileName" class="btn btn-dark">
          <i class="fa fa-file-excel"></i> {{ l('Download') }}
        </button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>{{ l('GroupId') }}:</label>
                  {{ Data.id }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>{{ l('PhoneNo') }}:</label>
                  {{ Data.phone }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>{{ l('BillTo') }}:</label>
                  {{ Data.clientName }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>{{ l('InvoiceDate') }}:</label>
                  {{ Data.creationTime | momentFormat: 'L' }}
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>{{ l('FaxNo') }}:</label>
                  {{ Data.faxNo }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>{{ l('CR') }}:</label>
                  {{ Data.cr }}
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label>{{ l('Email') }}:</label>
                  {{ Data.email }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>{{ l('Address') }}:</label>
                  {{ Data.address }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>{{ l('ATTN') }}:</label>
                  {{ Data.attn }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>{{ l('ContractNo') }}:</label>
                  {{ Data.contractNo }}
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>{{ l('ProjectName') }}:</label>
                  {{ Data.projectName }}
                </div>
              </div>
            </div>

            <div class="row">
              <table class="table table-sm table-dark">
                <tr>
                  <td>{{ l('InvoiceSubTotal') }}</td>
                  <td>{{ Data.amount }}</td>
                </tr>
                <tr>
                  <td>{{ l('VatAmount') }}</td>
                  <td>{{ Data.vatAmount }}</td>
                </tr>
                <tr>
                  <td>{{ l('DueAmount') }}</td>
                  <td>{{ Data.amountWithTaxVat }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <deman-model #GroupPeriodDemanModel (modalSave)="Demand()"></deman-model>
  </div>
</div>
