<div class="container-fluid">
  <div class="row d-flex justify-content-center mb-4">
    <div class="col-lg-7">
      <div class="row align-items-center">
        <div class="col-md-12 my-2 my-md-0">
          <div class="input-icon">
            <input type="number" [(ngModel)]="waybillNumber" class="form-control" placeholder="waybill..." id="kt_datatable_search_query" />
            <span>
              <i class="flaticon2-search-1 text-muted"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 mt-5 mt-lg-0">
      <button (click)="trackByWaybillNumber()" class="btn btn-light-danger px-6 font-weight-bold float-left">{{ l('Search') }}</button>
    </div>
  </div>

  <p-table
    *ngIf="dropPoints.length > 0"
    [value]="dropPoints"
    dataKey="waybillNumber"
    responsiveLayout="scroll"
    rowExpandMode="single"
    selectionMode="single"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>{{ l('Shipper') }}</th>
        <th>{{ l('Carrier') }}</th>
        <th>{{ l('Status') }}</th>
        <th>{{ l('dropOffStatus') }}</th>
        <th>{{ l('subWaybill') }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-trip let-expanded="expanded">
      <tr [pRowToggler]="trip" (click)="trackSubWaybill(trip.waybillNumber)">
        <td>{{ trip.shipperName }}</td>
        <td>{{ trip.carrierName }}</td>
        <td>{{ trip.tripStatus }}</td>
        <td>{{ trip.dropOffStatus }}</td>
        <td>{{ trip.waybillNumber }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-subWaybill>
      <tr>
        <td colspan="5">
          <div class="p-p-3">
            <p-table [value]="subWabillData" dataKey="waybillNumber">
              <ng-template pTemplate="header">
                <tr>
                  <th>{{ l('waybillNumber') }}</th>
                  <th>{{ l('dropOffStatus') }}</th>
                  <th>{{ l('origin') }}</th>
                  <th>{{ l('destination') }}</th>
                  <th>{{ l('pickupDate') }}</th>
                  <th>{{ l('dropOffDate') }}</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-subWaybill>
                <tr>
                  <td>{{ subWaybill.waybillNumber }}</td>
                  <td>{{ subWaybill.dropOffStatus }}</td>
                  <td>{{ subWaybill.origin }}</td>
                  <td>{{ subWaybill.destination }}</td>
                  <td>{{ subWaybill.pickupDate }}</td>
                  <td>{{ subWaybill.dropOffDate }}</td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">{{ l('NoData') }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
