<div
  bsModal
  #ViewImportedTripsModal="bs-modal"
  class="modal fade"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-dialog-centered modal-xl lgWidth">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">
          <span>{{ l('ImportedTrips') }}</span>
        </p>
        <div class="card-toolbar"></div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-12 mt-4">
            <div class="row align-items-center">
              <!--<Primeng-Datatable-Start>-->
              <div [busyIf]="primengTableHelper.isLoading" class="table primeng-datatable-container col-12">
                <dx-data-grid
                  id="gridContainer"
                  [dataSource]="ImportedTripsList"
                  keyExpr="id"
                  [showBorders]="true"
                  [columnAutoWidth]="true"
                  [wordWrapEnabled]="true"
                  (onCellHoverChanged)="onCellHoverChanged($event)"
                >
                  <dxi-column dataField="bulkUploadRef" [caption]="'TripReferenceID' | localize"></dxi-column>
                  <dxi-column dataField="startTripDate" [caption]="'TripStartDate' | localize" dataType="date"></dxi-column>
                  <dxi-column dataField="endTripDate" [caption]="'TripEndDate' | localize" dataType="date"></dxi-column>
                  <dxi-column dataField="hasAttachment" [caption]="'HasAttachment' | localize" cellTemplate="needsDeliveryNoteTemplate"></dxi-column>
                  <dxi-column
                    dataField="needsDeliveryNote"
                    [caption]="'NeedsDeliveryNote' | localize"
                    cellTemplate="hasAttachmentsTemplate"
                  ></dxi-column>
                  <dxi-column dataField="originalFacility" [caption]="'Origin' | localize"></dxi-column>
                  <dxi-column dataField="destinationFacility" [caption]="'Destination' | localize"></dxi-column>
                  <dxi-column dataField="routeTypeTitle" [caption]="'RouteType' | localize" *ngIf="isDedicatedRequest"></dxi-column>
                  <dxi-column dataField="numberOfDrops" [caption]="'NumberOfDrops' | localize" *ngIf="isDedicatedRequest"></dxi-column>
                  <dxi-column dataField="sender" [caption]="'Sender' | localize" *ngIf="isSingleDdrop || isDedicatedRequest"></dxi-column>
                  <dxi-column dataField="receiver" [caption]="'Receiver' | localize" *ngIf="isSingleDdrop || isDedicatedRequest"></dxi-column>
                  <dxi-column dataField="driver" [caption]="'Driver' | localize" *ngIf="isDedicatedRequest"></dxi-column>
                  <dxi-column dataField="truck" [caption]="'Truck' | localize" *ngIf="isDedicatedRequest"></dxi-column>
                  <dxi-column dataField="totalValue" [caption]="'TotalValue' | localize"></dxi-column>
                  <dxi-column dataField="goodCategory" [caption]="'GoodCategory' | localize" *ngIf="!shippingRequestId"></dxi-column>
                  <dxi-column
                    dataField="exception"
                    [caption]="'HasErrors' | localize"
                    cellTemplate="errorsCellTemplate"
                    alignment="center"
                  ></dxi-column>

                  <div *dxTemplate="let item of 'errorsCellTemplate'">
                    <div *ngIf="item.data.exception">
                      <i class="fa fa-2x fa-exclamation-circle text-danger"></i>
                    </div>
                  </div>
                  <div *dxTemplate="let item of 'needsDeliveryNoteTemplate'">
                    {{ item.data.needsDeliveryNote ? l('Yes') : l('No') }}
                  </div>
                  <div *dxTemplate="let item of 'hasAttachmentsTemplate'">
                    {{ item.data.hasAttachment ? l('Yes') : l('No') }}
                  </div>
                </dx-data-grid>
                <dx-popover #popOver [(target)]="popoverTarget" position="{{ isRtl ? 'right' : 'left' }}" [width]="300">
                  <div *dxTemplate="let data of 'content'">
                    <span class="required-fileds font-weight-bolder"> {{ l('Exception') }}: </span><span>{{ popOverText }}</span>
                  </div>
                </dx-popover>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!--begin::Buttons-->

        <button type="button" class="btn btn-light font-weight-bolder btn-sm py-3 px-6 text-uppercase" (click)="close()">
          {{ l('Close') }}
        </button>
        <button
          type="submit"
          (click)="save()"
          class="btn btn-primary font-weight-bold"
          [disabled]="ImportedTripsList ? checkImportedList(ImportedTripsList) : false"
          [buttonBusy]="saving"
          [busyText]="l('SavingWithThreeDot')"
        >
          <i class="fa fa-save"></i> <span>{{ 'Save' | localize }}</span>
        </button>
        <!--end::Buttons-->
      </div>
    </div>
  </div>
</div>
