<div class="card card-custom h-100">
  <div class="card-header align-items-center border-0">
    <h3 class="card-title align-items-start flex-column">
      <span class="font-weight-bolder text-dark">
        {{ 'NewAccounts' | localize }}
      </span>
    </h3>
    <div class="card-toolbar">
      <div class="btn-group" data-toggle="buttons">
        <label
          class="btn btn-secondary active"
          [ngClass]="{ active: selectedDatePeriod == filterDatePeriodInterval.Daily }"
          (click)="reload(filterDatePeriodInterval.Daily)"
        >
          <input type="radio" name="filterDatePeriodInterval" [value]="filterDatePeriodInterval.Daily" />
          {{ 'Daily' | localize }}
        </label>
        <label
          class="btn btn-secondary"
          [ngClass]="{ active: selectedDatePeriod == filterDatePeriodInterval.Weekly }"
          (click)="reload(filterDatePeriodInterval.Weekly)"
        >
          <input type="radio" name="filterDatePeriodInterval" [value]="filterDatePeriodInterval.Weekly" />
          {{ 'Weekly' | localize }}
        </label>
        <label
          class="btn btn-secondary"
          [ngClass]="{ active: selectedDatePeriod == filterDatePeriodInterval.Monthly }"
          (click)="reload(filterDatePeriodInterval.Monthly)"
        >
          <input type="radio" name="filterDatePeriodInterval" [value]="filterDatePeriodInterval.Monthly" />
          {{ 'Monthly' | localize }}
        </label>
      </div>
    </div>
  </div>
  <div class="card-body" [busyIf]="loading">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <div class="card-body p-1">
            <div class="pd-5 text-center" *ngIf="!counts">
              {{ l('NoData') }}
            </div>
            <div id="invoicesVsPaidInvoices">
              <apx-chart
                *ngIf="chartOptions && chartOptions.series && counts"
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels"
                [plotOptions]="chartOptions.plotOptions"
                [yaxis]="chartOptions.yaxis"
                [legend]="chartOptions.legend"
                [fill]="chartOptions.fill"
                [stroke]="chartOptions.stroke"
                [tooltip]="chartOptions.tooltip"
                [xaxis]="chartOptions.xaxis"
              ></apx-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
