<div class="row">
  <div class="col-lg-12">
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
      <div class="card-header border-0">
        <div class="card-title text-center">
          <h3 class="card-label">New Accounts</h3>
        </div>
      </div>
      <div class="card-body p-1">
        <div id="invoicesVsPaidInvoices">
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [yaxis]="chartOptions.yaxis"
            [legend]="chartOptions.legend"
            [fill]="chartOptions.fill"
            [stroke]="chartOptions.stroke"
            [tooltip]="chartOptions.tooltip"
            [xaxis]="chartOptions.xaxis"
          ></apx-chart>
        </div>
      </div>
    </div>
    <!--end::Card-->
  </div>
</div>
