<!--suppress XmlInvalidId -->
<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header
      [breadcrumbs]="breadcrumbs"
      [title]="shippingRequest.id ? ('ShippingRequestsEdit' | localize) : ('ShippingRequestsCreate' | localize)"
    >
    </sub-header>

    <div [class]="containerClass">
      <form *ngIf="active" #shippingRequestForm="ngForm" autocomplete="off">
        <div class="card card-custom gutter-b">
          <!--  start of card::form-->
          <div class="card-header">
            <h3 class="card-title">{{ l('TruckDetails') }}</h3>
          </div>
          <!--  start of card::body-->
          <div class="card-body">
            <div class="row">
              <!--  start of truck::Details-->
              <div class="col-12">
                <div class="mb-3">
                  <div class="mb-2">
                    <div class="form-group row fv-plugins-icon-container">
                      <div class="col-lg-6">
                        <label>
                          <span class="required-fileds">*</span>
                          {{ l('TransportType') }}:</label
                        >
                        <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allTransportTypes }">
                          <select
                            class="form-control"
                            name="transportType"
                            #TransportType="ngModel"
                            required
                            [disabled]="!allTransportTypes"
                            [(ngModel)]="shippingRequest.transportTypeId"
                            [class.is-invalid]="allTransportTypes && TransportType.touched && !TransportType.valid"
                            [class.is-valid]="allTransportTypes && TransportType.touched && TransportType.valid"
                            (change)="transportTypeSelectChange(shippingRequest.transportTypeId)"
                          >
                            <option [ngValue]="null">{{ l('SelectaTransportType') }}</option>
                            <option *ngFor="let item of allTransportTypes" value="{{ item.id }}">{{ item.displayName }} </option>
                          </select>
                        </div>
                        <span class="form-text text-muted">{{ l('SelectaTransportType') }}</span>
                      </div>
                      <div class="col-lg-6 mb-3">
                        <label><span class="required-fileds">*</span> {{ l('TruckType') }}:</label>
                        <div>
                          <div
                            [ngClass]="{
                              'spinner spinner-success spinner-right mr-1 ml-1': truckTypeLoading
                            }"
                          >
                            <select
                              #TruckType="ngModel"
                              class="form-control"
                              name="truckType"
                              required
                              [disabled]="shippingRequest.transportTypeId == null || allTransportTypes == null || allTrucksTypes == null"
                              [(ngModel)]="shippingRequest.trucksTypeId"
                              [class.is-invalid]="allTrucksTypes && TruckType.touched && !TruckType.valid"
                              [class.is-valid]="allTrucksTypes && TruckType.touched && TruckType.valid"
                              (change)="trucksTypeSelectChange(shippingRequest.trucksTypeId)"
                            >
                              <option [ngValue]="null">{{ l('SelectaTruckType') }}</option>
                              <option *ngFor="let item of allTrucksTypes" value="{{ item.id }}">{{ item.displayName }} </option>
                            </select>
                          </div>
                        </div>

                        <span class="form-text text-muted">{{ l('SelectaTruckType') }}</span>
                      </div>
                      <div class="col-lg-6">
                        <label><span class="required-fileds">*</span> {{ l('Capacity') }}:</label>
                        <div
                          [ngClass]="{
                            'spinner spinner-success spinner-right mr-1 ml-1': capacityLoading
                          }"
                        >
                          <select
                            #Capacity="ngModel"
                            class="form-control"
                            name="capacity"
                            required
                            [disabled]="
                              capacityLoading ||
                              shippingRequest.trucksTypeId == null ||
                              shippingRequest.transportTypeId == null ||
                              allTransportTypes == null ||
                              allTrucksTypes == null
                            "
                            [(ngModel)]="shippingRequest.capacityId"
                            [class.is-invalid]="allCapacities && Capacity.touched && !Capacity.valid"
                            [class.is-valid]="allCapacities && Capacity.touched && Capacity.valid"
                          >
                            <option [ngValue]="null">{{ l('SelectaCapacity') }}</option>
                            <option *ngFor="let item of allCapacities" value="{{ item.id }}">{{ item.displayName }} </option>
                          </select>
                        </div>
                        <span class="form-text text-muted">{{ l('SelectaCapacity') }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  end of truck::Details-->
            </div>
          </div>
          <!--  end of card::body-->
          <!--  start of card::form-->
        </div>
        <div class="card card-custom gutter-b">
          <!--  start of card::form-->
          <div class="card-header">
            <h3 class="card-title">{{ l('ShippingRequestProperties') }}</h3>
          </div>
          <!--  start of card::body-->
          <div class="card-body">
            <div class="row">
              <!--  start of ShippingRequestType::Details-->
              <div class="col-12">
                <div class="mb-3">
                  <div class="mb-2">
                    <div class="form-group row fv-plugins-icon-container">
                      <div class="col-lg-6">
                        <label><span class="required-fileds">*</span> {{ l('ShippingRequestType') }}:</label>
                        <select
                          #SRType="ngModel"
                          class="form-control"
                          name="shippingRequestType"
                          required
                          [class.is-invalid]="SRType.touched && !SRType.valid"
                          [class.is-valid]="SRType.touched && SRType.valid"
                          [(ngModel)]="shippingRequestType"
                          (change)="resetBiddingDates()"
                          [disabled]="shippingRequest.id"
                        >
                          <option value="">Select</option>
                          <option value="bidding">{{ l('Marketplace') }}</option>
                          <option value="tachyondeal">{{ l('TachyonManageService') }}</option>
                          <option *ngIf="this.feature.isEnabled('App.SendDirectRequest')" value="directrequest">{{ l('DirectRequest') }}</option>
                        </select>
                        <span class="form-text text-muted">{{ l('PickaShippingRequestType') }}</span>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label><span class="required-fileds">*</span> {{ l('BiddingStartDate') }}:</label>
                          <div class="input-group date">
                            <input
                              class="form-control"
                              placeholder="{{ l('BiddingstartDate') }}"
                              name="shippingrequestBidStratDate"
                              [required]="this.shippingRequestType == 'bidding'"
                              [(date)]="shippingRequest.bidStartDate"
                              [disabled]="shippingRequestType != 'bidding' || shippingRequest.id"
                              [minDate]="today"
                              (dateChange)="validateBiddingDates()"
                              bsDatepicker
                              datePickerMomentModifier
                            />
                            <div class="input-group-append">
                              <span class="input-group-text">
                                <i class="la la-calendar-check-o"></i>
                              </span>
                            </div>
                          </div>
                          <span class="form-text text-muted">{{ l('SetBiddingStartDate') }}</span>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <label><span class="required-fileds">*</span> {{ l('BiddingEndDate') }}:</label>
                        <div class="input-group date">
                          <input
                            class="form-control"
                            placeholder="{{ l('BiddingEndDate') }}"
                            name="shippingrequestBidEndDate"
                            [required]="this.shippingRequestType == 'bidding'"
                            [(date)]="shippingRequest.bidEndDate"
                            [disabled]="shippingRequestType != 'bidding'"
                            [minDate]="shippingRequest.bidStartDate"
                            (dateChange)="validateBiddingDates()"
                            bsDatepicker
                            datePickerMomentModifier
                          />
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="la la-calendar-check-o"></i>
                            </span>
                          </div>
                        </div>
                        <span class="form-text text-muted">{{ l('BiddingEndDate') }}</span>
                      </div>
                      <!--       Start Of Shipping Type                 -->
                      <div class="col-lg-6">
                        <label><span class="required-fileds">*</span> {{ l('ShippingType') }}:</label>
                        <div
                          [ngClass]="{
                            'spinner spinner-success spinner-right mr-1 ml-1': !allShippingTypes
                          }"
                        >
                          <select
                            #shippingType="ngModel"
                            class="form-control"
                            name="shippingType"
                            required
                            [(ngModel)]="shippingRequest.shippingTypeId"
                            [class.is-invalid]="shippingType.touched && !shippingType.valid"
                            [class.is-valid]="shippingType.touched && shippingType.valid"
                            [disabled]="!allShippingTypes"
                          >
                            <option [ngValue]="null">{{ l('SelectAshippingType') }}</option>
                            <option *ngFor="let item of allShippingTypes" value="{{ item.id }}">{{ item.displayName }} </option>
                          </select>
                        </div>
                        <span class="form-text text-muted">{{ l('SelectAShippingType') }}</span>
                      </div>
                      <!--  End of Shipping Type -->
                    </div>
                  </div>
                </div>
              </div>
              <!--  end of ShippingRequestType::Details -->
            </div>
          </div>
          <!--  end of card::body -->
          <!--  start of card::form -->
        </div>
        <div class="card card-custom gutter-b">
          <!--  start of card::form-->
          <div class="card-header">
            <h3 class="card-title">{{ l('GoodDetails') }}</h3>
          </div>
          <!--  start of card::body-->
          <div class="card-body">
            <div class="row">
              <!--  start of Shipment::Details-->
              <div class="col-12">
                <div class="mb-3">
                  <div class="mb-2">
                    <div class="row">
                      <div class="col-lg-6">
                        <label><span class="required-fileds">*</span> {{ l('MainGoodCategory') }}:</label>
                        <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allGoodCategorys }">
                          <select
                            #goodCategory="ngModel"
                            class="form-control"
                            name="goodCategory"
                            [disabled]="!allGoodCategorys"
                            [(ngModel)]="shippingRequest.goodCategoryId"
                            required
                            [class.is-invalid]="goodCategory.touched && !goodCategory.valid"
                            [class.is-valid]="goodCategory.touched && goodCategory.valid"
                          >
                            <option [ngValue]="undefined">{{ l('SelectAGoodCategory') }}</option>
                            <option *ngFor="let item of allGoodCategorys" value="{{ item.id }}">{{ item.displayName }} </option>
                          </select>
                        </div>

                        <span class="form-text text-muted">{{ l('SelectaGoodCategory') }}</span>
                      </div>
                      <div class="col-lg-6">
                        <label><span class="required-fileds">*</span> {{ l('TotalWeight') }}:</label>
                        <div>
                          <div class="input-group">
                            <div class="input-group-append">
                              <span class="input-group-text">
                                KG
                              </span>
                            </div>
                            <input
                              #Weight="ngModel"
                              type="number"
                              name="Weight"
                              class="form-control"
                              placeholder="Weight"
                              [(ngModel)]="shippingRequest.totalWeight"
                              (keypress)="numberOnly($event)"
                              required
                              [class.is-invalid]="Weight.touched && !Weight.valid"
                              [class.is-valid]="Weight.touched && Weight.valid"
                            />
                          </div>
                        </div>
                        <span class="form-text text-muted">{{ l('TotalWeightofGoodsinKG') }}</span>
                      </div>

                      <div class="col-lg-6 mt-4">
                        <div class="form-group">
                          <div
                            [ngClass]="{
                              'spinner spinner-success spinner-right mr-1 ml-1': !allpackingTypes
                            }"
                          >
                            <label><span class="required-fileds">*</span> {{ l('PackingType') }}:</label>
                            <select
                              #packingType="ngModel"
                              class="form-control"
                              name="packingType"
                              required
                              [(ngModel)]="shippingRequest.packingTypeId"
                              [class.is-invalid]="packingType.touched && !packingType.valid"
                              [class.is-valid]="packingType.touched && packingType.valid"
                              [disabled]="!allpackingTypes"
                            >
                              <option [ngValue]="null">{{ l('SelectaPackingType') }}</option>
                              <option *ngFor="let item of allpackingTypes" value="{{ item.id }}">{{ item.displayName }} </option>
                            </select>
                          </div>
                          <span class="form-text text-muted">{{ l('EnterPackingType') }}</span>
                        </div>
                      </div>
                      <div class="col-lg-6 mt-4">
                        <div class="form-group">
                          <label><span class="required-fileds">*</span> {{ l('NumberOfPacking') }}:</label>
                          <input
                            #numberOfPacking="ngModel"
                            class="form-control"
                            type="number"
                            name="numberOfPacking"
                            id="numberOfPacking"
                            [(ngModel)]="shippingRequest.numberOfPacking"
                            required
                            [class.is-invalid]="numberOfPacking.touched && !numberOfPacking.valid"
                            [class.is-valid]="numberOfPacking.touched && numberOfPacking.valid"
                          />
                          <span class="form-text text-muted">{{ l('EnterNumberOfPacking') }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  end of Shipment::Details-->
              <!--  Start:Goods details  -->
              <!--                (SelectedGoodDetailsFromChild)="shippingRequest.goodsDetailS = $event"-->
              <!--              <GoodDetailsForCreateShippingRequest [MainCategory]="shippingRequest.goodCategoryId"></GoodDetailsForCreateShippingRequest>-->
              <!--   end::Goods details   -->
            </div>
          </div>
          <!--  end of card::body-->

          <!--  start of card::form-->
        </div>
        <div class="card card-custom gutter-b">
          <!--  start of card::form-->
          <div class="card-header">
            <h3 class="card-title">{{ l('RouteDetails') }}</h3>
          </div>
          <!--  start of card::body-->
          <div class="card-body">
            <div class="row">
              <!--  start of Route::Details-->
              <div class="col-12">
                <div class="mb-3">
                  <div class="mb-2">
                    <div class="row">
                      <!-- Start of Select Source -->
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label><span class="required-fileds">*</span> {{ l('OriginCity') }}:</label>
                          <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allCitys }">
                            <select
                              #Origin="ngModel"
                              class="form-control"
                              name="origin"
                              [disabled]="!allCitys"
                              [(ngModel)]="shippingRequest.originCityId"
                              required
                              [class.is-invalid]="Origin.touched && !Origin.valid"
                              [class.is-valid]="Origin.touched && Origin.valid"
                            >
                              <option value="">{{ l('SelectanOriginCity') }}</option>
                              <option *ngFor="let item of allCitys" value="{{ item.id }}">{{ item.displayName }} </option>
                            </select>
                          </div>

                          <span class="form-text text-muted">{{ l('SelectaCity') }}</span>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label><span class="required-fileds">*</span> {{ l('DestinationCity') }}:</label>
                          <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allCitys }">
                            <select
                              #Destination="ngModel"
                              class="form-control"
                              name="destination"
                              required
                              [class.is-invalid]="Destination.touched && !Destination.valid"
                              [class.is-valid]="Destination.touched && Destination.valid"
                              [disabled]="!allCitys"
                              [(ngModel)]="shippingRequest.destinationCityId"
                            >
                              <option value="">{{ l('selectaDestination') }}</option>
                              <option *ngFor="let item of allCitys" value="{{ item.id }}">{{ item.displayName }} </option>
                            </select>
                          </div>
                          <span class="form-text text-muted">{{ l('SelectaCity') }}</span>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="form-group">
                          <label><span class="required-fileds">*</span> {{ l('TripsStartDate') }}:</label>
                          <div class="input-group date">
                            <input
                              [(date)]="shippingRequest.startTripDate"
                              class="form-control"
                              type="datetime"
                              name="startdate"
                              placeholder="{{ l('TripsStartDate') }}"
                              [minDate]="shippingRequest.bidStartDate || today"
                              (dateChange)="validateTripsDates()"
                              bsDatepicker
                              datePickerMomentModifier
                            />

                            <div class="input-group-append">
                              <span class="input-group-text">
                                <i class="la la-calendar-check-o"></i>
                              </span>
                            </div>
                          </div>
                          <span class="form-text text-muted">{{ l('TripsStartDate') }}</span>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>
                            <!--                              <span class="required-fileds">*</span>-->
                            {{ l('TripsEndDate') }}:</label
                          >
                          <div class="input-group date">
                            <input
                              [(date)]="shippingRequest.endTripDate"
                              class="form-control"
                              name="endDate"
                              placeholder="{{ l('TripsEndDate') }}"
                              [minDate]="shippingRequest.startTripDate || today"
                              (dateChange)="validateTripsDates()"
                              bsDatepicker
                              datePickerMomentModifier
                            />
                            <div class="input-group-append">
                              <span class="input-group-text">
                                <i class="la la-calendar-check-o"></i>
                              </span>
                            </div>
                          </div>
                          <span class="form-text text-muted">{{ l('TripsEndDate') }}</span>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <label><span class="required-fileds">*</span> {{ l('RouteType') }}:</label>
                        <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allRoutTypes }">
                          <select
                            #RouteType="ngModel"
                            class="form-control"
                            name="routeType"
                            required
                            [disabled]="!allRoutTypes"
                            [(ngModel)]="selectedRouteType"
                            [class.is-invalid]="RouteType.touched && !RouteType.valid"
                            [class.is-valid]="RouteType.touched && RouteType.valid"
                            (change)="shippingRequest.numberOfDrops = undefined"
                          >
                            <option value="">{{ l('SelectRouteType') }}</option>
                            <option [value]="code.key" *ngFor="let code of allRoutTypes">
                              {{ code.value | localize }}
                            </option>
                            <!--<option *ngFor="let item of allRoutTypes" value="{{ item.id }}">{{ item.displayName }}</option>-->
                          </select>
                        </div>
                        <span class="form-text text-muted">{{ l('PickaRouteType') }}</span>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label><span class="required-fileds">*</span>{{ l('NumberOfDrops') }}:</label>
                          <input
                            #NumberOfDrops="ngModel"
                            class="form-control"
                            type="number"
                            name="numberOfDrops"
                            id="numberOfDrops"
                            maxlength="2"
                            [required]="selectedRouteType == 3"
                            [(ngModel)]="shippingRequest.numberOfDrops"
                            [class.is-invalid]="selectedRouteType == 3 && NumberOfDrops.touched && !NumberOfDrops.valid"
                            [class.is-valid]="selectedRouteType == 3 && NumberOfDrops.touched && NumberOfDrops.valid"
                            [disabled]="selectedRouteType != 3"
                          />
                          <span class="form-text text-muted">{{ l('NumberOfDrops') }} {{ l('ForMiltibleTripsRouteType') }}</span>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label><span class="required-fileds">*</span> {{ l('NumberOfTrips') }}:</label>
                          <input
                            #numberOfTrips="ngModel"
                            class="form-control"
                            type="number"
                            name="numberOfTrips"
                            id="numberOfTrips"
                            [(ngModel)]="shippingRequest.numberOfTrips"
                            required
                            maxlength="2"
                            [min]="1"
                            [max]="100"
                            (keypress)="numberOnly($event)"
                            [class.is-invalid]="numberOfTrips.touched && !numberOfTrips.valid"
                            [class.is-valid]="numberOfTrips.touched && numberOfTrips.valid"
                          />
                          <span class="form-text text-muted">{{ l('EnterNumberOfTrips') }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  Start::RouteSteps     -->
              <!--              <RouteStepsForCreateShippingRequest-->
              <!--                [MainGoodsCategory]="shippingRequest.goodCategoryId"-->
              <!--                [RouteType]="shippingRequest.routTypeId || this.selectedRouteType"-->
              <!--                [NumberOfDrops]="shippingRequest.numberOfDrops"-->
              <!--                (SelectedWayPointsFromChild)="shippingRequest.createOrEditRoutPointDtoList = $event"-->
              <!--                [WayPointListFromFatherForShippingRequestEdit]="shippingRequest.createOrEditRoutPointDtoList"-->
              <!--              ></RouteStepsForCreateShippingRequest>-->
              <!--   End::RouteSteps      -->
              <!--  end of Route::Details-->
            </div>
          </div>
          <!--  end of card::body-->
          <!--  start of card::form-->
        </div>
        <!--   Start:: Vas Card     -->
        <div class="card card-custom gutter-b">
          <!--  start of card::form-->
          <div class="card-header">
            <h3 class="card-title">{{ l('VasDetails') }}</h3>
          </div>
          <!--  start of card::body-->
          <div class="card-body">
            <!--  start of Vas::Details-->
            <div class="row">
              <div class="col-sm-3">
                <!-- <p-listbox
                  name="VasList"
                  [options]="allVases"
                  [metaKeySelection]="false"
                  [checkbox]="true"
                  [filter]="true"
                  [multiple]="true"
                  optionLabel="vasName"
                  [listStyle]="{ 'max-height': '250px' }"
                  [style]="{ width: '100%' }"
                  (onChange)="selectVases($event)"
                >
                </p-listbox> -->

                <p-multiSelect
                  [options]="allVases"
                  [(ngModel)]="selectedvas"
                  defaultLabel="Select a VASs"
                  optionLabel="vasName"
                  name="VasList"
                  class="multiselect-custom"
                  [style]="{ width: '100%' }"
                  (onChange)="selectVases($event)"
                  displaySelectedLabel="true"
                >
                  <!-- new shippingRequest -->
                  <div *ngIf="shippingRequest.id && selectedVases; else newShippingRequest">
                    <ng-template let-value pTemplate="selectedItems">
                      <div *ngIf="!selectedVases || selectedVases.length === 0" class="vas-placeholder">
                        {{ l('SelectVASs') }}
                      </div>
                      <div class="vas-item vas-item-value" *ngFor="let vas of selectedVases">
                        <div>{{ vas.vasName }}</div>
                      </div>
                    </ng-template>
                  </div>

                  <!-- edit shippingRequest -->
                  <ng-template #newShippingRequest>
                    <ng-template let-value pTemplate="selectedItems">
                      <div *ngIf="!selectedvas || selectedvas.length === 0" class="vas-placeholder">
                        {{ l('SelectVASs') }}
                      </div>
                      <div class="vas-item vas-item-value" *ngFor="let vas of selectedvas">
                        <div>{{ vas.vasName }}</div>
                      </div>
                    </ng-template>
                  </ng-template>

                  <!-- <ng-template let-value pTemplate="selectedItems">
                    <div *ngIf="!selectedvas || selectedvas.length === 0" class="country-placeholder">
                      {{ l('SelectVASs') }}
                    </div>
                    <div class="country-item country-item-value" *ngFor="let vas of selectedvas">
                      <div>{{ vas.vasName }}</div>
                    </div>
                  </ng-template> -->

                  <!-- show dorpdown items -->
                  <div *ngFor="let vas of allVases">
                    <ng-template pTemplate="item">
                      <div class="vas-item">
                        <div>{{ vas.vasName }}</div>
                      </div>
                    </ng-template>
                  </div>
                </p-multiSelect>
              </div>

              <div class="col-sm-9">
                <table *ngIf="allVases" class="table">
                  <thead>
                    <tr class="table-active">
                      <th scope="col">{{ l('Name') }}</th>
                      <th scope="col">{{ l('Count') }}</th>
                      <th scope="col">{{ l('Amount') }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of selectedVases; index as i">
                      <td>
                        {{ selectedVasesProperties[item.vasId].vasName }}
                      </td>
                      <td>
                        <input
                          type="number"
                          [attr.disabled]="selectedVasesProperties[item.vasId].vasCountDisabled || null"
                          id="Vas-Count{{ i }}"
                          [(ngModel)]="item.requestMaxCount"
                          (keypress)="numberOnly($event)"
                          [required]="!selectedVasesProperties[item.vasId].vasCountDisabled"
                          class="form-control"
                          name="Vas-Count{{ i }}"
                        />
                      </td>
                      <td>
                        <input
                          type="number"
                          [attr.disabled]="selectedVasesProperties[item.vasId].vasAmountDisabled || null"
                          id="VasAmount2{{ i }}"
                          [(ngModel)]="item.requestMaxAmount"
                          (keypress)="numberOnly($event)"
                          [required]="!selectedVasesProperties[item.vasId].vasAmountDisabled"
                          class="form-control"
                          name="VasAmount2{{ i }}"
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--  end of Vas::Details-->
          </div>
          <div class="card-footer bg-gray-100 border-top-0 text-right">
            <button
              type="submit"
              (click)="save()"
              class="btn btn-primary font-weight-bold mr-2"
              [busyText]="l('SavingWithThreeDot')"
              [buttonBusy]="saving"
              [disabled]="!shippingRequestForm.form.valid"
            >
              <span> {{ shippingRequest.id ? l('UpdateSippingRequest') : l('CreateShippingRequest') }}</span>
            </button>
            <button type="reset" class="btn btn-light-primary font-weight-bold" (click)="cancel()">
              {{ l('Cancel') }}
            </button>
          </div>
          <!--  end of card::body-->
          <!--  start of card::form-->
        </div>
      </form>
    </div>
  </div>
</div>
