<!--suppress XmlInvalidId -->
<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header
      [breadcrumbs]="breadcrumbs"
      [title]="shippingRequest.id ? ('ShippingRequestsEdit' | localize) : ('ShippingRequestsCreate' | localize)"
    ></sub-header>

    <div [class]="containerClass">
      <form *ngIf="active" #shippingRequestForm="ngForm" autocomplete="off">
        <div class="card card-custom gutter-b">
          <!--  start of card::form-->
          <div class="card-header">
            <h3 class="card-title">{{ l('truckDetails') }}</h3>
          </div>
          <!--  start of card::body-->
          <div class="card-body">
            <div class="row">
              <!--  start of truck::Details-->
              <div class="col-12">
                <div class="mb-3">
                  <div class="mb-2">
                    <div class="form-group row fv-plugins-icon-container">
                      <div class="col-lg-6">
                        <label>* {{ l('transportType') }}:</label>
                        <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allTransportTypes }">
                          <select
                            class="form-control"
                            name="transportType"
                            #TransportType="ngModel"
                            required
                            [disabled]="!allTransportTypes"
                            [(ngModel)]="shippingRequest.transportTypeId"
                            [class.is-invalid]="allTransportTypes && TransportType.touched && !TransportType.valid"
                            [class.is-valid]="allTransportTypes && TransportType.touched && TransportType.valid"
                            (change)="transportTypeSelectChange(shippingRequest.transportTypeId)"
                          >
                            <option [ngValue]="null">{{ l('selectaTransportType') }}</option>
                            <option *ngFor="let item of allTransportTypes" value="{{ item.id }}">{{ item.displayName }}</option>
                          </select>
                        </div>
                        <span class="form-text text-muted">{{ l('selectaTransportType') }}</span>
                      </div>
                      <div class="col-lg-6 mb-3">
                        <label>* {{ l('truckType') }}:</label>
                        <div>
                          <div
                            [ngClass]="{
                              'spinner spinner-success spinner-right mr-1 ml-1': truckTypeLoading
                            }"
                          >
                            <select
                              #TruckType="ngModel"
                              class="form-control"
                              name="truckType"
                              required
                              [(ngModel)]="shippingRequest.trucksTypeId"
                              [class.is-invalid]="allTrucksTypes && TruckType.touched && !TruckType.valid"
                              [class.is-valid]="allTrucksTypes && TruckType.touched && TruckType.valid"
                              (change)="trucksTypeSelectChange(shippingRequest.trucksTypeId)"
                              [disabled]="shippingRequest.transportTypeId == null || allTransportTypes == null || allTrucksTypes == null"
                            >
                              <option [ngValue]="null">{{ l('selectaTruckType') }}</option>
                              <option *ngFor="let item of allTrucksTypes" value="{{ item.id }}">{{ item.displayName }}</option>
                            </select>
                          </div>
                        </div>

                        <span class="form-text text-muted">{{ l('selectaTruckType') }}</span>
                      </div>
                      <div class="col-lg-6">
                        <label>* {{ l('Capacity') }}:</label>
                        <div
                          [ngClass]="{
                            'spinner spinner-success spinner-right mr-1 ml-1': capacityLoading
                          }"
                        >
                          <select
                            #Capacity="ngModel"
                            class="form-control"
                            name="capacity"
                            required
                            [disabled]="
                              shippingRequest.trucksTypeId == null ||
                              shippingRequest.transportTypeId == null ||
                              allTransportTypes == null ||
                              allTrucksTypes == null
                            "
                            [(ngModel)]="shippingRequest.capacityId"
                            [class.is-invalid]="allCapacities && Capacity.touched && !Capacity.valid"
                            [class.is-valid]="allCapacities && Capacity.touched && Capacity.valid"
                          >
                            <option [ngValue]="null">{{ l('selectaCapacity') }}</option>
                            <option *ngFor="let item of allCapacities" value="{{ item.id }}">{{ item.displayName }}</option>
                          </select>
                        </div>
                        <span class="form-text text-muted">{{ l('selectaCapacity') }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  end of truck::Details-->
            </div>
          </div>
          <!--  end of card::body-->
          <!--  start of card::form-->
        </div>
        <div class="card card-custom gutter-b">
          <!--  start of card::form-->
          <div class="card-header">
            <h3 class="card-title">{{ l('ShippingRequestType') }}</h3>
          </div>
          <!--  start of card::body-->
          <div class="card-body">
            <div class="row">
              <!--  start of ShippingRequestType::Details-->
              <div class="col-12">
                <div class="mb-3">
                  <div class="mb-2">
                    <div class="form-group row fv-plugins-icon-container">
                      <div class="col-lg-6">
                        <label>* {{ l('ShippingRequestType') }}:</label>
                        <select
                          #SRType="ngModel"
                          class="form-control"
                          name="shippingRequestType"
                          required
                          [class.is-invalid]="SRType.touched && !SRType.valid"
                          [class.is-valid]="SRType.touched && SRType.valid"
                          [(ngModel)]="shippingRequestType"
                          (change)="shippingRequestTypeChanged()"
                        >
                          <option>Select</option>
                          <option value="bidding">{{ l('bidding') }}</option>
                          <option value="tachyondeal">{{ l('TachyonDeal') }}</option>
                        </select>
                        <span class="form-text text-muted">{{ l('pickaShippingRequestType') }}</span>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label>* {{ l('biddingStartDate') }}:</label>
                          <div class="input-group date">
                            <input
                              #BidStartDate="ngModel"
                              class="form-control"
                              placeholder="{{ l('BiddingstartDate') }}"
                              name="shippingrequestBidStratDate"
                              [required]="this.shippingRequestType == 'bidding'"
                              [class.is-invalid]="this.shippingRequestType == 'bidding' && BidStartDate.touched && !BidStartDate.valid"
                              [class.is-valid]="this.shippingRequestType == 'bidding' && BidStartDate.touched && BidStartDate.valid"
                              [(ngModel)]="shippingRequest.bidStartDate"
                              [disabled]="shippingRequestType != 'bidding'"
                              bsDatepicker
                            />
                            <div class="input-group-append">
                              <span class="input-group-text">
                                <i class="la la-calendar-check-o"></i>
                              </span>
                            </div>
                          </div>
                          <span class="form-text text-muted">{{ l('SetBiddingStartDate') }} (in case of shipping request type is bidding)</span>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <label>* {{ l('biddingEndDate') }}:</label>
                        <div class="input-group date">
                          <input
                            #BidEndDate="ngModel"
                            class="form-control"
                            placeholder="{{ l('biddingEndDate') }}"
                            name="shippingrequestBidEndDate"
                            [required]="this.shippingRequestType == 'bidding'"
                            [class.is-invalid]="this.shippingRequestType == 'bidding' && BidEndDate.touched && !BidEndDate.valid"
                            [class.is-valid]="this.shippingRequestType == 'bidding' && BidEndDate.touched && BidEndDate.valid"
                            [(ngModel)]="shippingRequest.bidEndDate"
                            [disabled]="shippingRequestType != 'bidding'"
                            bsDatepicker
                          />
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="la la-calendar-check-o"></i>
                            </span>
                          </div>
                        </div>
                        <span class="form-text text-muted">{{ l('biddingEndDate') }} (in case of shipping request type is bidding)</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  end of ShippingRequestType::Details-->
            </div>
          </div>
          <!--  end of card::body-->

          <!--  start of card::form-->
        </div>
        <div class="card card-custom gutter-b">
          <!--  start of card::form-->
          <div class="card-header">
            <h3 class="card-title">{{ l('shipmentDetails') }}</h3>
          </div>
          <!--  start of card::body-->
          <div class="card-body">
            <div class="row">
              <!--  start of Shipment::Details-->
              <div class="col-12">
                <div class="mb-3">
                  <div class="mb-2">
                    <div class="form-group row fv-plugins-icon-container">
                      <div class="col-lg-6">
                        <label>* {{ l('MainGoodCategory') }}:</label>
                        <!--   TODO:// Add DataBining for DD-->
                        <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allGoodCategorys }">
                          <select
                            #goodCategory="ngModel"
                            class="form-control"
                            name="goodCategory"
                            [disabled]="!allGoodCategorys"
                            [(ngModel)]="shippingRequest.goodCategoryId"
                            required
                            [class.is-invalid]="goodCategory.touched && !goodCategory.valid"
                            [class.is-valid]="goodCategory.touched && goodCategory.valid"
                          >
                            <option value="">{{ l('SelectAGoodCategory') }}</option>
                            <option *ngFor="let item of allGoodCategorys" value="{{ item.id }}">{{ item.displayName }}</option>
                          </select>
                        </div>

                        <span class="form-text text-muted">{{ l('selectaGoodCategory') }}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  end of Shipment::Details-->
              <!--  Start:Goods details  -->
              <GoodDetailsForCreateShippingRequest
                (SelectedGoodDetailsFromChild)="shippingRequest.goodsDetailS = $event"
              ></GoodDetailsForCreateShippingRequest>
              <!--   end::Goods details   -->
            </div>
          </div>
          <!--  end of card::body-->

          <!--  start of card::form-->
        </div>
        <div class="card card-custom gutter-b">
          <!--  start of card::form-->
          <div class="card-header">
            <h3 class="card-title">{{ l('routeDetails') }}</h3>
          </div>
          <!--  start of card::body-->
          <div class="card-body">
            <div class="row">
              <!--  start of Route::Details-->
              <div class="col-12">
                <div class="mb-3">
                  <div class="mb-2">
                    <div class="form-group row fv-plugins-icon-container">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>* {{ l('origin') }}:</label>
                          <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allCitys }">
                            <select
                              #Origin="ngModel"
                              class="form-control"
                              name="origin"
                              [disabled]="!allCitys"
                              [(ngModel)]="shippingRequest.createOrEditRouteDto.originCityId"
                              required
                              [class.is-invalid]="Origin.touched && !Origin.valid"
                              [class.is-valid]="Origin.touched && Origin.valid"
                            >
                              <option value="">{{ l('selectanOriginCity') }}</option>
                              <option *ngFor="let item of allCitys" value="{{ item.id }}">{{ item.displayName }}</option>
                            </select>
                          </div>

                          <span class="form-text text-muted">{{ l('selectaCity') }}</span>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>* {{ l('destination') }}:</label>
                          <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allCitys }">
                            <select
                              #Destination="ngModel"
                              class="form-control"
                              name="destination"
                              required
                              [class.is-invalid]="Destination.touched && !Destination.valid"
                              [class.is-valid]="Destination.touched && Destination.valid"
                              [disabled]="!allCitys"
                              [(ngModel)]="shippingRequest.createOrEditRouteDto.destinationCityId"
                            >
                              <option value="">{{ l('selectaDestination') }}</option>
                              <option *ngFor="let item of allCitys" value="{{ item.id }}">{{ item.displayName }}</option>
                            </select>
                          </div>
                          <span class="form-text text-muted">{{ l('selectaCity') }}</span>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>* {{ l('startDate') }}:</label>
                          <div class="input-group date">
                            <input
                              #StartDate="ngModel"
                              [(ngModel)]="fakestartDateinput"
                              class="form-control"
                              name="startdate"
                              placeholder="Datepicker"
                              required
                              [class.is-invalid]="StartDate.touched && !StartDate.valid"
                              [class.is-valid]="StartDate.touched && StartDate.valid"
                              bsDatepicker
                            />
                            <div class="input-group-append">
                              <span class="input-group-text">
                                <i class="la la-calendar-check-o"></i>
                              </span>
                            </div>
                          </div>
                          <span class="form-text text-muted">{{ l('pickaStartDate') }}</span>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>* {{ l('endDate') }}:</label>
                          <div class="input-group date">
                            <input
                              #EndDate="ngModel"
                              [(ngModel)]="fakeendtDateinput"
                              class="form-control"
                              name="endDate"
                              placeholder="{{ l('endDate') }}"
                              required
                              [class.is-invalid]="EndDate.touched && !EndDate.valid"
                              [class.is-valid]="EndDate.touched && EndDate.valid"
                              bsDatepicker
                            />
                            <div class="input-group-append">
                              <span class="input-group-text">
                                <i class="la la-calendar-check-o"></i>
                              </span>
                            </div>
                          </div>
                          <span class="form-text text-muted">{{ l('pickanEndDate') }}</span>
                        </div>
                      </div>
                      <div class="col-lg-3">
                        <label>* {{ l('routeType') }}:</label>
                        <!--   TODO:// Add DataBining for DD-->
                        <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allRoutTypes }">
                          <select
                            #RouteType="ngModel"
                            class="form-control"
                            name="routeType"
                            required
                            [disabled]="!allRoutTypes"
                            [(ngModel)]="selectedRouteType"
                            [class.is-invalid]="RouteType.touched && !RouteType.valid"
                            [class.is-valid]="RouteType.touched && RouteType.valid"
                            (change)="shippingRequest.numberOfDrops = undefined"
                          >
                            <option value="">{{ l('SelectRouteType') }}</option>
                            <option *ngFor="let item of allRoutTypes" value="{{ item.id }}">{{ item.displayName }}</option>
                          </select>
                        </div>
                        <span class="form-text text-muted">{{ l('pickaRouteType') }}</span>
                      </div>
                      <div class="col-lg-3">
                        <div class="form-group">
                          <label>* {{ l('numberOfDrops') }}:</label>
                          <input
                            #NumberOfDrops="ngModel"
                            class="form-control"
                            type="number"
                            name="numberOfDrops"
                            id="numberOfDrops"
                            maxlength="2"
                            [required]="selectedRouteType == 4"
                            [(ngModel)]="shippingRequest.numberOfDrops"
                            [class.is-invalid]="selectedRouteType == 4 && NumberOfDrops.touched && !NumberOfDrops.valid"
                            [class.is-valid]="selectedRouteType == 4 && NumberOfDrops.touched && NumberOfDrops.valid"
                            [disabled]="selectedRouteType != 4"
                          />
                          <span class="form-text text-muted">{{ l('numberOfDrops') }} (in case of Route type is Milkrun)</span>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>* {{ l('numberOfTrips') }}:</label>
                          <input
                            #numberOfTrips="ngModel"
                            class="form-control"
                            type="number"
                            name="numberOfTrips"
                            id="numberOfTrips"
                            [(ngModel)]="shippingRequest.numberOfTrips"
                            required
                            maxlength="2"
                            [class.is-invalid]="numberOfTrips.touched && !numberOfTrips.valid"
                            [class.is-valid]="numberOfTrips.touched && numberOfTrips.valid"
                          />
                          <span class="form-text text-muted">{{ l('enterNumberOfTrips') }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  Start::RouteSteps     -->
              <RouteStepsForCreateShippingRequest
                (SelectedRouteStepsFromChild)="shippingRequest.createOrEditRoutStepDtoList = $event"
              ></RouteStepsForCreateShippingRequest>
              <!--   End::RouteSteps      -->
              <!--  end of Route::Details-->
            </div>
          </div>
          <!--  end of card::body-->

          <!--  start of card::form-->
        </div>
        <div class="card card-custom gutter-b">
          <!--  start of card::form-->
          <div class="card-header">
            <h3 class="card-title">{{ l('vasDetails') }}</h3>
          </div>
          <!--  start of card::body-->
          <div class="card-body">
            <!--  start of Vas::Details-->
            <div class="row">
              <div class="col-3">
                <p-listbox
                  name="VasList"
                  [options]="allVases"
                  [(ngModel)]="selectedVases"
                  [metaKeySelection]="false"
                  [checkbox]="true"
                  [filter]="true"
                  [multiple]="true"
                  optionLabel="vasName"
                  [listStyle]="{ 'max-height': '250px' }"
                  [style]="{ width: '100%' }"
                >
                </p-listbox>
              </div>
              <div class="col-9">
                <table class="table">
                  <thead>
                    <tr class="table-active">
                      <th scope="col">name</th>
                      <th scope="col">count</th>
                      <th scope="col">amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of selectedVases; index as i">
                      <th>
                        {{ item.vasName }}
                      </th>
                      <td>
                        <input
                          type="text"
                          [disabled]="!item.hasCount"
                          id="Vas-Count{{ i }}"
                          [(ngModel)]="item.maxCount"
                          (keypress)="numberOnly($event)"
                          class="form-control"
                          name="Count"
                          required
                        />
                      </td>
                      <td>
                        <input
                          [disabled]="!item.hasAmount"
                          type="text"
                          id="Vas-Amount{{ i }}"
                          [(ngModel)]="item.maxAmount"
                          (keypress)="numberOnly($event)"
                          class="form-control"
                          name="Amount"
                          required
                        />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!--  end of Vas::Details-->
          </div>

          <!--  end of card::body-->

          <!--  start of card::form-->
        </div>
        <!--    start::Btns   -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 float-right mt-2">
              <button
                (click)="save()"
                [busyText]="l('SavingWithThreeDot')"
                [buttonBusy]="saving"
                [disabled]="!shippingRequestForm.form.valid"
                class="btn btn-danger font-weight-bold font-size-h6 px-10 float-right"
              >
                <i class="flaticon2-tag"></i>
                <span *ngIf="!shippingRequest.id"> {{ l('createShippingRequest') }}</span>
                <span *ngIf="shippingRequest.id"> {{ l('saveEdits') }}</span>
              </button>
            </div>
          </div>
        </div>
        <!--   end::Btns  -->
      </form>
    </div>
  </div>

  <!--  <div-->
  <!--    class="modal fade"-->
  <!--    bsModal-->
  <!--    #staticModal="bs-modal"-->
  <!--    [config]="{ backdrop: 'static' }"-->
  <!--    tabindex="-1"-->
  <!--    role="dialog"-->
  <!--    aria-labelledby="dialog-static-name"-->
  <!--  >-->
  <!--    <div class="modal-dialog modal-xl">-->
  <!--      <div class="modal-content">-->
  <!--        <form *ngIf="active" #routStepForm="ngForm" novalidate (ngSubmit)="addRouteStep()" autocomplete="off">-->
  <!--          <div class="modal-header">-->
  <!--            <h4 class="modal-title">-->
  <!--              &lt;!&ndash;                <span *ngIf="routStep.id">{{l("EditRoutStep")}}</span>&ndash;&gt;-->
  <!--              &lt;!&ndash;                <span *ngIf="!routStep.id">{{l("CreateNewRoutStep")}}</span>&ndash;&gt;-->
  <!--              {{ l('CreateNewRoutStep') }}-->
  <!--            </h4>-->
  <!--            <button type="button" class="close" (click)="staticModal.hide()" aria-label="Close" [disabled]="saving">-->
  <!--              <span aria-hidden="true">&times;</span>-->
  <!--            </button>-->
  <!--          </div>-->
  <!--          <div class="modal-body">-->
  <!--            <div class="row">-->
  <!--              &lt;!&ndash;            <div class="form-group col-md-6 m-form__group">&ndash;&gt;-->
  <!--              &lt;!&ndash;              <label for="destinationFacilityName">{{ l('destinationFacilityName') }}</label>&ndash;&gt;-->
  <!--              &lt;!&ndash;              <div class="row">&ndash;&gt;-->
  <!--              &lt;!&ndash;                <div class="col-md-8">&ndash;&gt;-->
  <!--              &lt;!&ndash;                  <select name="routStep.destinationFacilityId" [(ngModel)]="routStep.destinationFacilityId" class="form-control">&ndash;&gt;-->
  <!--              &lt;!&ndash;                    <option value="">{{ l('SelectAFacility') }}</option>&ndash;&gt;-->
  <!--              &lt;!&ndash;                    <option *ngFor="let item of allFacilities" value="{{ item.id }}">{{ item.displayName }}</option>&ndash;&gt;-->
  <!--              &lt;!&ndash;                  </select>&ndash;&gt;-->
  <!--              &lt;!&ndash;                </div>&ndash;&gt;-->
  <!--              &lt;!&ndash;                <div class="col-md-4">&ndash;&gt;-->
  <!--              &lt;!&ndash;                  <button&ndash;&gt;-->
  <!--              &lt;!&ndash;                    type="button"&ndash;&gt;-->
  <!--              &lt;!&ndash;                    class="btn btn-save blue"&ndash;&gt;-->
  <!--              &lt;!&ndash;                    [disabled]="saving"&ndash;&gt;-->
  <!--              &lt;!&ndash;                    [buttonBusy]="saving"&ndash;&gt;-->
  <!--              &lt;!&ndash;                    (click)="openCreateFacilityModal()"&ndash;&gt;-->
  <!--              &lt;!&ndash;                    [busyText]="l('SavingWithThreeDot')"&ndash;&gt;-->
  <!--              &lt;!&ndash;                  >&ndash;&gt;-->
  <!--              &lt;!&ndash;                    <i class="fa fa-plus"></i> <span>{{ l('createFacility') }}</span>&ndash;&gt;-->
  <!--              &lt;!&ndash;                  </button>&ndash;&gt;-->
  <!--              &lt;!&ndash;                </div>&ndash;&gt;-->
  <!--              &lt;!&ndash;              </div>&ndash;&gt;-->
  <!--              &lt;!&ndash;            </div>&ndash;&gt;-->

  <!--              <div class="form-group col-md-12">-->
  <!--                <agm-map>-->
  <!--                  <agm-marker></agm-marker>-->
  <!--                </agm-map>-->
  <!--              </div>-->

  <!--              &lt;!&ndash;              <div class="form-group col-md-6 m-form__group">&ndash;&gt;-->
  <!--              &lt;!&ndash;                <label for="TrucksTypeDisplayName">{{ l('TrucksType') }}</label>&ndash;&gt;-->
  <!--              &lt;!&ndash;                {{ routStep.trucksTypeId }}&ndash;&gt;-->
  <!--              &lt;!&ndash;                <select [(ngModel)]="routStep.trucksTypeId" class="form-control" name="shippingRequest.trucksTypeId">&ndash;&gt;-->
  <!--              &lt;!&ndash;                  <option value="">{{ l('SelectATrucksType') }}</option>&ndash;&gt;-->
  <!--              &lt;!&ndash;                  <option *ngFor="let item of allTrucksTypes" value="{{ item.id }}">{{ item.displayName }}</option>&ndash;&gt;-->
  <!--              &lt;!&ndash;                </select>&ndash;&gt;-->
  <!--              &lt;!&ndash;              </div>&ndash;&gt;-->

  <!--              &lt;!&ndash;              <div class="form-group col-md-6 m-form__group">&ndash;&gt;-->
  <!--              &lt;!&ndash;                <label for="TrailerTypeDisplayName">{{ l('TrailerType') }}</label>&ndash;&gt;-->
  <!--              &lt;!&ndash;                <select [(ngModel)]="routStep.trailerTypeId" class="form-control" name="shippingRequest.trailerTypeId">&ndash;&gt;-->
  <!--              &lt;!&ndash;                  <option value="">{{ l('SelectATrailerType') }}</option>&ndash;&gt;-->
  <!--              &lt;!&ndash;                  <option *ngFor="let item of allTrailerTypes" value="{{ item.id }}">{{ item.displayName }}</option>&ndash;&gt;-->
  <!--              &lt;!&ndash;                </select>&ndash;&gt;-->
  <!--              &lt;!&ndash;              </div>&ndash;&gt;-->

  <!--              &lt;!&ndash;            <div class="form-group col-md-6 m-form__group">&ndash;&gt;-->
  <!--              &lt;!&ndash;              <label for="CityDisplayName">{{ l('City') }}</label>&ndash;&gt;-->
  <!--              &lt;!&ndash;              <select name="routStep.originCityId" [(ngModel)]="routStep.originCityId" class="form-control">&ndash;&gt;-->
  <!--              &lt;!&ndash;                <option value="">{{ l('SelectACity') }}</option>&ndash;&gt;-->
  <!--              &lt;!&ndash;                <option *ngFor="let item of allCitys" value="{{ item.id }}">{{ item.displayName }}</option>&ndash;&gt;-->
  <!--              &lt;!&ndash;              </select>&ndash;&gt;-->
  <!--              &lt;!&ndash;            </div>&ndash;&gt;-->

  <!--              &lt;!&ndash;            <div class="form-group col-md-6 m-form__group">&ndash;&gt;-->
  <!--              &lt;!&ndash;              <label for="CityDisplayName2">{{ l('City') }}</label>&ndash;&gt;-->
  <!--              &lt;!&ndash;              <select name="routStep.destinationCityId" [(ngModel)]="routStep.destinationCityId" class="form-control">&ndash;&gt;-->
  <!--              &lt;!&ndash;                <option value="">{{ l('SelectACity') }}</option>&ndash;&gt;-->
  <!--              &lt;!&ndash;                <option *ngFor="let item of allCitys" value="{{ item.id }}">{{ item.displayName }}</option>&ndash;&gt;-->
  <!--              &lt;!&ndash;              </select>&ndash;&gt;-->
  <!--              &lt;!&ndash;            </div>&ndash;&gt;-->

  <!--              <div class="form-group col-md-6">-->
  <!--                <label for="RoutStep_DisplayName">{{ l('DisplayName') }}</label>-->
  <!--                <input-->
  <!--                  type="text"-->
  <!--                  id="RoutStep_DisplayName"-->
  <!--                  class="form-control"-->
  <!--                  [(ngModel)]="routStep.displayName"-->
  <!--                  name="DisplayName"-->
  <!--                  minlength="0"-->
  <!--                  maxlength="256"-->
  <!--                />-->
  <!--              </div>-->

  <!--              <div class="form-group col-md-6">-->
  <!--                <label for="RoutStep_Order">{{ l('Order') }}</label>-->
  <!--                <input type="number" id="RoutStep_Order" class="form-control" [(ngModel)]="routStep.order" name="Order" min="1" max="50" />-->
  <!--              </div>-->

  <!--              &lt;!&ndash;            <div class="form-group col-md-6 m-form__group">&ndash;&gt;-->
  <!--              &lt;!&ndash;              <label for="GoodCategoryDisplayName">{{ l('GoodCategory') }}</label>&ndash;&gt;-->
  <!--              &lt;!&ndash;              <select&ndash;&gt;-->
  <!--              &lt;!&ndash;                [(ngModel)]="routStep.createOrEditGoodsDetailDto.goodCategoryId"&ndash;&gt;-->
  <!--              &lt;!&ndash;                class="form-control"&ndash;&gt;-->
  <!--              &lt;!&ndash;                name="createOrEditGoodsDetailDto.goodCategoryId"&ndash;&gt;-->
  <!--              &lt;!&ndash;              >&ndash;&gt;-->
  <!--              &lt;!&ndash;                <option value="">{{ l('SelectAGoodCategory') }}</option>&ndash;&gt;-->
  <!--              &lt;!&ndash;                <option *ngFor="let item of allGoodCategorys" value="{{ item.id }}">{{ item.displayName }}</option>&ndash;&gt;-->
  <!--              &lt;!&ndash;              </select>&ndash;&gt;-->
  <!--              &lt;!&ndash;            </div>&ndash;&gt;-->

  <!--              &lt;!&ndash;            <div class="form-group col-md-6">&ndash;&gt;-->
  <!--              &lt;!&ndash;              <label for="GoodsDetail_Name">{{ l('Name') }} *</label>&ndash;&gt;-->
  <!--              &lt;!&ndash;              <input&ndash;&gt;-->
  <!--              &lt;!&ndash;                [(ngModel)]="routStep.createOrEditGoodsDetailDto.name"&ndash;&gt;-->
  <!--              &lt;!&ndash;                class="form-control"&ndash;&gt;-->
  <!--              &lt;!&ndash;                id="GoodsDetail_Name"&ndash;&gt;-->
  <!--              &lt;!&ndash;                maxlength="256"&ndash;&gt;-->
  <!--              &lt;!&ndash;                minlength="0"&ndash;&gt;-->
  <!--              &lt;!&ndash;                name="createOrEditGoodsDetailDto.Name"&ndash;&gt;-->
  <!--              &lt;!&ndash;                required&ndash;&gt;-->
  <!--              &lt;!&ndash;                type="text"&ndash;&gt;-->
  <!--              &lt;!&ndash;              />&ndash;&gt;-->
  <!--              &lt;!&ndash;            </div>&ndash;&gt;-->

  <!--              &lt;!&ndash;            <div class="form-group col-md-6">&ndash;&gt;-->
  <!--              &lt;!&ndash;              <label for="GoodsDetail_Description">{{ l('Description') }}</label>&ndash;&gt;-->
  <!--              &lt;!&ndash;              <input&ndash;&gt;-->
  <!--              &lt;!&ndash;                [(ngModel)]="routStep.createOrEditGoodsDetailDto.description"&ndash;&gt;-->
  <!--              &lt;!&ndash;                class="form-control"&ndash;&gt;-->
  <!--              &lt;!&ndash;                id="GoodsDetail_Description"&ndash;&gt;-->
  <!--              &lt;!&ndash;                maxlength="256"&ndash;&gt;-->
  <!--              &lt;!&ndash;                minlength="0"&ndash;&gt;-->
  <!--              &lt;!&ndash;                name="createOrEditGoodsDetailDto.Description"&ndash;&gt;-->
  <!--              &lt;!&ndash;                type="text"&ndash;&gt;-->
  <!--              &lt;!&ndash;              />&ndash;&gt;-->
  <!--              &lt;!&ndash;            </div>&ndash;&gt;-->

  <!--              &lt;!&ndash;            <div class="form-group col-md-6">&ndash;&gt;-->
  <!--              &lt;!&ndash;              <label for="GoodsDetail_Quantity">{{ l('Quantity') }}</label>&ndash;&gt;-->
  <!--              &lt;!&ndash;              <input&ndash;&gt;-->
  <!--              &lt;!&ndash;                [(ngModel)]="routStep.createOrEditGoodsDetailDto.quantity"&ndash;&gt;-->
  <!--              &lt;!&ndash;                class="form-control"&ndash;&gt;-->
  <!--              &lt;!&ndash;                id="GoodsDetail_Quantity"&ndash;&gt;-->
  <!--              &lt;!&ndash;                maxlength="128"&ndash;&gt;-->
  <!--              &lt;!&ndash;                minlength="0"&ndash;&gt;-->
  <!--              &lt;!&ndash;                name="createOrEditGoodsDetailDto.Quantity"&ndash;&gt;-->
  <!--              &lt;!&ndash;                type="text"&ndash;&gt;-->
  <!--              &lt;!&ndash;              />&ndash;&gt;-->
  <!--              &lt;!&ndash;            </div>&ndash;&gt;-->

  <!--              &lt;!&ndash;            <div class="form-group col-md-6">&ndash;&gt;-->
  <!--              &lt;!&ndash;              <label for="GoodsDetail_Weight">{{ l('Weight') }}</label>&ndash;&gt;-->
  <!--              &lt;!&ndash;              <input&ndash;&gt;-->
  <!--              &lt;!&ndash;                [(ngModel)]="routStep.createOrEditGoodsDetailDto.weight"&ndash;&gt;-->
  <!--              &lt;!&ndash;                class="form-control"&ndash;&gt;-->
  <!--              &lt;!&ndash;                id="GoodsDetail_Weight"&ndash;&gt;-->
  <!--              &lt;!&ndash;                maxlength="64"&ndash;&gt;-->
  <!--              &lt;!&ndash;                minlength="0"&ndash;&gt;-->
  <!--              &lt;!&ndash;                name="createOrEditGoodsDetailDto.Weight"&ndash;&gt;-->
  <!--              &lt;!&ndash;                type="text"&ndash;&gt;-->
  <!--              &lt;!&ndash;              />&ndash;&gt;-->
  <!--              &lt;!&ndash;            </div>&ndash;&gt;-->

  <!--              &lt;!&ndash;            <div class="form-group col-md-6">&ndash;&gt;-->
  <!--              &lt;!&ndash;              <label for="GoodsDetail_Dimentions">{{ l('Dimentions') }}</label>&ndash;&gt;-->
  <!--              &lt;!&ndash;              <input&ndash;&gt;-->
  <!--              &lt;!&ndash;                [(ngModel)]="routStep.createOrEditGoodsDetailDto.dimentions"&ndash;&gt;-->
  <!--              &lt;!&ndash;                class="form-control"&ndash;&gt;-->
  <!--              &lt;!&ndash;                id="GoodsDetail_Dimentions"&ndash;&gt;-->
  <!--              &lt;!&ndash;                maxlength="128"&ndash;&gt;-->
  <!--              &lt;!&ndash;                minlength="0"&ndash;&gt;-->
  <!--              &lt;!&ndash;                name="createOrEditGoodsDetailDto.Dimentions"&ndash;&gt;-->
  <!--              &lt;!&ndash;                type="text"&ndash;&gt;-->
  <!--              &lt;!&ndash;              />&ndash;&gt;-->
  <!--              &lt;!&ndash;            </div>&ndash;&gt;-->

  <!--              &lt;!&ndash;            <div class="form-group col-md-6">&ndash;&gt;-->
  <!--              &lt;!&ndash;              <label for="GoodsDetail_DangerousGoodsCode">{{ l('DangerousGoodsCode') }}</label>&ndash;&gt;-->
  <!--              &lt;!&ndash;              <input&ndash;&gt;-->
  <!--              &lt;!&ndash;                [(ngModel)]="routStep.createOrEditGoodsDetailDto.dangerousGoodsCode"&ndash;&gt;-->
  <!--              &lt;!&ndash;                class="form-control"&ndash;&gt;-->
  <!--              &lt;!&ndash;                id="GoodsDetail_DangerousGoodsCode"&ndash;&gt;-->
  <!--              &lt;!&ndash;                maxlength="64"&ndash;&gt;-->
  <!--              &lt;!&ndash;                minlength="0"&ndash;&gt;-->
  <!--              &lt;!&ndash;                name="createOrEditGoodsDetailDto.DangerousGoodsCode"&ndash;&gt;-->
  <!--              &lt;!&ndash;                type="text"&ndash;&gt;-->
  <!--              &lt;!&ndash;              />&ndash;&gt;-->
  <!--              &lt;!&ndash;            </div>&ndash;&gt;-->
  <!--              &lt;!&ndash;            <div class="m-checkbox-list col-md-6">&ndash;&gt;-->
  <!--              &lt;!&ndash;              <label class="kt-checkbox kt-" for="GoodsDetail_IsDangerousGood">&ndash;&gt;-->
  <!--              &lt;!&ndash;                <input&ndash;&gt;-->
  <!--              &lt;!&ndash;                  [(ngModel)]="routStep.createOrEditGoodsDetailDto.isDangerousGood"&ndash;&gt;-->
  <!--              &lt;!&ndash;                  id="GoodsDetail_IsDangerousGood"&ndash;&gt;-->
  <!--              &lt;!&ndash;                  name="createOrEditGoodsDetailDto.IsDangerousGood"&ndash;&gt;-->
  <!--              &lt;!&ndash;                  type="checkbox"&ndash;&gt;-->
  <!--              &lt;!&ndash;                />&ndash;&gt;-->
  <!--              &lt;!&ndash;                {{ l('IsDangerousGood') }}&ndash;&gt;-->
  <!--              &lt;!&ndash;                <span></span>&ndash;&gt;-->
  <!--              &lt;!&ndash;              </label>&ndash;&gt;-->
  <!--              &lt;!&ndash;            </div>&ndash;&gt;-->
  <!--            </div>-->
  <!--          </div>-->
  <!--          <div class="modal-footer">-->
  <!--            <button [disabled]="saving" type="button" class="btn btn-default" (click)="staticModal.hide()">{{ l('Cancel') }}</button>-->
  <!--            <button-->
  <!--              type="submit"-->
  <!--              class="btn btn-primary blue"-->
  <!--              [disabled]="!routStepForm.form.valid"-->
  <!--              [buttonBusy]="saving"-->
  <!--              [busyText]="l('SavingWithThreeDot')"-->
  <!--            >-->
  <!--              <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>-->
  <!--            </button>-->
  <!--          </div>-->
  <!--        </form>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--<createOrEditFacilityModal #createOrEditFacilityModal (modalSave)="refreshFacilities()"></createOrEditFacilityModal>-->
</div>
<!--<VasForCreateShippingRequstModalComponent #VasForCreateShippingRequstModalComponent></VasForCreateShippingRequstModalComponent>-->
