<!--suppress XmlInvalidId -->
<div [@routerTransition] [busyIfFullscreen]="loading || !shippingRequestforView.shippingRequest.id">
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [breadcrumbs]="breadcrumbs" [title]="'ShippingRequestsView' | localize">
      <!--      <div role="actions" *ngIf="feature.isEnabled('App.TachyonDealer')">-->
      <!--        <button class="btn btn-danger" (click)="pricingOffer.sendPricingOfferModal.show(shippingRequestforView.shippingRequest.id)">-->
      <!--          <i class="fa fa-money-bill"></i> {{ l('sendPricingOfferToShipper') }}-->
      <!--        </button>-->
      <!--      </div>-->
      <div role="actions">
        <create-or-edit-template-drop-down-button
          *ngIf="
            shippingRequestforView.shippingRequestFlag === 0 &&
            (isShipper || isTachyonDealer || (isCarrierSaas && shippingRequestforView.shippingRequest.isSaas))
          "
          [entityType]="entityTypes.ShippingRequestTemplate"
          [sourceEntityId]="activeShippingRequestId"
        ></create-or-edit-template-drop-down-button>
        <a class="btn btn-outline-success" (click)="appEntityLog.show()"> <i class="flaticon-notes"></i> {{ 'ActivityLog' | localize }} </a>
        <ng-container *ngIf="feature.isEnabled('App.TachyonDealer') && !shippingRequestforView.shippingRequest.isBid">
          <a class="btn btn-outline-success" (click)="scrollToDirectRequests()">{{ l('SendDirectRequests') }}</a>
          <a class="btn btn-outline-success" (click)="tachyonDealToBiddingModal.show(activeShippingRequestId)">{{ l('StartBidding') }}</a>
        </ng-container>
        <a
          class="btn btn-outline-primary"
          *ngIf="!shippingRequestforView.shippingRequest.isSaas"
          (click)="srPostPriceUpdatesModal.show(activeShippingRequestId, shippingRequestforView.shippingRequestFlag === 1)"
        >
          <i class="flaticon-edit-1"></i> {{ l('ShippingRequestUpdates') }}
        </a>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <!--  start:: PriceOfferingSection -->
      <ng-template [ngIf]="canSeePriceOffers()">
        <shipping-request-offers-list
          [shippingRequestId]="activeShippingRequestId"
          [isTachyonDeal]="shippingRequestforView.shippingRequest.isTachyonDeal"
          [isForDedicated]="shippingRequestforView.shippingRequestFlag === 1"
          [Channel]="shippingRequestforView.shippingRequest.isBid ? 1 : 2"
        ></shipping-request-offers-list>
      </ng-template>
      <!--  end:: PricOfferingSection -->

      <!--  start:: NormalPricePackageSection -->
      <ng-template [ngIf]="canSeePricePackages()">
        <normal-price-packages-list [shippingRequestId]="activeShippingRequestId"></normal-price-packages-list>
      </ng-template>
      <!--  end:: NormalPricePackageSection -->

      <app-create-or-edit-actors-price
        *ngIf="feature.isEnabled('App.CarrierClients') || feature.isEnabled('App.ShipperClients')"
        [numberOfCreatedTrips]="shippingRequestforView.totalsTripsAddByShippier"
        [shippingRequestId]="activeShippingRequestId"
        [tenantId]="shippingRequestforView.tenantId"
        [carrierTenantId]="shippingRequestforView.shippingRequest.carrierTenantId"
        [actorCarrierId]="shippingRequestforView.carrierActorId"
        [actorShipperId]="shippingRequestforView.shipperActorId"
      ></app-create-or-edit-actors-price>

      <div class="card card-custom gutter-b">
        <!--  start of card::form-->
        <div class="card-header">
          <h3 class="card-title">{{ l('TruckDetails') }}</h3>
        </div>
        <!--  start of card::body-->
        <div class="card-body">
          <div *ngIf="shippingRequestforView.shippingRequest.hasAccident" class="alert alert-custom alert-light-warning" role="alert">
            <div class="alert-icon"><i class="flaticon-warning"></i></div>
            <div class="alert-text">You have trips that contain accidents</div>
          </div>

          <div class="row">
            <!--  start of truck::Details-->
            <div class="col-12">
              <div class="row">
                <div class="col-lg-6">
                  <label>{{ l('TransportType') }}</label>
                  <input
                    class="form-control"
                    type="text"
                    name="numberOfDrops"
                    value="{{ shippingRequestforView.transportTypeDisplayName }}"
                    disabled
                  />
                </div>

                <div class="col-lg-6">
                  <label>{{ l('TruckType') }}</label>
                  <input class="form-control" type="text" name="numberOfDrops" value="{{ shippingRequestforView.truckTypeDisplayName }}" disabled />
                </div>
                <div class="col-lg-6 mt-5">
                  <label>{{ l('Capacity') }}</label>
                  <input class="form-control" type="text" name="numberOfDrops" value="{{ shippingRequestforView.capacityDisplayName }}" disabled />
                </div>
                <div class="col-lg-6 mt-5" *ngIf="shippingRequestforView.shippingRequestFlag === 1">
                  <label>{{ l('NumberOfTrucks') }}</label>
                  <input class="form-control" type="number" name="expectedMileage" value="{{ shippingRequestforView.numberOfTrucks }}" disabled />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-custom gutter-b">
        <!--  start of card::form-->
        <div class="card-header">
          <h3 class="card-title">{{ l('ShippingRequestProperties') }}</h3>
        </div>
        <!--  start of card::body-->
        <div class="card-body">
          <div class="row">
            <!--  start of ShippingRequestType::Details-->
            <div class="col-12">
              <div class="mb-3">
                <div class="mb-2">
                  <div class="form-group row fv-plugins-icon-container">
                    <div class="col-lg-6">
                      <label><span class="required-fileds"></span> {{ l('ShippingRequestType') }} </label>
                      <input class="form-control" type="text" name="ShippingRequestType" [value]="shipppingRequestType()" disabled />
                    </div>
                    <!--  Start::Shipping Type                 -->
                    <div class="col-lg-6">
                      <label><span class="required-fileds"></span> {{ l('ShippingType') }}</label>
                      <input class="form-control" type="text" name="ShippingType" [value]="shippingRequestforView.shippingTypeDisplayName" disabled />
                    </div>
                    <!-- End::Shipping Type-->

                    <div class="col-lg-3 mt-5" *ngIf="shippingRequestforView.shippingRequestFlag === 0">
                      <div class="form-group">
                        <label> {{ l('ShipperReference') }}</label>
                        <div class="input-group date">
                          <input
                            [value]="shippingRequestforView.shippingRequest.shipperReference"
                            class="form-control"
                            type="ShipperReference"
                            placeholder="{{ l('ShipperReference') }}"
                            name="ShipperReference"
                            disabled
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 mt-5" *ngIf="shippingRequestforView.shippingRequestFlag === 0">
                      <div class="form-group">
                        <label> {{ l('ShipperInvoiceNumber') }}</label>
                        <div class="input-group date">
                          <input
                            [value]="shippingRequestforView.shippingRequest.shipperInvoiceNo"
                            class="form-control"
                            type="ShipperInvoiceNumber"
                            placeholder="{{ l('ShipperInvoiceNumber') }}"
                            name="ShipperInvoiceNumber"
                            disabled
                          />
                        </div>
                      </div>
                    </div>
                    <div *ngIf="shippingRequestforView.shippingRequest.isBid" class="col-lg-3 mt-5">
                      <div class="form-group">
                        <label>{{ l('DiddingStartDate') }}</label>
                        <div class="input-group date">
                          <input
                            class="form-control"
                            placeholder="{{ l('DatePlaceholder') }}"
                            name="shippingrequestBidStratDate"
                            [(date)]="shippingRequestforView.shippingRequest.bidStartDate"
                            [disabled]="true"
                            bsDatepicker
                            datePickerMomentModifier
                          />
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="la la-calendar-check-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="shippingRequestforView.shippingRequest.isBid" class="col-lg-3 mt-5">
                      <label> {{ l('BiddingEndDate') }}</label>
                      <div class="input-group date">
                        <input
                          class="form-control"
                          placeholder="{{ l('DatePlaceholder') }}"
                          name="shippingrequestBidEndDate"
                          [(date)]="shippingRequestforView.shippingRequest.bidEndDate"
                          [disabled]="true"
                          bsDatepicker
                          datePickerMomentModifier
                        />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  end::ShippingRequestType::Details-->
          </div>
        </div>
        <!--  end of card::body-->
        <!--  start of card::form-->
      </div>
      <div class="card card-custom gutter-b">
        <!--  start of card::form-->
        <div class="card-header">
          <h3 class="card-title">{{ l('GoodDetails') }}</h3>
        </div>
        <!--  start of card::body-->
        <div class="card-body">
          <div class="row">
            <!--  start of Shipment::Details-->
            <div class="col-12">
              <div class="mb-3">
                <div class="mb-2">
                  <div class="row">
                    <div class="col-lg-6" [class.mt-4]="shippingRequestforView.shippingRequestFlag === 1">
                      <label><span class="required-fileds"></span> {{ l('MainGoodCategory') }} </label>
                      <input class="form-control" type="text" name="MainGoodCategory" [value]="shippingRequestforView.goodsCategoryName" disabled />
                    </div>
                    <div class="col-lg-6" *ngIf="shippingRequestforView.shippingRequestFlag === 0">
                      <label><span class="required-fileds"></span> {{ l('TotalWeight') }}</label>
                      <div>
                        <div class="input-group">
                          <div class="input-group-append">
                            <span class="input-group-text"> KG </span>
                          </div>
                          <input
                            type="number"
                            name="Weight"
                            class="form-control"
                            [value]="shippingRequestforView.shippingRequest.totalWeight"
                            disabled
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                      <div class="form-group">
                        <label> {{ l('PackingType') }}</label>
                        <input class="form-control" type="text" name="packingType" [value]="shippingRequestforView.packingTypeDisplayName" disabled />
                      </div>
                    </div>
                    <div class="col-lg-6 mt-4" *ngIf="shippingRequestforView.shippingRequestFlag === 0">
                      <div class="form-group">
                        <label> {{ l('NumberOfPacking') }}</label>
                        <input
                          class="form-control"
                          type="text"
                          name="numberOfPacking"
                          [value]="shippingRequestforView.shippingRequest.numberOfPacking"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  end of Shipment::Details-->
            <!--  Start:Goods details  -->
            <!--                (SelectedGoodDetailsFromChild)="shippingRequest.goodsDetailS = $event"-->
            <!--              <GoodDetailsForCreateShippingRequest [MainCategory]="shippingRequest.goodCategoryId"></GoodDetailsForCreateShippingRequest>-->
            <!--   end::Goods details   -->
          </div>
        </div>
      </div>

      <!--   start::RouteDetails     -->
      <div class="card card-custom gutter-b">
        <!--  start of card::form-->
        <div class="card-header">
          <h3 class="card-title">{{ l('RouteDetails') }}</h3>
        </div>
        <!--  start of card::body-->
        <div class="card-body">
          <div class="row">
            <!--  start of Route::Details-->
            <div class="col-12">
              <div class="mb-3">
                <div class="mb-2">
                  <div class="row">
                    <!-- Start of Select Source -->
                    <div class="col-lg-6" *ngIf="shippingRequestforView.shippingRequestFlag === 0">
                      <div class="form-group">
                        <label> {{ l('OriginCity') }}</label>
                        <input class="form-control" type="text" name="originCity" [value]="shippingRequestforView.originalCityName" disabled />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label> {{ l(shippingRequestforView.shippingRequestFlag === 0 ? 'DestinationCity' : 'ServiceAreas') }}</label>
                        <input
                          class="form-control"
                          type="text"
                          name="destinationCity"
                          [value]="shippingRequestforView.destinationCityName"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col-lg-6" *ngIf="shippingRequestforView.shippingRequestFlag === 0">
                      <div class="form-group">
                        <label> {{ l('TripsStartDate') }}</label>
                        <div class="input-group date">
                          <input
                            [(date)]="shippingRequestforView.shippingRequest.startTripDate"
                            class="form-control"
                            type="datetime"
                            placeholder="{{ l('DatePlaceholder') }}"
                            name="startdate"
                            bsDatepicker
                            datePickerMomentModifier
                            disabled
                          />

                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="la la-calendar-check-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6" *ngIf="shippingRequestforView.shippingRequestFlag === 0">
                      <div class="form-group">
                        <label> {{ l('TripsEndDate') }}</label>
                        <div class="input-group date">
                          <input
                            [(date)]="shippingRequestforView.shippingRequest.endTripDate"
                            class="form-control"
                            placeholder="{{ l('DatePlaceholder') }}"
                            name="endDate"
                            bsDatepicker
                            datePickerMomentModifier
                            disabled
                          />
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="la la-calendar-check-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3" *ngIf="shippingRequestforView.shippingRequestFlag === 0">
                      <label>{{ l('RouteType') }}</label>
                      <input class="form-control" type="text" name="routeType" value="{{ l(shippingRequestforView.routTypeName) }}" disabled />
                    </div>
                    <div class="col-lg-3" *ngIf="shippingRequestforView.shippingRequestFlag === 0">
                      <div class="form-group">
                        <label><span class="required-fileds"></span> {{ l('NumberOfDrops') }} </label>
                        <input
                          class="form-control"
                          type="number"
                          name="numberOfDrops"
                          [value]="shippingRequestforView.shippingRequest.numberOfDrops"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-lg-6" *ngIf="shippingRequestforView.shippingRequestFlag === 0">
                      <div class="form-group">
                        <label> {{ l('NumberOfTrips') }}</label>
                        <input
                          class="form-control"
                          type="number"
                          name="numberOfTrips"
                          [value]="shippingRequestforView.shippingRequest.numberOfTrips"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-lg-6" *ngIf="shippingRequestforView.shippingRequestFlag === 1">
                      <div class="form-group">
                        <label> {{ l('ServiceAreaNotes') }}</label>
                        <input class="form-control" type="text" name="serviceAreaNotes" [value]="shippingRequestforView.serviceAreaNotes" disabled />
                      </div>
                    </div>
                    <div class="col-lg-6" *ngIf="shippingRequestforView.shippingRequestFlag === 1">
                      <div class="form-group">
                        <label>{{ l('ExpectedMileage') }}</label>
                        <input
                          class="form-control"
                          type="text"
                          name="expectedMileage"
                          value="{{ shippingRequestforView.expectedMileage }}"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  end of card::body-->
        <!--  start of card::form-->
      </div>
      <!--   End::RouteDetails   -->

      <!--   start::RentalDetails     -->
      <div class="card card-custom gutter-b" *ngIf="shippingRequestforView.shippingRequestFlag === 1">
        <!--  start of card::form-->
        <div class="card-header">
          <h3 class="card-title">{{ l('RentalDetails') }}</h3>
        </div>
        <!--  start of card::body-->
        <div class="card-body">
          <div class="row">
            <!--  start of Route::Details-->
            <div class="col-12">
              <div class="mb-3">
                <div class="mb-2">
                  <div class="row">
                    <!-- Start of Select Source -->
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label> {{ l('RentalDurationUnit') }}</label>
                        <input
                          class="form-control"
                          type="text"
                          name="rentalDurationUnitTitle"
                          [value]="shippingRequestforView.rentalDurationUnitTitle"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label> {{ l('RentalDuration') }}</label>
                        <input class="form-control" type="text" name="rentalDuration" [value]="shippingRequestforView.rentalDuration" disabled />
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label> {{ l('RentalStartDate') }}</label>
                        <div class="input-group date">
                          <input
                            [(date)]="shippingRequestforView.rentalStartDate"
                            class="form-control"
                            type="datetime"
                            placeholder="{{ l('DatePlaceholder') }}"
                            name="rentalStartDate"
                            bsDatepicker
                            datePickerMomentModifier
                            disabled
                          />

                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="la la-calendar-check-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label> {{ l('RentalEndDate') }}</label>
                        <div class="input-group date">
                          <input
                            [(date)]="shippingRequestforView.rentalEndDate"
                            class="form-control"
                            placeholder="{{ l('DatePlaceholder') }}"
                            name="endDate"
                            bsDatepicker
                            datePickerMomentModifier
                            disabled
                          />
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="la la-calendar-check-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  end of card::body-->
        <!--  start of card::form-->
      </div>
      <!--   End::RentalDetails   -->

      <!--  start:Tms for shipper     -->
      <tms-for-shipper
        *ngIf="shippingRequestforView.shippingRequestFlag === 1"
        [shippingRequestId]="shippingRequestforView?.shippingRequest?.id"
        [rentalRange]="rentalRange"
      ></tms-for-shipper>
      <!--  end:Tms for shipper     -->

      <div class="row gutter-b">
        <app-project-performance
          class="col-6"
          *ngIf="shippingRequestforView.shippingRequestFlag === 1"
          [shippingRequestId]="shippingRequestforView?.shippingRequest?.id"
          [KPI]="shippingRequestforView?.dedicatedKPI"
          [numberOfTrips]="shippingRequestforView?.totalsTripsAddByShippier"
        >
        </app-project-performance>

        <app-truck-performance-chart
          class="col-6"
          *ngIf="shippingRequestforView.shippingRequestFlag === 1"
          [shippingRequestId]="shippingRequestforView?.shippingRequest?.id"
        ></app-truck-performance-chart>
      </div>

      <!--  start:: DirectOffers      -->

      <ng-template [ngIf]="canSeeDirectRequests()">
        <direct-request
          #directRequestComponent
          [shippingRequestId]="activeShippingRequestId"
          [ShippingRequestStatus]="shippingRequestforView.shippingRequest.status"
        ></direct-request>
      </ng-template>
      <!--  end:: DirectOffers        -->

      <div>
        <app-notes #NotesComponent [shippingRequestId]="activeShippingRequestId" [type]="type"> </app-notes>
      </div>
      <!--   Start::Trips Section     -->
      <!--        !feature.isEnabled('App.TachyonDealer') || -->
      <ng-template [ngIf]="canSeeShippingRequestTrips()">
        <TripsForViewShippingRequest
          *ngIf="shippingRequestforView.shippingRequest.id && bidsloading == false"
          [ShippingRequest]="shippingRequestforView.shippingRequest"
          [shippingRequestForView]="shippingRequestforView"
          [VasListFromFather]="shippingRequestforView.shippingRequestVasDtoList"
          (incidentResolved)="reloadCurrentPage()"
        ></TripsForViewShippingRequest>
      </ng-template>

      <!--    End::Trips Section    -->
      <!--  End of the First Container      -->
    </div>

    <app-entity-log #appEntityLog [entityType]="3" [entityId]="shippingRequestforView.shippingRequest.id"></app-entity-log>
  </div>
  <!--  <sendDirectRequestsModal #sendDirectRequestsModal [shippingRequestId]="activeShippingRequestId"></sendDirectRequestsModal>-->
  <tachyonDealToBiddingModal #tachyonDealToBiddingModal (modalsave)="reloadCurrentPage()"></tachyonDealToBiddingModal>
  <SrPostPriceUpdatesModal #srPostPriceUpdatesModal></SrPostPriceUpdatesModal>
</div>
