<!--suppress XmlInvalidId -->
<div [@routerTransition] [busyIfFullscreen]="loading || !_trip.GetShippingRequestForViewOutput.shippingRequest.id">
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [breadcrumbs]="breadcrumbs" [title]="'ShippingRequestsView' | localize">
      <!--      <div role="actions" *ngIf="feature.isEnabled('App.TachyonDealer')">-->
      <!--        <button class="btn btn-danger" (click)="pricingOffer.sendPricingOfferModal.show(_trip.GetShippingRequestForViewOutput.shippingRequest.id)">-->
      <!--          <i class="fa fa-money-bill"></i> {{ l('sendPricingOfferToShipper') }}-->
      <!--        </button>-->
      <!--      </div>-->
      <div role="actions">
        <create-or-edit-template-drop-down-button
          *ngIf="
            _trip.GetShippingRequestForViewOutput.shippingRequestFlag === 0 &&
            (isShipper || isTachyonDealer || (isCarrierSaas && _trip.GetShippingRequestForViewOutput.shippingRequest.isSaas))
          "
          [entityType]="entityTypes.ShippingRequestTemplate"
          [sourceEntityId]="activeShippingRequestId"
        ></create-or-edit-template-drop-down-button>
        <a class="btn btn-outline-success" (click)="appEntityLog.show()"> <i class="flaticon-notes"></i> {{ 'ActivityLog' | localize }} </a>
        <ng-container *ngIf="feature.isEnabled('App.TachyonDealer') && !_trip.GetShippingRequestForViewOutput.shippingRequest.isBid">
          <a class="btn btn-outline-success" (click)="scrollToDirectRequests()">{{ l('SendDirectRequests') }}</a>
          <a class="btn btn-outline-success margin-right-5" (click)="tachyonDealToBiddingModal.show(activeShippingRequestId)">{{
            l('StartBidding')
          }}</a>
        </ng-container>
        <a
          class="btn btn-outline-primary"
          *ngIf="!_trip.GetShippingRequestForViewOutput.shippingRequest.isSaas"
          (click)="srPostPriceUpdatesModal.show(activeShippingRequestId, _trip.GetShippingRequestForViewOutput.shippingRequestFlag === 1)"
        >
          <i class="flaticon-edit-1"></i> {{ l('ShippingRequestUpdates') }}
        </a>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div *ngIf="feature.isEnabled('App.TachyonDealer')" class="input-group margin-bottom-10 margin-left-5" style="width: 300px">
        <div class="input-group-prepend">
          <button (click)="updateShippingRequestInvoiceFlag()" class="btn btn-primary" type="button">save</button>
        </div>
        <input
          [(ngModel)]="_trip.GetShippingRequestForViewOutput.shippingRequest.splitInvoiceFlag"
          style="width: 200px"
          type="text"
          class="form-control"
          placeholder="invoice flag"
        />
      </div>
      <!--  start:: PriceOfferingSection -->
      <ng-template [ngIf]="canSeePriceOffers()">
        <shipping-request-offers-list
          [shippingRequestId]="activeShippingRequestId"
          [isTachyonDeal]="_trip.GetShippingRequestForViewOutput.shippingRequest.isTachyonDeal"
          [isForDedicated]="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 1"
          [Channel]="_trip.GetShippingRequestForViewOutput.shippingRequest.isBid ? 1 : 2"
        ></shipping-request-offers-list>
      </ng-template>
      <!--  end:: PricOfferingSection -->

      <app-view-matching-tms-price-package
        *ngIf="canSeePricePackages()"
        [shippingRequestId]="activeShippingRequestId"
      ></app-view-matching-tms-price-package>

      <div class="card card-custom gutter-b" *ngIf="isGrantedAny('Pages.ActorPrices.Carrier', 'Pages.ActorPrices.Shipper')">
        <div class="card-header">
          <h3 class="card-title">{{ l('Actors') }}</h3>
          <div class="card-toolbar">
            <button type="submit" class="btn btn-primary" (click)="actorsPricing.show()">
              <span>{{ l('ActorsPricing') }}</span>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div *ngIf="isGranted('Pages.ActorPrices.Shipper')" class="col-6">
              <div class="form-group">
                <label>{{ l('ActorShipperName') }}</label>
                <!--                          [(ngModel)]="carrierPriceInput.actorCarrierPrice.vatAmount"-->
                <input
                  type="text"
                  [value]="_trip.GetShippingRequestForViewOutput.shipperActorName"
                  class="form-control"
                  name="ActorShipperName"
                  disabled
                />
              </div>
            </div>
            <div *ngIf="isGranted('Pages.ActorPrices.Carrier')" class="col-6">
              <div class="form-group">
                <label>{{ l('ActorCarrierName') }}</label>
                <!--                          [(ngModel)]="carrierPriceInput.actorCarrierPrice.vatAmount"-->
                <input
                  type="text"
                  [value]="_trip.GetShippingRequestForViewOutput.carrierActorName"
                  class="form-control"
                  name="ActorCarrierName"
                  disabled
                />
              </div>
            </div>
          </div>
          <app-create-or-edit-actors-price
            #actorsPricing
            [numberOfCreatedTrips]="_trip.GetShippingRequestForViewOutput.totalsTripsAddByShippier"
            [shippingRequestId]="activeShippingRequestId"
            [tenantId]="_trip.GetShippingRequestForViewOutput.tenantId"
            [carrierTenantId]="_trip.GetShippingRequestForViewOutput.shippingRequest.carrierTenantId"
            [actorCarrierId]="_trip.GetShippingRequestForViewOutput.carrierActorId"
            [actorShipperId]="_trip.GetShippingRequestForViewOutput.shipperActorId"
          ></app-create-or-edit-actors-price>
        </div>
      </div>
      <div class="card card-custom gutter-b">
        <!--  start of card::form-->
        <div class="card-header">
          <h3 class="card-title">{{ l('TruckDetails') }}</h3>
        </div>
        <!--  start of card::body-->
        <div class="card-body">
          <div *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequest.hasAccident" class="alert alert-custom alert-light-warning" role="alert">
            <div class="alert-icon"><i class="flaticon-warning"></i></div>
            <div class="alert-text">You have trips that contain accidents</div>
          </div>

          <div class="row">
            <!--  start of truck::Details-->
            <div class="col-12">
              <div class="row">
                <div class="col-lg-6">
                  <label>{{ l('TransportType') }}</label>
                  <input
                    class="form-control"
                    type="text"
                    name="numberOfDrops"
                    value="{{ _trip.GetShippingRequestForViewOutput.transportTypeDisplayName }}"
                    disabled
                  />
                </div>

                <div class="col-lg-6">
                  <label>{{ l('TruckType') }}</label>
                  <input
                    class="form-control"
                    type="text"
                    name="numberOfDrops"
                    value="{{ _trip.GetShippingRequestForViewOutput.truckTypeDisplayName }}"
                    disabled
                  />
                </div>
                <div class="col-lg-6 mt-5">
                  <label>{{ l('Capacity') }}</label>
                  <input
                    class="form-control"
                    type="text"
                    name="numberOfDrops"
                    value="{{ _trip.GetShippingRequestForViewOutput.capacityDisplayName }}"
                    disabled
                  />
                </div>
                <div class="col-lg-6 mt-5" *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 1">
                  <label>{{ l('NumberOfTrucks') }}</label>
                  <input
                    class="form-control"
                    type="number"
                    name="expectedMileage"
                    value="{{ _trip.GetShippingRequestForViewOutput.numberOfTrucks }}"
                    disabled
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-custom gutter-b">
        <!--  start of card::form-->
        <div class="card-header">
          <h3 class="card-title">{{ l('ShippingRequestProperties') }}</h3>
        </div>
        <!--  start of card::body-->
        <div class="card-body">
          <div class="row">
            <!--  start of ShippingRequestType::Details-->
            <div class="col-12">
              <div class="mb-3">
                <div class="mb-2">
                  <div class="form-group row fv-plugins-icon-container">
                    <div class="col-lg-6">
                      <label><span class="required-fileds"></span> {{ l('ShippingRequestType') }} </label>
                      <input class="form-control" type="text" name="ShippingRequestType" [value]="shipppingRequestType()" disabled />
                    </div>
                    <!--  Start::Shipping Type                 -->
                    <div class="col-lg-6">
                      <label><span class="required-fileds"></span> {{ l('ShippingType') }}</label>
                      <input
                        class="form-control"
                        type="text"
                        name="ShippingType"
                        [value]="_trip.GetShippingRequestForViewOutput.shippingTypeDisplayName"
                        disabled
                      />
                    </div>
                    <!-- End::Shipping Type-->

                    <!--  Start::Round Trip                 -->
                    <div
                      class="mt-5 col-lg-6"
                      *ngIf="
                        _trip.GetShippingRequestForViewOutput?.shippingRequest?.shippingTypeId === ShippingTypeEnum.ImportPortMovements ||
                        _trip.GetShippingRequestForViewOutput?.shippingRequest?.shippingTypeId === ShippingTypeEnum.ExportPortMovements
                      "
                    >
                      <label><span class="required-fileds"></span> {{ l('RoundTrip') }}</label>
                      <input
                        class="form-control"
                        type="text"
                        name="RoundTrip"
                        [value]="_trip.GetShippingRequestForViewOutput.roundTripTypeTitle"
                        disabled
                      />
                    </div>
                    <!-- End::Round Trip-->

                    <div class="col-lg-3 mt-5" *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 0">
                      <div class="form-group">
                        <label> {{ l('ShipperReference') }}</label>
                        <div class="input-group date">
                          <input
                            [value]="_trip.GetShippingRequestForViewOutput.shippingRequest.shipperReference"
                            class="form-control"
                            type="ShipperReference"
                            placeholder="{{ l('ShipperReference') }}"
                            name="ShipperReference"
                            disabled
                          />
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 mt-5" *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 0">
                      <div class="form-group">
                        <label> {{ l('ShipperInvoiceNumber') }}</label>
                        <div class="input-group date">
                          <input
                            [value]="_trip.GetShippingRequestForViewOutput.shippingRequest.shipperInvoiceNo"
                            class="form-control"
                            type="ShipperInvoiceNumber"
                            placeholder="{{ l('ShipperInvoiceNumber') }}"
                            name="ShipperInvoiceNumber"
                            disabled
                          />
                        </div>
                      </div>
                    </div>
                    <div *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequest.isBid" class="col-lg-3 mt-5">
                      <div class="form-group">
                        <label>{{ l('DiddingStartDate') }}</label>
                        <div class="input-group date">
                          <input
                            class="form-control"
                            placeholder="{{ l('DatePlaceholder') }}"
                            name="shippingrequestBidStratDate"
                            [(date)]="_trip.GetShippingRequestForViewOutput.shippingRequest.bidStartDate"
                            [disabled]="true"
                            bsDatepicker
                            datePickerMomentModifier
                          />
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="la la-calendar-check-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequest.isBid" class="col-lg-3 mt-5">
                      <label> {{ l('BiddingEndDate') }}</label>
                      <div class="input-group date">
                        <input
                          class="form-control"
                          placeholder="{{ l('DatePlaceholder') }}"
                          name="shippingrequestBidEndDate"
                          [(date)]="_trip.GetShippingRequestForViewOutput.shippingRequest.bidEndDate"
                          [disabled]="true"
                          bsDatepicker
                          datePickerMomentModifier
                        />
                        <div class="input-group-append">
                          <span class="input-group-text">
                            <i class="la la-calendar-check-o"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  end::ShippingRequestType::Details-->
          </div>
        </div>
        <!--  end of card::body-->
        <!--  start of card::form-->
      </div>
      <div class="card card-custom gutter-b">
        <!--  start of card::form-->
        <div class="card-header">
          <h3 class="card-title">{{ l('GoodDetails') }}</h3>
        </div>
        <!--  start of card::body-->
        <div class="card-body">
          <div class="row">
            <!--  start of Shipment::Details-->
            <div class="col-12">
              <div class="mb-3">
                <div class="mb-2">
                  <div class="row">
                    <div class="col-lg-6" [class.mt-4]="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 1">
                      <label><span class="required-fileds"></span> {{ l('MainGoodCategory') }} </label>
                      <input
                        class="form-control"
                        type="text"
                        name="MainGoodCategory"
                        [value]="_trip.GetShippingRequestForViewOutput.goodsCategoryName"
                        disabled
                      />
                    </div>
                    <div class="col-lg-6" *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 0">
                      <label><span class="required-fileds"></span> {{ l('TotalWeight') }}</label>
                      <div>
                        <div class="input-group">
                          <div class="input-group-append">
                            <span class="input-group-text"> KG </span>
                          </div>
                          <input
                            type="number"
                            name="Weight"
                            class="form-control"
                            [value]="_trip.GetShippingRequestForViewOutput.shippingRequest.totalWeight"
                            disabled
                          />
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                      <div class="form-group">
                        <label> {{ l('PackingType') }}</label>
                        <input
                          class="form-control"
                          type="text"
                          name="packingType"
                          [value]="_trip.GetShippingRequestForViewOutput.packingTypeDisplayName"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-lg-6 mt-4" *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 0">
                      <div class="form-group">
                        <label> {{ l('NumberOfPacking') }}</label>
                        <input
                          class="form-control"
                          type="text"
                          name="numberOfPacking"
                          [value]="_trip.GetShippingRequestForViewOutput.shippingRequest.numberOfPacking"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  end of Shipment::Details-->
            <!--  Start:Goods details  -->
            <!--                (SelectedGoodDetailsFromChild)="shippingRequest.goodsDetailS = $event"-->
            <!--              <GoodDetailsForCreateShippingRequest [MainCategory]="shippingRequest.goodCategoryId"></GoodDetailsForCreateShippingRequest>-->
            <!--   end::Goods details   -->
          </div>
        </div>
      </div>

      <!--   start::RouteDetails     -->
      <div class="card card-custom gutter-b">
        <!--  start of card::form-->
        <div class="card-header">
          <h3 class="card-title">{{ l('RouteDetails') }}</h3>
        </div>
        <!--  start of card::body-->
        <div class="card-body">
          <div class="row">
            <!--  start of Route::Details-->
            <div class="col-12">
              <div class="mb-3">
                <div class="mb-2">
                  <div class="row">
                    <!-- Start of Select Source -->
                    <div class="col-lg-6" *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 0">
                      <div class="form-group">
                        <label> {{ l('OriginCity') }}</label>
                        <input
                          class="form-control"
                          type="text"
                          name="originCity"
                          [value]="_trip.GetShippingRequestForViewOutput.originalCityName"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label> {{ l(_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 0 ? 'DestinationCity' : 'ServiceAreas') }}</label>
                        <input
                          class="form-control"
                          type="text"
                          name="destinationCity"
                          [value]="_trip.GetShippingRequestForViewOutput.destinationCityName"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col-lg-6" *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 0">
                      <div class="form-group">
                        <label> {{ l('TripsStartDate') }}</label>
                        <div class="input-group date">
                          <input
                            [(date)]="_trip.GetShippingRequestForViewOutput.shippingRequest.startTripDate"
                            class="form-control"
                            type="datetime"
                            placeholder="{{ l('DatePlaceholder') }}"
                            name="startdate"
                            bsDatepicker
                            datePickerMomentModifier
                            disabled
                          />

                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="la la-calendar-check-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6" *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 0">
                      <div class="form-group">
                        <label> {{ l('TripsEndDate') }}</label>
                        <div class="input-group date">
                          <input
                            [(date)]="_trip.GetShippingRequestForViewOutput.shippingRequest.endTripDate"
                            class="form-control"
                            placeholder="{{ l('DatePlaceholder') }}"
                            name="endDate"
                            bsDatepicker
                            datePickerMomentModifier
                            disabled
                          />
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="la la-calendar-check-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-lg-3"
                      *ngIf="
                        _trip.GetShippingRequestForViewOutput.shippingRequestFlag === 0 &&
                        ((_trip.GetShippingRequestForViewOutput?.shippingRequest?.shippingTypeId !== ShippingTypeEnum.ImportPortMovements &&
                          _trip.GetShippingRequestForViewOutput?.shippingRequest?.shippingTypeId !== ShippingTypeEnum.ExportPortMovements) ||
                          ((_trip.GetShippingRequestForViewOutput?.shippingRequest?.shippingTypeId === ShippingTypeEnum.ImportPortMovements ||
                            _trip.GetShippingRequestForViewOutput?.shippingRequest?.shippingTypeId === ShippingTypeEnum.ExportPortMovements) &&
                            _trip.GetShippingRequestForViewOutput.routeTypeId === ShippingRequestRouteType.SingleDrop))
                      "
                    >
                      <label>{{ l('RouteType') }}</label>
                      <input
                        class="form-control"
                        type="text"
                        name="routeType"
                        value="{{ l(_trip.GetShippingRequestForViewOutput.routTypeName) }}"
                        disabled
                      />
                    </div>
                    <div class="col-lg-3" *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 0">
                      <div class="form-group">
                        <label><span class="required-fileds"></span> {{ l('NumberOfDrops') }} </label>
                        <input
                          class="form-control"
                          type="number"
                          name="numberOfDrops"
                          [value]="_trip.GetShippingRequestForViewOutput.shippingRequest.numberOfDrops"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-lg-6" *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 0">
                      <div class="form-group">
                        <label> {{ l('NumberOfTrips') }}</label>
                        <input
                          class="form-control"
                          type="number"
                          name="numberOfTrips"
                          [value]="_trip.GetShippingRequestForViewOutput.shippingRequest.numberOfTrips"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-lg-6" *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 1">
                      <div class="form-group">
                        <label> {{ l('ServiceAreaNotes') }}</label>
                        <input
                          class="form-control"
                          type="text"
                          name="serviceAreaNotes"
                          [value]="_trip.GetShippingRequestForViewOutput.serviceAreaNotes"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-lg-6" *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 1">
                      <div class="form-group">
                        <label>{{ l('ExpectedMileage') }}</label>
                        <input
                          class="form-control"
                          type="text"
                          name="expectedMileage"
                          value="{{ _trip.GetShippingRequestForViewOutput.expectedMileage }}"
                          disabled
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  end of card::body-->
        <!--  start of card::form-->
      </div>
      <!--   End::RouteDetails   -->

      <!--   start::RentalDetails     -->
      <div class="card card-custom gutter-b" *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 1">
        <!--  start of card::form-->
        <div class="card-header">
          <h3 class="card-title">{{ l('RentalDetails') }}</h3>
        </div>
        <!--  start of card::body-->
        <div class="card-body">
          <div class="row">
            <!--  start of Route::Details-->
            <div class="col-12">
              <div class="mb-3">
                <div class="mb-2">
                  <div class="row">
                    <!-- Start of Select Source -->
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label> {{ l('RentalDurationUnit') }}</label>
                        <input
                          class="form-control"
                          type="text"
                          name="rentalDurationUnitTitle"
                          [value]="_trip.GetShippingRequestForViewOutput.rentalDurationUnitTitle"
                          disabled
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label> {{ l('RentalDuration') }}</label>
                        <input
                          class="form-control"
                          type="text"
                          name="rentalDuration"
                          [value]="_trip.GetShippingRequestForViewOutput.rentalDuration"
                          disabled
                        />
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label> {{ l('RentalStartDate') }}</label>
                        <div class="input-group date">
                          <input
                            [(date)]="_trip.GetShippingRequestForViewOutput.rentalStartDate"
                            class="form-control"
                            type="datetime"
                            placeholder="{{ l('DatePlaceholder') }}"
                            name="rentalStartDate"
                            bsDatepicker
                            datePickerMomentModifier
                            disabled
                          />

                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="la la-calendar-check-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label> {{ l('RentalEndDate') }}</label>
                        <div class="input-group date">
                          <input
                            [(date)]="_trip.GetShippingRequestForViewOutput.rentalEndDate"
                            class="form-control"
                            placeholder="{{ l('DatePlaceholder') }}"
                            name="endDate"
                            bsDatepicker
                            datePickerMomentModifier
                            disabled
                          />
                          <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="la la-calendar-check-o"></i>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--  end of card::body-->
        <!--  start of card::form-->
      </div>
      <!--   End::RentalDetails   -->

      <!--  start:Tms for shipper     -->
      <tms-for-shipper
        *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 1"
        [shippingRequestId]="_trip.GetShippingRequestForViewOutput?.shippingRequest?.id"
        [rentalRange]="rentalRange"
        [isRequestStatusCompleted]="_trip.GetShippingRequestForViewOutput?.shippingRequest?.status === 5"
        [isRequestSaas]="_trip.GetShippingRequestForViewOutput?.shippingRequest?.isSaas"
      ></tms-for-shipper>
      <!--  end:Tms for shipper     -->

      <div class="row gutter-b">
        <app-project-performance
          class="col-6"
          *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 1"
          [shippingRequestId]="_trip.GetShippingRequestForViewOutput?.shippingRequest?.id"
          [KPI]="_trip.GetShippingRequestForViewOutput?.dedicatedKPI"
          [numberOfTrips]="_trip.GetShippingRequestForViewOutput?.totalsTripsAddByShippier"
          [isRequestSaas]="_trip.GetShippingRequestForViewOutput?.shippingRequest?.isSaas"
        >
        </app-project-performance>

        <app-truck-performance-chart
          class="col-6"
          *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequestFlag === 1"
          [shippingRequestId]="_trip.GetShippingRequestForViewOutput?.shippingRequest?.id"
        ></app-truck-performance-chart>
      </div>

      <!--  start:: DirectOffers      -->

      <ng-template [ngIf]="canSeeDirectRequests()">
        <direct-request
          #directRequestComponent
          [shippingRequestId]="activeShippingRequestId"
          [ShippingRequestStatus]="_trip.GetShippingRequestForViewOutput.shippingRequest.status"
        ></direct-request>
      </ng-template>
      <!--  end:: DirectOffers        -->

      <div *ngIf="isGranted('Pages.ShippingRequestAndTripNotes')">
        <app-notes *ngIf="isGranted('Pages.ShippingRequestAndTripNotes')" #NotesComponent [shippingRequestId]="activeShippingRequestId" [type]="type">
        </app-notes>
      </div>
      <!--   Start::Trips Section     -->
      <!--        !feature.isEnabled('App.TachyonDealer') || -->
      <ng-template [ngIf]="canSeeShippingRequestTrips()">
        <TripsForViewShippingRequest
          *ngIf="_trip.GetShippingRequestForViewOutput.shippingRequest.id && bidsloading == false"
          [ShippingRequest]="_trip.GetShippingRequestForViewOutput.shippingRequest"
          [VasListFromFather]="_trip.GetShippingRequestForViewOutput.shippingRequestVasDtoList"
          (incidentResolved)="reloadCurrentPage()"
        ></TripsForViewShippingRequest>
      </ng-template>

      <!--    End::Trips Section    -->
      <!--  End of the First Container      -->
    </div>

    <app-entity-log #appEntityLog [entityType]="3" [entityId]="_trip.GetShippingRequestForViewOutput.shippingRequest.id"></app-entity-log>
  </div>
  <!--  <sendDirectRequestsModal #sendDirectRequestsModal [shippingRequestId]="activeShippingRequestId"></sendDirectRequestsModal>-->
  <tachyonDealToBiddingModal #tachyonDealToBiddingModal (modalsave)="reloadCurrentPage()"></tachyonDealToBiddingModal>
  <SrPostPriceUpdatesModal #srPostPriceUpdatesModal></SrPostPriceUpdatesModal>
</div>
