.from-to {
    border-left: 3px dashed #E3E3E3;
    .from,
    .to {
        &:before {
            content: '';
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            z-index: 1;
            position: absolute;
            left: 1% !important;
        }
    }

    .from {
        &:before {
            background-color: #D9D9D9;
        }
        .red-circle {
            width: 8px;
            height: 8px;
            background: #dc2434 !important;
            border-radius: 50%;
            position: absolute;
            z-index: 1;
            left: 2.5%;
            top: 21%;
        }
    }
    .to {
        &:before {
            background-color: #E5E5FE;
        }
        .pin-icon {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            position: absolute;
            z-index: 1;
            left: 1.8%;
            bottom: 16.5%;
        }
    }

}
