<!--begin::Card-->
<div class="card card-custom card-stretch w-100 h-100" [busyIf]="loading">
  <div class="card-header border-0">
    <div class="card-title text-center">
      <h3 class="card-label">{{ l('CompletedTrips') }}</h3>
    </div>
    <div class="card-toolbar">
      <div class="btn-group" data-toggle="buttons">
        <label
          class="btn btn-secondary active"
          [ngClass]="{ active: selectedDatePeriod == FilterDatePeriod.Daily }"
          (click)="getTrips(FilterDatePeriod.Daily)"
        >
          <input type="radio" name="filterDatePeriodInterval" [value]="FilterDatePeriod.Daily" />
          {{ 'Daily' | localize }}
        </label>
        <label
          class="btn btn-secondary"
          [ngClass]="{ active: selectedDatePeriod == FilterDatePeriod.Monthly }"
          (click)="getTrips(FilterDatePeriod.Monthly)"
        >
          <input type="radio" name="SalesSummaryDateInterval" [value]="FilterDatePeriod.Monthly" />
          {{ 'Monthly' | localize }}
        </label>
      </div>
    </div>
  </div>

  <div class="card-body p-0">
    <div class="pd-5 text-center" *ngIf="noData">
      {{ l('NoData') }}
    </div>
    <div id="CompletedTripsChart" *ngIf="!noData">
      <apx-chart
        *ngIf="chartOptions && chartOptions.series"
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [dataLabels]="chartOptions.dataLabels"
        [stroke]="chartOptions.stroke"
      ></apx-chart>
    </div>
  </div>
</div>
<!--end::Card-->
