<div
  bsModal
  #modal="bs-modal"
  class="modal fade tachyonDialer   {{ direction == 'rtl' ? ' rtl' : '' }} "
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" style="position: relative; z-index: 99999" (click)="close()" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>

        <div class="form-body">
          <div class="row">
            <div class="row mb-4">
              <div class="col-xl-6">
                <label for="accountNumber">{{ 'AccountNumber' | localize }}</label>
                <div class="input-group">
                  <input
                    id="accountNumber"
                    [(ngModel)]="input.accountNumber"
                    name="input.accountNumber"
                    class="form-control"
                    placeholder="{{ 'SearchWithThreeDot' | localize }}"
                    type="text"
                  />
                </div>
              </div>
              <div class="col-xl-6">
                <label for="waybillNumber">{{ 'WaybillNumber' | localize }}</label>
                <div class="input-group">
                  <input
                    id="waybillNumber"
                    [(ngModel)]="input.waybillOrSubWaybillNumber"
                    name="input.waybillNumber"
                    class="form-control"
                    placeholder="{{ 'SearchWithThreeDot' | localize }}"
                    type="text"
                  />
                </div>
              </div>
              <div class="col-xl-6">
                <label for="containerNumber">{{ 'ContainerNumber' | localize }}</label>
                <div class="input-group">
                  <input
                    id="containerNumber"
                    [(ngModel)]="input.containerNumber"
                    name="input.containerNumber"
                    class="form-control"
                    placeholder="{{ 'SearchWithThreeDot' | localize }}"
                    type="text"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" (click)="search()" class="btn btn-primary">{{ l('search') }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
