<div class="row gutter-b">
  <div class="col-2">
    <app-counters-widget></app-counters-widget>
  </div>
  <div class="col-7">
    <app-accepted-vs-rejeced-requests></app-accepted-vs-rejeced-requests>
  </div>
  <div class="col-3">
    <app-upcoming-trips-widgets></app-upcoming-trips-widgets>
  </div>
</div>
<div class="row gutter-b">
  <div class="col-5">
    <app-invoices-vs-paid-invoices></app-invoices-vs-paid-invoices>
  </div>
  <div class="col-4">
    <app-most-worked-with-carriers></app-most-worked-with-carriers>
  </div>
  <div class="col-3 d-flex flex-column">
    <app-needs-action-widget class="gutter-b" style="flex-grow: 2"></app-needs-action-widget>
    <app-new-offers-widget></app-new-offers-widget>
  </div>
</div>
<div class="row gutter-b">
  <div class="col-2">
    <app-most-used-origin></app-most-used-origin>
  </div>
  <div class="col-7">
    <app-completed-trip-vs-pod></app-completed-trip-vs-pod>
  </div>
  <div class="col-3">
    <app-most-used-destinations></app-most-used-destinations>
  </div>
</div>
