<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'AppLocalization' | localize">
      <div role="actions">
        <button *ngIf="isGranted('Pages.AppLocalizations.Create')" (click)="AppLocalizationModel.show(null)" class="btn btn-primary blue">
          <i class="fa fa-plus"></i> {{ l('CreateLocalization') }}
        </button>
        <button *ngIf="isGranted('Pages.AppLocalizations.Restore')" (click)="restore()" class="btn btn-outline-success">
          <i class="fas fa-trash-restore"></i> {{ l('Restore') }}
        </button>
        <button *ngIf="isGranted('Pages.AppLocalizations.Generate')" (click)="generate()" class="btn btn-outline-success">
          <i class="fas fa-file-code"></i> {{ l('Generate') }}
        </button>
        <span> </span>
        <div class="btn-group" dropdown>
          <button
            dropdownToggle
            type="button"
            class="btn btn-outline-success dropdown-toggle mr-1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="far fa-file-excel"></i> {{ 'ExcelOperations' | localize }}
          </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu>
            <a class="dropdown-item" id="ExportTrucksToExcelButton" (click)="exportToExcel()" href="javascript:;">
              <i class="fa fa-download mr-2 mt-1" style="font-size: 1rem;"></i>
              {{ 'ExportToExcel' | localize }}
            </a>
            <div *ngIf="isGranted('Pages.AppLocalizations.Edit')" class="no-padding">
              <span class="fileinput-button">
                <p-fileUpload
                  customUpload="true"
                  name="ExcelFileUpload"
                  #ExcelFileUpload
                  maxFileSize="10000000"
                  auto="auto"
                  accept=".csv,.xls,.xlsx"
                  (uploadHandler)="uploadExcel($event)"
                  (onError)="onUploadExcelError()"
                  chooseLabel="{{ 'ImportFromExcel' | localize }}"
                >
                </p-fileUpload>
              </span>
            </div>
            <div class="dropdown-divider"></div>
          </div>
        </div>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <form class="form" autocomplete="off">
            <div>
              <div class="row mb-4">
                <div class="col-xl-12">
                  <div class="input-group">
                    <input
                      [(ngModel)]="input.filter"
                      name="filterText"
                      autoFocus
                      class="form-control m-input"
                      [placeholder]="l('SearchWithThreeDot')"
                      type="text"
                    />
                    <span class="input-group-btn">
                      <button (click)="getAll()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-xl-6">
                  <label for="EditionDropdown">{{ 'Edition' | localize }}</label>
                  <select class="form-control" name="editionId" [(ngModel)]="this.input.editionId">
                    <option *ngFor="let edition of editions" [value]="edition.value">{{ edition.displayText }}</option>
                  </select>
                </div>
                <div class="col-xl-6">
                  <label for="Pages">{{ 'Pages' | localize }}</label>
                  <div class="input-group">
                    <input
                      [(ngModel)]="input.page"
                      name="Page"
                      autoFocus
                      class="form-control m-input"
                      [placeholder]="l('SearchWithThreeDot')"
                      type="text"
                    />
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group">
                    <label for="PlatForm">{{ l('PlatForm') }}</label>
                    <select name="PlatForm" [(ngModel)]="input.platForm" class="form-control">
                      <option value="">{{ l('All') }}</option>
                      <option [value]="code.key" *ngFor="let code of terminologyPlatForm">
                        {{ code.value | localize }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group">
                    <label for="AppVersion">{{ l('AppVersion') }}</label>
                    <select name="AppVersion" [(ngModel)]="input.appVersion" class="form-control">
                      <option value="">{{ l('All') }}</option>
                      <option [value]="code.key" *ngFor="let code of terminologyAppVersion">
                        {{ code.value | localize }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="form-group">
                    <label for="version">{{ l('TerminologyVersion') }}</label>
                    <select name="version" [(ngModel)]="input.version" class="form-control">
                      <option value="">{{ l('All') }}</option>
                      <option [value]="code.key" *ngFor="let code of terminologyVersion">
                        {{ code.value | localize }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <div class="row align-items-center">
            <!--<Primeng-Datatable-Start>-->
            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
              <p-table
                #dataTable
                (onLazyLoad)="getAll($event)"
                [value]="primengTableHelper.records"
                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                [paginator]="false"
                [lazy]="true"
                [scrollable]="true"
                ScrollWidth="100%"
                [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 130px;">
                      {{ l('Actions') }}
                    </th>
                    <th style="width: 150px;" pSortableColumn="MasterKey">
                      {{ l('MasterKey') }}
                      <p-sortIcon field="MasterKey"></p-sortIcon>
                    </th>
                    <th style="width: 150px;" pSortableColumn="MasterValue">
                      {{ l('MasterValue') }}
                      <p-sortIcon field="MasterValue"></p-sortIcon>
                    </th>
                    <th style="width: 150px;">
                      {{ l('CurrentLanguage') }}
                    </th>
                    <th style="width: 150px;" pSortableColumn="PlatForm">
                      {{ l('PlatForm') }}
                      <p-sortIcon field="PlatForm"></p-sortIcon>
                    </th>
                    <th style="width: 150px;" pSortableColumn="AppVersion">
                      {{ l('AppVersion') }}
                      <p-sortIcon field="AppVersion"></p-sortIcon>
                    </th>
                    <th style="width: 150px;" pSortableColumn="Version">
                      {{ l('TerminologyVersion') }}
                      <p-sortIcon field="Version"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td style="width: 130px;">
                      <div class="btn-group dropdown" dropdown container="body">
                        <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                          <i class="fa fa-cog"></i><span class="caret"></span> {{ l('Actions') }}
                        </button>
                        <ul class="dropdown-menu" *dropdownMenu>
                          <li>
                            <a href="javascript:;" class="dropdown-item" (click)="ViewAppLocalizationModel.show(record.id)">{{ l('View') }}</a>
                          </li>
                          <li>
                            <a
                              href="javascript:;"
                              *ngIf="permission.isGranted('Pages.AppLocalizations.Edit')"
                              class="dropdown-item"
                              (click)="AppLocalizationModel.show(record.id)"
                              >{{ l('Edit') }}</a
                            >
                          </li>
                          <li>
                            <a
                              class="dropdown-item"
                              href="javascript:;"
                              *ngIf="permission.isGranted('Pages.AppLocalizations.Delete')"
                              (click)="delete(record)"
                              >{{ l('Delete') }}</a
                            >
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('MasterKey') }}</span>
                      {{ record.masterKey }}
                    </td>
                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('MasterValue') }}</span>
                      {{ record.masterValue }}
                    </td>
                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('CurrentLanguage') }}</span>
                      {{ record.value }}
                    </td>
                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('PlatForm') }}</span>
                      {{ record.platFormTitle }}
                    </td>
                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('AppVersion') }}</span>
                      {{ record.appVersionTitle }}
                    </td>
                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('TerminologyVersion') }}</span>
                      {{ record.versionTitle }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0 && IsStartSearch">
                {{ l('NoData') }}
              </div>
              <div class="primeng-paging-container">
                <p-paginator
                  [rows]="primengTableHelper.defaultRecordsCountPerPage"
                  #paginator
                  (onPageChange)="getAll($event)"
                  [totalRecords]="primengTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                >
                </p-paginator>
                <span class="total-records-count">
                  {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                </span>
              </div>
            </div>
            <!--<Primeng-Datatable-End>-->
          </div>
        </div>
      </div>
    </div>

    <applocalization-modal #AppLocalizationModel (modalSave)="getAll()"></applocalization-modal>
    <view-applocalization-modal #ViewAppLocalizationModel></view-applocalization-modal>
  </div>
</div>
