<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'Cities' | localize" [description]="'CitiesHeaderInfo' | localize">
      <div role="actions">
        <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{ l('ExportToExcel') }}</button>
        <button (click)="ImportCitiesPolygonsModal.show()" class="btn btn-outline-danger">
          <i class="fa fa-plus"></i> {{ l('ImportCitiesPolygons') }}
        </button>
        <button *ngIf="isGranted('Pages.Cities.Create')" (click)="createCity()" class="btn btn-primary blue">
          <i class="fa fa-plus"></i> {{ l('CreateNewCity') }}
        </button>
      </div>
    </sub-header>
    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <div class="row align-items-center">
            <dx-data-grid
              #grid
              id="dataGrid"
              [dataSource]="dataSource"
              [remoteOperations]="{ groupPaging: true, sorting: true, filtering: true, paging: true }"
              [showColumnLines]="true"
              [showRowLines]="false"
              [showBorders]="true"
              [rowAlternationEnabled]="true"
              keyExpr="id"
              (onRowUpdating)="updateRow($event)"
            >
              <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true"> </dxo-editing>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-search-panel [visible]="true" placeholder="{{ 'Search' | localize }}..."></dxo-search-panel>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-filter-builder-popup></dxo-filter-builder-popup>
              <dxo-master-detail [enabled]="true" template="translations"></dxo-master-detail>
              <div *dxTemplate="let options of 'translations'">
                <cities-translations-template [CoreId]="options.data.id"></cities-translations-template>
              </div>
              <!--              <dxo-remote-operations></dxo-remote-operations>-->
              <dxo-paging [pageSize]="10"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20, 50, 200]"></dxo-pager>

              <dxi-column dataField="displayName" caption="{{ l('DisplayName') }}">
                <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-column>
              <dxi-column dataField="code" caption="{{ l('Code') }}"> </dxi-column>
              <!-- <dxi-column dataField="latitude" caption="{{ l('Latitude') }}">
              </dxi-column>
              <dxi-column dataField="longitude" caption="{{ l('Longitude') }}">
              </dxi-column> -->

              <dxi-column dataField="translatedDisplayName" caption="{{ l('CountryName') }}"> </dxi-column>
              <dxi-column dataField="regionId" caption="{{ l('Region') }}"> </dxi-column>
              <dxi-column dataField="isActive" caption="{{ l('IsActive') }}"></dxi-column>
              <dxi-column dataField="hasPolygon" caption="{{ l('hasPolygon') }}"></dxi-column>
              <dxi-column dataField="bayanIntegrationId" caption="{{ l('bayanIntegrationId') }}"></dxi-column>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<createOrEditCityModal #createOrEditCityModal (modalSave)="getCities()"></createOrEditCityModal>
<import-cities-polygons-modal #ImportCitiesPolygonsModal></import-cities-polygons-modal>
