<div>
  <div class="card card-custom">
    <div class="card-header">
      <h3 class="card-title">
        {{ l('waypoints') }}
      </h3>
      <!-- if the user us shipper and this is create trip not edit and the route Type is not single Drop show the toolbar       -->
      <div class="card-toolbar" *ngIf="feature.isEnabled('App.Shipper')">
        <button
          type="button"
          class="btn btn-primary blue"
          [disabled]="(RouteType == 1 && wayPointsList.length < 2) || wayPointsList.length === 0"
          [hidden]="activeTripId"
          (click)="createOrEditPointModal.show(RouteType == 1 ? 1 : undefined)"
        >
          <i class="fa {{ RouteType == 1 ? 'flaticon-delete-2' : 'fa-plus' }}"></i>
          {{ RouteType == 1 ? l('CompleteDropPointSetup') : l('AddDrop') }}
        </button>
      </div>
    </div>
    <!--begin::Form-->
    <form class="form">
      <div class="card-body m-0">
        <!--  Start::forViewAllRouteStepsMap (WayPoints)-->
        <div class="col-lg-12">
          <agm-map [zoom]="13" [latitude]="wayPointMapSource?.lat || lat" [longitude]="wayPointMapSource?.lng || lng">
            <agm-marker *ngIf="!wayPointsList[1]" [longitude]="wayPointMapSource?.lng" [latitude]="wayPointMapSource?.lat"></agm-marker>
            <agm-direction
              *ngIf="wayPointMapDest && wayPointMapSource"
              [origin]="wayPointMapSource"
              [destination]="wayPointMapDest"
              [waypoints]="wayPoints"
              [travelMode]="'DRIVING'"
            ></agm-direction>
          </agm-map>
        </div>
        <!--   End::forViewAllRouteStepsMap  -->
        <!--  begin::Table -->
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-12 mt-4">
            <div class="row align-items-center">
              <!--<Primeng-Datatable-Start>-->
              <div [busyIf]="primengTableHelper.isLoading" class="primeng-datatable-container col-12">
                <p-table
                  ScrollWidth="100%"
                  [paginator]="false"
                  [resizableColumns]="primengTableHelper.resizableColumns"
                  [responsive]="primengTableHelper.isResponsive"
                  [scrollable]="true"
                  [value]="wayPointsList"
                  rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>
                        {{ l('Actions') }}
                      </th>
                      <th>
                        {{ l('Facility') }}
                      </th>
                      <th>
                        {{ l('DatatablePickingType') }}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template let-record="$implicit" pTemplate="body" let-i="rowIndex">
                    <tr>
                      <td>
                        <div class="btn-group dropdown" container="body" dropdown>
                          <a
                            class="dropdown-toggle btn btn-sm btn-primary"
                            dropdownToggle
                            [class.disabled]="record.pickingType == PickingType.Pickup"
                          >
                            <i class="fa fa-cog"></i><span class="caret"></span> {{ l('Actions') }}
                          </a>
                          <ul *dropdownMenu class="dropdown-menu">
                            <ng-template [ngIf]="record.pickingType == PickingType.Dropoff">
                              <li>
                                <!--                                  AddRouteStep(i)-->
                                <a
                                  class="dropdown-item"
                                  [hidden]="usedIn == 'view'"
                                  *ngIf="feature.isEnabled('App.Shipper')"
                                  (click)="createOrEditPointModal.show(i)"
                                  >{{ l('Edit') }}</a
                                >
                              </li>
                              <li>
                                <a
                                  class="dropdown-item"
                                  [hidden]="usedIn == 'view'"
                                  (click)="delete(i)"
                                  *ngIf="feature.isEnabled('App.Shipper') && record.pickingType == PickingType.Dropoff && !activeTripId"
                                  >{{ l('Delete') }}</a
                                >
                              </li>
                              <li>
                                <a class="dropdown-item" [hidden]="usedIn !== 'view'" (click)="viewPointDetailsModal.show(record)">{{ l('View') }}</a>
                              </li>
                            </ng-template>
                            <li>
                              <a
                                class="dropdown-item"
                                *ngIf="RouteType !== RouteTypes.SingleDrop && record.pickingType == PickingType.Dropoff && record.id"
                                (click)="downloadDropWayBill(record.id)"
                                >{{ l('downloadDropWaybill') }}</a
                              >
                            </li>
                          </ul>
                        </div>
                      </td>
                      <td>
                        <span class="ui-column-title"> {{ l('facilityName') }}</span>
                        {{ record.facility ? record.facility : getFacilityNameByid(record.facilityId) }}
                      </td>

                      <td>
                        <span *ngIf="record.pickingType == 1" class="label label-success label-dot mr-2"></span>
                        <span *ngIf="record.pickingType == 1" class="font-weight-bold text-success">{{ l('pickup') }}</span>
                        <span *ngIf="record.pickingType != 1" class="label label-danger label-dot mr-2"></span>
                        <span *ngIf="record.pickingType != 1" class="font-weight-bold text-danger">{{ l('drop') }}</span>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                <div *ngIf="wayPointsList.length == 0" class="primeng-no-data">
                  {{ l('NoData') }}
                </div>
              </div>
              <!--<Primeng-Datatable-End>-->
            </div>
          </div>
        </div>
        <!--  end::table  -->
      </div>
    </form>
    <!--end::Form-->
  </div>
  <!--Create/Edit Point Modal-->
  <createOrEditPointModal #createOrEditPointModal></createOrEditPointModal>
  <!--END::Create/Edit Point Modal-->
  <!--  View Point Modal  -->
  <view-point-details-modal #viewPointDetailsModal></view-point-details-modal>
  <!--End :: ViewPointModal    -->
</div>

<!--begin::CreateOrEditFacilityModal -->
<createOrEditFacilityModal
  #createOrEditFacilityModal
  *ngIf="feature.isEnabled('App.Shipper')"
  (modalSave)="loadFacilities()"
></createOrEditFacilityModal>
<!-- End::CreateOrEditFacilityModal -->
