<div>
  <div class="card card-custom p-0">
    <!--begin::Form-->
    <form class="form">
      <div class="card-body m-0 p-0">
        <!--  begin::Table -->
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-12 mt-4">
            <div class="row align-items-center">
              <!--<Primeng-Datatable-Start>-->
              <div [busyIf]="primengTableHelper.isLoading" class="primeng-datatable-container col-12">
                <p-table
                  ScrollWidth="100%"
                  [paginator]="false"
                  [resizableColumns]="primengTableHelper.resizableColumns"
                  [responsive]="primengTableHelper.isResponsive"
                  [scrollable]="true"
                  [value]="wayPointsList"
                  rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <!--                      <th>-->
                      <!--                        {{ l('Actions') }}-->
                      <!--                      </th>-->
                      <th>
                        {{ l('DatatablePickingType') }}
                      </th>
                      <th>
                        {{ l('Facility') }}
                      </th>
                      <th>
                        {{ l('Contact') }}
                      </th>
                      <th>
                        {{ l('GoodDetails') }}
                      </th>
                      <th>
                        {{ l('AdditionalReceiver') }}
                      </th>
                      <th>
                        {{ l('Notes') }}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template let-record="$implicit" pTemplate="body" let-i="rowIndex">
                    <tr>
                      <td>
                        <span *ngIf="record.pickingType === PickingType.Pickup" class="label label-success label-dot mr-2"></span>
                        <span *ngIf="record.pickingType === PickingType.Pickup" class="font-weight-bold text-success">{{ l('Pickup') }}</span>
                        <span *ngIf="record.pickingType === PickingType.Dropoff" class="label label-danger label-dot mr-2"></span>
                        <span *ngIf="record.pickingType === PickingType.Dropoff" class="font-weight-bold text-danger">{{ l('DropOff') }}</span>
                      </td>
                      <td>
                        <span *ngIf="this.usedIn != 'createOrEdit'"> {{ record.facility }}</span>
                        <div *ngIf="this.usedIn == 'createOrEdit'" class="input-group">
                          <select
                            #pointFacility="ngModel"
                            name="facility{{ i }}"
                            class="form-control"
                            [(ngModel)]="wayPointsList[i].facilityId"
                            (change)="
                              RouteStepCordSetter(i, wayPointsList[i].facilityId);
                              wayPointsSetter();
                              loadReceivers(wayPointsList[i].facilityId);
                              wayPointsList[i].receiverId = null
                            "
                            [class.is-valid]="pointFacility.touched && wayPointsList[i].facilityId && pointFacility.valid"
                            [class.is-invalid]="pointFacility.touched && !wayPointsList[i].facilityId && !pointFacility.valid"
                          >
                            <option [value]="undefined" disabled selected>{{ l('SelectaFacility') }}</option>
                            <option
                              *ngFor="let item of record.pickingType === PickingType.Pickup ? pickupFacilities : dropFacilities"
                              [value]="item.id"
                            >
                              {{ item.displayName }}
                            </option>
                          </select>
                          <div *ngIf="isShipper || isCarrierSaas" class="input-group-btn">
                            <button class="btn btn-light-danger" [disabled]="facilityLoading" (click)="createOrEditFacilityModal.show()">
                              <i class="flaticon2-add"></i>
                            </button>
                          </div>
                        </div>
                      </td>
                      <td>
                        <span *ngIf="this.usedIn != 'createOrEdit'"> {{ record.senderOrReceiverContactName }}</span>
                        <div *ngIf="this.usedIn == 'createOrEdit'" class="input-group">
                          <select
                            #pointReciver="ngModel"
                            name="reciver{{ i }}"
                            class="form-control"
                            [(ngModel)]="wayPointsList[i].receiverId"
                            [disabled]="!wayPointsList[i].facilityId"
                            [busyIf]="receiverLoading"
                            [class.is-valid]="pointReciver.touched && wayPointsList[i].receiverId && pointReciver.valid"
                            [class.is-invalid]="pointReciver.touched && !wayPointsList[i].receiverId && !pointReciver.valid"
                          >
                            <option value="">{{ l('SelectContact') }}</option>
                            <option *ngFor="let item of allPointsSendersAndREcivers[wayPointsList[i].facilityId] ?? []" [ngValue]="item.id">
                              {{ item.displayName }}
                            </option>
                          </select>
                          <div *ngIf="isShipper || isCarrierSaas" class="input-group-btn">
                            <button
                              class="btn btn-light-danger"
                              data-toggle="tooltip"
                              data-placement="top"
                              title="Tooltip on top"
                              [disabled]="!wayPointsList[i].facilityId"
                              (click)="createOrEditReceiverModal.show(null, wayPointsList[i].facilityId)"
                            >
                              <i class="flaticon2-add"></i>
                            </button>
                          </div>
                        </div>
                      </td>
                      <td>
                        <!--      td good Details -->
                        <a
                          *ngIf="record.pickingType === PickingType.Dropoff"
                          (click)="createOrEditPointModal.show(i, 'goodDetails', record.goodsDetailListDto)"
                          class="btn btn-sm mr-3"
                          [ngClass]="{
                            'btn-light-danger': !wayPointsList[i].goodsDetailListDto?.length,
                            'btn-light-success': wayPointsList[i].goodsDetailListDto?.length
                          }"
                        >
                          <i
                            [ngClass]="{
                              'flaticon2-open-box': this.usedIn != 'createOrEdit',
                              'flaticon2-check-mark': wayPointsList[i].goodsDetailListDto?.length,
                              'flaticon2-plus-1': !wayPointsList[i].goodsDetailListDto?.length
                            }"
                          ></i>
                          <span *ngIf="this.usedIn != 'createOrEdit'">{{ l('Show') }} - </span> {{ wayPointsList[i].goodsDetailListDto?.length }}</a
                        >
                      </td>
                      <td>
                        <!--      td Additional reciver -->
                        <span *ngIf="this.usedIn != 'createOrEdit'">{{ record.receiverFullName }} - {{ record.receiverPhoneNumber }}</span>
                        <a
                          *ngIf="this.usedIn == 'createOrEdit' && record.pickingType === PickingType.Dropoff"
                          (click)="createOrEditPointModal.show(i, 'receiver')"
                          class="btn btn-sm mr-3"
                          [ngClass]="{
                            'btn-light-danger': !wayPointsList[i].receiverFullName,
                            'btn-light-success': wayPointsList[i].receiverFullName
                          }"
                        >
                          <i
                            [ngClass]="{
                              'flaticon2-check-mark': wayPointsList[i].receiverFullName,
                              'flaticon2-plus-1': !wayPointsList[i].receiverFullName
                            }"
                          ></i
                          >{{ wayPointsList[i].receiverFullName }}</a
                        >
                      </td>
                      <td>
                        <!--      td trip notes     -->

                        <span *ngIf="this.usedIn != 'createOrEdit'">{{ record.note ?? '-' }}</span>
                        <a
                          *ngIf="this.usedIn == 'createOrEdit' && record.pickingType === PickingType.Dropoff"
                          (click)="createOrEditPointModal.show(i, 'note')"
                          [ngClass]="{
                            'btn-light-danger': !wayPointsList[i].note,
                            'btn-light-success': wayPointsList[i].note
                          }"
                          class="btn btn-sm mr-3"
                        >
                          <i
                            [ngClass]="{
                              'flaticon2-check-mark': wayPointsList[i].note,
                              'flaticon2-plus-1': !wayPointsList[i].note
                            }"
                          ></i>
                          {{ wayPointsList[i]?.note?.length > 18 ? (wayPointsList[i].note | slice: 0:18) + ' ....' : wayPointsList[i].note }}
                        </a>
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                <div *ngIf="wayPointsList.length == 0" class="primeng-no-data">
                  <!--                  {{ l('NoData') }}-->
                  <ngx-skeleton-loader count="2" [animation]="'pulse'" [theme]="{ height: '40px' }"></ngx-skeleton-loader>
                </div>
              </div>
              <!--<Primeng-Datatable-End>-->
            </div>
          </div>
        </div>
        <!--  end::table  -->
        <!--  Start::forViewAllRouteStepsMap (WayPoints)-->
        <div class="col-lg-12 p-0 mt-2">
          <agm-map [zoom]="13" [latitude]="wayPointMapSource?.lat || lat" [longitude]="wayPointMapSource?.lng || lng">
            <agm-marker
              *ngIf="!wayPointsList[1]?.longitude"
              [longitude]="this.wayPointsList[0]?.longitude"
              [latitude]="this.wayPointsList[0]?.latitude"
            ></agm-marker>
            <agm-direction
              *ngIf="wayPointMapDest && wayPointMapSource"
              [origin]="wayPointMapSource"
              [destination]="wayPointMapDest"
              [waypoints]="wayPoints"
              [travelMode]="'DRIVING'"
            ></agm-direction>
          </agm-map>
        </div>
        <!--   End::forViewAllRouteStepsMap  -->
      </div>
    </form>
    <!--end::Form-->
  </div>
  <!--Create/Edit Point Modal-->
  <createOrEditPointModal #createOrEditPointModal></createOrEditPointModal>
  <!--END::Create/Edit Point Modal-->
</div>

<!--begin::CreateOrEditFacilityModal -->
<createOrEditFacilityModal #createOrEditFacilityModal (modalSave)="loadFacilities()"></createOrEditFacilityModal>
<!-- End::CreateOrEditFacilityModal -->
<!-- begin::CreateOrEditReceiver -->
<createOrEditReceiverModal #createOrEditReceiverModal (modalSave)="loadReceivers($event)"> </createOrEditReceiverModal>
<!--End::CreateOrEditReceiver-->
