<div class="form-group" provideParentForm>
  <label class="requiredInput" *ngIf="showLabel"> <span *ngIf="isRequired" class="text-danger">*</span> {{ label }} </label>

  <div class="input-group">
    <ng-container *ngIf="selectedDateType == DateType.Gregorian">
      <input
        class="form-control"
        #ngbDatepicker="ngModel"
        [ngClass]="{
          'is-valid': parentForm?.submitted && ngbDatepicker.valid,
          'is-invalid': parentForm?.submitted && ngbDatepicker.invalid
        }"
        [placeholder]="placeHolder ? placeHolder : 'd/M/yyyy'"
        [name]="label"
        [(ngModel)]="selectedDate"
        ngbDatepicker
        (click)="d.toggle()"
        (dateSelect)="dateSelected()"
        autocomplete="off"
        [readonly]="readonly"
        [minDate]="minGreg"
        [maxDate]="maxGreg"
        [required]="isRequired"
        [disabled]="disabled"
        [footerTemplate]="footerTemplate"
        #d="ngbDatepicker"
      />
    </ng-container>

    <hijri-date-picker
      [parentForm]="parentForm"
      *ngIf="selectedDateType == DateType.Hijri"
      [(selectedDate)]="selectedDate"
      (selectedDateChange)="dateSelected()"
      [readonly]="readonly"
      [min]="minHijri"
      [max]="maxHijri"
      style="flex: 1 1 auto;"
      [name]="label"
      [isRequired]="isRequired"
      [placeHolder]="placeHolder"
      [disabled]="disabled"
    >
    </hijri-date-picker>
    <ng-template [ngTemplateOutlet]="dateSwitshButtons"></ng-template>
  </div>

  <!--  <span class="form-text text-muted">{{ 'PleaseChooseDate' | localize }}</span>-->
</div>

<ng-template #dateSwitshButtons>
  <div class="input-group-append">
    <button
      class="btn btn-sm   {{ selectedDateType == DateType.Hijri ? ' focus active btn-default' : 'btn-default' }}"
      (click)="hijriClick()"
      [disabled]="disabled"
      type="button"
    >
      {{ hijriLabel ? hijriLabel : ('Hijri' | localize) }}
    </button>
    <button
      class="btn mr-0 btn-sm  {{ selectedDateType == DateType.Gregorian ? ' focus active btn-default' : 'btn-default' }}"
      (click)="gregClick()"
      [disabled]="disabled"
      type="button"
    >
      {{ GregLabel ? GregLabel : ('Gregorian' | localize) }}
    </button>
  </div>
</ng-template>

<ng-template #footerTemplate>
  <hr class="my-0" />
  <button class="btn btn-secondary btn-sm m-2 float-right" type="button" (click)="close()">Close</button>
  <button class="btn btn-primary btn-sm m-2 float-left" type="button" (click)="clear()">Clear</button>
</ng-template>
