<div
  bsModal
  #addNewTripsModal="bs-modal"
  class="modal fade"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">
          <span>{{ l('TripDetails') }}</span>
        </p>
        <div class="card-toolbar">
          <button class="btn btn-primary" [disabled]="!trip.id" (click)="DownloadSingleDropWaybillPdf(trip.id)">{{ l('PrintWaybill') }}</button>
        </div>
      </div>
      <div class="modal-body" [busyIf]="loading">
        <div class="row">
          <!--begin::Body-->
          <!--  begin:: Source Dest Facilitys  -->
          <div class="col-lg-6 form-group">
            <label>{{ l('SourceFacility') }}</label>
            <div class="input-group">
              <select
                name="sourceFacility"
                class="form-control"
                [disabled]="facilityLoading"
                [(ngModel)]="trip.originFacilityId"
                (change)="PointsComponent.sourceTripFacilityId = trip.originFacilityId"
              >
                <option value="">{{ l('SelectaFacility') }}</option>
                <option *ngFor="let item of allFacilities" value="{{ item.id }}">{{ item.displayName }}</option>
              </select>
              <div class="input-group-btn">
                <button class="btn btn-primary" [disabled]="facilityLoading" (click)="createOrEditFacilityModal.show()">
                  <i class="flaticon-plus"></i>{{ l('AddNew') }}
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6 form-group">
            <label>{{ l('DestFacility') }}</label>
            <div class="input-group">
              <select name="destFacility" class="form-control" [disabled]="facilityLoading" [(ngModel)]="trip.destinationFacilityId">
                <option value="">{{ l('SelectaFacility') }}</option>
                <option *ngFor="let item of allFacilities" value="{{ item.id }}">{{ item.displayName }}</option>
              </select>
              <div class="input-group-btn">
                <button class="btn btn-primary" [disabled]="facilityLoading" (click)="createOrEditFacilityModal.show()">
                  <i class="flaticon-plus"></i>{{ l('AddNew') }}
                </button>
              </div>
            </div>
          </div>
          <!--  end:: Source Dest Facilitys  -->
          <!--  begin:: Trip start&End Dates-->
          <div class="col-lg-6">
            <div class="form-group">
              <label>{{ l('TripStartDate') }} <span class="required-fileds">*</span></label>
              <div class="input-group date">
                <input
                  [(date)]="trip.startTripDate"
                  class="form-control"
                  name="tripStartDate"
                  placeholder="{{ l('TripStartDate') }}"
                  [minDate]="shippingRequest.startTripDate"
                  [maxDate]="shippingRequest.endTripDate"
                  (dateChange)="validateTripDates()"
                  bsDatepicker
                  datePickerMomentModifier
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="la la-calendar-check-o"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>{{ l('TripEndDate') }} <span class="required-fileds">*</span></label>
              <div class="input-group date">
                <input
                  [(date)]="trip.endTripDate"
                  class="form-control"
                  name="tripEndDate"
                  placeholder="{{ l('TripEndDate') }}"
                  [maxDate]="shippingRequest.endTripDate"
                  (dateChange)="validateTripDates()"
                  bsDatepicker
                  datePickerMomentModifier
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="la la-calendar-check-o"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!--  end:: Trip start&End Dates-->
          <!-- begin::Vas's  -->
          <div class="col-lg-6" *ngIf="VasListFromFather?.length > 0">
            <div class="form-group" *ngIf="selectedVases != []">
              <label>{{ l('vases') }}<span class="required-fileds">*</span></label>
              <p-multiSelect
                [options]="Vases"
                [(ngModel)]="trip.shippingRequestTripVases"
                [styleClass]="'form-control'"
                [filter]="false"
                [showHeader]="false"
                [defaultLabel]="''"
                optionLabel="name"
              ></p-multiSelect>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-check">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="trip.needsDeliveryNote" />
                <span> </span>{{ l('NeedDeliveryNote') }}</label
              >

              <!--              <input id="NeedDeliveryNote" [(ngModel)]="trip.needsDeliveryNote" type="checkbox" class="form-check-input" />-->
              <!--              &lt;!&ndash;              <label>{{ l('NeedDeliveryNote') }}<span class="required-fileds">*</span></label>&ndash;&gt;-->
              <!--              <label class="form-check-label" for="NeedDeliveryNote">{{ l('NeedDeliveryNote') }}</label>-->
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-check">
              <label class="checkbox">
                <input type="checkbox" [(ngModel)]="trip.hasAttachment" name="Checkboxes4" />
                <span> </span>{{ l('HasAttachment') }}</label
              >
              <!--              <input id="HasAttachment" type="checkbox" [(ngModel)]="trip.hasAttachment" class="form-check-input" />-->
              <!--              <label class="form-check-label" for="HasAttachment">{{ l('HasAttachment') }}</label>-->
            </div>
          </div>

          <!--      end:Vas's      -->
          <!--  start:: RouteSteps -->
          <PointsComponent
            #PointsComponent
            (SelectedWayPointsFromChild)="trip.routPoints = $event"
            [WayPointListFromFatherForShippingRequestEdit]="trip.routPoints"
            [MainGoodsCategory]="shippingRequest.goodCategoryId"
            [NumberOfDrops]="shippingRequest.numberOfDrops"
          ></PointsComponent>
          <!--  end:: RouteSteps -->
          <!--end::Body-->
        </div>
      </div>
      <div class="modal-footer">
        <!--begin::Buttons-->

        <button [disabled]="saving" type="button" class="btn btn-primary font-weight-bolder btn-sm py-3 px-6 text-uppercase" (click)="close()">
          {{ l('Close') }}
        </button>
        <button [disabled]="saving" class="btn btn-primary font-weight-bolder btn-sm py-3 px-6 text-uppercase" (click)="createOrEditTrip()">
          {{ trip.id ? l('UpdateTrip') : l('AddNewTrip') }}
        </button>
        <!--end::Buttons-->
      </div>
    </div>
  </div>
</div>
<createOrEditFacilityModal #createOrEditFacilityModal (modalSave)="refreshOrGetFacilities()"> </createOrEditFacilityModal>
