<div
  bsModal
  #addNewTripsModal="bs-modal"
  class="modal fade"
  role="dialog"
  tabindex="-1"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
  (keydown.escape)="close(); $event.stopPropagation()"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <form *ngIf="active" #shippingRequestTripsForm="ngForm" novalidate autocomplete="off" (submit)="createOrEditTrip()">
        <dx-validation-group name="shippingRequestTripsGroup">
          <div class="modal-header">
            <p class="modal-title">
              <span>{{ l('TripDetails') }}</span>
            </p>
            <div class="card-toolbar">
              <div
                class="btn-group"
                dropdown
                #dropdownAddPage="bs-dropdown"
                [dropup]="false"
                [insideClick]="true"
                *ngIf="
                  !_TripService.CreateOrEditShippingRequestTripDto?.id &&
                  (isShipper || isTachyonDealer || feature.isEnabled('App.CarrierAsASaas')) &&
                  _TripService.GetShippingRequestForViewOutput &&
                  _TripService.GetShippingRequestForViewOutput &&
                  _TripService.GetShippingRequestForViewOutput?.shippingRequestFlag === ShippingRequestFlagEnum.Normal
                "
              >
                <button
                  dropdownToggle
                  type="button"
                  class="btn btn-outline-danger dropdown-toggle btn-elevate-hover mr-2"
                  aria-controls="dropdown-basic"
                  (click)="loadTemplates()"
                >
                  <i class="fa fa-list"></i> {{ 'TripTemplates' | localize }}<span class="caret"></span>
                </button>
                <ul *dropdownMenu class="dropdown-menu p-2" role="menu" aria-labelledby="button-basic">
                  <li role="menuitem">
                    <div class="form-group">
                      <select class="form-control" name="tripTemplate" [(ngModel)]="selectedTemplate" [busyIf]="templatesLoading">
                        <option [value]="undefined" hidden selected disabled>{{ l('SelectATripTemplate') }}</option>
                        <option *ngFor="let item of tripTemples" value="{{ item.id }}">{{ item.displayName }}</option>
                      </select>
                    </div>
                    <button class="btn btn-sm btn-block btn-info" (click)="applyTemplate()" type="button">{{ 'Load' | localize }}</button>
                  </li>
                </ul>
              </div>

              <button
                class="btn btn-primary"
                *ngIf="_TripService.CreateOrEditShippingRequestTripDto.id"
                [disabled]="!_TripService.CreateOrEditShippingRequestTripDto.id"
                (click)="DownloadSingleDropWaybillPdf(_TripService.CreateOrEditShippingRequestTripDto.id)"
                [buttonBusy]="wayBillIsDownloading"
              >
                <i class="fa flaticon2-print"></i>
                {{ l('PrintWaybill') }}
              </button>
            </div>
          </div>
          <div class="modal-body" [busyIf]="loading">
            <div
              *ngIf="_TripService.CreateOrEditShippingRequestTripDto.isExceedMaxWaybillsNumber"
              class="row alert alert-warning"
              style="background-color: #fff3cd; color: #856404; border-color: #ffeeba"
              role="alert"
            >
              {{ l('You are already passed the allowed number of waybills so this waybill will be priced by additional waybill price') }}
            </div>
            <div class="row" *ngIf="_TripService.GetShippingRequestForViewOutput?.shippingRequestFlag == ShippingRequestFlagEnum.Dedicated">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="TripType"> {{ l('TripType') }} </label>
                  <select
                    #TripType="ngModel"
                    name="TripType"
                    id="TripType"
                    [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.shippingRequestTripFlag"
                    class="form-control"
                    (change)="onRouteTypeChange()"
                  >
                    <option *ngFor="let flag of ShippingRequestTripFlagArray" [value]="flag.key">{{ flag.value }}</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row" [hidden]="!this.feature.isEnabled('App.CarrierClients') || _TripService.GetShippingRequestForViewOutput">
              <div class="col-6">
                <div class="form-group">
                  <label>{{ l('ActorShipper') }}</label>
                  <div
                    [ngClass]="{
                      'spinner spinner-success spinner-right mr-1 ml-1': !AllActorsShippers
                    }"
                  >
                    <dx-select-box
                      id="ActorShipper"
                      name="ActorShipper"
                      [(value)]="_TripService.CreateOrEditShippingRequestTripDto.shipperActorId"
                      [dataSource]="AllActorsShippers"
                      [searchEnabled]="true"
                      displayExpr="displayName"
                      valueExpr="id"
                      placeholder="{{ l('SelectActor') }}"
                    >
                    </dx-select-box>
                  </div>
                  <span class="form-text text-muted">{{ l('SelectShipperActor') }}</span>
                </div>
                <div class="form-group" *ngIf="_TripService.CreateOrEditShippingRequestTripDto.shipperActorId">
                  <label>{{ l('Price') }} <span class="text-danger">*</span></label>
                  <input
                    [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.actorShipperPrice.subTotalAmountWithCommission"
                    min="0"
                    (keypress)="numberOnly($event)"
                    required
                    type="number"
                    class="form-control"
                    name="subTotalAmountWithCommission"
                    (change)="calculatePrices(_TripService.CreateOrEditShippingRequestTripDto.actorShipperPrice)"
                  />
                </div>
                <div class="form-group" *ngIf="_TripService.CreateOrEditShippingRequestTripDto.shipperActorId">
                  <label>{{ l('TripVatAmount') }} <span class="text-danger">*</span></label>
                  <input
                    [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.actorShipperPrice.vatAmountWithCommission"
                    required
                    min="0"
                    type="number"
                    class="form-control"
                    name="vatAmountWithCommission"
                    disabled
                  />
                </div>

                <div class="form-group" *ngIf="_TripService.CreateOrEditShippingRequestTripDto.shipperActorId">
                  <label>{{ l('TotalAmount') }} <span class="text-danger">*</span></label>
                  <input
                    [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto?.actorShipperPrice.totalAmountWithCommission"
                    required
                    min="0"
                    type="number"
                    class="form-control"
                    name="totalAmountWithCommission"
                    disabled
                  />
                </div>
              </div>

              <div class="col-6">
                <div class="form-group">
                  <label>{{ l('ActorCarrier') }}</label>
                  <div
                    [ngClass]="{
                      'spinner spinner-success spinner-right mr-1 ml-1': !AllActorsCarriers
                    }"
                  >
                    <dx-select-box
                      id="ActorCarrier"
                      name="ActorCarrier"
                      [(value)]="_TripService.CreateOrEditShippingRequestTripDto.carrierActorId"
                      [dataSource]="AllActorsCarriers"
                      [searchEnabled]="true"
                      displayExpr="displayName"
                      valueExpr="id"
                      placeholder="{{ l('SelectActor') }}"
                    >
                    </dx-select-box>
                  </div>
                  <span class="form-text text-muted">{{ l('SelectCarrierActor') }}</span>
                </div>
                <div class="form-group" *ngIf="_TripService.CreateOrEditShippingRequestTripDto.carrierActorId">
                  <label>{{ l('Price') }} <span class="text-danger">*</span></label>
                  <input
                    [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.actorCarrierPrice.subTotalAmount"
                    min="0"
                    (keypress)="numberOnly($event)"
                    required
                    type="number"
                    class="form-control"
                    name="subTotalAmount"
                    (change)="calculateCarrierPrices(_TripService.CreateOrEditShippingRequestTripDto.actorCarrierPrice)"
                  />
                </div>
                <div class="form-group" *ngIf="_TripService.CreateOrEditShippingRequestTripDto.carrierActorId">
                  <label>{{ l('TripVatAmount') }} <span class="text-danger">*</span></label>
                  <input
                    [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.actorCarrierPrice.vatAmount"
                    required
                    min="0"
                    type="number"
                    class="form-control"
                    name="vatAmount"
                    disabled
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <!--begin::Body-->
              <!--  begin:: Source Dest Facilitys  -->

              <!--  begin:: Trip start&End Dates-->
              <div class="col-lg-6">
                <div class="form-group">
                  <hijri-gregorian-datepicker-test
                    [parentForm]="parentForm"
                    [label]="l('TripsStartDate')"
                    class="m-input"
                    [readonly]="true"
                    [isRequired]="true"
                    [minHijri]="minTripDateAsHijri"
                    [minGreg]="minTripDateAsGrorg"
                    [maxHijri]="maxTripDateAsHijri"
                    [maxGreg]="maxTripDateAsGrorg"
                    [selectedDate]="startTripdate"
                    (selectedDateChange)="GetSelectedstartDateChange($event, 'start')"
                  >
                  </hijri-gregorian-datepicker-test>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <hijri-gregorian-datepicker-test
                    [parentForm]="parentForm"
                    [label]="l('TripsEndDate')"
                    class="m-input"
                    [readonly]="true"
                    [isRequired]="false"
                    [minHijri]="minHijriTripdate"
                    [minGreg]="minGrogTripdate"
                    [maxHijri]="maxTripDateAsHijri"
                    [maxGreg]="maxTripDateAsGrorg"
                    [selectedDate]="endTripdate"
                    (selectedDateChange)="GetSelectedstartDateChange($event, 'end')"
                  >
                  </hijri-gregorian-datepicker-test>
                </div>
              </div>
              <div class="col-lg-6 form-group d-inline-flex">
                <div class="input-group d-inline-block mr-8">
                  <label> {{ l('supposedPickupTimeFrom') }} <span class="required-fileds">*</span></label>
                  <dx-date-box
                    name="supposedPickupDateFrom"
                    [(value)]="_TripService.CreateOrEditShippingRequestTripDto.supposedPickupDateFrom"
                    type="time"
                    pickerType="list"
                    openOnFieldClick="true"
                    [interval]="20"
                    required
                  >
                    <dx-validator [validationGroup]="'shippingRequestTripsGroup'">
                      <dxi-validation-rule
                        type="required"
                        message="{{ l('supposedPickupTimeFrom') }}: {{ 'ThisFieldIsRequired' | localize }}"
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-date-box>
                </div>
                <div class="input-group d-inline-block">
                  <label> {{ l('supposedPickupTimeTo') }} <span class="required-fileds">*</span></label>
                  <dx-date-box
                    name="supposedPickupDateTo"
                    [(value)]="_TripService.CreateOrEditShippingRequestTripDto.supposedPickupDateTo"
                    type="time"
                    pickerType="list"
                    openOnFieldClick="true"
                    [interval]="20"
                    required
                  >
                    <dx-validator [validationGroup]="'shippingRequestTripsGroup'">
                      <dxi-validation-rule
                        type="required"
                        message="{{ l('supposedPickupTimeTo') }}: {{ 'ThisFieldIsRequired' | localize }}"
                      ></dxi-validation-rule>
                    </dx-validator>
                  </dx-date-box>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <!--                expected trip Delivery Date-->
                  <label>{{ l('ExpectedDeliveryTime') }}</label>
                  <dx-date-box
                    id="tripExpectedDeliveryTime"
                    name="tripStartDate"
                    [(value)]="_TripService.CreateOrEditShippingRequestTripDto.expectedDeliveryTime"
                    type="datetime"
                    [min]="_TripService.CreateOrEditShippingRequestTripDto.startTripDate"
                    openOnFieldClick="true"
                  >
                  </dx-date-box>
                </div>
              </div>
              <!--  end:: Trip start&End Dates-->
              <!-- begin::Vas's  -->
              <div
                class="col-lg-6"
                *ngIf="
                  VasListFromFather?.length > 0 &&
                  _TripService.GetShippingRequestForViewOutput?.shippingRequestFlag != ShippingRequestFlagEnum.Dedicated
                "
              >
                <div class="form-group">
                  <label>{{ l('vases') }}</label>
                  <p-multiSelect
                    name="shippingRequestTripVases"
                    [options]="cleanVasesList"
                    [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.shippingRequestTripVases"
                    (ngModelChange)="isSelectedVasesHasinsurance($event)"
                    [style]="{ width: '100%' }"
                    styleClass="form-control pt-1"
                    tooltipPositionStyle="dropdown-menu"
                    [filter]="true"
                    [showHeader]="true"
                    [dataKey]="'shippingRequestVasId'"
                    optionLabel="name"
                  ></p-multiSelect>
                </div>
              </div>
              <!--      end:Vas's      -->

              <div class="col-lg-6" *ngIf="!_TripService.GetShippingRequestForViewOutput">
                <label>{{ l('MainGoodCategory') }} <span class="required-fileds">*</span></label>
                <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allGoodCategorys }">
                  <select
                    class="form-control"
                    name="goodCategoryId"
                    [disabled]="!allGoodCategorys"
                    [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.goodCategoryId"
                    required
                  >
                    <!--                            <option [ngValue]="undefined" disabled selected>{{ l('SelectAGoodCategory') }}</option>-->
                    <option *ngFor="let item of allGoodCategorys" value="{{ item.id }}">{{ item.displayName }}</option>
                  </select>
                  <span class="form-text text-muted">{{ l('SelectaGoodCategory') }}</span>
                </div>
              </div>
              <!--  begin::Trip Goods Approximate Value -->
              <div class="col-lg-6 mt-3">
                <div class="form-group">
                  <label>{{ l('ApproximateTripGoodsValue') }} <span class="required-fileds" *ngIf="isApproximateValueRequired">*</span></label>
                  <div class="input-group date">
                    <input
                      #approximateGoodsTotalValue="ngModel"
                      type="number"
                      class="form-control"
                      name="approximateGoodsTotalValue"
                      (keypress)="numberOnly($event)"
                      [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.totalValue"
                      [min]="1"
                      [class.is-invalid]="isApproximateValueRequired && approximateGoodsTotalValue.touched && !approximateGoodsTotalValue.valid"
                      [class.is-valid]="isApproximateValueRequired && approximateGoodsTotalValue.touched && approximateGoodsTotalValue.valid"
                      [required]="isApproximateValueRequired"
                    />
                    <div class="input-group-append">
                      <span class="input-group-text">
                        {{ l('SAR') }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <!--  end::Trip Goods Approximate Value -->
              <div class="col-lg-6">
                <div class="form-group row">
                  <div
                    class="col-6 col-form-label"
                    *ngIf="
                      _TripService.CreateOrEditShippingRequestTripDto.shippingRequestTripFlag == ShippingRequestTripFlagEnum.Normal && !isPortMovement
                    "
                  >
                    <label for="DeliveryNote"> {{ l('NeedsDeliveryNote') }} </label>
                    <select
                      #DeliveryNote="ngModel"
                      name="DeliveryNote"
                      id="DeliveryNote"
                      [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.needsDeliveryNote"
                      class="form-control"
                    >
                      <option [ngValue]="true">{{ l('Yes') }}</option>
                      <option [ngValue]="false">{{ l('No') }}</option>
                    </select>
                  </div>
                  <div
                    [class]="
                      _TripService.CreateOrEditShippingRequestTripDto.shippingRequestTripFlag == ShippingRequestTripFlagEnum.Normal && !isPortMovement
                        ? 'col-6 col-form-label'
                        : 'col-12 col-form-label'
                    "
                  >
                    <label for="Attachment"> {{ l('Attachment') }} </label>
                    <select
                      #Attachment="ngModel"
                      name="Attachment"
                      id="Attachment"
                      [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.hasAttachment"
                      class="form-control"
                    >
                      <option [ngValue]="true">{{ l('Yes') }}</option>
                      <option [ngValue]="false">{{ l('No') }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <!--                expected trip Delivery Date-->
                  <label
                    >{{ l('ContainerNumber') }}
                    <span
                      class="required-fileds"
                      *ngIf="
                        _TripService?.GetShippingRequestForViewOutput?.shippingRequest?.shippingTypeId === ShippingTypeEnum.ImportPortMovements ||
                        _TripService?.GetShippingRequestForViewOutput?.shippingRequest?.shippingTypeId === ShippingTypeEnum.ExportPortMovements
                      "
                      >*</span
                    ></label
                  >
                  <input
                    #ContainerNumber
                    id="ContainerNumber"
                    class="form-control"
                    name="ContainerNumber"
                    [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.containerNumber"
                    type="text"
                    [disabled]="_TripService.CreateOrEditShippingRequestTripDto.id && IsHaveContainerNumberValue && !isTachyonDealer"
                    [required]="
                      _TripService.GetShippingRequestForViewOutput != null &&
                      (_TripService?.GetShippingRequestForViewOutput?.shippingRequest?.shippingTypeId === ShippingTypeEnum.ImportPortMovements ||
                        _TripService?.GetShippingRequestForViewOutput?.shippingRequest?.shippingTypeId === ShippingTypeEnum.ExportPortMovements)
                    "
                  />
                </div>
              </div>

              <div class="col-lg-6">
                <div class="form-group">
                  <!--                expected trip Delivery Date-->
                  <label
                    >{{ l('SealNumber') }}
                    <span
                      class="required-fileds"
                      *ngIf="
                        _TripService?.GetShippingRequestForViewOutput?.shippingRequest?.shippingTypeId === ShippingTypeEnum.ImportPortMovements ||
                        _TripService?.GetShippingRequestForViewOutput?.shippingRequest?.shippingTypeId === ShippingTypeEnum.ExportPortMovements
                      "
                      >*</span
                    ></label
                  >
                  <input
                    #SealNumber
                    id="SealNumber"
                    class="form-control"
                    name="SealNumber"
                    [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.sealNumber"
                    type="text"
                    [disabled]="_TripService.CreateOrEditShippingRequestTripDto.id && IsHaveSealNumberValue && !isTachyonDealer"
                    [required]="
                      _TripService.GetShippingRequestForViewOutput != null &&
                      (_TripService?.GetShippingRequestForViewOutput?.shippingRequest?.shippingTypeId === ShippingTypeEnum.ImportPortMovements ||
                        _TripService?.GetShippingRequestForViewOutput?.shippingRequest?.shippingTypeId === ShippingTypeEnum.ExportPortMovements)
                    "
                  />
                </div>
              </div>
              <!--   StartOf::Driver&Truck for DedicatedSR -->
              <ng-container
                *ngIf="
                  (_TripService.GetShippingRequestForViewOutput &&
                    _TripService.GetShippingRequestForViewOutput?.shippingRequestFlag === ShippingRequestFlagEnum.Dedicated) ||
                  !_TripService.GetShippingRequestForViewOutput
                "
              >
                <div
                  class="form-group col-lg-6"
                  *ngIf="_TripService.CreateOrEditShippingRequestTripDto.shippingRequestTripFlag != ShippingRequestTripFlagEnum.HomeDelivery"
                >
                  <label>{{ l('RouteType') }}</label>
                  <select
                    name="routeType"
                    type="text"
                    [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.routeType"
                    class="form-control"
                    [disabled]="saving"
                    required
                    (change)="onRouteTypeChange()"
                  >
                    <option disabled [ngValue]="null">{{ l('SelectRouteType') }}</option>
                    <option [value]="r.key" *ngFor="let r of routeTypes">
                      {{ l(r.value) | localize }}
                    </option>
                  </select>
                </div>
                <div
                  class="form-group col-lg-6"
                  *ngIf="
                    _TripService.CreateOrEditShippingRequestTripDto.routeType == RouteTypesEnum.MultipleDrops &&
                    _TripService.CreateOrEditShippingRequestTripDto.shippingRequestTripFlag != ShippingRequestTripFlagEnum.HomeDelivery
                  "
                >
                  <label>{{ l('NumberOfDrops') }}</label>
                  <input
                    #numberOfDrops="ngModel"
                    type="number"
                    class="form-control"
                    name="numberOfDrops"
                    (keypress)="numberOnly($event); onRouteTypeChange()"
                    [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.numberOfDrops"
                    (ngModelChange)="onRouteTypeChange()"
                    (change)="onRouteTypeChange()"
                    [min]="2"
                    [class.is-invalid]="numberOfDrops.touched && !numberOfDrops.valid"
                    [class.is-valid]="numberOfDrops.touched && numberOfDrops.valid"
                    [disabled]="!canEditNumberOfDrops"
                    required
                  />
                </div>

                <ng-container *ngIf="_TripService.GetShippingRequestForViewOutput?.shippingRequestFlag === ShippingRequestFlagEnum.Dedicated">
                  <div class="form-group col-lg-6">
                    <label>{{ l('Driver') }}</label>
                    <select
                      name="driverUserId"
                      type="text"
                      (change)="GetTruckOrDriver(_TripService.CreateOrEditShippingRequestTripDto.driverUserId, null)"
                      [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.driverUserId"
                      class="form-control"
                      [disabled]="saving || isDisabledDriver"
                      required
                    >
                      <option disabled [ngValue]="null">{{ l('SelectaDriver') }}</option>
                      <option *ngFor="let item of allDedicatedDrivers" [value]="item.id" [disabled]="!item.isAvailable">
                        {{ item.displayName }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group col-lg-6">
                    <label>{{ l('Truck') }}</label>
                    <select
                      name="truckId"
                      type="text"
                      [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.truckId"
                      (change)="GetTruckOrDriver(null, _TripService.CreateOrEditShippingRequestTripDto.truckId)"
                      class="form-control"
                      [disabled]="saving || isDisabledTruck"
                      required
                    >
                      <option disabled [ngValue]="null">{{ l('Selectatruck') }}</option>
                      <option *ngFor="let item of allDedicatedTrucks" [value]="item.id" [disabled]="!item.isAvailable">{{ item.displayName }}</option>
                    </select>
                  </div>
                </ng-container>

                <ng-container *ngIf="!_TripService.GetShippingRequestForViewOutput">
                  <div class="form-group col-lg-6">
                    <label>{{ l('Driver') }}</label>
                    <select
                      name="driverUserId"
                      type="text"
                      [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.driverUserId"
                      class="form-control"
                      [disabled]="saving || isDisabledDriver"
                      required
                    >
                      <option disabled [ngValue]="null">{{ l('SelectaDriver') }}</option>
                      <option *ngFor="let item of allDrivers" [value]="item.id">{{ item.displayName }}</option>
                    </select>
                  </div>
                  <div class="form-group col-lg-6">
                    <label>{{ l('Truck') }}</label>
                    <select
                      name="truckId"
                      type="text"
                      [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.truckId"
                      class="form-control"
                      [disabled]="saving || isDisabledTruck"
                      required
                    >
                      <option disabled [ngValue]="null">{{ l('Selectatruck') }}</option>
                      <option *ngFor="let item of allTrucks" [value]="item.truckId">{{ item.truckName }}</option>
                    </select>
                  </div>
                </ng-container>
              </ng-container>
              <!--   EndOf::Driver&Truck for DedicatedSR -->

              <!--       start:: Notes       -->
              <div [class]="_TripService.CreateOrEditShippingRequestTripDto.hasAttachment ? 'col-lg-6' : 'col-lg-12'">
                <label>{{ l('Notes') }}</label>
                <div class="input-group">
                  <textarea
                    #notes="ngModel"
                    name="notes"
                    class="form-control"
                    [maxlength]="512"
                    [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.note"
                    [class.is-valid]="notes.touched && notes.valid && notes.value?.length != 0"
                    [class.is-invalid]="notes.touched && !notes.valid"
                  ></textarea>
                </div>
              </div>
              <!--End :: notes-->
              <div *ngIf="_TripService.CreateOrEditShippingRequestTripDto.hasAttachment" class="col-lg-6">
                <label>{{ l('SelectFile') }} {{ fileToken }} </label>
                <div class="custom-file">
                  <input
                    name="file"
                    (change)="DocFileChangeEvent($event, _TripService.CreateOrEditShippingRequestTripDto.createOrEditDocumentFileDto)"
                    type="file"
                    class="custom-file-input"
                    accept="image/x-png,image/jpeg,application/pdf"
                    [required]="_TripService.CreateOrEditShippingRequestTripDto.hasAttachment"
                  />
                  <label
                    class="custom-file-label text-truncate"
                    [for]="_TripService.CreateOrEditShippingRequestTripDto.createOrEditDocumentFileDto.name"
                  >
                    {{
                      _TripService.CreateOrEditShippingRequestTripDto.createOrEditDocumentFileDto.name
                        ? _TripService.CreateOrEditShippingRequestTripDto.createOrEditDocumentFileDto.name
                        : l('SelectFile')
                    }}</label
                  >
                </div>
                <div class="margin-top-5">
                  <p-progressBar [value]="docProgress" [style]="{ height: '6px', width: '100' }"></p-progressBar>
                </div>
                <div class="mt-2" *ngIf="_TripService.CreateOrEditShippingRequestTripDto.createOrEditDocumentFileDto.name">
                  <div class="d-flex align-items-center flex-wrap mb-8">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-50 symbol-light mr-3 ml-3">
                      <span class="symbol-label">
                        <i class="fa-2x fa-file-image fas" style="color: #5cb85c" aria-hidden="true"></i>
                      </span>
                    </div>
                    <!--end::Symbol-->
                    <!--begin::Text-->
                    <div class="d-flex flex-column flex-grow-1 mr-2">
                      <a (click)="downloadAttatchment()" class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1">
                        {{ _TripService.CreateOrEditShippingRequestTripDto.createOrEditDocumentFileDto?.name }}</a
                      >
                      <span class="text-muted font-weight-bold">{{
                        _TripService.CreateOrEditShippingRequestTripDto.createOrEditDocumentFileDto?.documentTypeDto?.templateContentType
                      }}</span>
                    </div>
                    <!--end::Text-->
                    <a
                      *ngIf="_TripService.CreateOrEditShippingRequestTripDto.createOrEditDocumentFileDto?.binaryObjectId"
                      (click)="downloadAttatchment()"
                      class="btn btn-sm btn-icon btn-bg-light btn-icon-primary btn-hover-primary"
                    >
                      <i class="flaticon2-download"></i>
                    </a>
                  </div>
                </div>
              </div>

              <!--        begin of home delivery for dedicated request special fields          -->
              <ng-container
                *ngIf="
                  _TripService.GetShippingRequestForViewOutput &&
                  _TripService.GetShippingRequestForViewOutput?.shippingRequestFlag === ShippingRequestFlagEnum.Dedicated &&
                  _TripService.CreateOrEditShippingRequestTripDto.shippingRequestTripFlag == ShippingRequestTripFlagEnum.HomeDelivery
                "
              >
                <div class="form-group col-lg-4 mt-3">
                  <label for="PaymentMethod"> {{ l('PaymentMethod') }} </label>
                  <select #PaymentMethod="ngModel" name="PaymentMethod" id="PaymentMethod" [(ngModel)]="selectedPaymentMethod" class="form-control">
                    <option *ngFor="let flag of paymentMethodsArray" [value]="flag.key">{{ flag.value }}</option>
                  </select>
                </div>
                <div class="form-group col-lg-5 mt-3">
                  <label>{{ l('RouteType') }}</label>
                  <select
                    name="routeType"
                    type="text"
                    [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.routeType"
                    class="form-control"
                    [disabled]="saving"
                    required
                    (change)="onRouteTypeChange()"
                  >
                    <option disabled [ngValue]="null">{{ l('SelectRouteType') }}</option>
                    <option [value]="r.key" *ngFor="let r of routeTypes">
                      {{ l(r.value) | localize }}
                    </option>
                  </select>
                </div>
                <div class="col-lg-3 mt-3">
                  <div class="d-flex justify-content-between">
                    <div class="form-group">
                      <label>{{ l('NumberOfDrops') }}</label>
                      <input
                        #numberOfDrops="ngModel"
                        type="number"
                        class="form-control"
                        name="numberOfDrops"
                        [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.numberOfDrops"
                        [class.is-invalid]="numberOfDrops.touched && !numberOfDrops.valid"
                        [class.is-valid]="numberOfDrops.touched && numberOfDrops.valid"
                        disabled
                        required
                      />
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-end p-6">
                      <button
                        [disabled]="
                          _TripService.CreateOrEditShippingRequestTripDto.routeType == RouteTypesEnum.SingleDrop &&
                          _TripService.CreateOrEditShippingRequestTripDto.numberOfDrops == 1
                        "
                        type="button"
                        class="btn btn-primary font-weight-bolder btn-sm py-3 px-6"
                        (click)="addAdditionalDrop()"
                      >
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </ng-container>
              <!--        end of home delivery for dedicated request special fields          -->

              <!--  start:: RouteSteps -->
              <PointsComponent
                [class.invalid-trip-points]="isTripPointsInvalid && isFormSubmitted"
                (wayPointsListChanged)="revalidatePointsFromPointsComponent()"
                [isHomeDelivery]="_TripService.CreateOrEditShippingRequestTripDto.shippingRequestTripFlag == ShippingRequestTripFlagEnum.HomeDelivery"
                [isPortMovement]="isPortMovement"
                [shippingRequest]="shippingRequest"
                [isEdit]="isEdit"
                #PointsComponent
              ></PointsComponent>
              <!--  end:: RouteSteps -->
              <dx-validator [validationGroup]="'shippingRequestTripsGroup'" [adapter]="adapterConfig">
                <dxi-validation-rule type="required" message="{{ 'IncompleteTripPoint' | localize }}"> </dxi-validation-rule>
              </dx-validator>
              <div class="col-lg-12 mt-4 mb-2">
                <dx-validation-summary validationGroup="shippingRequestTripsGroup" id="summary"></dx-validation-summary>
              </div>
              <!--end::Body-->
            </div>
            <div class="modal-footer">
              <!--begin::Buttons-->

              <button [disabled]="saving" type="button" class="btn btn-secondary font-weight-bolder btn-sm py-3 px-6" (click)="close()">
                {{ l('Close') }}
              </button>
              <create-or-edit-template-drop-down-button
                *ngIf="
                  (isShipper || isTachyonDealer || isCarrierSaas) &&
                  _TripService.GetShippingRequestForViewOutput &&
                  _TripService.GetShippingRequestForViewOutput?.shippingRequestFlag === ShippingRequestFlagEnum.Normal
                "
                [entityType]="SavedEntityType.TripTemplate"
                [jsonData]="tripAsJson"
                [dropDirection]="'up'"
                [customClass]="'btn btn-light-danger font-weight-bold  dropdown-toggle btn-elevate-hover mx-2'"
                [disabled]="!CanCreateTemplate() || !shippingRequestTripsForm.form.valid"
              ></create-or-edit-template-drop-down-button>

              <dx-button
                type="submit"
                class="btn btn-primary font-weight-bolder btn-sm py-3 px-6 no-padding-custom"
                [disabled]="saving || !shippingRequestTripsForm.form.valid || !isFileInputValid"
                text="{{ _TripService.CreateOrEditShippingRequestTripDto.id ? l('UpdateTrip') : l('AddNewTrip') }}"
                (onClick)="isFormSubmitted = true"
                [useSubmitBehavior]="true"
                [validationGroup]="'shippingRequestTripsGroup'"
              >
              </dx-button>
              <!--            <button-->
              <!--              type="submit"-->
              <!--              [disabled]="saving || !shippingRequestTripsForm.form.valid || !isFileInputValid"-->
              <!--              class="btn btn-primary font-weight-bolder btn-sm py-3 px-6"-->
              <!--              (click)="createOrEditTrip()"-->
              <!--            >-->
              <!--              {{ _TripService.CreateOrEditShippingRequestTripDto.id ? l('UpdateTrip') : l('AddNewTrip') }}-->
              <!--            </button>-->
              <!--end::Buttons-->
            </div>
          </div>
        </dx-validation-group>
      </form>
    </div>
  </div>
</div>
