<div
  bsModal
  #addNewTripsModal="bs-modal"
  class="modal fade"
  role="dialog"
  tabindex="-1"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <form *ngIf="active" #shippingRequestTripsForm="ngForm" novalidate autocomplete="off">
        <div class="modal-header">
          <p class="modal-title">
            <span>{{ l('TripDetails') }}</span>
          </p>
          <div class="card-toolbar">
            <button
              class="btn btn-primary"
              *ngIf="trip.id"
              [disabled]="!trip.id"
              (click)="DownloadSingleDropWaybillPdf(trip.id)"
              [buttonBusy]="wayBillIsDownloading"
            >
              <i class="fa flaticon2-print"></i>
              {{ l('PrintWaybill') }}
            </button>
          </div>
        </div>
        <div class="modal-body" [busyIf]="loading">
          <div class="row">
            <!--begin::Body-->
            <!--  begin:: Source Dest Facilitys  -->
            <div class="col-lg-6 form-group">
              <label>{{ l('SourceFacility') }} <span class="required-fileds">*</span></label>
              <div class="input-group">
                <select
                  #sourceFacility="ngModel"
                  name="sourceFacility"
                  class="form-control"
                  [disabled]="facilityLoading"
                  [(ngModel)]="trip.originFacilityId"
                  [class.is-invalid]="sourceFacility.touched && !sourceFacility.valid"
                  [class.is-valid]="sourceFacility.touched && sourceFacility.valid"
                  (ngModelChange)="ValidateTripFacilities()"
                  (change)="SyncFacilitiesWithService(); loadReceivers(trip.originFacilityId)"
                  required
                >
                  <option value="undefined" disabled selected>{{ l('SelectaFacility') }}</option>
                  <option *ngFor="let item of _TripService.currentSourceFacilitiesItems" value="{{ item.id }}">{{ item.displayName }}</option>
                </select>
                <div *ngIf="this.feature.isEnabled('App.Shipper') || feature.isEnabled('App.CarrierAsASaas')" class="input-group-btn">
                  <button class="btn btn-primary" [disabled]="facilityLoading" (click)="createOrEditFacilityModal.show()">
                    <i class="flaticon-plus"></i>{{ l('AddNew') }}
                  </button>
                </div>
              </div>
            </div>
            <!-- StartOf::sender -->
            <div class="form-group col-lg-6">
              <label>{{ l('Sender') }}</label>
              <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': receiversLoading }">
                <div class="input-group">
                  <select
                    #receiver="ngModel"
                    name="receiver"
                    class="form-control"
                    [(ngModel)]="pickupPointSenderId"
                    [class.is-valid]="receiver.touched && receiver.valid"
                    [class.is-invalid]="receiver.touched && !receiver.valid"
                    [disabled]="receiversLoading || !trip.originFacilityId"
                    required
                  >
                    <option [ngValue]="undefined" selected>{{ l('SelectAPickUpAgent') }}</option>
                    <option *ngFor="let item of allReceivers" [ngValue]="item.id">{{ item.displayName }}</option>
                  </select>
                  <div *ngIf="this.feature.isEnabled('App.Shipper') || this.feature.isEnabled('App.CarrierAsASaas')" class="input-group-btn">
                    <button class="btn btn-primary" [disabled]="receiversLoading" (click)="createOrEditReceiverModal.show()">
                      <i class="flaticon-plus"></i>{{ l('New') }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- EndOf::sender -->
            <div class="col-lg-6 form-group">
              <label> {{ l('DestFacility') }} <span class="required-fileds">*</span></label>
              <div class="input-group">
                <select
                  #destFacility="ngModel"
                  name="destFacility"
                  class="form-control"
                  [disabled]="facilityLoading"
                  [(ngModel)]="trip.destinationFacilityId"
                  [class.is-invalid]="destFacility.touched && !destFacility.valid"
                  [class.is-valid]="destFacility.touched && destFacility.valid"
                  (ngModelChange)="ValidateTripFacilities()"
                  (change)="SyncFacilitiesWithService()"
                  required
                >
                  <option value="undefined" disabled selected>{{ l('SelectaFacility') }}</option>
                  <option *ngFor="let item of _TripService.currentDestinationFacilitiesItems" value="{{ item.id }}">{{ item.displayName }}</option>
                </select>
                <div *ngIf="this.feature.isEnabled('App.Shipper') || feature.isEnabled('App.CarrierAsASaas')" class="input-group-btn">
                  <button class="btn btn-primary" [disabled]="facilityLoading" (click)="createOrEditFacilityModal.show()">
                    <i class="flaticon-plus"></i>{{ l('AddNew') }}
                  </button>
                </div>
                <div class="invalid-feedback">{{ l('PickupFacilityAndDropOffFacilityCantBeTheSame') }}</div>
              </div>
            </div>
            <!--  end:: Source Dest Facilitys  -->
            <div class="col-lg-6"></div>
            <!--  begin:: Trip start&End Dates-->
            <div class="col-lg-6">
              <div class="form-group">
                <hijri-gregorian-datepicker-test
                  [parentForm]="parentForm"
                  [label]="l('TripsStartDate')"
                  class="m-input"
                  [readonly]="true"
                  [isRequired]="true"
                  [minHijri]="minTripDateAsHijri"
                  [minGreg]="minTripDateAsGrorg"
                  [maxHijri]="maxTripDateAsHijri"
                  [maxGreg]="maxTripDateAsGrorg"
                  [selectedDate]="startTripdate"
                  (selectedDateChange)="GetSelectedstartDateChange($event, 'start')"
                >
                </hijri-gregorian-datepicker-test>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <hijri-gregorian-datepicker-test
                  [parentForm]="parentForm"
                  [label]="l('TripsEndDate')"
                  class="m-input"
                  [readonly]="true"
                  [isRequired]="false"
                  [minHijri]="minHijriTripdate"
                  [minGreg]="minGrogTripdate"
                  [maxHijri]="maxTripDateAsHijri"
                  [maxGreg]="maxTripDateAsGrorg"
                  [selectedDate]="endTripdate"
                  (selectedDateChange)="GetSelectedstartDateChange($event, 'end')"
                >
                </hijri-gregorian-datepicker-test>
              </div>
            </div>
            <!--  end:: Trip start&End Dates-->
            <!-- begin::Vas's  -->
            <div class="col-lg-6" *ngIf="VasListFromFather?.length > 0">
              <div class="form-group">
                <label>{{ l('vases') }}</label>
                <p-multiSelect
                  name="shippingRequestTripVases"
                  [options]="cleanVasesList"
                  [(ngModel)]="trip.shippingRequestTripVases"
                  (ngModelChange)="isSelectedVasesHasinsurance($event)"
                  [style]="{ width: '100%' }"
                  styleClass="form-control pt-1"
                  tooltipPositionStyle="dropdown-menu"
                  [filter]="true"
                  [showHeader]="true"
                  [dataKey]="'shippingRequestVasId'"
                  optionLabel="name"
                ></p-multiSelect>
              </div>
            </div>
            <!--      end:Vas's      -->

            <!--  begin::Trip Goods Approximate Value -->
            <div class="col-lg-6">
              <div class="form-group">
                <label>{{ l('ApproximateTripGoodsValue') }} <span class="required-fileds" *ngIf="isApproximateValueRequired">*</span></label>
                <div class="input-group date">
                  <input
                    #approximateGoodsTotalValue="ngModel"
                    type="number"
                    class="form-control"
                    name="approximateGoodsTotalValue"
                    (keypress)="numberOnly($event)"
                    [(ngModel)]="trip.totalValue"
                    [min]="1"
                    [class.is-invalid]="isApproximateValueRequired && approximateGoodsTotalValue.touched && !approximateGoodsTotalValue.valid"
                    [class.is-valid]="isApproximateValueRequired && approximateGoodsTotalValue.touched && approximateGoodsTotalValue.valid"
                    [required]="isApproximateValueRequired"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      {{ l('SAR') }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!--  end::Trip Goods Approximate Value -->
            <!--       start:: Notes       -->
            <div class="col-lg-12">
              <label>{{ l('Notes') }}</label>
              <div class="input-group">
                <textarea
                  #notes="ngModel"
                  name="notes"
                  class="form-control"
                  [maxlength]="512"
                  [(ngModel)]="trip.note"
                  [class.is-valid]="notes.touched && notes.valid && notes.value?.length != 0"
                  [class.is-invalid]="notes.touched && !notes.valid"
                ></textarea>
              </div>
            </div>
            <!--End :: notes-->
            <div class="col-lg-6 mt-4">
              <div class="form-group row">
                <div class="col-6 col-form-label">
                  <div class="checkbox-inline">
                    <label class="checkbox checkbox-danger">
                      <input type="checkbox" name="trip.needsDeliveryNote" [(ngModel)]="trip.needsDeliveryNote" />
                      <span></span>
                      {{ l('NeedsDeliveryNote') }}
                    </label>
                  </div>
                </div>
                <div class="col-6 col-form-label">
                  <div class="checkbox-inline float-right">
                    <label class="checkbox checkbox-danger">
                      <input type="checkbox" name="trip.hasAttachment" [(ngModel)]="trip.hasAttachment" />
                      <span></span>
                      {{ l('HasAttachment') }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="trip.hasAttachment" class="col-lg-6 mt-4">
              <label>{{ l('SelectFile') }} {{ fileToken }} </label>
              <div class="custom-file">
                <input
                  name="file"
                  (change)="DocFileChangeEvent($event, trip.createOrEditDocumentFileDto)"
                  type="file"
                  class="custom-file-input"
                  accept="image/x-png,image/jpeg,application/pdf"
                  [required]="trip.hasAttachment"
                />
                <label class="custom-file-label text-truncate" [for]="trip.createOrEditDocumentFileDto.name">
                  {{ trip.createOrEditDocumentFileDto.name ? trip.createOrEditDocumentFileDto.name : l('SelectFile') }}</label
                >
              </div>
              <div class="margin-top-5">
                <p-progressBar [value]="docProgress" [style]="{ height: '6px', width: '100' }"></p-progressBar>
              </div>
              <div class="mt-2" *ngIf="trip.createOrEditDocumentFileDto.name">
                <div class="d-flex align-items-center flex-wrap mb-8">
                  <!--begin::Symbol-->
                  <div class="symbol symbol-50 symbol-light mr-3 ml-3">
                    <span class="symbol-label">
                      <i class="fa-2x fa-file-image fas" style="color: #5cb85c" aria-hidden="true"></i>
                    </span>
                  </div>
                  <!--end::Symbol-->
                  <!--begin::Text-->
                  <div class="d-flex flex-column flex-grow-1 mr-2">
                    <a
                      (click)="
                        _fileDownloadService.downloadFileByBinaryId(
                          this.trip.createOrEditDocumentFileDto.name,
                          this.trip.createOrEditDocumentFileDto.binaryObjectId
                        )
                      "
                      class="font-weight-bold text-dark-75 text-hover-primary font-size-lg mb-1"
                    >
                      {{ trip.createOrEditDocumentFileDto?.name }}</a
                    >
                    <span class="text-muted font-weight-bold">{{ trip.createOrEditDocumentFileDto?.documentTypeDto?.templateContentType }}</span>
                  </div>
                  <!--end::Text-->
                  <a
                    *ngIf="trip.createOrEditDocumentFileDto?.binaryObjectId"
                    (click)="
                      _fileDownloadService.downloadFileByBinaryId(
                        this.trip.createOrEditDocumentFileDto.name,
                        this.trip.createOrEditDocumentFileDto.binaryObjectId
                      )
                    "
                    class="btn btn-sm btn-icon btn-bg-light btn-icon-primary btn-hover-primary"
                  >
                    <i class="flaticon2-download"></i>
                  </a>
                </div>
              </div>
            </div>
            <!--  start:: RouteSteps -->
            <PointsComponent #PointsComponent (SelectedWayPointsFromChild)="trip.routPoints = $event" [usedIn]="'createOrEdit'"></PointsComponent>
            <!--  end:: RouteSteps -->
            <!--end::Body-->
          </div>
          <div class="modal-footer">
            <!--begin::Buttons-->

            <button [disabled]="saving" type="button" class="btn btn-secondary font-weight-bolder btn-sm py-3 px-6" (click)="close()">
              {{ l('Close') }}
            </button>

            <button
              type="submit"
              [disabled]="saving || !shippingRequestTripsForm.form.valid || !isFileInputValid"
              class="btn btn-primary font-weight-bolder btn-sm py-3 px-6"
              (click)="createOrEditTrip()"
            >
              {{ trip.id ? l('UpdateTrip') : l('AddNewTrip') }}
            </button>
            <!--end::Buttons-->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- begin::CreateOrEditFacility -->
<createOrEditFacilityModal #createOrEditFacilityModal (modalSave)="refreshOrGetFacilities($event)"> </createOrEditFacilityModal>
<!-- end::CreateOrEditFacility -->
<!-- begin::CreateOrEditReceiver -->
<createOrEditReceiverModal
  #createOrEditReceiverModal
  [facilityIdFromTrips]="trip.originFacilityId"
  [agentType]="'sender'"
  (modalSave)="loadReceivers(trip.originFacilityId)"
>
</createOrEditReceiverModal>
<!--End::CreateOrEditReceiver-->
