input[type='time'] {
  width: auto;
}

::ng-deep .no-padding-custom .dx-button-content {
  padding: 0 !important;
}

::ng-deep .no-padding-custom .dx-button-content {
  padding: 0 !important;
}

::ng-deep .invalid-trip-points .trip-points-table .p-datatable {
  border: 1px solid red !important;
}

@media (min-width: 1400px) {
  .modal-dialog.modal-xl {
    max-width: 1400px !important;
  }
}
