<div class="card card-custom card-stretch w-100 h-100">
  <div class="card-body p-4 d-flex flex-column justify-content-center">
    <div class="row">
      <div class="col-3">
        <img class="counter-icon" src="assets/SVG/Delivered_Trips.svg" alt="" />
      </div>
      <div class="col-9">
        <span class="counter-title">Delivered Trips</span> <br />
        <span class="counter-details">25 / Month</span>&nbsp;&nbsp;<i class="fa fa-chevron-down text-dark"></i>
      </div>
    </div>
    <hr class="custom-hr" />
    <div class="row">
      <div class="col-3">
        <img class="counter-icon" src="assets/SVG/In_Transit_Trips.svg" alt="" />
      </div>
      <div class="col-9">
        <span class="counter-title">In Transit Trips</span> <br />
        <span class="counter-details">25 Trips</span>
      </div>
    </div>
    <hr class="custom-hr" />
    <app-invoice-due-date></app-invoice-due-date>
    <hr class="custom-hr" />
    <app-shipper-due-date-in-days></app-shipper-due-date-in-days>
  </div>
</div>
