.counter-icon {
  max-width: 3vw;
  height: 100%;
  margin-right: 7px;
  border: solid 0.5px #c9c9c9;
  padding: 6px 7px 9px 8px;
  border-radius: 10px;
}
.counter-title {
  font-size: 10px;
}
.counter-details {
  font-size: 12px;
  font-weight: 600;
}

.custom-hr {
  border-top: 2px solid #eaeaea !important;
  margin: 1rem;
}

::ng-deep .counter-icon {
  max-width: 3vw;
  height: 100%;
  margin-right: 7px;
  border: solid 0.5px #c9c9c9;
  padding: 6px 7px 9px 8px;
  border-radius: 10px;
}
::ng-deep .counter-title {
  font-size: 10px;
}
::ng-deep .counter-details {
  font-size: 12px;
  font-weight: 600;
}

[dir='rtl'] ::ng-deep .counter-icon,
[dir='rtl'] .counter-icon {
  margin-right: 0 !important;
  margin-left: 7px !important;
}
