<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DevExpress Feed" value="https://nuget.devexpress.com/DI6Rf48Uxw3QNRFjJLc6rmwpGnfGf2qi3D9Q75FF9aaBT1DJQf/api" />
  </packageSources>
</configuration>