<div class="row d-flex justify-content-center">
  <div class="col-sm">
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
      <div class="card-header d-flex justify-content-center">
        <div class="card-title">
          <h3 class="card-label">Number Of Registered Trucks</h3>
        </div>
      </div>
      <div class="card-body w-100 d-flex justify-content-center">
        <h5 class="text-dark font-weight-bold">{{ trucksCount }}</h5>
      </div>
    </div>
    <!--end::Card-->
  </div>
</div>
