<div class="card card-custom card-stretch w-100 h-100">
  <div class="card-body p-4 d-flex flex-column justify-content-center">
    <div class="row px-8">
      <div class="col-4">
        <div id="chart" *ngIf="chartOptions">
          <apx-chart
            #chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [labels]="chartOptions.labels"
            [responsive]="chartOptions.responsive"
            [legend]="legend"
            [dataLabels]="{ enabled: false }"
            [fill]="{colors}"
            [tooltip]="tooltip"
          ></apx-chart>
        </div>
      </div>
      <div class="col d-flex flex-column justify-content-center">
        <div class="row">
          <h2>
            {{ 'NumberOfActors' | localize }}
          </h2>
        </div>
        <div class="d-flex align-items-center">
          <strong class="font-35">{{ actorsCount }}</strong> &nbsp;
          <span class="text-danger">{{ 'Total' | localize }}</span>
        </div>
      </div>
      <div class="col d-flex flex-column justify-content-center pt-8">
        <div class="row shipper-carrier-count">
          {{ 'Shippers' | localize }}&nbsp;<span class="dashed-line"></span>&nbsp;{{ shipperCount | number: '1.0-2' }}%
        </div>
        <div class="row shipper-carrier-count">
          {{ 'Carriers' | localize }}&nbsp;<span class="dashed-line"></span>&nbsp;{{ carrierCount | number: '1.0-2' }}%
        </div>
      </div>
    </div>
  </div>
</div>
