<div
  #loadTemplateModal="bs-modal"
  aria-hidden="true"
  aria-labelledby="AddNewEntityModalComponent"
  bsModal
  class="modal fade"
  role="dialog"
  tabindex="-10010"
>
  <div class="modal-dialog modal-lg">
    <div *ngIf="active" class="modal-content">
      <!--begin::Card-->
      <div class="card card-custom">
        <!--begin::Header-->
        <div class="card-header align-items-center px-4 py-3">
          <h3>{{ l('Templates') }}</h3>
        </div>
        <!--end::Header-->
        <!--begin::Body-->
        <div class="card-body">
          <div class="form-group">
            <label>{{ l('Template') }}</label>
            <select class="form-control" name="template" [(ngModel)]="templateId" [busyIf]="loading">
              <option value="undefined" selected disabled>{{ l('SelectATemplate') }}</option>
              <option *ngFor="let item of templates" value="{{ item.id }}">{{ item.displayName }}</option>
            </select>
          </div>
        </div>
        <!--end::Body-->
        <!--begin::Footer-->
        <div class="card-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">{{ l('Close') }}</button>
          <button type="button" class="btn btn-primary" [disabled]="loading || !templateId" (click)="ApplyTemplate()">{{ l('UseTemplate') }}</button>
        </div>
        <!--end::Footer-->
      </div>
      <!--end::Card-->
    </div>
  </div>
</div>
