<div class="card card-custom card-stretch w-100 h-100" [busyIf]="loading">
  <div class="card-body p-4">
    <div class="month-section" [class.isHostOrTMS]="isTachyonDealerOrHost">
      <div class="d-flex flex-column">
        <div *ngIf="isTachyonDealerOrHost" class="mb-8 d-flex justify-content-between">
          <strong class="custom-title">
            {{ l('UpcomingTrips') }}
          </strong>
          <app-host-tms-widget-filters
            [isForTripType]="true"
            [isDateDropDown]="false"
            (filterSelected)="selectedFilter($event)"
          ></app-host-tms-widget-filters>
        </div>
        <div class="d-flex justify-content-between pb-4 flex-wrap-reverse" [class.mt-4]="isTachyonDealerOrHost">
          <div class="month-name">
            {{ today | date: 'MMMM' }}
          </div>
          <div *ngIf="!isTachyonDealerOrHost" class="upcoming-trips">{{ isForActors ? l('ActorsUpcomingTrips') : l('UpcomingTrips') }}</div>
        </div>
        <div class="d-flex justify-content-between w-100">
          <button class="btn btn-default week-day-btn" *ngFor="let day of weekDates" (click)="selectDay(day)">
            <span class="week-day-number">{{ day | date: 'd' }} </span><br />
            {{ day | date: 'EEE' }}
          </button>
        </div>
      </div>
    </div>
    <div class="trips-section overflow-auto pt-4">
      <div
        class="card card-custom ribbon ribbon-top dashboard-plain-card mb-2 clickable-item overflow-hidden"
        *ngFor="let trip of upcomingTripsForSelectedDay"
        (click)="goToTrackingPage(trip)"
      >
        <ng-container *ngIf="!isTachyonDealerOrHost">
          <div class="ribbon-target bg-primary" style="top: -2px; right: 20px">{{ trip.tripType }}</div>
          <div class="card-body p-4 d-flex justify-content-between align-items-end">
            <app-from-to [from]="trip.origin" [to]="trip.destinations" class="w-45"></app-from-to>
            <div class="w-55">
              <div class="title">{{ trip.waybillNumber }}</div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="isTachyonDealerOrHost">
          <div class="ribbon-target bg-primary" style="top: -2px; right: 20px">
            {{
              selectedFilterId == normalSaasHomeDeliveryEnum.Normal
                ? 'Normal'
                : selectedFilterId == normalSaasHomeDeliveryEnum.Saas
                ? 'Saas'
                : 'HomeDelivery'
            }}
          </div>
          <div class="card-body p-4 d-flex justify-content-between align-items-end">
            <app-from-to [from]="trip.origiCity" [to]="trip.destinationCity" class="w-45"></app-from-to>
            <div class="w-55">
              <div class="title">{{ trip.waybillNumber }}</div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
