<div
  bsModal
  #modal="bs-modal"
  class="modal fade tachyonDialer   {{ direction == 'rtl' ? ' rtl' : '' }} "
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">
          <span>{{ l('Search') }}</span>
        </p>
        <button type="button" class="close" (click)="close()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-body">
          <div class="row">
            <!--             CMS Tenants Only   -->
            <div class="dx-field col-6" *ngIf="hasCarrierClients || hasShipperClients">
              <label class="dx-field-label">{{ 'Actor' | localize }}</label>
              <div class="dx-field-value">
                <dx-text-box id="Actor" [(value)]="input.actorName" name="input.actor" placeholder="{{ 'SearchWithThreeDot' | localize }}">
                </dx-text-box>
              </div>
            </div>

            <div class="dx-field col-6" *ngIf="hasCarrierClients || hasShipperClients">
              <label class="dx-field-label">{{ 'ActorType' | localize }}</label>
              <div class="dx-field-value">
                <dx-select-box
                  [searchEnabled]="true"
                  id="actorType"
                  name="input.actorType"
                  [(value)]="input.actorType"
                  [dataSource]="AllActorTypes"
                  displayExpr="value"
                  valueExpr="key"
                  placeholder="{{ 'Select' | localize }}"
                ></dx-select-box>
              </div>
            </div>
            <!-- end of CMS Tenants only-->
            <div class="dx-field col-6">
              <label class="dx-field-label">{{ 'Shipper' | localize }}</label>
              <div class="dx-field-value">
                <dx-text-box
                  id="Shipper"
                  [(value)]="input.filter"
                  name="input.filter"
                  placeholder="{{ 'SearchWithThreeDot' | localize }}"
                ></dx-text-box>
              </div>
            </div>
            <div class="dx-field col-6" *ngIf="input.channel != 1 && isTachyonDealerOrHost">
              <label class="dx-field-label">{{ 'Carrier' | localize }}</label>
              <div class="dx-field-value">
                <dx-text-box id="Carrier" [(value)]="input.carrier" name="input.carrier" placeholder="{{ 'SearchWithThreeDot' | localize }}">
                </dx-text-box>
              </div>
            </div>
            <div class="dx-field col-6">
              <label class="dx-field-label">{{ 'TruckType' | localize }}</label>
              <div class="dx-field-value">
                <dx-select-box
                  [searchEnabled]="true"
                  id="truckType"
                  name="input.truckTypeId"
                  [(value)]="input.truckTypeId"
                  [dataSource]="truckTypes"
                  displayExpr="displayText"
                  valueExpr="value"
                  placeholder="{{ 'Select' | localize }}"
                ></dx-select-box>
              </div>
            </div>
            <div
              class="dx-field col-6"
              [ngClass]="{
                'spinner spinner-success spinner-right ': isDataLoading,
                'input-group': !isDataLoading
              }"
            >
              <label class="dx-field-label">{{ 'Origin' | localize }}</label>
              <div class="dx-field-value">
                <dx-select-box
                  [searchEnabled]="true"
                  [disabled]="isDataLoading"
                  id="origin"
                  name="input.originId"
                  [(value)]="input.originId"
                  [dataSource]="cites"
                  displayExpr="displayText"
                  valueExpr="value"
                ></dx-select-box>
              </div>
            </div>
            <div
              class="dx-field col-6"
              [ngClass]="{
                'spinner spinner-success spinner-right ': isDataLoading,
                'input-group': !isDataLoading
              }"
            >
              <label class="dx-field-label">{{ 'Destination' | localize }}</label>
              <div class="dx-field-value">
                <dx-select-box
                  [searchEnabled]="true"
                  [disabled]="isDataLoading"
                  id="destination"
                  name="input.destination"
                  [(value)]="input.destinationId"
                  [dataSource]="cites"
                  displayExpr="displayText"
                  valueExpr="value"
                ></dx-select-box>
              </div>
            </div>
            <div class="dx-field col-6">
              <label class="dx-field-label">{{ 'RouteType' | localize }}</label>
              <div class="dx-field-value">
                <dx-select-box
                  [searchEnabled]="true"
                  id="routeTypeId"
                  name="input.routeTypeId"
                  [(value)]="input.routeTypeId"
                  [dataSource]="routeTypes"
                  displayExpr="value"
                  valueExpr="key"
                ></dx-select-box>
              </div>
            </div>
            <ng-template [ngIf]="!input.channel && !input.isTMSRequest">
              <div class="dx-field col-6">
                <label class="dx-field-label">{{ 'ShippingRequestType' | localize }}</label>
                <div class="dx-field-value">
                  <dx-select-box
                    [searchEnabled]="true"
                    id="requestType"
                    name="input.requestType"
                    [(value)]="input.requestType"
                    [dataSource]="requestTypes"
                    displayExpr="value"
                    valueExpr="key"
                  ></dx-select-box>
                </div>
              </div>
            </ng-template>
            <div class="dx-field col-6">
              <label class="dx-field-label">{{ 'ShippingRequestStatusName' | localize }}</label>
              <div class="dx-field-value">
                <dx-select-box
                  [searchEnabled]="true"
                  id="status"
                  name="input.status"
                  [(value)]="input.status"
                  [dataSource]="statusData"
                  displayExpr="displayText"
                  valueExpr="value"
                ></dx-select-box>
              </div>
            </div>
            <div class="dx-field col-6">
              <label class="dx-field-label">{{ 'PickupDate' | localize }}</label>
              <div class="dx-field-value d-flex flex-wrap">
                <div class="col-2 pl-0">
                  <dx-check-box [(value)]="pickupDateRangeActive" id="pickupDateRangeActive" name="pickupDateRangeActive"></dx-check-box>
                </div>
                <div class="col-10 px-0">
                  <dx-date-box
                    type="date"
                    [disabled]="!pickupDateRangeActive ? true : false"
                    [(value)]="pickupDateRange[0]"
                    placeholder="{{ 'From' | localize }}"
                  >
                  </dx-date-box>
                </div>
                <div class="offset-2 col-10 px-0 pt-2">
                  <dx-date-box
                    type="date"
                    [disabled]="!pickupDateRangeActive ? true : false"
                    [(value)]="pickupDateRange[1]"
                    placeholder="{{ 'To' | localize }}"
                  >
                  </dx-date-box>
                </div>
              </div>
            </div>
            <div class="dx-field col-6">
              <label class="dx-field-label">{{ 'CreationTime' | localize }}</label>
              <div class="dx-field-value d-flex flex-wrap">
                <div class="col-2 pl-0">
                  <dx-check-box [(value)]="creationDateRangeActive" id="creationDateRangeActive" name="creationDateRangeActive"></dx-check-box>
                </div>
                <div class="col-10 px-0">
                  <dx-date-box type="date" [disabled]="!creationDateRangeActive ? true : false" [(value)]="creationDateRange[0]"> </dx-date-box>
                </div>
                <div class="offset-2 col-10 px-0 pt-2">
                  <dx-date-box type="date" [disabled]="!creationDateRangeActive ? true : false" [(value)]="creationDateRange[1]"> </dx-date-box>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="search()" class="btn btn-primary btn-sm">{{ l('Search') }}</button>
        <button type="button" class="btn btn-secondary btn-sm" (click)="close()">{{ l('Close') }}</button>
      </div>
    </div>
  </div>
</div>
