<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <!--begin::Subheader-->
    <sub-header [title]="Title | localize" [description]="'' | localize">
      <div role="actions">
        <button (click)="createNewRequest()" class="btn btn-success"><i class="fas fa-plus"></i> {{ l('CreateNewRequest') }}</button>
        <button (click)="ModelSearch.show(searchInput)" class="btn btn-primary red"><i class="fas fa-search"></i> {{ l('Search') }}</button>
      </div>
    </sub-header>
    <!--end::Subheader-->
    <!--begin::Entry-->

    <div class="container-fluid">
      <div class="row">
        <div class="col-12 mb-4" *ngFor="let item of Items">
          <ng-template [ngIf]="!Channel"> </ng-template>
          <div
            class="shipCard {{ item.isTachyonDeal ? 'tachyonDialer' : '' }}
               {{ ((item.isPriced || item.remainingDays == '0') && Channel) || (item.status == 1 && !Channel) ? ' shipCardGray' : '' }}
               {{ item.status == 5 && !Channel ? ' shipCardGreen' : '' }}
                {{ (item.status == 3 || item.status == 4) && !Channel ? ' shipCardRed' : '' }}
               {{ direction == 'rtl' ? ' rtl' : '' }}"
          >
            <div class="infoBasic">
              <div class="serialNumber">
                <a href="javascript:void(0)">{{ item.referenceNumber }}</a>
              </div>
              <a
                href="javascript:void(0)"
                class="companyName text-hover-primary"
                [routerLink]="item.isTachyonDeal ? [] : ['/app/main/profile', item.tenantId, 'view']"
              >
                {{ setTitle(item) }}
              </a>

              <span *ngIf="item.remainingDays && item.remainingDays != '0' && Channel == 1" class="remainingTime">
                <b>{{ item.remainingDays }}</b>
                {{ getWordTitle(item.remainingDays, 'RemainingDay') }}
              </span>
              <b *ngIf="item.remainingDays == '0' && Channel == 1 && item.bidStatusTitle" class="infoHighLight red stautsTruck">
                {{ l(item.bidStatusTitle) }}
              </b>

              <b *ngIf="Channel == 2 || Channel == 10" class="infoHighLight red stautsTruck">
                {{ l(item.directRequestStatusTitle) }}
              </b>

              <!--              <b *ngIf="item.numberOfCompletedTrips >= item.numberOfTrips" class="infoHighLight green stautsTruck">{{ l('Completed') }}</b>-->
              <!--              <b *ngIf="item.numberOfCompletedTrips < item.numberOfTrips" class="infoHighLight red stautsTruck">{{ l('Trips:InProgress') }}</b>-->
              <b *ngIf="!Channel && item.statusTitle" class="infoHighLight green stautsTruck">
                {{ l(item.statusTitle) }}
              </b>
            </div>

            <div class="detailsRoad">
              <div class="from">
                <p class="pickup">{{ l('Origin') }}</p>
                <p>{{ item.originCity }}</p>
              </div>

              <div class="to">
                <p class="delivery">{{ l('Destination') }}</p>
                <p>{{ item.destinationCity }}</p>
              </div>
            </div>
            <div class="divirCard"></div>
            <div class="moreDetails">
              <div *ngIf="item.startTripDate" class="dateRange">
                <p>
                  {{ l('EstimatedPickUpDate') }}
                </p>
                <p>{{ item.startTripDate | momentFormat: 'L' }} {{ item.endTripDate ? '-' : '' }} {{ item.endTripDate | momentFormat: 'L' }}</p>
              </div>

              <div *ngIf="item.creationTime" class="dateRange">
                <p>
                  {{ l('CreationTime') }}
                </p>
                <p>
                  {{ item.creationTime | momentFormat: 'L' }}
                </p>
              </div>

              <div class="goodCategory">
                <p>
                  {{ l('GoodCategory') }}
                </p>
                <p>
                  {{ item.goodsCategory }}
                </p>
              </div>
              <div class="truckType">
                <p>
                  {{ l('TruckType') }}
                </p>
                <p>
                  {{ item.truckType }}
                </p>
              </div>
              <div class="numOfTrips">
                <p>
                  {{ l('NoOfTrips') }}
                </p>
                <p class="isNum">
                  {{ item.numberOfTrips }}
                </p>
              </div>
              <div>
                <p>
                  {{ l('CompletedTripsFromTotal') }}
                </p>
                <p class="isNum">{{ item.numberOfCompletedTrips }}/{{ item.numberOfTrips }}</p>
              </div>
              <div>
                <p>
                  {{ l('CreatedTripsFromTotal') }}
                </p>
                <p class="isNum">{{ item.totalsTripsAddByShippier }}/{{ item.numberOfTrips }}</p>
              </div>
              <div class="routeType">
                <p>
                  {{ l('routeType') }}
                </p>
                <p>
                  {{ l(item.routeType) }}
                </p>
              </div>
              <div>
                <p>
                  {{ l('Carrier') }}
                </p>
                <p>
                  {{ l(item.carrier) }}
                </p>
              </div>
            </div>
            <div class="actionsShip">
              <div>
                <a *ngIf="(!Channel || Channel == 3) && item.createdByTachyonDealer" href="javascript:void(0)" class="infoHighLight blue">
                  {{ l('CreatedByTachyonDealer') }}
                </a>
                <a *ngIf="feature.isEnabled('App.Shipper')" href="javascript:void(0)" class="infoHighLight blue">
                  {{ l(item.requestTypeTitle) }}
                </a>
                <a *ngIf="canSeeTotalOffers(item)" href="javascript:void(0)" class="infoHighLight green" (click)="ModelOffer.show(item)">
                  {{ item.totalOffers }} {{ getWordTitle(item.totalOffers, 'TotalOffer') }}
                </a>
                <a *ngIf="item.isPriced && Channel != 10" href="javascript:void(0)" class="infoHighLight red">{{ l('MarketPlacepriced') }}</a>
                <a *ngIf="item.price && (item.status == 5 || item.status == 1) && Channel != 10" href="javascript:void(0)" class="infoHighLight red"
                  >{{ item.price | number }} {{ l('SAR') }}</a
                >
                <a *ngIf="Channel == 10" href="javascript:void(0)" class="infoHighLight red">{{ item.price | number }} {{ l('SAR') }}</a>
              </div>
              <div style="justify-content: center">
                <button
                  class="btn"
                  *ngIf="openCardId != item.id || !openCardId"
                  (click)="openCardId = item.id"
                  [attr.aria-expanded]="openCardId == item.id"
                  aria-controls="collapseExample"
                >
                  <i class="fas fa-angle-double-down fa-2x"></i>
                </button>
                <button
                  class="btn"
                  *ngIf="openCardId == item.id"
                  (click)="openCardId = null"
                  [attr.aria-expanded]="openCardId == item.id"
                  aria-controls="collapseExample"
                >
                  <i class="fas fa-angle-double-up fa-2x"></i>
                </button>
              </div>
              <div class="actions">
                <a *ngIf="canDeleteDirectRequest(item)" href="javascript:void(0)" (click)="delete(item)" class="red">
                  {{ l('Delete') }}
                </a>
                <a
                  *ngIf="feature.isEnabled('App.Carrier') && Channel == 2 && (item.directRequestStatus == 0 || item.directRequestStatus == 5)"
                  href="javascript:void(0)"
                  (click)="decline(item)"
                  class="red"
                >
                  {{ l('Declined') }}
                </a>
                <a
                  *ngIf="
                    (item.status == 0 || item.status == 2) &&
                    !Channel &&
                    (feature.isEnabled('App.Shipper') || (item.isTachyonDeal && (feature.isEnabled('App.TachyonDealer') || !appSession.tenantId)))
                  "
                  href="javascript:void(0)"
                  (click)="ModelCancel.show(item)"
                  class="red"
                >
                  {{ l('Cancel') }}
                </a>

                <a href="javascript:void(0)" (click)="moreRedirectTo(item)" class="red">
                  {{ l('More') }}
                </a>
                <a
                  *ngIf="permission.isGranted('Pages.ShippingRequests.Edit') && !Channel && feature.isEnabled('App.Shipper')"
                  [queryParams]="{ id: item.id }"
                  [routerLink]="['/app/main/shippingRequests/shippingRequests/createOrEdit']"
                  class="red"
                >
                  {{ l('Edit') }}
                </a>
              </div>
            </div>
          </div>

          <div id="collapseExample" [ngbCollapse]="openCardId == null">
            <div class="card">
              <div class="card-body" *ngIf="openCardId == item.id">
                <!--  start of ShippingRequestType::Details-->
                <div class="col-12">
                  <div class="mb-3">
                    <div class="mb-2">
                      <div class="form-group row fv-plugins-icon-container">
                        <div class="col-lg-6">
                          <label><span class="required-fileds"></span> {{ l('ShippingRequestType') }}</label>
                          <input class="form-control" type="text" name="ShippingRequestType" [value]="item.requestTypeTitle" disabled />
                        </div>
                        <div class="col-lg-6">
                          <label><span class="required-fileds"></span> {{ l('Price') }}</label>
                          <input class="form-control" type="number" name="ShippingRequestType" [value]="item.price" disabled />
                        </div>
                        <br />
                        <div *ngIf="!this.feature.isEnabled('App.Carrier')">
                          <shipping-request-offers-list
                            [shippingRequestId]="item.id"
                            [isTachyonDeal]="item.isTachyonDeal"
                            [Channel]="item.bidStatus == 0 ? 2 : 1"
                          >
                          </shipping-request-offers-list>
                        </div>

                        <div *ngIf="feature.isEnabled('App.Shipper') || feature.isEnabled('App.TachyonDealer')">
                          <TripsForViewShippingRequest
                            *ngIf="item.id && bidsloading == false"
                            [ShippingRequest]="item"
                            [VasListFromFather]="undefined"
                          ></TripsForViewShippingRequest>
                        </div>

                        <div class="col-lg-12">
                          <agm-map style="height: 200px" [latitude]="24.717942" [longitude]="46.675761" [zoom]="zoom">
                            <agm-marker [latitude]="item.latitude || 24.717942" [longitude]="item.longitude || 46.675761"></agm-marker>
                          </agm-map>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--  end::ShippingRequestType::Details-->
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="IsLoading" class="col-12 loadingRow text-center my-3">
          <span></span>
        </div>
      </div>
    </div>
  </div>
</div>
<shippingrequests-details-model #Model [Channel]="Channel"></shippingrequests-details-model>
<price-offer-list-model [Channel]="Channel" #ModelOffer></price-offer-list-model>
<shipping-request-card-search-model #ModelSearch (modalsearch)="search()"></shipping-request-card-search-model>
<shipping-request-card-cancel-model #ModelCancel></shipping-request-card-cancel-model>
