::ng-deep {
    .no-padding-custom {
        .dx-button-content {
            padding: 0 !important;
        }
    }

    .form-control {
        .dx-texteditor {
            &.dx-editor-outlined {
                border: none !important;
            }
        }
    }
}


.custom-invalid {
    border: 1px solid red !important;
    border-radius: 4px;
    padding: 10px;
}
