input[type='radio'] {
  display: none !important;
}
:host ::ng-deep .sales-summary-chart svg.ngx-charts {
  margin-left: -35px !important;
  margin-top: 35px !important;
}

.card-label.is-for-actor {
  font-size: 1.2rem !important;
}
.card-label {
  font-size: 20px !important;
  font-weight: 600 !important;
}

.text-red {
  color: #dc2434;
}

.text-red.broker {
  color: #000;
}

.text-gray {
  color: #d7dadc;
}
