<div
  bsModal
  #sendDirectRequestsModal="bs-modal"
  class="modal fade"
  role="dialog"
  aria-labelledby="createOrEditModal"
  tabindex="-1"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">
          <span>{{ l('sendDirectRequest') }}</span>
        </p>
      </div>
      <div class="modal-body">
        <form autocomplete="off" class="form">
          <div>
            <div class="row align-items-center">
              <div class="col-xl-12">
                <div class="form-group m-form__group align-items-center">
                  <div class="input-group">
                    <input
                      [(ngModel)]="fillterText"
                      [placeholder]="l('SearchWithThreeDot')"
                      autoFocus
                      class="form-control m-input"
                      name="filterText"
                      type="text"
                    />
                    <span class="input-group-btn">
                      <button (click)="getAllCarriersForSendDirectRequests()" class="btn btn-primary" type="submit">
                        <i class="flaticon-search-1"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <div class="row align-items-center">
          <!--<Primeng-TurboTable-Start>-->
          <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading || saving">
            <p-table
              #dataTableForCarrierSendRequest
              sortMode="multiple"
              (onLazyLoad)="getAllCarriersForSendDirectRequests($event)"
              [value]="primengTableHelper.records"
              rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
              [paginator]="false"
              [lazy]="true"
              [scrollable]="true"
              ScrollWidth="100%"
              [responsive]="primengTableHelper.isResponsive"
              [resizableColumns]="primengTableHelper.resizableColumns"
            >
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 100px;">
                    {{ 'id' | localize }}
                  </th>
                  <th style="width: 150px;" pSortableColumn="name">
                    {{ 'name' | localize }}
                    <p-sortIcon field="name"></p-sortIcon>
                  </th>
                  <th style="width: 100px;" class="justify-content-center">
                    {{ 'Actions' | localize }}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-record="$implicit">
                <tr>
                  <td style="width: 100px;">
                    <span class="ui-column-title"> {{ 'id' | localize }}</span>
                    <span>
                      {{ record.id }}
                    </span>
                  </td>
                  <td style="width: 150px;">
                    <span class="ui-column-title"> {{ 'name' | localize }}</span>
                    <span>
                      {{ record.name }}
                    </span>
                  </td>
                  <td style="width: 100px;" class="justify-content-center">
                    <span class="ui-column-title"> {{ 'name' | localize }}</span>
                    <span>
                      <button
                        class="btn btn-danger btn-sm"
                        [id]="record.id"
                        [disabled]="record.isRequestSent"
                        (click)="sendDirectRequestToCarrier(record.id)"
                      >
                        {{ l('sendDirectRequestOffer') }}
                      </button>
                    </span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
              {{ 'NoData' | localize }}
            </div>
            <div class="primeng-paging-container">
              <p-paginator
                [rows]="primengTableHelper.defaultRecordsCountPerPage"
                #paginatorForCarrierSendRequest
                (onPageChange)="getAllCarriersForSendDirectRequests($event)"
                [totalRecords]="primengTableHelper.totalRecordsCount"
                [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
              >
              </p-paginator>
              <span class="total-records-count">
                {{ 'TotalRecordsCount' | localize: primengTableHelper.totalRecordsCount }}
              </span>
            </div>
          </div>
          <!--<Primeng-TurboTable-End>-->
        </div>
      </div>
      <div class="modal-footer">
        <!--begin::Buttons-->
        <button type="button" class="btn btn-primary font-weight-bolder btn-sm py-3 px-6 text-uppercase" [disabled]="saving" (click)="close()">
          {{ l('Close') }}
        </button>

        <!--end::Buttons-->
      </div>
    </div>
  </div>
</div>
