<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #receiverForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="receiver.id">{{ l('EditContact') }}</span>
            <span *ngIf="!receiver.id">{{ l('AddNewContact') }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngIf="isTachyonDealerOrHost" class="form-group col-md-12">
            <label>{{ l('Company') }} <span class="required-fileds">*</span></label>
            <div
              [ngClass]="{
                'spinner spinner-success spinner-right mr-1 ml-1': !AllTenants
              }"
            >
              <select class="form-control" name="Shipper" [(ngModel)]="receiver.tenantId" required (change)="LoadFacilities()">
                <option [value]="undefined" disabled>{{ l('SelectCompany') }}</option>
                <option *ngFor="let item of AllTenants" value="{{ item.id }}">{{ item.displayName }}</option>
              </select>
            </div>
            <span class="form-text text-muted">{{ l('SelectCompany') }} {{ receiver.tenantId }}</span>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>{{ l('Facility') }}<span class="required-fileds"> *</span></label>
              <select name="receiver.facilityId" [(ngModel)]="receiver.facilityId" class="form-control" required [disabled]="facilityIdFromTrips">
                <option [value]="undefined" disabled>{{ l('SelectaFacility') }}</option>
                <option *ngFor="let item of allFacilitys" [value]="item.id">{{ item.displayName }}</option>
              </select>
            </div>

            <div class="form-group col-md-6">
              <label for="Receiver_FullName">{{ l('ReciverName') }}<span class="required-fileds"> *</span> </label>
              <input
                type="text"
                #Receiver_FullName="ngModel"
                id="Receiver_FullName"
                class="form-control"
                [(ngModel)]="receiver.fullName"
                name="FullName"
                minlength="0"
                maxlength="256"
                required
              />
              <validation-messages [formCtrl]="Receiver_FullName"></validation-messages>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="Receiver_Email">{{ l('Email') }}</label>
              <input
                type="text"
                #Receiver_Email="ngModel"
                id="Receiver_Email"
                class="form-control"
                [(ngModel)]="receiver.email"
                name="Email"
                minlength="0"
                maxlength="256"
              />
              <validation-messages [formCtrl]="Receiver_Email"></validation-messages>
            </div>

            <div class="form-group col-md-6">
              <label for="Receiver_PhoneNumber">{{ l('PhoneNumber') }} <span class="required-fileds"> *</span></label>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">+966</span>
                </div>
                <input
                  type="tel"
                  #Receiver_PhoneNumber="ngModel"
                  (input)="CheckIfReciverPhoneNumberIsValid(Receiver_PhoneNumber.value, receiver.id)"
                  pattern="^\d{9}$"
                  minlength="0"
                  maxlength="9"
                  id="Receiver_PhoneNumber"
                  class="form-control"
                  [(ngModel)]="receiver.phoneNumber"
                  name="PhoneNumber"
                  required
                  [ngClass]="{
                    'is-valid': CheckingIfReciverPhoneNumberIsValid && isPhoneNumberAvilable && Receiver_PhoneNumber.valid,
                    'is-invalid':
                      receiverForm.submitted && !CheckingIfReciverPhoneNumberIsValid && (!isPhoneNumberAvilable || !Receiver_PhoneNumber.valid)
                  }"
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i [ngClass]="{ 'fa-spin': CheckingIfReciverPhoneNumberIsValid }" class="flaticon-refresh"></i>
                  </span>
                </div>
              </div>
              <validation-messages [formCtrl]="Receiver_PhoneNumber"></validation-messages>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
          <button
            type="submit"
            class="btn btn-primary blue"
            [disabled]="!receiverForm.form.valid"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
