<div class="flex-row-fluid ml-lg-8">
  <!--begin::Row-->
  <div class="row">
    <!--  section Map - 12    -->
    <div class="col-lg-12" *ngIf="giveUserEditionType == 2">
      <!--begin::List Widget 10-->
      <div class="card card-custom card-stretch gutter-b">
        <!--begin::Body-->
        <div class="card-body pt-0 mt-10">
          <!--begin::Item-->
          <!-- start::map Goes here -->
          <agm-map [latitude]="latitude || 24.717942" [longitude]="longitude || 46.675761" [zoom]="13">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
          </agm-map>
          <!--                    end::map Goes here-->
          <!--end::Item-->
        </div>
        <!--end: Card Body-->
      </div>
      <!--end: Card-->
      <!--end: List Widget 10-->
    </div>
  </div>
  <!--end::Row-->
  <!--begin::Row-->
  <!-- section Row   -->
  <div class="row">
    <!--    section Facilities Table - 6-->
    <profile-shipper-facilities
      *ngIf="giveUserEditionType == 2 && (isTachyonDealerOrHost || isShipper)"
      [giverUserId]="givenId"
      (emitFacilityCordinates)="drawCoordinates($event)"
    ></profile-shipper-facilities>

    <!-- section invoicing Table - 6  -->
    <div class="col-lg-12">
      <profile-shipper-invoicing *ngIf="giveUserEditionType == 2 && (isTMS || isShipper)" [giverUserId]="givenId"></profile-shipper-invoicing>
    </div>
    <!--  section Carrier Vases    -->
    <profile-carrier-normal-price-package
      *ngIf="tenantProfileInformation.tenancyName == 'carrier' && (isTachyonDealerOrHost || (isCarrier && givenId == appSession.tenantId))"
      [giverUserId]="givenId"
    ></profile-carrier-normal-price-package>
    <!-- Section Carrier Service Areas-->
    <carrier-service-areas class="w-100" *ngIf="giveUserEditionType == 3" [givenUserId]="givenId"> </carrier-service-areas>

    <!--  section Carrier Vases    -->
    <profile-carrier-vases *ngIf="giveUserEditionType == 3 && (isTMS || isCarrier)" [giverUserId]="givenId"></profile-carrier-vases>

    <profile-carrier-fleet-information *ngIf="giveUserEditionType == 3 && (isTMS || isCarrier)" [giverUserId]="givenId">
    </profile-carrier-fleet-information>
  </div>
</div>
