<div [@routerTransition] class="container">
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'InvoiceDetail' | localize" [description]="'' | localize">
      <div role="actions">
        <button
          (click)="MakePaid()"
          *ngIf="
            !Data.isPaid &&
            permission.isGranted('Pages.Administration.Host.Invoices.MakePaid') &&
            !feature.isEnabled('App.Shipper') &&
            !feature.isEnabled('App.Carrier')
          "
          class="btn btn-success"
        >
          <i class="fa fa-file-excel"></i> {{ l('MakePaid') }}
        </button>
        <button
          (click)="MakeUnPaid()"
          *ngIf="Data.isPaid && permission.isGranted('Pages.Administration.Host.Invoices.MakeUnPaid')"
          class="btn btn-secondary"
        >
          <i class="fa fa-file-excel"></i> {{ l('MakeUnPaid') }}
        </button>
      </div>
    </sub-header>
    <!--    <invoice-template [Data]="Data" [Items]="Items"></invoice-template>-->
    <div style="height: 80vh">
      <ng2-pdfjs-viewer #pdfViewerAutoLoad></ng2-pdfjs-viewer>
    </div>
  </div>
</div>
