<!--begin::Login Sign in form-->
<div class="login-signin" [@routerTransition]>
  <div class="mb-20">
    <h3 class="head-text">{{ 'SignInToTachyon' | localize }}</h3>
    <div class="normal-text">{{ 'EnterYourDetailsToLoginToYourAccount' | localize }}</div>
  </div>
  <form #loginForm="ngForm" class="form fv-plugins-bootstrap fv-plugins-framework" method="post" (ngSubmit)="login()">
    <div class="form-group mb-5 fv-plugins-icon-container">
      <input
        #userNameOrEmailAddressInput="ngModel"
        [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress"
        autofocus
        placeholder="{{ 'Email' | localize }}"
        class="input-custom"
        type="email"
        autocomplete="new-password"
        name="userNameOrEmailAddress"
        required
        email="true"
        maxlength="256"
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"
      />
      <div *ngIf="userNameOrEmailAddressInput.errors && (userNameOrEmailAddressInput.touched || userNameOrEmailAddressInput.dirty)">
        <div class="text-left" style="color: #f64e60" [hidden]="!userNameOrEmailAddressInput.errors?.pattern">
          {{ 'InvalidEmailAddress' | localize }}
        </div>
      </div>
    </div>
    <div class="form-group mb-5 fv-plugins-icon-container">
      <input
        #passwordInput="ngModel"
        [(ngModel)]="loginService.authenticateModel.password"
        class="input-custom"
        type="password"
        placeholder="{{ 'Password' | localize }}"
        autocomplete="new-password"
        name="password"
        required
        maxlength="32"
      />
      <validation-messages [formCtrl]="passwordInput" *ngIf="!passwordInput.touched"></validation-messages>
    </div>
    <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
      <div class="checkbox-inline">
        <label class="checkbox m-0 text-muted">
          <input [(ngModel)]="loginService.rememberMe" type="checkbox" name="rememberMe" value="true" />
          <span></span>{{ 'RememberMe' | localize }}</label
        >
      </div>
      <a routerLink="/account/forgot-password" id="forget-password" class="text-muted text-hover-primary">{{ 'ForgotPassword' | localize }}</a>
    </div>
    <button type="submit" class="btn btn-primary login-btn font-weight-bold px-9 py-4 my-3 mx-4" [disabled]="!loginForm.form.valid">
      {{ 'LogIn' | localize }}
    </button>
  </form>
  <div class="mt-10">
    <span class="opacity-70 mr-4">{{ 'DontHaveAnAccountYet' | localize }}</span>
    <a class="text-muted text-hover-primary font-weight-bold" routerLink="/account/select-edition">{{ 'NotAMemberYet' | localize }}!</a>
  </div>
</div>
