<div class="login-form" [@routerTransition]>
  <div class="text-left login-logo">
    <!-- <div class="mb-5"> -->
    <a>
      <img [src]="appRootUrl() + 'assets/common/images/app-logo-on-light-login.svg'" class="max-h-75px" (click)="goToHome()" />
    </a>
    <!-- </div> -->
  </div>
  <div class="text-left label-text">
    <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg text-red">
      {{ 'LogIn' | localize }}
    </h3>
  </div>
  <!--begin::Form-->
  <form #loginForm="ngForm" class="login-form form" method="post" method="post" (ngSubmit)="login()">
    <div class="form-group">
      <div class="d-flex justify-content-between mt-n5">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5">{{ 'Email' | localize }} </label>
      </div>
      <input
        #userNameOrEmailAddressInput="ngModel"
        [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress"
        autoFocus
        class="form-control"
        type="email"
        autocomplete="new-password"
        name="userNameOrEmailAddress"
        required
        email="true"
        maxlength="256"
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,3}$"
      />
      <div *ngIf="userNameOrEmailAddressInput.errors && (userNameOrEmailAddressInput.touched || userNameOrEmailAddressInput.dirty)">
        <div class="text-left" style="color: #f64e60;" [hidden]="!userNameOrEmailAddressInput.errors?.pattern">
          {{ 'InvalidEmailAddress' | localize }}
        </div>
      </div>
      <!-- <validation-messages
        *ngIf="userNameOrEmailAddressInput.errors &&(userNameOrEmailAddressInput.touched || userNameOrEmailAddressInput.dirty)">
      </validation-messages> -->
    </div>

    <div class="form-group">
      <div class="d-flex justify-content-between mt-n5">
        <label class="font-size-h6 font-weight-bolder text-dark pt-5">{{ 'Password' | localize }} </label>
      </div>
      <input
        #passwordInput="ngModel"
        [(ngModel)]="loginService.authenticateModel.password"
        class="form-control"
        type="password"
        autocomplete="new-password"
        name="password"
        required
        maxlength="32"
      />
      <validation-messages [formCtrl]="passwordInput" *ngIf="!passwordInput.touched"></validation-messages>
    </div>

    <div class="form-group d-flex justify-content-between mt-4">
      <div class="checkbox-inline">
        <label class="checkbox m-0 font-weight-bold">
          <input [(ngModel)]="loginService.rememberMe" type="checkbox" name="rememberMe" value="true" />
          <span></span>{{ 'RememberMe' | localize }}</label
        >
      </div>
    </div>

    <div>
      <a routerLink="/account/forgot-password" id="forget-password" class=".text-login-links-hover float-left"> {{ 'ForgotPassword' | localize }}</a>
    </div>

    <div class="pb-lg-0 pb-5">
      <button type="submit" class="btn btn-primary btn-primary-login float-right" [disabled]="!loginForm.form.valid">
        {{ 'LogIn' | localize }}
      </button>
    </div>
  </form>

  <!--end::Form-->

  <!--begin::Options-->
  <div class="mt-10 mb-2" *ngIf="(multiTenancySideIsTeanant || !isMultiTenancyEnabled) && loginService.externalLoginProviders.length > 0">
    <div class="divider">
      <span></span>
      <span>{{ 'LoginWith' | localize }}</span>
      <span></span>
    </div>
  </div>

  <div class="pb-lg-0 pb-5" *ngIf="(multiTenancySideIsTeanant || !isMultiTenancyEnabled) && loginService.externalLoginProviders.length > 0">
    <a
      *ngFor="let provider of loginService.externalLoginProviders"
      class="btn btn-sm btn-light-primary font-weight-bolder py-2"
      (click)="externalLogin(provider)"
      title="{{ provider.name }}"
    >
      <i class="fab fa-{{ provider.icon }}"></i>
      {{ provider.name }}
    </a>
  </div>
  <!--end::Options-->
</div>
<br />
<div class="form-group d-flex justify-content-between mt-4" style="box-shadow: 0 2px 6px rgba(0, 0, 0, 0) !important;">
  <div *ngIf="!multiTenancySideIsTeanant && isTenantSelfRegistrationAllowed">
    <span>
      <a routerLink="/account/select-edition"> {{ 'NotAMemberYet' | localize }}</a>
    </span>
  </div>
  <!-- <span *ngIf="isSelfRegistrationAllowed">
    <a class="text-login-links" routerLink="/account/register">{{ 'CreateAnAccount' | localize }}</a>
    <span> | </span>
  </span> -->
  <!-- <span *ngIf="!multiTenancySideIsTeanant && isTenantSelfRegistrationAllowed">
    <a class="text-login-links " routerLink="/account/select-edition">{{ 'NewTenant' | localize }}</a>
    <span> | </span>
  </span> -->
  <!-- <a class="text-login-links" routerLink="/account/email-activation" id="email-activation-btn">{{ 'EmailActivation' | localize }}</a> -->
</div>
