<!--    StartOF::GoodDetailsSection       -->
<div>
  <div class="card card-custom gutter-b">
    <div class="card-header">
      <h3 class="card-title">
        {{ l('GoodsDetails') }}
      </h3>
      <div class="card-toolbar">
        <!--          openAddNewGoodDetailModal()-->
        <button
          *ngIf="usedIn !== 'view'"
          type="button"
          class="btn btn-primary blue"
          (click)="createOrEditGoodDetail.show()"
          [disabled]="!MainGoodsCategory || !canAddMoreGoods"
        >
          <i class="fa fa-plus"></i>
          {{ l('AddNewGoodDetails') }}
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6"></div>
        <div class="col-lg-12 mt-4">
          <div class="row align-items-center">
            <!--<Primeng-Datatable-Start>-->
            <div [busyIf]="usedIn == 'view' ? !goodDetailsListForView : allSubGoodCategorysLoading" class="primeng-datatable-container col-12">
              <p-table
                ScrollWidth="100%"
                [paginator]="false"
                [resizableColumns]="primengTableHelper.resizableColumns"
                [responsive]="primengTableHelper.isResponsive"
                [scrollable]="true"
                [value]="this.usedIn == 'view' ? goodDetailsListForView : goodsDetailList"
                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th>
                      {{ l('Actions') }}
                    </th>
                    <th>
                      {{ l('GoodsName') }}
                    </th>
                    <th>
                      {{ l('Quantity') }}
                    </th>
                    <th>
                      {{ l('Weight') }}
                    </th>
                  </tr>
                </ng-template>
                <ng-template let-record="$implicit" pTemplate="body" let-i="rowIndex">
                  <tr>
                    <td>
                      <span class="ui-column-title"> {{ l('Actions') }}</span>
                      <div class="btn-group dropdown" container="body" dropdown>
                        <a class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                          <i class="fa fa-cog"></i><span class="caret"></span> {{ l('Actions') }}
                        </a>
                        <ul *dropdownMenu class="dropdown-menu">
                          <li>
                            <a class="dropdown-item" (click)="createOrEditGoodDetail.show(i)" *ngIf="usedIn !== 'view'">{{ l('Edit') }}</a>
                          </li>
                          <li>
                            <a class="dropdown-item" (click)="DeleteGoodDetail(i)" *ngIf="usedIn !== 'view'">{{ l('Delete') }}</a>
                          </li>
                          <li>
                            <a class="dropdown-item" [hidden]="usedIn !== 'view'" (click)="viewGoodDetails.show(record)">{{ l('view') }}</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td>
                      <span class="ui-column-title"> {{ l('GoodCategoryId') }}</span>
                      {{ record.goodCategory ? record.goodCategory : getGoodSubDisplayname(record.goodCategoryId) }}
                    </td>
                    <td>
                      <span class="ui-column-title"> {{ l('TotalAmount') }}</span>
                      {{ record.amount }}
                    </td>
                    <td>
                      <span class="ui-column-title"> {{ l('Weight') }}</span>
                      {{ record.weight }}
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <!--                singleWayPoint?.goodsDetailListDto?.length == 0-->
              <div *ngIf="false" class="primeng-no-data">
                {{ l('NoData') }}
              </div>
            </div>
            <!--<Primeng-Datatable-End>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--     Endof::GoodDetailsSection -->
<createOrEditGoodDetailsModal
  #createOrEditGoodDetail
  [GoodDetailsListInput]="goodsDetailList"
  (canAddMoreGoods)="canAddMoreGoods = $event"
  (modalSave)="Point.goodsDetailListDto = goodsDetailList = $event"
></createOrEditGoodDetailsModal>

<view-good-details #viewGoodDetails [allSubGoodCategorys]="allSubGoodCategorys"></view-good-details>
