::ng-deep .star {
  color: white;
}

::ng-deep .modal-backdrop.fade.in {
  z-index: 999 !important;
}
::ng-deep .modal {
  z-index: 1000 !important;
}
::ng-deep .dropdown-menu {
  z-index: 1005 !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 2px !important;
}
.primeng-datatable-container .total-records-count {
  bottom: 0 !important;
}
