<div
  bsModal
  #modal="bs-modal"
  class="modal fade bd-example-modal-xl modalSendOffer tachyonDialer {{ direction == 'rtl' ? ' rtl' : '' }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" (click)="close()" class="close closeModal" data-dismiss="modal" aria-label="Close">
            <i class="fas fa-times"></i>
          </button>
          <div class="detailsContent">
            <img *ngIf="request.isTachyonDeal" src="/assets/custom/imgs/mark.svg" class="markTachyon" alt="" />
            <div class="infoBasic">
              <a href="javascript:void(0)" *ngIf="!feature.isEnabled('App.Shipper')" class="companyName">
                {{ request.isTachyonDeal ? l('TachyonManageService') : request.shipper }}
              </a>
            </div>
            <div class="detailsRoad">
              <div class="from">
                <p class="pickup">{{ l('Pickup') }}</p>
                <p>{{ request.originCity }}</p>
              </div>
              <div class="to">
                <p class="delivery">{{ l('Delivery') }}</p>
                <p>{{ request.destinationCity }}</p>
              </div>
            </div>
            <div class="divirCard"></div>
            <div class="detailsShip">
              <p *ngIf="request.rangeDate">
                <span>
                  {{ l('DateRange') }}
                </span>
                <span>
                  {{ request.rangeDate }}
                </span>
              </p>
              <p>
                <span>
                  {{ l('TruckType') }}
                </span>
                <span>
                  {{ request.trukType }}
                </span>
              </p>
              <p>
                <span>
                  {{ l('GoodCategory') }}
                </span>
                <span>
                  {{ request.goodsCategory }}
                </span>
              </p>
              <p>
                <span>
                  {{ l('NumberOfTrips') }}
                </span>
                <span>
                  {{ request.numberOfTrips }}
                </span>
              </p>
              <p>
                <span>
                  {{ l('NumberOfDrops') }}
                </span>
                <span>
                  {{ request.numberOfTrips }}
                </span>
              </p>
              <p>
                <span>
                  {{ l('approximateTripDistance') }}
                </span>
                <span>
                  {{ distance }}
                </span>
              </p>
              <p>
                <span>
                  {{ l('approximateTripDuration') }}
                </span>
                <span>
                  {{ duration }}
                </span>
              </p>
            </div>
            <div class="divirCard"></div>

            <div class="table-vas" *ngIf="Items.length">
              <span class="titleVas">
                {{ l('AddOns') }}
              </span>
              <table>
                <thead>
                  <tr>
                    <th>
                      Name
                    </th>

                    <th>
                      Qty
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of Items">
                    <td>
                      {{ item.itemName }}
                    </td>

                    <td>
                      {{ item.quantity }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="setPrice" *ngIf="canSetPrice()">
              <button type="button" (click)="ModelPrice.show(request.id)">
                {{ l('SetPriceOffer') }}
              </button>
            </div>
          </div>
          <div class="map">
            <agm-map [latitude]="24.717942" [longitude]="46.675761" [zoom]="10">
              <agm-direction
                *ngIf="destination.lat"
                [origin]="{ lat: origin.lat, lng: origin.lng }"
                [destination]="{ lat: destination.lat, lng: destination.lng }"
                [travelMode]="'DRIVING'"
              ></agm-direction>
            </agm-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<price-offer-model #ModelPrice></price-offer-model>
