.transport-type {
    padding: 0.55rem;
    border-radius: 5px;
    border: 1px dashed rgba(112, 112, 112, 0.27);
    height: 5.4rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.selected-transport-type {
        border: 1px solid rgba(112, 112, 112, 0.27);
        position: relative;
        &:after {
            content: ' ';
            position: absolute;
            width: 100%;
            height: 4px;
            background: #DC2434;
            bottom: 0;
            left: 0;
        }
    }
}

::ng-deep {
    [dir="rtl"] {
        app-actor-most-truck-type-used {
            .apexcharts-yaxis-texts-g {
                &.apexcharts-xaxis-inversed-texts-g {
                    transform: translate(95%, 0) !important
                }
            }
            .apexcharts-datalabels {
                transform: translate(7%, 0) !important;
            }
        }
    }
}
