<div class="card card-custom card-stretch w-100 h-100" [busyIf]="loading">
  <div class="card-body p-4 d-flex flex-column justify-content-center">
    <div>
      <h2>
        {{ 'MostTruckTypeUsed' | localize }}
      </h2>
    </div>
    <div class="row">
      <div class="col-10">
        <div id="chart" *ngIf="chartOptions">
          <apx-chart
            #chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [stroke]="chartOptions.stroke"
            [colors]="chartOptions.colors"
            [title]="chartOptions.title"
            [subtitle]="chartOptions.subtitle"
            [plotOptions]="chartOptions.plotOptions"
            [yaxis]="chartOptions.yaxis"
            [xaxis]="chartOptions.xaxis"
            [tooltip]="chartOptions.tooltip"
            [legend]="legend"
          ></apx-chart>
        </div>
      </div>
      <div class="col-2" *ngIf="allTransportTypes.length > 0">
        <div
          class="clickable-item transport-type"
          *ngFor="let transportType of allTransportTypes; let i = index"
          (click)="selectTransportType(transportType)"
          [class.selected-transport-type]="selectedTransportTypeId == transportType.id"
        >
          <img src="assets/SVG/default-transport-type.svg" alt="" width="30" />
          <div>{{ transportType.displayName }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
