<div
  #createOrEditModal="bs-modal"
  [config]="{ backdrop: 'static' }"
  aria-hidden="true"
  aria-labelledby="createOrEditModal"
  bsModal
  class="modal fade"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form #goodsDetailForm="ngForm" (ngSubmit)="save()" *ngIf="active" autocomplete="off" novalidate>
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="goodsDetail.id">{{ l('EditGoodsDetail') }}</span>
            <span *ngIf="!goodsDetail.id">{{ l('CreateNewGoodsDetail') }}</span>
          </h4>
          <button (click)="close()" [disabled]="saving" aria-label="Close" class="close" type="button">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group m-form__group">
            <label for="GoodCategoryDisplayName">{{ l('GoodCategory') }}</label>
            <select [(ngModel)]="goodsDetail.goodCategoryId" class="form-control" name="goodsDetail.goodCategoryId">
              <option value="">{{ l('SelectAGoodCategory') }}</option>
              <option *ngFor="let item of allGoodCategorys" value="{{ item.id }}">{{ item.displayName }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="GoodsDetail_Description">{{ l('Description') }}</label>
            <input
              [(ngModel)]="goodsDetail.description"
              class="form-control"
              id="GoodsDetail_Description"
              maxlength="256"
              minlength="0"
              name="Description"
              type="text"
            />
          </div>

          <div class="form-group">
            <label for="GoodsDetail_Quantity">{{ l('Quantity') }}</label>
            <input
              [(ngModel)]="goodsDetail.totalAmount"
              class="form-control"
              id="GoodsDetail_Quantity"
              maxlength="128"
              minlength="0"
              name="Quantity"
              type="text"
            />
          </div>

          <div class="form-group">
            <label for="GoodsDetail_Weight">{{ l('Weight') }}</label>
            <input
              [(ngModel)]="goodsDetail.weight"
              class="form-control"
              id="GoodsDetail_Weight"
              maxlength="64"
              minlength="0"
              name="Weight"
              type="text"
            />
          </div>

          <div class="form-group">
            <label for="GoodsDetail_Dimentions">{{ l('Dimentions') }}</label>
            <input
              [(ngModel)]="goodsDetail.dimentions"
              class="form-control"
              id="GoodsDetail_Dimentions"
              maxlength="128"
              minlength="0"
              name="Dimentions"
              type="text"
            />
          </div>

          <br />
          <div class="m-checkbox-list">
            <label class="kt-checkbox" for="GoodsDetail_IsDangerousGood">
              <input [(ngModel)]="goodsDetail.isDangerousGood" id="GoodsDetail_IsDangerousGood" name="IsDangerousGood" type="checkbox" />
              {{ l('IsDangerousGood') }}
              <span></span>
            </label>
          </div>

          <div class="form-group">
            <label for="GoodsDetail_DangerousGoodsCode">{{ l('DangerousGoodsCode') }}</label>
            <input
              [(ngModel)]="goodsDetail.dangerousGoodsCode"
              class="form-control"
              id="GoodsDetail_DangerousGoodsCode"
              maxlength="64"
              minlength="0"
              name="DangerousGoodsCode"
              type="text"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="close()" [disabled]="saving" class="btn btn-default" type="button">{{ l('Cancel') }}</button>
          <button
            [busyText]="l('SavingWithThreeDot')"
            [buttonBusy]="saving"
            [disabled]="!goodsDetailForm.form.valid"
            class="btn btn-save blue"
            type="submit"
          >
            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
