<div class="card card-custom gutter-b card-stretch p-0" [@routerTransition]>
  <!--begin::Body-->
  <div class="card-body p-0">
    <!--begin::Content-->
    <div class="d-flex flex-wrap" [class.justify-content-end]="!isRtl" *ngIf="mapToggle">
      <agm-map [zoom]="zoom" [longitude]="markerLong || 46.675761" [latitude]="markerLat || 24.717942" (mapReady)="mapReady($event)">
        <div id="Settings" class="rounded bg-white p-2" style="height: 50px">
          <div class="form-group row p-1" [class.justify-content-end]="!isRtl">
            <label class="col-3 col-form-label">{{ l('Drivers') }}</label>
            <div class="col-3">
              <span class="switch switch-outline switch-icon switch-danger">
                <label>
                  <input [(ngModel)]="driversToggle" type="checkbox" name="driversToggle" (click)="driverToggle()" />
                  <span></span>
                </label>
              </span>
            </div>
            <label class="col-3 col-form-label">{{ l('Trip') }}</label>
            <div class="col-3">
              <span class="switch switch-outline switch-icon switch-danger">
                <label>
                  <input [(ngModel)]="tripsToggle" type="checkbox" name="tripsToggle" (click)="tripToggle()" />
                  <span></span>
                </label>
              </span>
            </div>
            <div class="col-8 mt-1">
              <div class="card-body p-9 bg-white">
                <div class="fs-6 d-flex justify-content-between mb-4">
                  <div class="fw-semibold">{{ l('ExpectedMileage') }}</div>
                  <div class="d-flex fw-bold">
                    <i class="ki-duotone ki-arrow-up-right fs-3 me-1 text-success"><span class="path1"></span><span class="path2"></span></i>
                    {{totalTripMileage / 1000}} KM
                  </div>
                </div>

                <div class="separator separator-dashed"></div>

                <div class="fs-6 d-flex justify-content-between my-4">
                  <div class="fw-semibold">{{ l('ETA')}}</div>

                  <div class="d-flex fw-bold">
                    <i class="ki-duotone ki-arrow-down-left fs-3 me-1 text-danger"><span class="path1"></span><span class="path2"></span></i>
                    {{!TotalTripEta.isValid() ? l('Unknown') : (TotalTripEta | momentFormat: 'YYYY-MM-DD HH:mm:ss')}}
                  </div>
                </div>

                <div class="separator separator-dashed"></div>

                <div class="fs-6 d-flex justify-content-between mt-4">
                  <div class="fw-semibold">{{l('DeliveryStatus')}}</div>

                  <div class="d-flex fw-bold">
                    <i class="ki-duotone ki-arrow-up-right fs-3 me-1 text-success"><span class="path1"></span><span class="path2"></span></i>
                    <span
                      class="label label-md label-inline"
                      [ngClass]="{
                    'label-danger': etaService.isTripDelayed(TotalTripEta) === 'Delayed',
                    'label-success': etaService.isTripDelayed(TotalTripEta) === 'OnTime',
                    'label-warning': etaService.isTripDelayed(TotalTripEta) === 'Unknown'
                  }"
                      >{{ trip.status == tripStatusesEnum.Delivered || trip.status == tripStatusesEnum.DeliveredAndNeedsConfirmation ? l('Delivered')
                      : l(etaService.isTripDelayed(TotalTripEta)) }}</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-container *ngIf="tripsToggle" id="route">
          <agm-direction
            *ngIf="tripRoute.destination.lat && !markerLong"
            [origin]="{ lat: tripRoute.origin.lat, lng: tripRoute.origin.lng }"
            [destination]="{ lat: tripRoute.destination.lat, lng: tripRoute.destination.lng }"
            [waypoints]="tripRoute.wayPoints"
            [travelMode]="'DRIVING'"
          ></agm-direction>
        </ng-container>
        <ng-container id="markers">
          <!--  Disconnected Driver Marker          -->
          <agm-marker
            *ngIf="driversToggle && driverOnline == false && trip.status === tripStatusesEnum.InTransit"
            [longitude]="driverLiveLocation.lng || tripRoute.origin.lng + 0.1"
            [latitude]="driverLiveLocation.lat || tripRoute.origin.lat + 0.1"
            [iconUrl]="trackingIconsList.offlineDriverIcon"
          >
            <agm-info-window>{{ l('DriverOfflineMessage') }}</agm-info-window>
          </agm-marker>
          <agm-marker
            *ngIf="driversToggle && driverOnline == true && driverLiveLocation.lng"
            [longitude]="driverLiveLocation.lng"
            [latitude]="driverLiveLocation.lat"
            [iconUrl]="trackingIconsList.driverIcon"
          >
          </agm-marker>
        </ng-container>
      </agm-map>
    </div>

    <!--end::Content-->
    <!--begin::Text-->
    <div class="d-flex justify-content-between mb-7 mt-3">
      <p class="text-dark font-weight-bold font-size-h4">{{ l('PointsDetails')}}</p>
      <div class="d-flex flex-row">
        <label class="col-7 col-form-label">{{l('TrackingMap')}}</label>
        <div class="col-3">
          <span class="switch switch-danger switch-outline">
            <label>
              <input (click)="toggleMap()" [(ngModel)]="mapToggle" type="checkbox" checked="checked" name="mapToggle" />
              <span></span>
            </label>
          </span>
        </div>
      </div>
    </div>
    <!--end::Text-->
    <!--begin::Blog-->
    <div class="d-flex flex-column flex-grow-1">
      <!--begin::Head-->
      <div class="card card-custom gutter-b">
        <!--begin::Body-->
        <!--end::Body-->
      </div>
      <!--end::Head-->
      <!--begin::Row-->
      <div class="row d-flex justify-content-center">
        <div class="col-xl-12">
          <!--begin::Card-->
          <div class="card card-custom card-stretch" id="kt_todo_list">
            <!--begin::Body-->
            <div class="card-body p-0">
              <!--begin::Responsive container-->
              <div class="table-responsive">
                <!--begin::Items-->
                <div class="timeline timeline-3">
                  <ngx-skeleton-loader
                    count="4"
                    *ngIf="!routePoints"
                    [animation]="'pulse'"
                    [theme]="{ 'border-radius': '0', height: '100px' }"
                  ></ngx-skeleton-loader>
                  <div class="timeline-items">
                    <ng-container *ngFor="let point of routePoints; let i = index">
                      <ng-container
                        *ngIf="shippingType === ShippingTypeEnum.ExportPortMovements || shippingType === ShippingTypeEnum.ImportPortMovements"
                      >
                        <div class="trip-step-container" *ngIf="i === 0">
                          <div class="trip-step d-flex flex-column">
                            <div>
                              <b>{{ 'FirstTrip' | localize }}</b>
                            </div>
                            <div class="d-flex justify-content-between pt-2">
                              <div>
                                <span class="font-weight-bold mr-1">{{ l('Origin') }}:</span>
                                <a href="#" class="text-muted text-hover-primary">{{ point.address }}</a>
                              </div>
                              <div>
                                <span class="font-weight-bold mr-1">{{ l('Destination') }}: </span>
                                <span class="text-muted">{{ routePoints[i+1].address }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="trip-step-container" *ngIf="i === 2">
                          <div class="trip-step d-flex flex-column">
                            <div>
                              <!--                                <strong>{{ (isExportRequest ? 'SecondTrip' : 'ReturnTrip') | localize }}</strong>-->
                              <b>{{ (shippingType === ShippingTypeEnum.ExportPortMovements ? 'SecondTrip' : 'ReturnTrip') | localize }}</b>
                            </div>
                            <div class="d-flex justify-content-between pt-2">
                              <div>
                                <span class="font-weight-bold mr-1">{{ l('Origin') }}:</span>
                                <a href="#" class="text-muted text-hover-primary">{{ point.address }}</a>
                              </div>
                              <div>
                                <span class="font-weight-bold mr-1">{{ l('Destination') }}: </span>
                                <span class="text-muted">{{ routePoints[i+1].address }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="trip-step-container" *ngIf="i === 4">
                          <div class="trip-step d-flex flex-column">
                            <div>
                              <b>{{ 'ThirdTrip' | localize }}</b>
                            </div>
                            <div class="d-flex justify-content-between pt-2">
                              <div>
                                <span class="font-weight-bold mr-1">{{ l('Origin') }}:</span>
                                <a href="#" class="text-muted text-hover-primary">{{ point.address }}</a>
                              </div>
                              <div>
                                <span class="font-weight-bold mr-1">{{ l('Destination') }}: </span>
                                <span class="text-muted">{{ routePoints[i+1].address }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-container>
                      <div
                        class="timeline-item ribbon ribbon-top
                        {{shippingType === ShippingTypeEnum.ExportPortMovements || shippingType === ShippingTypeEnum.ImportPortMovements ? 'index-'+i : ''}} "
                      >
                        <!--                        Start Of Point Card-->
                        <div *ngIf="trip.tripFlag === TripFlag.Normal || point.pickingType === pickingTypeEnum.Dropoff">
                          <div *ngIf="point.isComplete" class="ribbon-target bg-dark" style="top: -2px; right: 3%; left: auto">
                            {{ l('Completed')}}
                          </div>
                          <a
                            (click)="downloadMultiDropPointWaybill(point.id)"
                            [buttonBusy]="dropWaybillLoadingId == point.id"
                            *ngIf="trip.routeTypeId === routeTypeEnum.MultipleDrops && point.pickingType == pickingTypeEnum.Dropoff"
                            class="ribbon-target bg-dark"
                            style="top: -2px; right: 12%; background-color: #6c757d !important; left: auto"
                          >
                            <i class="fas fa-download text-white mr-2 mb-1"></i>
                            {{ point.waybillNumber}}
                          </a>

                          <div class="timeline-media pulse pulse-{{ point.pickingType == 1 ? 'primary' : 'danger' }}">
                            <i
                              class="flaticon2-{{ point.pickingType == 1 ? 'up' : 'down' }}  {{
                                                point.pickingType == 1 ? 'text-success' : 'text-danger'
                                              }}"
                            ></i>
                            <span class="pulse-ring"></span>
                          </div>
                          <div class="timeline-content" [ngClass]="{ active: item === point.id }">
                            <div class="d-flex align-items-center justify-content-between mb-3 mt-1">
                              <div class="mr-2">
                                <a href="#" class="text-dark-75 text-hover-primary font-weight-bold"
                                  >{{ point.pickingType === pickingTypeEnum.Pickup ? l('Pickup') : l('Drop') }}</a
                                >
                                <span class="text-muted ml-2" *ngIf="point.startTime">{{point.startTime | momentFormat: 'DD/MM/YYYY'}}</span>
                                <span *ngIf="point.endTime"> -</span>
                                <span class="text-muted ml-2" *ngIf="point.endTime">{{point.endTime | momentFormat: 'DD/MM/YYYY'}}</span>
                              </div>

                              <div class="btn-group mt-6" *ngIf="trip.driver ">
                                <!--   Additional steps file transactions       -->
                                <div
                                  class="d-inline-block"
                                  ngbDropdown
                                  *ngIf="additionalFilesTransitions.length > 0 &&
                                        (shippingType == ShippingTypeEnum.ImportPortMovements || shippingType == ShippingTypeEnum.ExportPortMovements)"
                                >
                                  <button
                                    class="btn btn-sm btn-danger mx-2"
                                    ngbDropdownToggle
                                    [buttonBusy]="loadPodForPointId == point.id"
                                    (click)="getPointFile(point.id, transaction)"
                                    *ngFor="let transaction of getTransactionsForPoint(point.id)"
                                  >
                                    {{ transaction.additionalStepTypeTitle | localize}}
                                  </button>
                                  <div ngbDropdownMenu aria-labelledby="dropdownManual" dropdownConfig>
                                    <button
                                      ngbDropdownItem
                                      class="overflow-hidden"
                                      *ngFor="let pod of pointAdditionalFilesList; let x = index"
                                      (click)="downloadPOD(pod)"
                                    >
                                      {{ pod.fileName | slice:0:20 }}{{ '...'}}
                                    </button>
                                  </div>
                                </div>
                                <!--   POD       -->
                                <div
                                  class="d-inline-block"
                                  ngbDropdown
                                  *ngIf="point.isPodUploaded &&
                                        (shippingType != ShippingTypeEnum.ImportPortMovements && shippingType != ShippingTypeEnum.ExportPortMovements)"
                                >
                                  <button
                                    class="btn btn-sm btn-danger mx-2"
                                    ngbDropdownToggle
                                    [buttonBusy]="loadPodForPointId == point.id"
                                    (click)="getPodListForPoint(point)"
                                  >
                                    {{l('POD')}}
                                  </button>
                                  <div ngbDropdownMenu aria-labelledby="dropdownManual" dropdownConfig>
                                    <button
                                      ngbDropdownItem
                                      class="overflow-hidden"
                                      *ngFor="let pod of pointPodList; let x = index"
                                      (click)="downloadPOD(pod)"
                                    >
                                      {{ pod.fileName | slice:0:20 }}{{ '...'}}
                                    </button>
                                  </div>
                                </div>

                                <div
                                  class="d-inline-block"
                                  ngbDropdown
                                  *ngIf="point.isDeliveryNoteUploaded &&
                                        (shippingType != ShippingTypeEnum.ImportPortMovements && shippingType != ShippingTypeEnum.ExportPortMovements)"
                                >
                                  <button
                                    class="btn btn-sm btn-danger mx-2"
                                    ngbDropdownToggle
                                    [buttonBusy]="loadPodForPointId == point.id"
                                    (click)="getDeliveryNoteListForPoint(point)"
                                  >
                                    {{l('DeliveryNote')}}
                                  </button>
                                  <div ngbDropdownMenu aria-labelledby="dropdownManual" dropdownConfig>
                                    <button
                                      ngbDropdownItem
                                      class="overflow-hidden"
                                      *ngFor="let deliverNote of pointDeliveryNoteList; let x = index"
                                      (click)="downloadPOD(deliverNote)"
                                    >
                                      {{ deliverNote.fileName | slice:0:20 }}{{ '...'}}
                                    </button>
                                  </div>
                                </div>

                                <button *ngIf="point.isResolve" (click)="showPointLog(point.id)" class="btn btn-sm btn-danger mr-1 ml-1">
                                  {{ l('ActivityLog') }}
                                </button>
                                <!--    trip actions-->
                                <ng-container
                                  *ngIf="(shippingType == ShippingTypeEnum.ImportPortMovements || shippingType == ShippingTypeEnum.ExportPortMovements) &&
                                                            i == 0 && point.pickingType == pickingTypeEnum.Pickup && trip.status === tripStatusesEnum.New && trip.canDriveTrip"
                                >
                                  <button
                                    *ngIf="trip.driverStatus === driverStatusesEnum.None"
                                    (click)="accept()"
                                    class="btn btn-sm btn-danger"
                                    [buttonBusy]="saving"
                                  >
                                    {{l('AcceptTrip')}}
                                  </button>
                                  <button
                                    *ngIf="trip.driverStatus === driverStatusesEnum.Accepted"
                                    (click)="start()"
                                    class="btn btn-sm btn-danger"
                                    [buttonBusy]="saving"
                                  >
                                    {{l('StartTrip')}}
                                  </button>
                                </ng-container>

                                <ng-container
                                  *ngIf="(shippingType == ShippingTypeEnum.ImportPortMovements || shippingType == ShippingTypeEnum.ExportPortMovements) &&
                                                            trip.status === tripStatusesEnum.InTransit && trip.canDriveTrip &&
                                                            (i > 0 && canStartAnotherPoint && point.status == RoutePointStatus.StandBy) &&
                                                            routePoints[i-1].canGoToNextLocation
                                                    "
                                >
                                  <button
                                    *ngIf="trip.driverStatus === driverStatusesEnum.Accepted"
                                    (click)="nextLocation(point)"
                                    class="btn btn-sm btn-danger"
                                    [buttonBusy]="saving"
                                  >
                                    {{l('StartTrip')}}
                                  </button>
                                </ng-container>
                                <div
                                  class="d-inline-block"
                                  ngbDropdown
                                  *ngIf="(shippingType != ShippingTypeEnum.ImportPortMovements && shippingType != ShippingTypeEnum.ExportPortMovements) &&
                                                  point.pickingType == pickingTypeEnum.Pickup && trip.status === tripStatusesEnum.New && trip.canDriveTrip"
                                >
                                  <button class="btn btn-sm btn-danger" ngbDropdownToggle [buttonBusy]="saving">{{l('Actions')}}</button>

                                  <div ngbDropdownMenu aria-labelledby="dropdownManual" dropdownConfig>
                                    <button ngbDropdownItem (click)="accept()" *ngIf="trip.driverStatus === driverStatusesEnum.None">
                                      {{ l('AcceptTrip') }}
                                    </button>
                                    <button
                                      ngbDropdownItem
                                      (click)="start()"
                                      *ngIf="trip.status === tripStatusesEnum.New && trip.driverStatus == driverStatusesEnum.Accepted"
                                    >
                                      {{ l('StartTrip') }}
                                    </button>
                                  </div>
                                </div>
                                <!--                      points DropDown Actions      -->
                                <div
                                  *ngIf="(shippingType != ShippingTypeEnum.ImportPortMovements && shippingType != ShippingTypeEnum.ExportPortMovements) &&
                                                  !point.isComplete && trip.status !== tripStatusesEnum.New && trip.driver && (trip.canDriveTrip) "
                                  class="d-inline-block"
                                  ngbDropdown
                                >
                                  <button
                                    [disabled]="!canDoActionsOnPoints(point)"
                                    class="btn btn-sm btn-danger"
                                    id="dropdownConfig"
                                    ngbDropdownToggle
                                    [buttonBusy]="busyPointId == point.id"
                                  >
                                    <!--     || (point.pickingType == 2 && !point.isActive || point.availableTransactions.length === 0)-->
                                    {{l('Actions')}}
                                  </button>
                                  <div ngbDropdownMenu aria-labelledby="dropdownManual" dropdownConfig>
                                    <button
                                      ngbDropdownItem
                                      (click)="nextLocation(point)"
                                      *ngIf="trip.routeTypeId === routeTypeEnum.MultipleDrops && !point.isResolve && !point.isComplete && canStartAnotherPoint"
                                    >
                                      {{ l('StartDropPoint') }}
                                    </button>
                                    <button
                                      ngbDropdownItem
                                      *ngFor="let transaction of point.availableTransactions; let x = index"
                                      (click)="invokeStatus(point , transaction)"
                                    >
                                      {{ transaction.name }}
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="d-flex flex-column">
                              <p class="p-0">{{l('Address')}} : {{point.address}}</p>
                              <p class="p-0">{{l('Receiver')}} : {{point.receiverFullName}}</p>
                              <ng-container
                                *ngIf="point.pickingType === pickingTypeEnum.Dropoff && etaValues[point.id]?.tripETA.isValid() && trip.status == tripStatusesEnum.InTransit"
                              >
                                <p class="p-0">{{l('ETA')}} : {{ etaValues[point.id]?.ETA}}</p>
                                <p class="p-0">{{l('ETADateTime')}} : {{ etaValues[point.id]?.tripETA | momentFormat: 'YYYY-MM-DD HH:mm:ss'}}</p>
                                <p class="p-0">{{l('DistanceToArrive')}} : {{ etaValues[point.id]?.distance}}</p>
                              </ng-container>
                              <p class="p-0 d-flex flex-row">
                                <span class="mt-1 mr-2">{{l('FacilityRating')}} :</span>
                                <p-rating [ngModel]="point.facilityRate" readonly="true" stars="5" [cancel]="false"></p-rating>
                              </p>
                              <div class="flex-row" *ngIf="!appSession.tenantId && point.pickingType == 2">
                                <p class="p-0 mr-2">
                                  {{l('ReceiverCode')}} : {{point.receiverCode}}

                                  <i
                                    *ngIf="!point.isResolve && !point.isComplete"
                                    (click)="resetReceiverCode(point.id,i)"
                                    class="flaticon-refresh text-hover-primary ml-2"
                                    data-toggle="tooltip"
                                    title="{{l('ResetReceiverCode')}}"
                                  ></i>
                                </p>
                              </div>

                              <div class="card">
                                <app-custom-timeline
                                  [steps]="getStepperSteps(point.statues)"
                                  [point]="point"
                                  [shippingType]="shippingType"
                                  [busyPointId]="busyPointId"
                                  (invokeStatus)="!$event.isUploadStep ? invokeStatus($event.point, $event.transaction): invokeUploadStep($event.point, $event.transaction)"
                                  [saving]="saving"
                                ></app-custom-timeline>
                                <!--                                              <p-timeline #timeline [value]="getStepperSteps(point.statues)" layout="horizontal" align="top">-->
                                <!--                                                  <ng-template pTemplate="marker" let-event>-->
                                <!--                                                      <app-custom-marker [isDone]="event.isDone"-->
                                <!--                                                                         [point]="point"-->
                                <!--                                                                         [index]="event.index"-->
                                <!--                                                                         [color]="event.color"-->
                                <!--                                                                         [styleClass]="isClickable(point, event).class"-->
                                <!--                                                                         [canClick]="isClickable(point, event).canClick"-->
                                <!--                                                                         (invokeStatus)="invokeStatus($event.point, $event.transaction)"-->
                                <!--                                                      ></app-custom-marker>-->
                                <!--&lt;!&ndash;                                                      <span (click)="clickedOnStep(point, isClickable(point, event).canClick)"&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                          class="custom-marker p-shadow-2 {{event.isDone ? 'p-disabled' : isClickable(point, event).class}}" &ndash;&gt;-->
                                <!--&lt;!&ndash;                                                          [style.backgroundColor]="event.color">&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                        {{event.index}}&ndash;&gt;-->
                                <!--&lt;!&ndash;                                                      </span>&ndash;&gt;-->
                                <!--                                                  </ng-template>-->
                                <!--                                                  <ng-template pTemplate="content" let-event>-->
                                <!--                                                      <div class="{{isClickable(point, event).canClick ? 'btn btn-primary' : ''}}" (click)="clickedOnStep(point, isClickable(point, event).canClick)">-->
                                <!--                                                          <span class="font-weight-bolder text-dark {{event.isDone ? 'p-disabled' : ''}}">-->
                                <!--                                                              {{event.status}}-->
                                <!--                                                          </span>-->
                                <!--                                                          <br />-->
                                <!--                                                          <span class="text-muted mt-3 font-weight-bold font-size-sm">-->
                                <!--                                                              {{event.time | momentFormat: 'YYYY-MM-DD HH:mm:ss' }}-->
                                <!--                                                          </span>-->
                                <!--                                                      </div>-->
                                <!--                                                  </ng-template>-->
                                <!--                                              </p-timeline>-->
                              </div>
                            </div>
                          </div>
                        </div>
                        <!--                        End of Point Card-->
                      </div>
                    </ng-container>
                  </div>
                  <!--end::Items-->
                </div>
                <!--end::Responsive container-->
              </div>
              <!--end::Body-->
            </div>
            <!--end::Card-->
          </div>
        </div>
        <!--end::Row-->
      </div>
      <!--end::Blog-->
    </div>
    <!--end::Body-->
  </div>
  <tacking-confirm-code-model #modelconfirm (modalConfirm)="getForView()"></tacking-confirm-code-model>
  <app-entity-log #appEntityLog [entityType]="1"></app-entity-log>
  <tacking-pod-model #modelpod (modalConfirm)="getForView()"></tacking-pod-model>
  <shared-file-viewer #fileViwerComponent></shared-file-viewer>
  <app-upload-additional-documents #additionalDocumentsComponent></app-upload-additional-documents>
</div>
