.modalSendOffer agm-map {
  height: 100%;
}

.modalSendOffer .modal-xl {
  max-width: 93.33% !important;
  margin-left: auto;
  margin-right: auto;
}

.modalSendOffer .modal-body,
.modalSetPrice .modal-body {
  display: flex;
  padding: 0;
}

.modalSendOffer .modal-body .closeModal,
.modalSetPrice .modal-body .closeModal {
  position: absolute;
  right: -11px;
  top: -11px;
  border-radius: 50%;
  background: #d82631;
  opacity: 1;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 9;
}

.modalSendOffer.rtl .modal-body .closeModal,
.modalSetPrice.rtl .modal-body .closeModal {
  right: unset;
  left: -11px;
}

.modalSendOffer .modal-body .closeModal:hover,
.modalSendOffer .modal-body .closeModal:focus,
.modalSetPrice .modal-body .closeModal:hover,
.modalSetPrice .modal-body .closeModal:focus {
  box-shadow: none;
  opacity: 1;
  border: none;
  outline: none;
}

.modalSendOffer .modal-body .closeModal i,
.modalSetPrice .modal-body .closeModal i {
  font-size: 18px;
  color: #fff;
}

.modalSendOffer .modal-body .detailsContent {
  flex: 0 0 330px;
  max-width: 330px;
  background-color: #fff;
  padding: 20px 12px;
}

.modalSetPrice .modal-body .contentSetPrice {
  flex: 0 0 100%;
  max-width: 100%;
  background-color: #fff;
  padding: 20px 12px;
}

.modalSendOffer .modal-body .map {
  flex: 0 0 calc(100% - 330px);
  max-width: calc(100% - 330px);
  background-color: #d8d8d8;
}

.modalSendOffer.tachyonDialer .detailsContent,
.modalSetPrice .modal-body .contentSetPrice {
  position: relative;
}

.modalSendOffer.tachyonDialer img.markTachyon,
.modalSetPrice.tachyonDialer img.markTachyon {
  position: absolute;
  right: 26px;
  width: 26px;
  top: -6px;
}

.modalSendOffer.rtl.tachyonDialer img.markTachyon,
.modalSetPrice.rtl.tachyonDialer img.markTachyon {
  position: absolute;
  right: unset;
  left: 26px;
  width: 26px;
  top: -6px;
  transform: rotateY(180deg);
}

.modalSendOffer:not(.tachyonDialer) img.markTachyon,
.modalSetPrice:not(.tachyonDialer) img.markTachyon {
  display: none;
}

.modalSendOffer .detailsContent > div,
.modalSetPrice .contentSetPrice > div {
  display: flex;
}

.modalSendOffer .detailsContent .infoBasic,
.modalSetPrice .contentSetPrice .infoBasic {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 20px;
}

.modalSendOffer .detailsContent .infoBasic .companyName,
.modalSetPrice .contentSetPrice .infoBasic .companyName {
  display: inline-block;
  font-size: 18px;
  color: #707070;
  font-weight: 500;
}

.modalSendOffer.tachyonDialer .detailsContent .infoBasic .companyName,
.modalSetPrice.tachyonDialer .contentSetPrice .infoBasic .companyName {
  color: #d82631;
}

.modalSendOffer .infoHighLight {
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px 15px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.modalSendOffer .infoHighLight.green {
  background-color: #cef1cd;
  color: #0bb805;
}

.modalSendOffer .detailsContent .detailsRoad {
  flex-wrap: wrap;
  position: relative;
  padding-left: 15px;
}

.modalSendOffer.rtl .detailsContent .detailsRoad {
  padding-left: unset;
  padding-right: 15px;
  text-align: right;
}

.modalSendOffer .detailsContent .detailsRoad::before {
  content: '';
  position: absolute;
  left: -3px;
  top: 6px;
  width: 16px;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url('/assets/custom/imgs/iconRoad.png');
  background-size: 11px calc(100% - 31px);
}

.modalSendOffer.rtl .detailsContent .detailsRoad::before {
  left: unset;
  right: -6px;
}

.modalSendOffer .detailsContent .detailsRoad > div {
  flex: 0 0 100%;
  max-width: 100%;
}

.modalSendOffer .detailsContent .detailsRoad > div:nth-child(1) {
  margin-bottom: 18px;
}

.modalSendOffer .detailsContent .detailsRoad p {
  margin-bottom: 0;
  font-size: 14px;
  color: #92a1b1;
}

.modalSendOffer .detailsContent .detailsRoad p:nth-child(1) {
  margin-bottom: 3px;
  color: #d82631;
}

.modalSendOffer .detailsContent .divirCard,
.modalSetPrice .contentSetPrice .divirCard {
  width: 100%;
  margin: 15px 0;
  height: 1px;
  background-color: #e1e1e1;
}

.modalSendOffer .detailsShip {
  flex-wrap: wrap;
}

.modalSendOffer .detailsShip p {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 15px;
}

.modalSendOffer .detailsShip p span:nth-child(1) {
  color: #000;
  font-weight: 500;
}

.modalSendOffer .detailsShip p span:nth-child(2) {
  color: #92a1b1;
}

.modalSendOffer .setPrice,
.modalSetPrice .sendOffer {
  margin-top: 20px;
}

.modalSendOffer .setPrice button,
.modalSetPrice .sendOffer button {
  background-color: #d82631;
  color: #ffff;
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 8px;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid #d82631;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.modalSetPrice .sendOffer button {
  margin: auto;
  max-width: 400px;
}

.modalSetPrice .table-sendOffer,
.modalSetPrice .table-vas,
.modalSendOffer .table-vas {
  flex-wrap: wrap;
}

.modalSetPrice .table-vas > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.modalSetPrice .table-sendOffer .titleSendOffer,
.modalSetPrice .table-vas .titleVas,
.modalSendOffer .table-vas .titleVas {
  color: #000;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 7px;
}

.modalSetPrice .table-vas > div input,
.modalSetPrice .table-vas > div select {
  font-size: 14px;
  padding: 2px 4px;
  border: 1px solid #e1e1e1;
  color: #92a1b1;
}

.modalSetPrice .table-vas > div input::placeholder {
  color: #92a1b1;
}

.modalSetPrice .table-sendOffer table,
.modalSetPrice .table-vas table,
.modalSendOffer .table-vas table {
  width: 100%;
  white-space: nowrap;
  font-size: 14px;
}

.modalSetPrice .table-sendOffer table input,
.modalSetPrice .table-vas table input,
.modalSendOffer .table-vas table input,
.modalSetPrice .table-sendOffer table select {
  border: none;
  padding: 2px 4px;
  font-size: 14px;
  width: 100%;
  background-color: transparent;
}

.modalSetPrice .table-sendOffer table tr > *:last-of-type,
.modalSetPrice .table-vas table tr > *:last-of-type {
  width: 150px;
}

.modalSendOffer .table-vas table tr > *:last-of-type {
  width: 100px;
}

.modalSendOffer .table-vas table tr > *:last-of-type > span:nth-child(2),
.modalSetPrice .table-sendOffer table tr > *:last-of-type > span:nth-child(2),
.modalSetPrice .table-vas table tr > *:last-of-type > span:nth-child(2) {
  float: right;
}

.rtl .table-vas table tr > *:last-of-type,
.rtl .table-sendOffer table tr > *:last-of-type {
  text-align: right;
}

.rtl .table-vas table tr > *:last-of-type > span:nth-child(2),
.rtl .table-sendOffer table tr > *:last-of-type > span:nth-child(2) {
  float: left;
}

.modalSetPrice .table-sendOffer table th,
.modalSetPrice .table-vas table th,
.modalSendOffer .table-vas table th,
.modalSetPrice .table-sendOffer table td,
.modalSetPrice .table-vas table td,
.modalSendOffer .table-vas table td {
  border: 1px solid #e1e1e1;
  font-size: 14px;
  padding: 2px 8px;
  position: relative;
}

.modalSetPrice .table-sendOffer table th,
.modalSetPrice .table-vas table th,
.modalSendOffer .table-vas table th {
  background-color: #f1f1f1;
  color: #000;
  font-weight: 500;
}

.rtl th,
.rtl td {
  text-align: right !important;
}

.modalSetPrice .table-sendOffer table td,
.modalSetPrice .table-vas table td,
.modalSendOffer .table-vas table td {
  color: #92a1b1;
}

.modalSendOffer .resultPrice,
.modalSetPrice .resultPrice {
  flex-wrap: wrap;
}

.modalSendOffer .resultPrice p,
.modalSetPrice .resultPrice p {
  margin: 0;
  padding: 3px 6px;
  font-size: 14px;
}

.modalSendOffer .resultPrice > div,
.modalSetPrice .resultPrice > div {
  margin-bottom: 2px;
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  white-space: nowrap;
  border: 1px solid #e1e1e1;
}

.modalSendOffer .resultPrice > div > p:nth-child(1),
.modalSetPrice .resultPrice > div > p:nth-child(1) {
  flex: 0 0 140px;
  max-width: 140px;
  min-width: 140px;
  color: #d82631;
  background-color: #f7d3d5;
}

.modalSendOffer.rtl .resultPrice > div > p:nth-child(1),
.modalSetPrice.rtl .resultPrice > div > p:nth-child(1) {
  text-align: right;
}

.modalSendOffer .resultPrice > div > p:nth-child(2),
.modalSetPrice .resultPrice > div > p:nth-child(2) {
  flex: 0 0 calc(100% - 140px);
  max-width: calc(100% - 140px);
  min-width: 140px;
  display: flex;
  justify-content: space-between;
  color: #92a1b1;
}

.modalSendOffer .sendOffer {
  margin-top: 20px;
}

label.error {
  position: absolute;
  left: 0;
  bottom: -33px;
  background-color: #d82631;
  padding: 4px 8px;
  font-size: 13px;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

label.error::before {
  content: '\f06a';
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  margin-right: 4px;
}

.rtl label.error::before {
  float: right;
  margin-right: unset;
  margin-left: 4px;
}

label.error::after {
  content: '\f0d8';
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  color: #d82631;
  position: absolute;
  left: 9px;
  top: -17px;
  font-size: 21px;
}

.rtl label.error::after {
  left: unset;
  right: 9px;
}

@media (min-width: 0.1px) and (max-width: 767.9px) {
  .modalSendOffer .modal-body {
    flex-wrap: wrap;
  }

  .modalSendOffer .modal-body .detailsContent {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .modalSendOffer .modal-body .map {
    flex: 0 0 100%;
    max-width: 100%;
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 991.9px) {
  .modalSendOffer .modal-body .detailsContent {
    flex: 0 0 310px;
    max-width: 310px;
  }

  .modalSendOffer .modal-body .map {
    flex: 0 0 calc(100% - 310px);
    max-width: calc(100% - 310px);
  }
}

.modalSetPrice {
  background-color: rgba(0, 0, 0, 0.5);
}

.modalSetPrice .table-sendOffer .titleSendOffer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.modalSetPrice.rtl .table-sendOffer .titleSendOffer {
  /* justify-content: flex-start; */
  direction: rtl;
}

.modalSetPrice .table-sendOffer .titleSendOffer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  padding: 4px 8px;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

.modalSetPrice.rtl .table-sendOffer .titleSendOffer a {
  margin-right: unset;
  margin-left: 8px;
}

.modalSetPrice .table-sendOffer .titleSendOffer a:last-child {
  margin-right: 0;
}

.modalSetPrice .table-sendOffer .titleSendOffer a:hover {
  text-decoration: none;
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
  -ms-transform: scale(1.015);
  -o-transform: scale(1.015);
}

.modalSetPrice .table-sendOffer .titleSendOffer a i {
  font-size: 16px;
  margin-right: 5px;
}

.modalSetPrice.rtl .table-sendOffer .titleSendOffer a i {
  margin-right: unset;
  margin-left: 5px;
}

.modalSetPrice .table-sendOffer .titleSendOffer a.edit {
  background: #1a75d2;
}

.modalSetPrice .table-sendOffer .titleSendOffer a.delete {
  background: #b00020;
}

.modalSetPrice .table-sendOffer .titleSendOffer a.reject {
  background: #ababab;
}

.modalSetPrice .table-sendOffer .titleSendOffer a.accept {
  background: #00b74a;
}
.modalSetPrice .table-sendOffer .titleSendOffer a.acceptTMS {
  background: #2c0172;
}
