<div
  bsModal
  #modal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" novalidate (ngSubmit)="save()">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>{{ l('Notes') }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>{{ 'Note' }}</label>
            <textarea class="form-control" type="text" name="note" [(ngModel)]="noteInput.note"></textarea>
          </div>
          <div class="form-check">
            <input id="canBePrinted" class="form-check-input" type="checkbox" [(ngModel)]="noteInput.canBePrinted" name="canBePrinted" />
            <label class="form-check-label" for="canBePrinted">
              {{ 'CanBePrinted' }}
            </label>
          </div>
          <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">
              {{ 'Cancel' }}
            </button>
            <button type="submit" class="btn btn-primary" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot' | localize)">
              <i class="fa fa-save"></i> <span>{{ 'Save' }}</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
