<div [@routerTransition]>
  <!-- [description]="'DocumentTypesHeaderInfo' | localize" -->
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'Waybills' | localize">
      <div role="actions">
        <!--        <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{ l('ExportToExcel') }}</button>-->

        <button (click)="AddNewTripModal.show()" class="btn btn-primary blue mr-2"><i class="fa fa-plus"></i> {{ l('NewWaybill') }}</button>

        <!-- Excel Operations-->
        <div
          *ngIf="isEnabled('App.ImportFunctionality') && isEnabled('App.ImportFunctionality.ImportSaasShipmentFeature')"
          class="btn-group"
          dropdown
          [busyIf]="loading"
        >
          <button
            dropdownToggle
            type="button"
            class="btn btn-outline-success dropdown-toggle mr-1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="far fa-file-excel"></i> {{ 'ExcelOperations' | localize }}
          </button>
          <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu>
            <!-- *ngIf="'Pages.ShippingRequestTrips.Create' | permission" -->
            <div class="no-padding">
              <span class="fileinput-button">
                <p-fileUpload
                  customUpload="true"
                  name="ExcelFileUpload"
                  #ExcelFileUpload
                  maxFileSize="10000000"
                  auto="auto"
                  accept=".csv,.xls,.xlsx"
                  (uploadHandler)="uploadExcel($event)"
                  (onError)="onUploadExcelError()"
                  chooseLabel="{{ 'ImportTripFromExcel' | localize }}"
                >
                </p-fileUpload>
                <span class="dropdown-item-text text-muted pl-3" href="#">
                  <small
                    [innerHTML]="
                      l('ImportToExcelSampleFileDownloadInfo', '<a href=/assets/sampleFiles/Import_SAAS_Trip_details.xlsx>' + l('ClickHere') + '</a>')
                    "
                  ></small>
                </span>
              </span>
            </div>

            <div class="no-padding">
              <span class="fileinput-button">
                <p-fileUpload
                  customUpload="true"
                  name="PointExcelFileUpload"
                  #PointExcelFileUpload
                  maxFileSize="10000000"
                  auto="auto"
                  accept=".csv,.xls,.xlsx"
                  (uploadHandler)="uploadPointsExcel($event)"
                  (onError)="onUploadExcelError()"
                  chooseLabel="{{ 'ImportPointFromExcel' | localize }}"
                  [disabled]="dataSource.totalCount == 0"
                >
                </p-fileUpload>
                <span class="dropdown-item-text text-muted pl-3" href="#">
                  <small
                    [innerHTML]="
                      l('ImportToExcelSampleFileDownloadInfo', '<a href=/assets/sampleFiles/Import_trip_points.xlsx>' + l('ClickHere') + '</a>')
                    "
                  ></small>
                </span>
              </span>
            </div>

            <div class="no-padding">
              <span class="fileinput-button">
                <p-fileUpload
                  customUpload="true"
                  name="GoodDetailsExcelFileUpload"
                  #GoodDetailsExcelFileUpload
                  maxFileSize="10000000"
                  auto="auto"
                  accept=".csv,.xls,.xlsx"
                  (uploadHandler)="uploadGoodDetailsExcel($event)"
                  (onError)="onUploadExcelError()"
                  chooseLabel="{{ 'ImportGoodDetailsFromExcel' | localize }}"
                  [disabled]="dataSource.totalCount == 0"
                >
                </p-fileUpload>
                <span class="dropdown-item-text text-muted pl-3" href="#">
                  <small
                    [innerHTML]="
                      l(
                        'ImportToExcelSampleFileDownloadInfo',
                        '<a href=/assets/sampleFiles/Import_goods_details_dedicated.xlsx>' + l('ClickHere') + '</a>'
                      )
                    "
                  ></small>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <div class="row align-items-center">
            <dx-data-grid
              style="height: 45vw"
              #grid
              id="dataGrid"
              [dataSource]="dataSource"
              [remoteOperations]="{ groupPaging: true, sorting: true, filtering: true }"
              [showColumnLines]="true"
              [showRowLines]="false"
              [showBorders]="true"
              [rowAlternationEnabled]="true"
              keyExpr="id"
              [wordWrapEnabled]="true"
              (onRowExpanded)="getForView($event)"
              (onRowCollapsed)="collapsedRow($event)"
              (onExporting)="onExporting($event)"
            >
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-search-panel [visible]="true" placeholder="{{ 'Search' | localize }}..."></dxo-search-panel>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-filter-builder-popup [position]="popupPosition"></dxo-filter-builder-popup>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-group-panel [visible]="true" emptyPanelText="{{ l('DragAColumnHeaderHereToGroupByThatColumn') }}"></dxo-group-panel>
              <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
              <dxo-selection mode="multiple"></dxo-selection>
              <!--              <dxo-remote-operations [groupPaging]="true" [sorting]="true" [filtering]="true"> </dxo-remote-operations>-->
              <dxo-paging [pageSize]="20"></dxo-paging>
              <dxo-summary>
                <dxi-group-item column="id" summaryType="count"> </dxi-group-item>
              </dxo-summary>
              <dxo-summary> <dxi-total-item column="displayName" summaryType="count"> </dxi-total-item> </dxo-summary>
              <dxo-master-detail [enabled]="true" template="masterDetail"></dxo-master-detail>

              <dxi-column
                cellTemplate="cellTemplateActions"
                [allowFiltering]="false"
                [allowSorting]="false"
                [allowEditing]="false"
                [editorOptions]="{ visible: false }"
                [fixed]="true"
                [fixedPosition]="!isRtl ? 'right' : 'right'"
              ></dxi-column>

              <dxi-column dataField="waybillNumber" caption="{{ l('WaybillNumber') }}"></dxi-column>
              <dxi-column dataField="origin" caption="{{ l('Origin') }}"></dxi-column>
              <dxi-column dataField="destination" caption="{{ l('Destination') }}"></dxi-column>

              <dxi-column dataField="startTripDate" caption="{{ l('StartTripDate') }}" cellTemplate="startTripDateTemplate"></dxi-column>
              <dxi-column dataField="endWorking" caption="{{ l('EndTripDate') }}" cellTemplate="endTripDateTemplate"></dxi-column>

              <dxi-column dataField="driver" caption="{{ l('Driver') }}"></dxi-column>
              <dxi-column dataField="truck" caption="{{ l('PlateNumber') }}"></dxi-column>
              <dxi-column dataField="routeType" caption="{{ l('RouteType') }}" cellTemplate="routeTypeTemplate"></dxi-column>
              <dxi-column dataField="numberOfDrops" caption="{{ l('NumberOfDrops') }}"></dxi-column>
              <dxi-column dataField="shipperActorName" caption="{{ l('Actor') + ' ' + l('Shipper') }}"></dxi-column>
              <dxi-column dataField="carrierActorName" caption="{{ l('Actor') + ' ' + l('Carrier') }}"></dxi-column>
              <dxi-column dataField="containerNumber" caption="{{ l('ContainerNumber') }}"></dxi-column>
              <dxi-column dataField="status" caption="{{ l('Status') }}"></dxi-column>

              <div *dxTemplate="let d of 'startTripDateTemplate'">
                <span>
                  {{ d?.data?.startTripDate | date: 'yyyy/MM/dd hh:mm a' }}
                </span>
              </div>
              <div *dxTemplate="let d of 'endTripDateTemplate'">
                <span>
                  {{ d?.data?.endWorking | date: 'yyyy/MM/dd hh:mm a' }}
                </span>
              </div>
              <div *dxTemplate="let d of 'routeTypeTemplate'">
                <span>
                  {{ d?.data?.routeType | localize }}
                </span>
              </div>
              <div *dxTemplate="let options of 'cellTemplateActions'">
                <div class="btn-group dropdown" dropdown container="body">
                  <button class="btn btn-sm btn-primary mr-2" dropdownToggle>
                    <!--                    <span class="svg-icon svg-icon-md">-->
                    <!--                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">-->
                    <!--                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">-->
                    <!--                          <rect x="0" y="0" width="24" height="24"></rect>-->
                    <!--                          <path-->
                    <!--                            d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z"-->
                    <!--                            fill="#000000"-->
                    <!--                          ></path>-->
                    <!--                        </g>-->
                    <!--                      </svg>-->
                    <!--                    </span>-->
                    {{ l('Actions') }}
                  </button>

                  <ul class="dropdown-menu" *dropdownMenu>
                    <li>
                      <a class="dropdown-item" (click)="ViewTripModal.show(options.data.id)">{{ l('View') }}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="showEdit(options.data.id)">{{ l('Edit') }}</a>
                    </li>
                  </ul>
                </div>
              </div>

              <div *dxTemplate="let masterDetailItem of 'masterDetail'">
                <div class="card with-border">
                  <div class="card-header pb-2">
                    <h3>
                      {{ 'SubWaybill' | localize }}
                    </h3>
                  </div>
                  <div class="card-body p-0">
                    <dx-data-grid
                      [dataSource]="masterDetailItem?.data?.tripSubDetails?.routPoints"
                      [remoteOperations]="false"
                      [wordWrapEnabled]="true"
                    >
                      <dxi-column dataField="waybillNumber" caption="{{ 'SubWaybill' | localize }}"></dxi-column>
                      <dxi-column dataField="address" caption="{{ 'Destination' | localize }}"></dxi-column>
                    </dx-data-grid>
                  </div>
                </div>
              </div>
              <dxo-export [enabled]="true" [allowExportSelectedData]="true"></dxo-export>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<AddNewTripModal [shippingRequest]="shippingRequest" #AddNewTripModal (modalSave)="grid.instance.refresh()"></AddNewTripModal>
<viewTripModal #ViewTripModal (modalSave)="grid.instance.refresh()"></viewTripModal>

<app-view-imported-trips-from-excel-modal
  [ImportedTripsList]="list"
  [isDedicatedRequest]="true"
  #ViewImportedTripsModal
  (modalSave)="reloadPage()"
></app-view-imported-trips-from-excel-modal>
<app-view-imported-points-from-excel-modal
  [ImportedPointsList]="pointsList"
  #ViewImportedPointsModal
  (modalSave)="reloadPage()"
></app-view-imported-points-from-excel-modal>
<app-view-imported-good-details-from-excel-modal [ImportedGoodDetailsList]="goodDetailsList" #ViewImportedGoodDetailsModal (modalSave)="reloadPage()">
</app-view-imported-good-details-from-excel-modal>
