@font-face {
  font-family: 'ArGEFlow';
  font-weight: bold;
  src: url(../../fonts/tachyonFonts/ar/GE_Flow_Regular.otf) format('opentype');
  /* src: url('../../fonts/tachyonFonts/ar/GE_Flow_Bold.otf') format('opentype'); */
}

body {
  font-family: 'ArGEFlow' !important;
}
html {
  font-family: 'ArGEFlow' !important;
}
:root {
  font-family: 'ArGEFlow' !important;
}
.langname:after {
  content: '\200E‎' !important;
}
.dropdown-menu-right {
  left: 0px !important;
  right: auto !important;
}

li.dropdown-language ul.dropdown-menu li a:after {
  content: '\200E‎' !important;
}

.custom-file-label:after {
  left: 0;
  right: auto;
  border-left-width: 0;
  border-right: inherit;
}

.ui-button-icon-left {
  padding: 0 !important;
  position: absolute;
  right: 20px !important;
  left: auto !important;
}
.dropdown-excel-operations a .ui-button-text {
  font-family: 'ArGEFlow' !important;
  padding: 0 !important;
  position: absolute;
  right: 41px;
  top: 6px;
}

.tenant-change-component:after {
  content: '\200E‎' !important;
}

.ou-text:after {
  content: '\200E‎' !important;
}

div.income-statistics label.m-btn--pill {
  margin-left: 0px;
}

span.m-menu__arrow {
  right: 58px !important;
}

nav.m-menu__submenu--right span.m-menu__arrow {
  transform: rotate(180deg) !important;
  width: 40px !important;
  right: 0 !important;
}

.contact-status1 {
  right: 30px !important;
}

.page-quick-sidebar-pinner {
  right: 390px !important;
}

.kt-quick-panel__close {
  right: 360px !important;
}

.selected-chat-user div.actions {
  float: left !important;
}

.dropdown-menu[x-placement^='top'],
.dropdown-menu[x-placement^='right'],
.dropdown-menu[x-placement^='bottom'],
.dropdown-menu[x-placement^='left'] {
  right: auto;
  bottom: auto;
}

.ui-tree .ui-treenode-children {
  padding-right: 20px !important;
}

.kt-header__topbar div.dropdown-menu {
  left: 0px !important;
  right: auto !important;
}
