<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'FinancialTransActionMenu' | localize">
      <div role="actions">
        <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{ l('ExportToExcel') }}</button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <div class="row align-items-center">
            <dx-data-grid
              style="height: 45vw"
              #grid
              id="dataGrid"
              [dataSource]="dataSource"
              [remoteOperations]="{ groupPaging: true, sorting: true, filtering: true }"
              [showColumnLines]="true"
              [showRowLines]="false"
              [showBorders]="true"
              [rowAlternationEnabled]="true"
              keyExpr="id"
              [wordWrapEnabled]="true"
            >
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-search-panel [visible]="true"></dxo-search-panel>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-filter-builder-popup></dxo-filter-builder-popup>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-group-panel [visible]="true" emptyPanelText="{{ l('DragAColumnHeaderHereToGroupByThatColumn') }}"></dxo-group-panel>
              <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
              <!--              <dxo-remote-operations [groupPaging]="true" [sorting]="true" [filtering]="true"> </dxo-remote-operations>-->
              <dxo-paging [pageSize]="20"></dxo-paging>
              <dxo-summary>
                <dxi-group-item column="id" summaryType="count"> </dxi-group-item>
              </dxo-summary>

              <dxi-column
                *ngIf="feature.isEnabled('App.TachyonDealer') || !appSession.tenantId"
                dataField="clientName"
                caption="{{ l('CompanyName') }}"
              ></dxi-column>
              <dxi-column *ngIf="feature.isEnabled('App.TachyonDealer') || !appSession.tenantId" dataField="editionId" caption="{{ l('Edition') }}">
                <dxo-lookup [dataSource]="editions" displayExpr="displayText" valueExpr="value"> </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="channelId" caption="{{ l('Channel') }}">
                <dxo-lookup [dataSource]="ChannelType" displayExpr="value" valueExpr="key"> </dxo-lookup>
              </dxi-column>
              <dxi-column dataField="amount" dataType="number" caption="{{ l('Amount') }}"></dxi-column>
              <dxi-column dataField="creationTime" dataType="datetime" caption="{{ l('CreationDate') }}"></dxi-column>
              <dxo-summary> <dxi-total-item column="clientName" summaryType="count"> </dxi-total-item> </dxo-summary>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
