<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <div class="row align-items-center">
            <dx-data-grid
              #grid
              id="dataGrid"
              [dataSource]="dataSource"
              [remoteOperations]="true"
              [showColumnLines]="true"
              [showRowLines]="false"
              [showBorders]="true"
              [rowAlternationEnabled]="true"
              keyExpr="id"
              (onRowUpdating)="updateRow($event)"
            >
              <dxo-editing mode="popup" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"> </dxo-editing>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-search-panel [visible]="true"></dxo-search-panel>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-filter-builder-popup></dxo-filter-builder-popup>
              <dxo-master-detail [enabled]="true" template="translations"></dxo-master-detail>
              <div *dxTemplate="let options of 'translations'">
                <app-driver-license-type-translations [CoreId]="options.data.id"></app-driver-license-type-translations>
              </div>
              <dxo-remote-operations [sorting]="true" [paging]="true" [filtering]="true"></dxo-remote-operations>
              <dxo-paging [pageSize]="10"></dxo-paging>
              <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20, 50, 200]"></dxo-pager>

              <dxi-column dataField="key" caption="{{ l('Key') }}">
                <dxi-validation-rule type="required"></dxi-validation-rule>
              </dxi-column>
              <dxi-column dataField="wasIIntegrationId" caption="{{ l('WaslIntegrationId') }}"></dxi-column>
              <dxi-column dataField="applicableforWaslRegistration" caption="{{ l('ApplicableForWaslRegistration') }}"></dxi-column>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<createOrEditDriverLicenseTypeModal #createOrEditDriverLicenseTypeModal (modalSave)="getAll()"></createOrEditDriverLicenseTypeModal>
