<!--begin::Mixed Widget 17-->
<div class="card card-custom gutter-b card-stretch w-100 h-100">
  <!--begin::Header-->
  <div class="card-header border-0 pt-5">
    <div class="card-title font-weight-bolder">
      <div class="card-label">
        {{ l('CarrierDriversActivityWidget') }}
      </div>
    </div>
  </div>
  <!--end::Header-->
  <!--begin::Body-->
  <div class="card-body p-0 d-flex flex-column" style="position: relative">
    <!--begin::Items-->
    <div class="flex-grow-1 card-spacer">
      <div class="row row-paddingless mt-5 mb-10 flex-column">
        <!--begin::Item-->
        <div class="col pb-6">
          <div class="d-flex align-items-center activity-data" [class.mr-2]="!isRtl" [class.ml-2]="isRtl">
            <img class="drivers-and-trucks-icon" src="assets/SVG/Active_driver.svg" alt="" [class.mr-4]="!isRtl" [class.ml-4]="isRtl" />
            <div>
              <div class="font-size-sm text-dark font-weight-normal mt-1">{{ l('CurrentlyActiveDrivers') }}</div>
              <div class="font-size-h4 text-dark-75 font-weight-bolder">{{ items?.activeItems }}</div>
            </div>
          </div>
        </div>
        <!--end::Item-->
        <!--begin::Item-->
        <div class="col pb-6">
          <div class="d-flex align-items-center activity-data" [class.mr-2]="!isRtl" [class.ml-2]="isRtl">
            <img class="drivers-and-trucks-icon" src="assets/SVG/Non_active_driver_or_truck.svg" alt="" [class.mr-4]="!isRtl" [class.ml-4]="isRtl" />
            <div>
              <div class="font-size-sm text-dark font-weight-normal mt-1">{{ l('CurrentlyNonActiveDrivers') }}</div>
              <div class="font-size-h4 text-dark-75 font-weight-bolder">{{ items?.notActiveItems }}</div>
            </div>
          </div>
        </div>
        <!--end::Widget Item-->
        <!--begin::Item-->
        <div class="col pb-6">
          <div class="d-flex align-items-center activity-data" [class.mr-2]="!isRtl" [class.ml-2]="isRtl">
            <img class="drivers-and-trucks-icon" src="assets/SVG/In_Transit_Driver.svg" alt="" [class.mr-4]="!isRtl" [class.ml-4]="isRtl" />
            <!--begin::Title-->
            <div>
              <div class="font-size-sm text-dark font-weight-normal mt-1">{{ l('inTransitDrivers') }}</div>
              <div class="font-size-h4 text-dark-75 font-weight-bolder">{{ items?.inTransitItems }}</div>
            </div>
            <!--end::Title-->
          </div>
        </div>
        <!--end::Item-->
      </div>
    </div>
    <!--end::Items-->
  </div>
  <!--end::Body-->
</div>
<!--end::Mixed Widget 17-->
