<div class="row d-flex justify-content-center">
  <div class="col-sm">
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
      <div class="card-header d-flex justify-content-center">
        <div class="card-title">
          <h3 class="card-label">{{ l('CurrentlyActiveDrivers') }}</h3>
        </div>
      </div>
      <a (click)="getDriversPageByFilter(true)"
        ><div class="card-body w-100 d-flex justify-content-center">
          <h5 class="text-dark font-weight-bold">{{ activeDriversCount }}</h5>
        </div></a
      >
    </div>
    <!--end::Card-->
  </div>
  <div class="col-sm">
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
      <div class="card-header d-flex justify-content-center">
        <div class="card-title">
          <h3 class="card-label">{{ l('CurrentlyNonActiveDrivers') }}</h3>
        </div>
      </div>
      <a (click)="getDriversPageByFilter(false)"
        ><div class="card-body w-100 d-flex justify-content-center">
          <h5 class="text-dark font-weight-bold">{{ notActiveDriversCount }}</h5>
        </div></a
      >
    </div>
    <!--end::Card-->
  </div>
</div>
