<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'Invoices' | localize" [description]="'' | localize">
      <div role="actions">
        <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{ l('ExportToExcel') }}</button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <div class="row align-items-center">
            <dx-data-grid
              style="height: 45vw"
              #dataGrid
              id="dataGrid"
              [dataSource]="dataSource"
              [remoteOperations]="true"
              [showColumnLines]="true"
              [showRowLines]="false"
              [showBorders]="true"
              [rowAlternationEnabled]="true"
              keyExpr="id"
              [wordWrapEnabled]="true"
            >
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-search-panel [visible]="true"></dxo-search-panel>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-filter-builder-popup></dxo-filter-builder-popup>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
              <dxo-remote-operations [groupPaging]="true" [sorting]="true" [filtering]="true"> </dxo-remote-operations>
              <dxo-paging [pageSize]="20"></dxo-paging>
              <dxo-summary>
                <dxi-group-item column="id" summaryType="count"> </dxi-group-item>
              </dxo-summary>

              <dxi-column
                cellTemplate="cellTemplateActions"
                [allowFiltering]="false"
                [allowSorting]="false"
                [allowEditing]="false"
                [editorOptions]="{ visible: false }"
                [width]="50"
              ></dxi-column>
              <dxi-column dataField="referencNumber" caption="  {{ l('InvoiceNumber') }}"> </dxi-column>
              <dxi-column
                dataField="tenantName"
                caption="  {{ l('CompanyName') }}"
                *ngIf="!appSession.tenantId || feature.isEnabled('App.TachyonDealer')"
              >
              </dxi-column>
              <dxi-column dataField="periodId" caption=" {{ l('period') }}">
                <dxo-lookup [dataSource]="Periods" displayExpr="displayName" valueExpr="id"> </dxo-lookup>
              </dxi-column>

              <dxi-column dataField="totalAmount" caption="  {{ l('TotalAmount') }}"> </dxi-column>
              <dxi-column dataField="creationTime" caption="  {{ l('IssuanceDate') }}" dataType="datetime"> </dxi-column>
              <dxi-column dataField="dueDate" caption="{{ l('dueDate') }}" dataType="date"> </dxi-column>
              <dxi-column cellTemplate="statusCellTemplate" dataField="status" caption=" {{ l('Status') }}">
                <dxo-lookup [dataSource]="SubmitStatus" displayExpr="value" valueExpr="key"> </dxo-lookup>
              </dxi-column>

              <dxo-master-detail [enabled]="true" template="detail"></dxo-master-detail>
              <div *dxTemplate="let options of 'detail'">
                <app-invoice-tenant-item [Id]="options.data.id"></app-invoice-tenant-item>
              </div>
              <div *dxTemplate="let options of 'statusCellTemplate'">
                <span style="width: 137px"
                  ><span
                    class="badge badge-inline"
                    [ngClass]="{
                      'badge-warning': options.data.statusTitle == 'New',
                      'badge-success': options.data.statusTitle == 'Accepted',
                      'badge-primary': options.data.statusTitle == 'Claim',
                      'badge-danger': options.data.statusTitle == 'Rejected',
                      'badge-secondary': options.data.statusTitle == 'UnPaid',
                      'badge-info': options.data.statusTitle == 'Paid'
                    }"
                    >{{ l(options.data.statusTitle) }}</span
                  ></span
                >
              </div>

              <div *dxTemplate="let options of 'cellTemplateActions'">
                <div class="btn-group dropdown" dropdown container="body">
                  <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" dropdownToggle>
                    <span class="svg-icon svg-icon-md">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="24px"
                        height="24px"
                        viewBox="0 0 24 24"
                        version="1.1"
                      >
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"></rect>
                          <path
                            d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z"
                            fill="#000000"
                          ></path>
                        </g>
                      </svg>
                    </span>
                  </a>
                  <ul class="dropdown-menu" *dropdownMenu>
                    <li *ngIf="options.data.documentName">
                      <a class="dropdown-item" href="javascript:;" (click)="downloadDocument(options.data.id)">
                        {{ l('Download') }}
                      </a>
                    </li>

                    <li *ngIf="(options.data.status == 0 || options.data.status == 3) && permission.isGranted('Pages.Invoices.SubmitInvoices.Claim')">
                      <a class="dropdown-item" href="javascript:;" (click)="ClaimModel.show(options.data.id)">{{ l('Claim') }}</a>
                    </li>
                    <li *ngIf="options.data.status == 1 || (!appSession.tenantId && feature.isEnabled('App.TachyonDealer'))">
                      <a class="dropdown-item" href="javascript:;" (click)="Accepted(options.data.id)">{{ l('Accpeted') }}</a>
                    </li>
                    <li *ngIf="(options.data.status == 2 && options.data.status != 4) || options.data.status == 5">
                      <a
                        class="dropdown-item"
                        href="javascript:;"
                        *ngIf="feature.isEnabled('App.TachyonDealer') || !this.appSession.tenantId"
                        (click)="MakePaid(options.data)"
                        >{{ l('MakePaid') }}</a
                      >
                    </li>
                    <li *ngIf="options.data.status == 4">
                      <a
                        class="dropdown-item"
                        href="javascript:;"
                        *ngIf="feature.isEnabled('App.TachyonDealer') || !this.appSession.tenantId"
                        (click)="MakeUnPaid(options.data)"
                        >{{ l('MakeUnPaid') }}</a
                      >
                    </li>
                    <li *ngIf="options.data.status == 1">
                      <a
                        class="dropdown-item"
                        href="javascript:;"
                        *ngIf="permission.isGranted('Pages.Administration.Host.Invoices.SubmitInvoices.Rejected')"
                        (click)="RejectedModel.show(options.data.id)"
                        >{{ l('Rejected') }}</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <dxo-summary> <dxi-total-item column="referencNumber" summaryType="count"> </dxi-total-item> </dxo-summary>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<deman-model (modalSave)="reloadPage()" #ClaimModel></deman-model>
<submitinvoice-rejected-modal #RejectedModel (modalSave)="reloadPage()"></submitinvoice-rejected-modal>
<invoice-tenant-items-details #InvoiceDetailsModel></invoice-tenant-items-details>
