<div class="login-form" [@routerTransition]>
  <div class="text-left login-logo">
    <a>
      <img [src]="appRootUrl() + 'assets/common/images/app-logo-on-light-login.svg'" class="max-h-75px" (click)="goToHome()" />
    </a>
  </div>
  <div class="text-left label-text">
    <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg text-red">
      {{ 'SignUp' | localize }}
    </h3>
  </div>
  <h4 *ngIf="model.edition" class="text-left">{{ 'IAMA' | localize }} : {{ model.edition.displayName | localize }}</h4>
  <div class="separator separator-border-dashed"></div>
  <hr />

  <form #registerForm="ngForm" role="form" novalidate (submit)="save(registerForm)" class="login-form form mt-2 text-red">
    <h5 style="text-align: center;">
      {{ 'CompanyInformation' | localize }}
      <br />
      <br />
    </h5>
    <!-- <hr /> -->
    <div class="row text-left">
      <div class="col-6">
        <div class="form-group">
          <label>{{ 'CompanyUniqueName' | localize }}</label>
          <input
            #tenancyName="ngModel"
            class="form-control"
            autoFocus
            type="text"
            (change)="checkIfIsCompanyUniqueName()"
            [(ngModel)]="model.tenancyName"
            name="tenancyName"
            required
            style="width: 100% !important;"
            maxlength="64"
            pattern="^[a-zA-Z][a-zA-Z0-9_-]{1,}$"
          />
          <div>
            <validation-messages [formCtrl]="tenancyName"></validation-messages>
            <!-- <span class="form-text text-muted">{{ l('Enter') }} {{ l('CompanyUniqueName') }}</span> -->
            <span *ngIf="!isCompanyNameAvailable" class="form-text text-danger text-left"
              >{{ 'CompanyUniqueName' | localize }} {{ 'AlreadyTaken' | localize }}</span
            >
            <span *ngIf="!tenancyName.valid && !tenancyName.pristine" class="form-text text-danger text-left">{{
              'CompanyUniqueName_Regex_Description' | localize
            }}</span>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label>{{ 'CompanyFullLeagalName' | localize }}</label>
          <input #nameInput="ngModel" class="form-control" type="text" [(ngModel)]="model.name" name="Name" required maxlength="128" />
          <div>
            <!-- <span class="form-text text-muted">{{ l('Enter') }} {{ l('CompanyFullLegalName') }}</span> -->
          </div>
          <validation-messages [formCtrl]="nameInput"></validation-messages>
        </div>
      </div>
    </div>

    <div class="row text-left">
      <div class="col-6">
        <div class="form-group">
          <label>{{ 'Country' | localize }}</label>
          <select
            (change)="CountryChanged($event)"
            #countrySelect="ngModel"
            class="form-control"
            name="tenant.countryId"
            [(ngModel)]="model.countryId"
            required
          >
            <option [value]="undefined">{{ l('Select') }} {{ l('Country') }}</option>
            <option *ngFor="let country of allCountries" value="{{ country.id }}">{{ country.displayName }}</option>
          </select>
          <validation-messages [formCtrl]="countrySelect"></validation-messages>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label>{{ 'City' | localize }}</label>
          <select [disabled]="!isCountySelected" #citySelect="ngModel" class="form-control" name="tenant.cityId" [(ngModel)]="model.cityId" required>
            <option [value]="undefined">{{ l('Select') }} {{ l('City') }}</option>
            <option *ngFor="let city of allCities" value="{{ city.id }}">{{ city.displayName }}</option>
          </select>
          <validation-messages [formCtrl]="citySelect"></validation-messages>
        </div>
      </div>
    </div>

    <div class="row text-left">
      <div class="col-12">
        <div class="form-group">
          <label>{{ 'Address' | localize }}</label>
          <input
            #addressInput="ngModel"
            class="form-control"
            type="Address"
            placeholder="{{ 'AddressFormat' | localize }} *"
            [(ngModel)]="model.address"
            name="Address"
            required
            maxlength="128"
          />
          <div>
            <validation-messages [formCtrl]="addressInput"></validation-messages>
            <!-- <span class="form-text text-muted"> {{ l('Enter') }} {{ l('Address') }}</span>
            <span class="form-text text-muted"> {{ l('Format') }} :{{ l('AddressFormat') }}</span> -->
          </div>
        </div>
      </div>
    </div>

    <h5 style="text-align: center;" class="mt-2">
      {{ 'AdminUserAccountInfo' | localize }}
    </h5>
    <br />
    <div class="row text-left">
      <div class="col-12">
        <div class="form-group">
          <label>{{ 'AdminEmailAddress' | localize }}</label>
          <input
            #adminEmailAddressInput="ngModel"
            class="form-control"
            type="email"
            [(ngModel)]="model.adminEmailAddress"
            name="adminEmailAddress"
            required
            (change)="removeWhiteSpacesFromEmail()"
            maxlength="256"
            email
          />
          <div>
            <validation-messages [formCtrl]="adminEmailAddressInput"></validation-messages>
            <!-- <span class="form-text text-muted"> {{ l('Enter') }} {{ l('AdminEmailAddress') }}</span> -->
            <span *ngIf="!isEmailValid" class="form-text text-danger">{{ l('AdminEmailAddress') }} {{ l('NotValid') }}</span>
            <span *ngIf="!isEmailAvailable" class="form-text text-danger">{{ l('AdminEmailAddress') }} {{ 'AlreadyTaken' | localize }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-left">
      <div class="col-6">
        <div class="form-group">
          <label>{{ 'AdminPassword' | localize }}</label>
          <input
            type="password"
            name="Password"
            class="form-control"
            [(ngModel)]="model.adminPassword"
            #Password="ngModel"
            validateEqual="PasswordRepeat"
            reverse="true"
            [requireDigit]="passwordComplexitySetting.requireDigit"
            [requireLowercase]="passwordComplexitySetting.requireLowercase"
            [requireUppercase]="passwordComplexitySetting.requireUppercase"
            [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
            [requiredLength]="passwordComplexitySetting.requiredLength"
            required
            pPassword
            [promptLabel]="l('PleaseEnterYourNewPassword')"
            [weakLabel]="l('weak')"
            [mediumLabel]="l('medium')"
            [strongLabel]="l('strong')"
          />
          <div>
            <validation-messages [formCtrl]="Password"></validation-messages>
          </div>
          <div [hidden]="registerForm.form.valid || registerForm.form.pristine" class="form-group">
            <ul class="form-text text-danger" *ngIf="Password.errors">
              <li [hidden]="!Password.errors.requireDigit">{{ 'PasswordComplexity_RequireDigit_Hint' | localize }}</li>
              <li [hidden]="!Password.errors.requireLowercase">
                {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
              </li>
              <li [hidden]="!Password.errors.requireUppercase">
                {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
              </li>
              <li [hidden]="!Password.errors.requireNonAlphanumeric">
                {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
              </li>
              <li [hidden]="!Password.errors.requiredLength">
                {{ 'PasswordComplexity_RequiredLength_Hint' | localize: passwordComplexitySetting.requiredLength }}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label>{{ 'PasswordRepeat' | localize }}</label>
          <input
            type="password"
            name="PasswordRepeat"
            class="form-control"
            [ngModel]="model.passwordRepeat"
            #PasswordRepeat="ngModel"
            validateEqual="Password"
            reverse="false"
            [requireDigit]="passwordComplexitySetting.requireDigit"
            [requireLowercase]="passwordComplexitySetting.requireLowercase"
            [requireUppercase]="passwordComplexitySetting.requireUppercase"
            [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
            [requiredLength]="passwordComplexitySetting.requiredLength"
            required
          />
          <div>
            <validation-messages [formCtrl]="PasswordRepeat"></validation-messages>
          </div>
          <div [hidden]="registerForm.form.valid || registerForm.form.pristine" class="form-group">
            <ul class="form-text text-danger" *ngIf="PasswordRepeat.errors">
              <li [hidden]="!PasswordRepeat.errors.requireDigit">
                {{ 'PasswordComplexity_RequireDigit_Hint' | localize }}
              </li>
              <li [hidden]="!PasswordRepeat.errors.requireLowercase">
                {{ 'PasswordComplexity_RequireLowercase_Hint' | localize }}
              </li>
              <li [hidden]="!PasswordRepeat.errors.requireUppercase">
                {{ 'PasswordComplexity_RequireUppercase_Hint' | localize }}
              </li>
              <li [hidden]="!PasswordRepeat.errors.requireNonAlphanumeric">
                {{ 'PasswordComplexity_RequireNonAlphanumeric_Hint' | localize }}
              </li>
              <li [hidden]="!PasswordRepeat.errors.requiredLength">
                {{ 'PasswordComplexity_RequiredLength_Hint' | localize: passwordComplexitySetting.requiredLength }}
              </li>
              <li [hidden]="!PasswordRepeat.touched && !PasswordRepeat.valid">{{ 'PasswordsDontMatch' | localize }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isAvailableTermsAndConditons" style="align-items: baseline;" class="row">
      <div class="col-1">
        <label class="checkbox checkbox-danger">
          <input #TermsAndCondition_Host type="checkbox" [(ngModel)]="approvedHostTerms" name="Checkboxes12" />
          <span></span>
        </label>
      </div>
      <div style="display: contents;" class="col-8">
        <div style="width: max-content; padding-left: 0px; padding-right: 3px;" class="alert alert-white" role="alert">
          {{ l('IAgreeonTahcyon') }}
        </div>
        <div>
          <a
            routerLink="/account/term-and-condition-registration"
            [queryParams]="{ editionId: model.editionId }"
            routerLinkActive="active"
            target="_blank"
            rel="bookmark"
            >{{ l('TermsAndConditons') }}</a
          >
        </div>
      </div>
      <span class="form-text text-danger">
        <validation-messages [formCtrl]="TermsAndCondition_Host"></validation-messages>
      </span>
    </div>

    <button
      style="margin-top: 0px !important; height: 35px;"
      [disabled]="saving"
      routerLink="/account/login"
      type="button"
      class="btn btn-primary btn-primary-login"
    >
      <i class="fa fa-arrow-left"></i> {{ 'Back' | localize }}
    </button>
    <button
      style="margin-top: 0px !important; height: 35px;"
      type="submit"
      class="btn btn-primary"
      [disabled]="
        !isEmailValid ||
        !isEmailAvailable ||
        !isCompanyNameAvailable ||
        !registerForm.form.valid ||
        citySelect.value == -2 ||
        countrySelect.value == -2 ||
        (!approvedHostTerms && isAvailableTermsAndConditons)
      "
      [buttonBusy]="saving"
      [busyText]="l('SavingWithThreeDot')"
    >
      <i class="fa fa-check"></i> {{ 'Submit' | localize }}
    </button>
  </form>
  <!--  <termAndConditionRegisterationViewModal #TermAndConditionRegisterationViewModal></termAndConditionRegisterationViewModal>-->
</div>
