<div
  #assignTrucksAndDriversModal="bs-modal"
  aria-hidden="true"
  aria-labelledby="AddNewEntityModalComponent"
  bsModal
  class="modal fade"
  role="dialog"
  tabindex="-10010"
>
  <div class="modal-dialog modal-lg">
    <div *ngIf="active" class="modal-content">
      <form #assignTrucksAndDriversForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <!--begin::Card-->
        <div class="card card-custom">
          <!--begin::Header-->
          <div class="card-header align-items-center px-4 py-3">
            <h3>{{ l('AssignDriversAndTrucksModal') }}</h3>
          </div>
          <!--end::Header-->
          <!--begin::Body-->
          <div class="card-body">
            <dx-data-grid
              #dataGrid
              [dataSource]="allTrucks"
              valueExpr="truckId"
              [selection]="{ mode: 'multiple' }"
              [hoverStateEnabled]="true"
              [paging]="{ enabled: true, pageSize: 10 }"
              [filterRow]="{ visible: true }"
              [scrolling]="{ mode: 'virtual' }"
              [height]="345"
              [(selectedRowKeys)]="selectedTrucks"
              (onSelectionChanged)="onSelectionChanged($event)"
              (onCellClick)="onDataGridCellClick($event); print($event)"
            >
              <dxi-column [allowEditing]="false" dataField="truckName" caption="{{ 'PlateNumber' | localize }}"></dxi-column>
              <dxi-column dataField="driverUserId" caption="{{ 'Driver' | localize }}" cellTemplate="driverCellTemplate">
                <dxo-lookup [dataSource]="allDrivers" displayExpr="displayName" valueExpr="id"> </dxo-lookup>
              </dxi-column>
              <div *dxTemplate="let d of 'driverCellTemplate'">
                <dx-select-box
                  [(value)]="d.data.driverUserId"
                  [dataSource]="allDrivers"
                  displayExpr="displayName"
                  valueExpr="id"
                  [searchEnabled]="true"
                ></dx-select-box>
              </div>
            </dx-data-grid>
            <div class="row pt-4">
              <div class="col-12">
                <span class="text-danger">
                  {{ 'AssignDriversAndTrucksForDedicatedWarning' | localize }}
                </span>
              </div>
            </div>
            <div class="row pt-4">
              <div class="col-12">
                <dx-validation-summary validationGroup="assignTrucksAndDrivers" id="assign-trucks-and-drivers"></dx-validation-summary>
              </div>
            </div>
          </div>
          <!--end::Body-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">{{ l('Close') }}</button>
          <dx-button
            type="submit"
            class="btn btn-primary blue font-weight-bold py-3 px-3 no-padding-custom"
            icon="fa fa-save"
            text="{{ l('Save') }}"
            [useSubmitBehavior]="true"
            [validationGroup]="'assignTrucksAndDrivers'"
          >
          </dx-button>
        </div>
      </form>
      <!--end::Card-->
    </div>
  </div>
</div>
