<div class="row">
  <div class="col-lg-12">
    <!--begin::Card-->
    <div class="card card-custom card-stretch">
      <div class="card-header border-0">
        <div class="card-title text-center">
          <h3 class="card-label">{{ l('RequestAcceptancePercentage') }}</h3>
        </div>
      </div>
      <div class="card-body p-1" [busyIf]="loading">
        <div id="chart">
          <apx-chart
            *ngIf="chartOptions && chartOptions.series"
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [plotOptions]="chartOptions.plotOptions"
            [labels]="chartOptions.labels"
            [fill]="chartOptions.fill"
            [stroke]="chartOptions.stroke"
            [colors]="['rgba(199,198,171,0.99)']"
          ></apx-chart>
        </div>
      </div>
    </div>
    <!--end::Card-->
  </div>
</div>
