<div
  bsModal
  #modal="bs-modal"
  (onShown)="onShown()"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #PeriodForm="ngForm" novalidate (ngSubmit)="save()">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>{{ Period.id ? l('EditBillingInterval') : l('CreateNewBillingInterval') }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>{{ 'Name' | localize }}</label>
            <input #nameInput class="form-control" type="text" name="name" [(ngModel)]="Period.displayName" required minLength="3" maxlength="250" />
          </div>

          <div class="form-group m-form__group">
            <label for="periodType">{{ l('BillingIntervalType') }}</label>
            <select
              name="Period.periodType"
              [(ngModel)]="Period.periodType"
              (change)="onChangePeriodType($event.target.value)"
              class="form-control"
              required
            >
              <option value="">{{ l('SelectBillingIntervalFreqType') }}</option>
              <option [value]="code.key" *ngFor="let code of PeriodType">
                {{ code.value | localize }}
              </option>
            </select>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" [(ngModel)]="Period.shipperOnlyUsed" name="shipperOnlyUsed" id="shipperOnlyUsed" />
            <label class="form-check-label" for="shipperOnlyUsed">
              {{ 'shipperOnlyUsed' | localize }}
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="enabled" id="enabled" [(ngModel)]="Period.enabled" />
            <label class="form-check-label" for="enabled">
              {{ 'Enabled' | localize }}
            </label>
          </div>

          <hr />
          <quartz-cron name="cronexpression" [(ngModel)]="Period.cronexpression"></quartz-cron>
        </div>

        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-secondary" (click)="close()">{{ 'Cancel' | localize }}</button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!PeriodForm.form.valid"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot' | localize)"
          >
            <i class="fa fa-save"></i> <span>{{ 'Save' | localize }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
