<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #plateTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="plateType.id">{{ l('EditPlateType') }}</span>
            <span *ngIf="!plateType.id">{{ l('CreateNewPlateType') }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="col-md-6">
              <label>{{ l('bayanIntegrationId') }}</label>
              <input
                class="form-control"
                type="text"
                name="plateType.bayanIntegrationId"
                [(ngModel)]="plateType.bayanIntegrationId"
                required
                minLength="3"
                maxlength="250"
              />
            </div>
            <div class="col-md-6">
              <label>{{ l('name') }}</label>
              <input class="form-control" type="text" name="plateType.name" [(ngModel)]="plateType.name" required minLength="3" maxlength="250" />
            </div>
          </div>

          <div class="row" *ngFor="let t of Translations; let i = index">
            <div class="form-group col-md-6">
              <span class="symbol symbol-20 mr-3">
                <i [class]="t.icon"></i>
              </span>
              <span class="navi-text">
                {{ t.languageDisplayName }}
              </span>
            </div>

            <div class="form-group col-md-6">
              <label>{{ 'Name' | localize }}</label>
              <input
                #nameInput
                class="form-control"
                type="text"
                [name]="'name' + i"
                [(ngModel)]="t.displayName"
                required
                minLength="3"
                maxlength="250"
              />
            </div>
          </div>

          <!-- <div class="form-group">
									<label for="PlateType_DisplayName">{{l("DisplayName")}} *</label>
									<input type="text" #PlateType_DisplayName="ngModel" id="PlateType_DisplayName" class="form-control" [(ngModel)]="plateType.displayName" name="DisplayName"   minlength="0"  maxlength="64"  required/>
								    <validation-messages [formCtrl]="PlateType_DisplayName"></validation-messages>
								</div> -->
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
          <button
            type="submit"
            class="btn btn-primary blue"
            [disabled]="!plateTypeForm.form.valid"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
