.needs-action-label {
  position: absolute;
  top: 10px;
  height: auto;
}
.isHostOrTMS {
  position: relative;
  height: 5em;
  background: #f0f0f0;
  padding: 0.7em;
  border-radius: 5px;
}

.custom-left-ribbon {
  left: -2px;
  font-size: 1em;
}

::ng-deep [dir='rtl'] .custom-left-ribbon {
  right: -2px !important;
  left: auto !important;
}
