<!--begin::Create::RouteStepModal-->
<div class="modal fade" bsModal #createRouteStepModal="bs-modal" [config]="{ backdrop: 'static' }" role="dialog" aria-labelledby="dialog-static-name">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form *ngIf="active" #createOrEditPintForm="ngForm" novalidate autocomplete="off">
        <div class="modal-body">
          <div class="row mb-4"></div>
          <div class="row p-0 mt-4">
            <div class="col-lg-12 row">
              <!-- StartOf::Receiver -->
              <ng-container *ngIf="modalOpenedFor == 'receiver'">
                <div class="form-group col-lg-6">
                  <label>{{ l('ReceiverFullName') }}</label>
                  <input
                    #receiverFullName="ngModel"
                    name="receiverFullName"
                    type="text"
                    [(ngModel)]="Point.receiverFullName"
                    class="form-control"
                    minlength="3"
                    required
                    [ngClass]="{
                      'is-valid': receiverFullName.touched && receiverFullName.valid,
                      'is-invalid': receiverFullName.touched && receiverFullName.value && !receiverFullName.valid
                    }"
                  />
                </div>
                <div class="form-group col-lg-6">
                  <label for="userPhone"> {{ 'ReceiverEmailAddress' | localize }}</label>
                  <input
                    style="text-align: left !important"
                    id="ReceiverEmailAddress"
                    #ReceiverEmailAddress="ngModel"
                    name="ReceiverEmailAddress"
                    pattern="^\S+@\S+$"
                    maxlength="30"
                    type="email"
                    class="form-control"
                    [(ngModel)]="Point.receiverEmailAddress"
                    [ngClass]="{
                      'is-valid': ReceiverEmailAddress.touched && ReceiverEmailAddress.valid && ReceiverEmailAddress.value,
                      'is-invalid': ReceiverEmailAddress.touched && ReceiverEmailAddress.value && !ReceiverEmailAddress.valid
                    }"
                  />
                </div>

                <div class="form-group col-lg-6">
                  <label for="userPhone"> {{ 'ReceiverPhoneNumber' | localize }}</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">+966</span>
                    </div>
                    <input
                      style="text-align: left !important"
                      id="userPhone"
                      #userPhoneInput="ngModel"
                      name="userPhone"
                      pattern="\b5\d{8}\b"
                      maxlength="9"
                      placeholder="{{ '5XXXXXXXX' | localize }}"
                      type="tel"
                      class="form-control"
                      [(ngModel)]="Point.receiverPhoneNumber"
                      required
                      [ngClass]="{
                        'is-valid': userPhoneInput.touched && userPhoneInput.valid,
                        'is-invalid': userPhoneInput.touched && userPhoneInput.value && !userPhoneInput.valid
                      }"
                    />
                  </div>
                  <validation-messages [formCtrl]="userPhoneInput"></validation-messages>
                  <span *ngIf="userPhoneInput.value?.length == 9 && userPhoneInput.invalid" class="form-text text-danger">{{
                    l('PhoneNumberMustStartWith5')
                  }}</span>
                </div>
                <div class="form-group col-lg-6">
                  <label>{{ l('ReceiverId') }}</label>
                  <div class="input-group">
                    <div class="input-group-prepend input-group-solid">
                      <span class="input-group-text">
                        <i class="fa fa-id-card"></i>
                      </span>
                    </div>
                    <input
                      type="text"
                      #receiverId="ngModel"
                      name="receiverId"
                      class="form-control"
                      [(ngModel)]="Point.receiverCardIdNumber"
                      (keypress)="numberOnly($event)"
                      [ngClass]="{
                        'is-valid': receiverId.touched && receiverId.valid && receiverId.value,
                        'is-invalid': receiverId.touched && receiverId.value && !receiverId.valid
                      }"
                    />
                  </div>
                </div>
              </ng-container>

              <ng-container *ngIf="modalOpenedFor === 'note'">
                <div class="form-group col-lg-12">
                  <label>{{ l('Notes') }}</label>
                  <div class="input-group">
                    <textarea
                      #notes="ngModel"
                      name="notes"
                      class="form-control"
                      [(ngModel)]="Point.note"
                      [class.is-valid]="notes.touched && notes.value && !notes.valid"
                    ></textarea>
                  </div>
                </div>
              </ng-container>
              <!--   EndOf::receiver -->
              <!--   Start::GoodDetails           -->
              <PointGoodDetailsComponent
                *ngIf="modalOpenedFor === 'goodDetails'"
                [goodDetailsListForView]="this.goodDetailsListForView"
              ></PointGoodDetailsComponent>
              <!--   End::GoodDetails           -->
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="close()">{{ l('Close') }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--end::Create::RouteStepModal-->
