<div
  bsModal
  #createOrEditFacilityModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <form *ngIf="active" #createFacilityForm="ngForm" novalidate autocomplete="off" (ngSubmit)="save()">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>{{ facility?.id ? l('EditFacility') : l('CreateNewFacility') }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-12">
              <label>{{ l('FacilityName') }} <span class="required-fileds">*</span></label>
              <input
                #FacilityName="ngModel"
                type="text"
                class="form-control"
                [(ngModel)]="facility.name"
                name="Name"
                minlength="0"
                maxlength="256"
                [class.is-invalid]="FacilityName.touched && !FacilityName.valid"
                [class.is-valid]="FacilityName.touched && FacilityName.valid"
                required
              />
            </div>

            <div class="form-group col-md-6">
              <label>{{ l('selectaCountry') }} <span class="required-fileds">*</span></label>
              <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': countriesLoading }">
                <select
                  #country="ngModel"
                  class="form-control"
                  name="fcountry"
                  required
                  [disabled]="countriesLoading"
                  [(ngModel)]="selectedCountryId"
                  [class.is-invalid]="country.touched && !country.valid"
                  [class.is-valid]="country.touched && country.valid"
                  (change)="loadCitiesByCountryId(selectedCountryId)"
                >
                  <option [ngValue]="null" selected disabled hidden>{{ l('SelectACounty') }}</option>
                  <option *ngFor="let item of countries" value="{{ item.id }}">{{ item.displayName }}</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>{{ l('SelectaCity') }}<span class="required-fileds"> *</span></label>
              <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': citiesLoading }">
                <select
                  #city="ngModel"
                  class="form-control"
                  name="fcity"
                  required
                  [disabled]="citiesLoading || !selectedCountryId"
                  [(ngModel)]="facility.cityId"
                  [class.is-invalid]="city.touched && !city.valid"
                  [class.is-valid]="city.touched && city.valid"
                  (change)="cityChangeEvent()"
                >
                  <option value="" selected disabled>{{ l('SelectACity') }}</option>
                  <option *ngFor="let item of allCities" [ngClass]="{ 'text-danger': !item.hasPolygon }" value="{{ item.id }}">
                    {{ item.displayName }}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>{{ l('longitute') }} </label>
              <input
                #long="ngModel"
                type="number"
                name="long"
                placeholder="long"
                class="form-control"
                [(ngModel)]="facility.longitude"
                (change)="manualCords()"
                [class.is-invalid]="long.touched && !long.valid"
                [class.is-valid]="long.touched && long.valid"
                [disabled]="!facility.cityId"
                minlength="0"
                maxlength="30"
              />
              <div *ngIf="!long.valid" class="invalid-feedback">{{ l('HasToBeWithInCityBounds') }}</div>
            </div>
            <div class="form-group col-md-6">
              <label>{{ l('latitute') }} </label>
              <input
                #lat="ngModel"
                type="number"
                name="lat"
                placeholder="lat"
                class="form-control"
                [(ngModel)]="facility.latitude"
                (change)="manualCords()"
                [class.is-invalid]="lat.touched && !lat.valid"
                [class.is-valid]="lat.touched && lat.valid"
                [disabled]="!facility.cityId"
                minlength="0"
                maxlength="30"
              />
              <div *ngIf="!lat.valid" class="invalid-feedback">{{ l('HasToBeWithInCityBounds') }}</div>
            </div>
            <div class="form-group col-md-12">
              <label>{{ l('Address') }} <span class="required-fileds">*</span></label>
              <input
                #search
                type="text"
                class="form-control"
                [(ngModel)]="facility.address"
                placeholder="{{ l('searchForNearestLocation') }}"
                autocorrect="off"
                [disabled]="!facility.cityId"
                name="searchForAddress"
                required
              />
            </div>
            <div class="col-md-6">
              <app-create-or-edit-working-hours
                #CreateOrEditWorkingHoursComponent
                [FacilityWorkingHoursInput]="FacilityWorkingHours"
                [parentForm]="createFacilityForm"
              >
              </app-create-or-edit-working-hours>
            </div>
            <!-- CreateNewFacilityMap -->
            <div class="form-group col-md-12" [ngClass]="{ preventClick: !facility.cityId }">
              <agm-map
                class="map"
                [zoom]="12"
                [longitude]="Bounds?.getCenter().lng() || facility.longitude"
                [latitude]="Bounds?.getCenter().lat() || facility.latitude"
              >
                <agm-data-layer [geoJson]="selectedCityJson" (layerClick)="mapClicked($event)" [style]="styleObject"></agm-data-layer>
                <agm-marker
                  *ngIf="facility.latitude && facility.longitude"
                  [latitude]="facility.latitude"
                  [longitude]="facility.longitude"
                ></agm-marker>
              </agm-map>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
          <button
            type="submit"
            class="btn btn-primary blue"
            [disabled]="!createFacilityForm.form.valid"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
