<div class="h-100 d-flex flex-column">
  <div class="h-100">
    <div class="card card-custom card-stretch w-100 h-100">
      <div class="card-body p-4 d-flex justify-content-between align-items-center">
        <div class="card-title mt-4 mb-4">
          <div class="card-label"><img src="assets/SVG/New_price_offer.svg" alt="" /> New Price Offer</div>
        </div>
        <div>
          <button class="btn btn-default text-red p-2">View</button>
        </div>
      </div>
    </div>
  </div>
</div>
