.border-bottom-5 {
    border-bottom-width: 5px !important;
    border-bottom-style: solid !important;
    &.border-bottom-primary{
        border-bottom-color: var(--primary, #da1a32) !important;
    }
}
