<div
  bsModal
  #modal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #Form="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>{{ l('OnDemand') }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group m-form__group" style="float: right">
            <p-selectButton
              name="InvoiceTypeOption"
              [options]="InvoiceTypeOptions"
              [(ngModel)]="invoiceTypeValue"
              optionLabel="label"
              optionValue="value"
            ></p-selectButton>
          </div>

          <div class="row">
            <!-- <div class="col-md-6">
              <select [(ngModel)]="selectedEdition" class="form-control" name="edition" id="edition">
                <option [value]="undefined">{{ 'SelectEdition' | localize }}</option>
                <option *ngFor="let item of editions" [value]="item">{{ item | localize }}</option>
              </select>
            </div> -->

            <div class="col-md-6">
              <div class="form-group m-form__group">
                <label for="Tenant">{{ l('TenantName') }}</label>
                <p-autoComplete
                  name="Tenant"
                  [(ngModel)]="Tenant"
                  [suggestions]="Tenants"
                  (completeMethod)="search($event)"
                  field="displayName"
                  [forceSelection]="true"
                  required
                  (onSelect)="LoadWaybills($event)"
                ></p-autoComplete>
              </div>
            </div>
          </div>
          <div *ngIf="invoiceTypeValue == 1" class="form-group m-form__group">
            <label for="Tenant">{{ l('Waybills') }}</label>
            <p-multiSelect [options]="Waybills" name="waybills" [(ngModel)]="SelectedWaybills" optionLabel="displayName"></p-multiSelect>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
          <button type="submit" class="btn btn-save blue" [disabled]="!Form.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
