<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'InvoicesList' | localize" [description]="'' | localize">
      <div role="actions">
        <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{ l('ExportToExcel') }}</button>
        <button
          *ngIf="feature.isEnabled('App.TachyonDealer') || !appSession.tenantId"
          (click)="OndemandModel.show()"
          type="button"
          class="btn btn-default"
        >
          {{ l('OnDemand') }}
        </button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <div class="row align-items-center">
            <dx-data-grid
              style="height: 45vw"
              #dataGrid
              id="dataGrid"
              [dataSource]="dataSource"
              [remoteOperations]="true"
              [showColumnLines]="true"
              [showRowLines]="false"
              [showBorders]="true"
              [rowAlternationEnabled]="true"
              keyExpr="id"
              [wordWrapEnabled]="true"
            >
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-search-panel [visible]="true"></dxo-search-panel>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-filter-builder-popup></dxo-filter-builder-popup>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>
              <dxo-remote-operations [groupPaging]="true" [sorting]="true" [filtering]="true"></dxo-remote-operations>
              <dxo-paging [pageSize]="20"></dxo-paging>
              <dxo-summary>
                <dxi-group-item column="id" summaryType="count"></dxi-group-item>
              </dxo-summary>

              <dxi-column
                cellTemplate="cellTemplateActions"
                [allowFiltering]="false"
                [allowSorting]="false"
                [allowEditing]="false"
                [editorOptions]="{ visible: false }"
                [width]="50"
              ></dxi-column>
              <dxi-column dataField="invoiceNumber" caption="{{ l('InvoiceNumber') }}"></dxi-column>
              <dxi-column
                *ngIf="!appSession.tenantId || feature.isEnabled('App.TachyonDealer')"
                dataField="tenantName"
                [groupIndex]="0"
                caption="{{ l('CompanyName') }}"
              >
              </dxi-column>
              <dxi-column dataField="period" caption="{{ l('Period') }}"></dxi-column>
              <dxi-column dataField="dueDate" caption="{{ l('dueDate') }}" dataType="date"></dxi-column>
              <dxi-column
                dataField="accountType"
                caption="{{ l('AccountType') }} "
                *ngIf="!appSession.tenantId || feature.isEnabled('App.TachyonDealer')"
              >
              </dxi-column>
              <dxi-column dataField="totalAmount" caption="{{ l('TotalAmount') }}"></dxi-column>
              <dxi-column dataField="creationTime" caption="{{ l('IssuanceDate') }}" dataType="date"></dxi-column>
              <dxi-column dataField="isPaid" cellTemplate="cellTemplate_isPaid" caption="{{ l('Status') }}"></dxi-column>

              <div *dxTemplate="let options of 'cellTemplate_isPaid'">
                <span *ngIf="options.data.isPaid" class="badge badge-success badge-inline">{{ 'Paid' | localize }}</span>
                <span *ngIf="!options.data.isPaid" class="badge badge-danger badge-inline">{{ 'UnPaid' | localize }}</span>
              </div>

              <div *dxTemplate="let options of 'cellTemplateActions'">
                <div class="btn-group dropdown" dropdown container="body">
                  <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" dropdownToggle>
                    <span class="svg-icon svg-icon-md">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"></rect>
                          <path
                            d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z"
                            fill="#000000"
                          ></path>
                        </g>
                      </svg>
                    </span>
                  </a>

                  <ul class="dropdown-menu" *dropdownMenu>
                    <li>
                      <a class="dropdown-item" (click)="details(options.data)">{{ l('Detail') }}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="downloadReport(options.data.id)">{{ l('downloadInvoice') }}</a>
                    </li>
                    <li *ngIf="!options.data.isPaid">
                      <a
                        class="dropdown-item"
                        href="javascript:;"
                        *ngIf="feature.isEnabled('App.TachyonDealer') || !this.appSession.tenantId"
                        (click)="MakePaid(options.data)"
                        >{{ l('MakePaid') }}</a
                      >
                    </li>
                    <li *ngIf="options.data.isPaid">
                      <a
                        class="dropdown-item"
                        href="javascript:;"
                        *ngIf="feature.isEnabled('App.TachyonDealer') || !this.appSession.tenantId"
                        (click)="MakeUnPaid(options.data)"
                        >{{ l('MakeUnPaid') }}</a
                      >
                    </li>
                    <li>
                      <a class="dropdown-item" href="javascript:;" (click)="voidModal.show(options.data.id)">{{ l('Void') }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<invoices-ondeman-model (modalSave)="reloadPage()" #OndemandModel></invoices-ondeman-model>
<invoice-tenant-items-details #InvoiceDetailsModel></invoice-tenant-items-details>
<void-invoice-note-modal #voidModal></void-invoice-note-modal>
