input[type=time] {
    width: auto;
  }


@media (min-width: 1400px) {
    .modal-dialog.modal-xl {
        max-width: 1400px !important;
    }
}


.dx-state-disabled {
    background-color: #f3f6f9;
    opacity: 1;
}
