<div
  bsModal
  #viewTripDetails="bs-modal"
  class="modal fade"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">
          <span>{{ l('TripDetails') }}</span>
        </p>
        <div class="card-toolbar">
          <button
            *ngIf="feature.isEnabled('App.Carrier') || feature.isEnabled('App.TachyonDealer')"
            type="button"
            class="btn btn-primary blue"
            (click)="ResetTrip(currentTripId)"
            [buttonBusy]="isResetTripLoading"
          >
            <i class="fa flaticon2-reload-1"></i>
            {{ l('Reset') }}
          </button>
          <button class="btn btn-primary" (click)="DownloadSingleDropWaybillPdf(currentTripId)" [buttonBusy]="wayBillIsDownloading">
            <i class="fa flaticon2-print"></i>
            {{ l('PrintWaybill') }}
          </button>
        </div>
      </div>
      <div class="modal-body" [busyIf]="loading">
        <div class="row">
          <!--begin::Body-->
          <!--  begin:: Source Dest Facilitys  -->
          <div class="col-lg-6 form-group">
            <label>{{ l('SourceFacility') }}</label>
            <div class="input-group">
              <input type="text" class="form-control" name="originFacility" [(ngModel)]="trip.originFacility" disabled />
            </div>
          </div>
          <div class="col-lg-6 form-group">
            <label>{{ l('DestFacility') }}</label>
            <div class="input-group">
              <input type="text" class="form-control" name="destinationFacility" [(ngModel)]="trip.destinationFacility" disabled />
            </div>
          </div>
          <!--  end:: Source Dest Facilitys  -->
          <!--  begin:: Trip start&End Dates-->
          <div class="col-lg-6">
            <div class="form-group">
              <label>{{ l('Trip_StartDate') }} </label>
              <div class="input-group date">
                <input
                  [(date)]="trip.startTripDate"
                  class="form-control"
                  name="tripStartDate"
                  placeholder="{{ l('DatePlaceholder') }}"
                  bsDatepicker
                  datePickerMomentModifier
                  disabled
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="la la-calendar-check-o"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label><span class="required-fileds"></span>{{ l('TripEndDate') }} </label>
              <div class="input-group date">
                <input
                  [(date)]="trip.endTripDate"
                  class="form-control"
                  name="tripEndDate"
                  placeholder="{{ l('DatePlaceholder') }}"
                  bsDatepicker
                  datePickerMomentModifier
                  disabled
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="la la-calendar-check-o"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!--  end:: Trip start&End Dates-->

          <!-- StartOf::Driver&Truck -->
          <ng-container *ngIf="feature.isEnabled('App.Carrier')">
            <div class="form-group col-lg-6">
              <label>{{ l('driver') }}</label>
              <select name="driver" type="text" [(ngModel)]="assignDriverAndTruck.assignedDriverUserId" class="form-control" [disabled]="saving">
                <option [ngValue]="null">{{ l('selectaDriver') }}</option>
                <option *ngFor="let item of allDrivers" [value]="item.id">{{ item.displayName }}</option>
              </select>
            </div>
            <div class="form-group col-lg-{{ trip.driverStatus == 0 ? 5 : 6 }}">
              <label>{{ l('tuck') }}</label>
              <select name="truck" type="text" [(ngModel)]="assignDriverAndTruck.assignedTruckId" class="form-control" [disabled]="saving">
                <option [ngValue]="null">{{ l('selectatruck') }}</option>
                <option *ngFor="let item of allTrucks" [value]="item.id">{{ item.displayName }}</option>
              </select>
            </div>
            <div class="form-group col-lg-1 mt-7 align-items-end" *ngIf="trip.driverStatus == 0">
              <button class="btn btn-danger btn-shadow-hover font-weight-bold mr-2" (click)="assignDriverandTruck()" [disabled]="saving">
                {{ l('Save') }}
              </button>
            </div>
          </ng-container>

          <!--   EndOf::Driver&Truck -->
          <!--  start:: Notes-->

          <div class="col-lg-12">
            <label>{{ l('Notes') }}</label>
            <div class="input-group">
              <textarea name="notes" class="form-control" [(ngModel)]="trip.note" disabled></textarea>
            </div>
          </div>
          <!--  end:: Notes-->
          <!--  begin::Trip Goods Approximate Value -->
          <div class="col-lg-6 mt-6">
            <div class="form-group">
              <label>{{ l('ApproximateTripGoodsValue') }} </label>
              <div class="input-group date">
                <input
                  type="text"
                  class="form-control"
                  name="approximateGoodsTotalValue"
                  (keypress)="numberOnly($event)"
                  [(ngModel)]="trip.totalValue"
                  placeholder="{{ l('ApproximateTripGoodsValue') }}"
                  disabled
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="la la-dollar"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!--  end::Trip Goods Approximate Value -->
          <div class="col-lg-6 mt-4">
            <div class="form-group row">
              <div class="col-6 col-form-label mt-10">
                <div class="checkbox-inline mt-3">
                  <label class="checkbox checkbox-danger">
                    <input type="checkbox" name="trip.needsDeliveryNote" [(ngModel)]="trip.needsDeliveryNote" disabled />
                    <span></span>
                    {{ l('NeedsDeliveryNote') }}
                  </label>
                </div>
              </div>
              <div class="col-6 col-form-label mt-10">
                <div class="checkbox-inline float-right">
                  <label class="checkbox checkbox-danger">
                    <input type="checkbox" name="trip.hasAttachment" [(ngModel)]="trip.hasAttachment" disabled />
                    <span></span>
                    {{ l('HasAttachment') }}
                    <a
                      (click)="_fileDownloadService.downloadFileByBinaryId(this.trip.documentFile?.name, this.trip.documentFile?.binaryObjectId)"
                      class="btn btn-icon btn-circle btn-outline-danger btn-sm ml-2"
                      *ngIf="trip.hasAttachment"
                    >
                      <i class="fas fa-long-arrow-alt-down"></i>
                    </a>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <!-- begin::Vas's  -->
          <!--          <div class="col-lg-6" *ngIf="VasListFromFather.length > 0">-->
          <!--            <div class="form-group" *ngIf="selectedVases != []">-->
          <!--              <label>{{ l('vases') }}* </label>-->
          <!--              <p-multiSelect-->
          <!--                [options]="Vases"-->
          <!--                [(ngModel)]="selectedVases"-->
          <!--                [styleClass]="'form-control'"-->
          <!--                [filter]="false"-->
          <!--                [showHeader]="false"-->
          <!--                [defaultLabel]="''"-->
          <!--                optionLabel="name"-->
          <!--              ></p-multiSelect>-->
          <!--            </div>-->
          <!--          </div>-->

          <!--      end:Vas's      -->
          <!--  start:: RouteSteps -->
          <PointsComponent #RouteSteps></PointsComponent>
          <!--  end:: RouteSteps -->
          <!--end::Body-->
        </div>
      </div>
      <div class="modal-footer">
        <!--begin::Buttons-->

        <button type="button" class="btn btn-primary font-weight-bolder btn-sm py-3 px-6 text-uppercase" (click)="close()">
          {{ l('Close') }}
        </button>
        <!--end::Buttons-->
      </div>
    </div>
  </div>
</div>
