<div
  bsModal
  #viewTripDetails="bs-modal"
  class="modal fade"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">
          <span>{{ l('TripDetails') }}</span> <small> - {{ trip.waybillNumber }}</small>
        </p>
        <div class="card-toolbar">
          <button
            *ngIf="
              trip.status != shippingRequestTripStatusEnum.Canceled && (feature.isEnabled('App.Carrier') || feature.isEnabled('App.TachyonDealer'))
            "
            type="button"
            class="btn btn-primary blue"
            (click)="ResetTrip(_TripService.activeTripId)"
            [buttonBusy]="isResetTripLoading"
          >
            <i class="fa flaticon2-reload-1"></i>
            {{ l('Reset') }}
          </button>
          <button class="btn btn-primary" (click)="DownloadSingleDropWaybillPdf(_TripService.activeTripId)" [buttonBusy]="wayBillIsDownloading">
            <i class="fa flaticon2-print"></i>
            {{ l('PrintWaybill') }}
          </button>
          <button class="btn btn-primary" (click)="getNotes()">
            <i class="fa fa-list"></i>
            {{ l('Notes') }}
          </button>
        </div>
      </div>
      <div class="modal-body" [busyIf]="loading">
        <div class="row" *ngIf="shippingRequestForView?.shippingRequestFlag == ShippingRequestFlagEnum.Dedicated">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="TripType"> {{ l('TripType') }} </label>
              <select #TripType="ngModel" name="TripType" id="TripType" [(ngModel)]="trip.shippingRequestTripFlag" class="form-control" disabled>
                <option *ngFor="let flag of ShippingRequestTripFlagArray" [value]="flag.key">{{ flag.value }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row" [hidden]="!this.feature.isEnabled('App.CarrierClients') || _TripService.GetShippingRequestForViewOutput">
          <div class="col-6" *ngIf="_TripService?.CreateOrEditShippingRequestTripDto">
            <div class="form-group">
              <label>{{ l('ActorShipper') }}</label>
              <div>
                <dx-select-box
                  id="ActorShipper"
                  name="ActorShipper"
                  [(value)]="_TripService.CreateOrEditShippingRequestTripDto.shipperActorId"
                  [dataSource]="AllActorsShippers"
                  [searchEnabled]="true"
                  displayExpr="displayName"
                  valueExpr="id"
                  placeholder="{{ l('SelectActor') }}"
                  [disabled]="true"
                >
                </dx-select-box>
              </div>
            </div>
            <div class="form-group" *ngIf="_TripService.CreateOrEditShippingRequestTripDto.shipperActorId">
              <label>{{ l('Price') }} <span class="text-danger">*</span></label>
              <input
                [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.actorShipperPrice.subTotalAmountWithCommission"
                min="0"
                (keypress)="numberOnly($event)"
                required
                type="number"
                class="form-control"
                name="subTotalAmountWithCommission"
                [disabled]="true"
              />
            </div>
            <div class="form-group" *ngIf="_TripService.CreateOrEditShippingRequestTripDto.shipperActorId">
              <label>{{ l('TripVatAmount') }} <span class="text-danger">*</span></label>
              <input
                [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.actorShipperPrice.vatAmountWithCommission"
                required
                min="0"
                type="number"
                class="form-control"
                name="vatAmountWithCommission"
                disabled
              />
            </div>

            <div class="form-group" *ngIf="_TripService.CreateOrEditShippingRequestTripDto.shipperActorId">
              <label>{{ l('TotalAmount') }} <span class="text-danger">*</span></label>
              <input
                [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto?.actorShipperPrice.totalAmountWithCommission"
                required
                min="0"
                type="number"
                class="form-control"
                name="totalAmountWithCommission"
                disabled
              />
            </div>
          </div>

          <div class="col-6" *ngIf="_TripService?.CreateOrEditShippingRequestTripDto">
            <div class="form-group">
              <label>{{ l('ActorCarrier') }}</label>
              <div>
                <dx-select-box
                  id="ActorCarrier"
                  name="ActorCarrier"
                  [(value)]="_TripService.CreateOrEditShippingRequestTripDto.carrierActorId"
                  [dataSource]="AllActorsCarriers"
                  [searchEnabled]="true"
                  displayExpr="displayName"
                  valueExpr="id"
                  placeholder="{{ l('SelectActor') }}"
                  [disabled]="true"
                >
                </dx-select-box>
              </div>
            </div>
            <div class="form-group" *ngIf="_TripService.CreateOrEditShippingRequestTripDto.carrierActorId">
              <label>{{ l('Price') }} <span class="text-danger">*</span></label>
              <input
                [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.actorCarrierPrice.subTotalAmount"
                min="0"
                (keypress)="numberOnly($event)"
                required
                type="number"
                class="form-control"
                name="subTotalAmount"
                disabled
              />
            </div>
            <div class="form-group" *ngIf="_TripService.CreateOrEditShippingRequestTripDto.carrierActorId">
              <label>{{ l('TripVatAmount') }} <span class="text-danger">*</span></label>
              <input
                [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.actorCarrierPrice.vatAmount"
                required
                min="0"
                type="number"
                class="form-control"
                name="vatAmount"
                disabled
              />
            </div>
          </div>
        </div>
        <div class="row" [hidden]="_TripService.GetShippingRequestForViewOutput" *ngIf="_TripService.CreateOrEditShippingRequestTripDto">
          <div class="col-lg-6">
            <div class="form-group">
              <label> {{ l('ShippingType') }}</label>
              <div>
                <select
                  class="form-control"
                  name="shippingTypeId"
                  [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.shippingTypeId"
                  disabled
                  required
                >
                  <!-- [class.is-valid]="
                            shippingType.valid && (shippingType.dirty || shippingType.touched)
                          "
                          [class.is-invalid]="
                            shippingType.invalid && (shippingType.dirty || shippingType.touched)
                          " -->
                  <!--                          <option [ngValue]="null">{{ l('SelectAshippingType') }}</option>-->
                  <option *ngFor="let item of allShippingTypes" value="{{ item.id }}">{{ item.displayName }}</option>
                </select>
              </div>
            </div>
          </div>
          <div
            class="col-lg-6"
            *ngIf="
              _TripService.CreateOrEditShippingRequestTripDto.shippingTypeId == ShippingTypeEnum.ImportPortMovements ||
              _TripService.CreateOrEditShippingRequestTripDto.shippingTypeId == ShippingTypeEnum.ExportPortMovements
            "
          >
            <div class="form-group">
              <label>{{ l('RoundTrip') }} </label>
              <div>
                <select
                  class="form-control"
                  name="roundTripType"
                  [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.roundTripType"
                  required
                  disabled
                >
                  <option disabled [ngValue]="null">{{ l('SelectARoundTripType') }}</option>
                  <option *ngFor="let item of allRoundTripTypes" value="{{ item.id }}">{{ item.displayName }}</option>
                </select>
              </div>
            </div>
          </div>
          <!-- End Shipping Type -->

          <!-- Route type -->

          <ng-container
            *ngIf="
              (_TripService.GetShippingRequestForViewOutput &&
                _TripService.GetShippingRequestForViewOutput?.shippingRequestFlag === ShippingRequestFlagEnum.Dedicated) ||
              !_TripService.GetShippingRequestForViewOutput
            "
          >
            <div
              class="form-group col-lg-6"
              *ngIf="
                _TripService.CreateOrEditShippingRequestTripDto.shippingTypeId != ShippingTypeEnum.ImportPortMovements &&
                _TripService.CreateOrEditShippingRequestTripDto.shippingTypeId != ShippingTypeEnum.ExportPortMovements &&
                _TripService.CreateOrEditShippingRequestTripDto.shippingRequestTripFlag != ShippingRequestTripFlagEnum.HomeDelivery
              "
            >
              <label>{{ l('RouteType') }}</label>
              <select
                name="routeType"
                type="text"
                [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.routeType"
                class="form-control"
                [disabled]="true"
                required
              >
                <option disabled [ngValue]="null">{{ l('SelectRouteType') }}</option>
                <option [value]="r.key" *ngFor="let r of routeTypes">
                  {{ l(r.value) | localize }}
                </option>
              </select>
            </div>
            <div
              class="form-group col-lg-6"
              *ngIf="
                _TripService.CreateOrEditShippingRequestTripDto.shippingTypeId != ShippingTypeEnum.ImportPortMovements &&
                _TripService.CreateOrEditShippingRequestTripDto.shippingTypeId != ShippingTypeEnum.ExportPortMovements &&
                _TripService.CreateOrEditShippingRequestTripDto.routeType == RouteTypesEnum.MultipleDrops &&
                _TripService.CreateOrEditShippingRequestTripDto.shippingRequestTripFlag != ShippingRequestTripFlagEnum.HomeDelivery
              "
            >
              <label>{{ l('NumberOfDrops') }}</label>
              <input
                #numberOfDrops="ngModel"
                type="number"
                class="form-control"
                name="numberOfDrops"
                [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.numberOfDrops"
                [min]="2"
                [class.is-invalid]="numberOfDrops.touched && !numberOfDrops.valid"
                [class.is-valid]="numberOfDrops.touched && numberOfDrops.valid"
                [disabled]="true"
                required
              />
            </div>
          </ng-container>
          <!-- End route type -->
          <!-- Origin & destination -->
          <!--    Countries    -->
          <div class="col-lg-6">
            <div class="form-group">
              <label
                >{{
                  _TripService.CreateOrEditShippingRequestTripDto.shippingTypeId != ShippingTypeEnum.ImportPortMovements &&
                  _TripService.CreateOrEditShippingRequestTripDto.shippingTypeId != ShippingTypeEnum.ExportPortMovements
                    ? l('OriginCountry')
                    : l('Country')
                }}
              </label>
              <div>
                <select class="form-control" name="originCountry" [(ngModel)]="originCountry" disabled required>
                  <option value="undefined" selected disabled>{{ l('SelectanOriginCountry') }}</option>
                  <option *ngFor="let item of allCountries" value="{{ item.id }}">{{ item.translatedDisplayName }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-6" *ngIf="_TripService.CreateOrEditShippingRequestTripDto.shippingTypeId == ShippingTypeEnum.CrossBorderMovements">
            <div class="form-group">
              <label> {{ l('DestinationCountry') }}</label>
              <div>
                <!-- [class.is-valid]="
                              step2Form.get('destinationCountry').valid &&
                              (step2Form.get('destinationCountry').dirty || step2Form.get('destinationCountry').touched)
                            "
                            [class.is-invalid]="
                              step2Form.get('destinationCountry').invalid &&
                              (step2Form.get('destinationCountry').dirty || step2Form.get('destinationCountry').touched)
                            " -->
                <!--                      [attr.disabled]="-->
                <!--                        _TripService.CreateOrEditShippingRequestTripDto.shippingTypeId &&-->
                <!--                        (_TripService.CreateOrEditShippingRequestTripDto.shippingTypeId == 2 ||-->
                <!--                        _TripService.CreateOrEditShippingRequestTripDto.shippingTypeId == 1-->
                <!--                          ? true-->
                <!--                          : null)-->
                <!--                      "-->
                <select class="form-control" name="destinationCountry" [(ngModel)]="destinationCountry" disabled required>
                  <option value="undefined" selected disabled>{{ l('SelectanDestinationCountry') }}</option>
                  <option *ngFor="let item of allCountries" value="{{ item.id }}">{{ item.displayName }}</option>
                </select>
                <div class="invalid-feedback">{{ l('SourceAndDestinationCantBeTheSame') }}</div>
              </div>
            </div>
          </div>

          <!--    Cities        -->
          <div class="col-lg-6">
            <div
              class="form-group"
              *ngIf="
                _TripService.CreateOrEditShippingRequestTripDto.shippingTypeId != ShippingTypeEnum.ImportPortMovements &&
                _TripService.CreateOrEditShippingRequestTripDto.shippingTypeId != ShippingTypeEnum.ExportPortMovements
              "
            >
              <label>{{ l('OriginCity') }} </label>
              <div>
                <!-- [class.is-valid]="
                              step2Form.get('originCity').valid && (step2Form.get('originCity').dirty || step2Form.get('originCity').touched)
                            "
                            [class.is-invalid]="
                              step2Form.get('originCity').invalid && (step2Form.get('originCity').dirty || step2Form.get('originCity').touched)
                            " -->
                <select
                  class="form-control"
                  name="originCity"
                  [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.originCityId"
                  disabled
                  required
                >
                  <option [ngValue]="null" disabled selected>{{ l('SelectanOriginCity') }}</option>
                  <option *ngFor="let originCity of sourceCities" [ngValue]="Number(originCity.id)">{{ originCity.displayName }}</option>
                </select>
              </div>
            </div>
            <div
              class="form-group"
              *ngIf="
                _TripService.CreateOrEditShippingRequestTripDto.shippingTypeId == ShippingTypeEnum.ImportPortMovements ||
                _TripService.CreateOrEditShippingRequestTripDto.shippingTypeId == ShippingTypeEnum.ExportPortMovements
              "
            >
              <label>{{ l('Origin') }} </label>
              <div>
                <!-- [class.is-valid]="
                              step2Form.get('originFacility').valid &&
                              (step2Form.get('originFacility').dirty || step2Form.get('originFacility').touched)
                            "
                            [class.is-invalid]="
                              step2Form.get('originFacility').invalid &&
                              (step2Form.get('originFacility').dirty || step2Form.get('originFacility').touched)
                            " -->
                <select
                  class="form-control"
                  name="originFacility"
                  [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.originFacilityId"
                  disabled
                  required
                  *ngIf="_TripService.CreateOrEditShippingRequestTripDto.shippingTypeId == ShippingTypeEnum.ImportPortMovements"
                >
                  <option [ngValue]="null" disabled selected>{{ l('SelectanOrigin') }}</option>
                  <option *ngFor="let originPort of allOriginPorts" [ngValue]="Number(originPort.id)">
                    {{ originPort.displayName }}
                  </option>
                </select>
                <!-- [class.is-valid]="
                              step2Form.get('originCity').valid && (step2Form.get('originCity').dirty || step2Form.get('originCity').touched)
                            "
                            [class.is-invalid]="
                              step2Form.get('originCity').invalid && (step2Form.get('originCity').dirty || step2Form.get('originCity').touched)
                            " -->
                <select
                  class="form-control"
                  name="originCity"
                  [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.originCityId"
                  disabled
                  required
                  *ngIf="_TripService.CreateOrEditShippingRequestTripDto.shippingTypeId == ShippingTypeEnum.ExportPortMovements"
                >
                  <option [ngValue]="null" disabled selected>{{ l('SelectanOriginCity') }}</option>
                  <option *ngFor="let originCity of sourceCities" [ngValue]="Number(originCity.id)">{{ originCity.displayName }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-6" [hidden]="_TripService.CreateOrEditShippingRequestTripDto.shippingTypeId == ShippingTypeEnum.LocalInsideCity">
            <div class="form-group">
              <label> {{ l('DestinationCity') }}</label>
              <div>
                <!-- [class.is-valid]="
                              step2Form.get('destinationCity').valid &&
                              (step2Form.get('destinationCity').dirty || step2Form.get('destinationCity').touched)
                            "
                            [class.is-invalid]="
                              step2Form.get('destinationCity').invalid &&
                              (step2Form.get('destinationCity').dirty || step2Form.get('destinationCity').touched)
                            " -->
                <p-multiSelect
                  name="destinationCity"
                  [options]="destinationCities"
                  [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.shippingRequestDestinationCities"
                  optionLabel="cityName"
                  [disabled]="true"
                  [maxSelectedLabels]="0"
                  [selectedItemsLabel]="l('{0} items selected')"
                  [style]="{ width: '100%' }"
                  styleClass="form-control pt-1"
                  [dataKey]="'cityId'"
                  [selectionLimit]="_TripService.CreateOrEditShippingRequestTripDto.routeType == 1 ? 1 : 10"
                >
                </p-multiSelect>
                <div class="invalid-feedback">{{ l('SourceAndDestinationCantBeTheSame') }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!--begin::Body-->
          <div class="col-lg-6">
            <div class="form-group">
              <label>{{ l('Trip_StartDate') }} </label>
              <div class="input-group date">
                <input
                  [(date)]="trip.startTripDate"
                  class="form-control"
                  name="tripStartDate"
                  placeholder="{{ l('DatePlaceholder') }}"
                  bsDatepicker
                  datePickerMomentModifier
                  disabled
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="la la-calendar-check-o"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label><span class="required-fileds"></span>{{ l('TripEndDate') }} </label>
              <div class="input-group date">
                <input
                  [(date)]="trip.endTripDate"
                  class="form-control"
                  name="tripEndDate"
                  placeholder="{{ l('DatePlaceholder') }}"
                  bsDatepicker
                  datePickerMomentModifier
                  disabled
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    <i class="la la-calendar-check-o"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 form-group d-inline-flex">
            <div class="input-group d-inline-block">
              <label> {{ l('supposedPickupTimeFrom') }}</label>
              <dx-date-box name="supposedPickupDateFrom" [(value)]="trip.supposedPickupDateFrom" type="time" pickerType="list" [disabled]="true">
              </dx-date-box>
            </div>
            <div class="input-group d-inline-block">
              <label> {{ l('supposedPickupTimeTo') }}</label>
              <dx-date-box name="supposedPickupDateTo" [(value)]="trip.supposedPickupDateTo" type="time" pickerType="list" [disabled]="true">
              </dx-date-box>
            </div>
          </div>
          <div class="col-lg-6">
            <label>{{ l('ExpectedDeliveryTime') }}</label>
            <div class="form-group" [busyIf]="expectedDeliveryTimeLoading">
              <dx-date-box
                [(value)]="expectedDeliveryTime"
                (onValueChanged)="updateTripExpectedDeliveryTime()"
                type="datetime"
                [min]="trip.startTripDate"
                openOnFieldClick="true"
                [disabled]="!isGranted('Pages.ShippingRequestTrips.Edit')"
              >
              </dx-date-box>
            </div>
          </div>
          <div class="col-lg-6" *ngIf="!_TripService.GetShippingRequestForViewOutput && _TripService.CreateOrEditShippingRequestTripDto">
            <label>{{ l('MainGoodCategory') }} </label>
            <div>
              <select
                class="form-control"
                name="goodCategoryId"
                [disabled]="true"
                [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.goodCategoryId"
              >
                <!--                            <option [ngValue]="undefined" disabled selected>{{ l('SelectAGoodCategory') }}</option>-->
                <option *ngFor="let item of allGoodCategorys" value="{{ item.id }}">{{ item.displayName }}</option>
              </select>
            </div>
          </div>
          <!--  begin::Trip Goods Approximate Value -->
          <div class="col-lg-6 mt-2">
            <div class="form-group">
              <label>{{ l('ApproximateTripGoodsValue') }} </label>
              <div class="input-group date">
                <input
                  type="text"
                  class="form-control"
                  name="approximateGoodsTotalValue"
                  (keypress)="numberOnly($event)"
                  [(ngModel)]="trip.totalValue"
                  placeholder="{{ l('ApproximateTripGoodsValue') }}"
                  disabled
                />
                <div class="input-group-append">
                  <span class="input-group-text">
                    {{ l('SAR') }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!--  end::Trip Goods Approximate Value -->
          <div class="col-lg-6">
            <div class="form-group row">
              <div class="col-6 col-form-label" *ngIf="trip.shippingRequestTripFlag == ShippingRequestTripFlagEnum.Normal && !isPortMovement">
                <label for="DeliveryNote"> {{ l('DeliveryNote') }} </label>
                <select name="DeliveryNote" id="DeliveryNote" [(ngModel)]="trip.needsDeliveryNote" class="form-control" disabled>
                  <option [ngValue]="true">{{ l('Yes') }}</option>
                  <option [ngValue]="false">{{ l('No') }}</option>
                </select>
              </div>
              <div
                [class]="
                  trip.shippingRequestTripFlag == ShippingRequestTripFlagEnum.Normal && !isPortMovement
                    ? 'col-6 col-form-label'
                    : 'col-12 col-form-label'
                "
              >
                <label for="Attachment">{{ l('Attachment') }} </label>
                <select name="Attachment" id="Attachment" [(ngModel)]="trip.hasAttachment" class="form-control" disabled>
                  <option [ngValue]="true">{{ l('Yes') }}</option>
                  <option [ngValue]="false">{{ l('No') }}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-lg-6" *ngIf="trip.isRequestOwner && _TripService?.GetShippingRequestForViewOutput?.shippingRequest?.id">
            <div class="form-group">
              <!--                expected trip Delivery Date-->
              <label>{{ l('ContainerNumber') }}</label>
              <input
                #ContainerNumber
                id="ContainerNumber"
                class="form-control"
                name="ContainerNumber"
                [(ngModel)]="trip.containerNumber"
                type="text"
                disabled
              />
            </div>
          </div>
          <div class="col-lg-6" *ngIf="trip.isRequestOwner && _TripService?.GetShippingRequestForViewOutput?.shippingRequest?.id">
            <div class="form-group">
              <!--                expected trip Delivery Date-->
              <label>{{ l('SealNumber') }}</label>
              <input #SealNumber id="SealNumber" class="form-control" name="SealNumber" [(ngModel)]="trip.sealNumber" type="text" disabled />
            </div>
          </div>
          <div class="col-lg-6" *ngIf="_TripService.CreateOrEditShippingRequestTripDto">
            <div class="form-group">
              <label>{{ l('ContainerNumber') }}</label>
              <input
                #ContainerNumber
                id="ContainerNumber"
                class="form-control"
                name="ContainerNumber"
                [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.containerNumber"
                type="text"
                [disabled]="true"
              />
            </div>
          </div>
          <div class="col-lg-6" *ngIf="_TripService.CreateOrEditShippingRequestTripDto">
            <div class="form-group">
              <!--                expected trip Delivery Date-->
              <label>{{ l('SealNumber') }}</label>
              <input
                id="SealNumber"
                class="form-control"
                name="SealNumber"
                [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.sealNumber"
                type="text"
                [disabled]="true"
              />
            </div>
          </div>

          <!--   StartOf::Driver&Truck for DedicatedSR -->
          <ng-container
            *ngIf="
              (isShipper || isTachyonDealer) &&
              shippingRequestForView &&
              shippingRequestForView?.shippingRequestFlag === ShippingRequestFlagEnum.Dedicated
            "
          >
            <div class="form-group col-lg-6">
              <label>{{ l('RouteType') }}</label>
              <select name="routeType" type="text" [(ngModel)]="trip.routeType" class="form-control" disabled>
                <option disabled [ngValue]="null">{{ l('SelectRouteType') }}</option>
                <option [value]="r.key" *ngFor="let r of routeTypes">
                  {{ l(r.value) | localize }}
                </option>
              </select>
            </div>
            <div class="form-group col-lg-6" *ngIf="trip.routeType == RouteTypesEnum.MultipleDrops">
              <label>{{ l('NumberOfDrops') }}</label>
              <input #numberOfDrops="ngModel" type="number" class="form-control" name="numberOfDrops" [(ngModel)]="trip.numberOfDrops" disabled />
            </div>
            <div class="form-group col-lg-6">
              <label>{{ l('Driver') }}</label>
              <select name="driverUserId" type="text" [(ngModel)]="trip.assignedDriverUserId" class="form-control" disabled>
                <option disabled [ngValue]="null">{{ l('SelectaDriver') }}</option>
                <option *ngFor="let item of allDedicatedDrivers" [value]="item.id">{{ item.displayName }}</option>
              </select>
            </div>
            <div class="form-group col-lg-6">
              <label>{{ l('Truck') }}</label>
              <select name="truckId" type="text" [(ngModel)]="trip.assignedTruckId" class="form-control" disabled>
                <option disabled [ngValue]="null">{{ l('Selectatruck') }}</option>
                <option *ngFor="let item of allDedicatedTrucks" [value]="item.id">{{ item.displayName }}</option>
              </select>
            </div>
          </ng-container>

          <ng-container
            *ngIf="!_TripService.GetShippingRequestForViewOutput && !canAssignTrucksAndDrivers && _TripService.CreateOrEditShippingRequestTripDto"
          >
            <div class="form-group col-lg-6">
              <label>{{ l('Driver') }}</label>
              <select
                name="driverUserId"
                type="text"
                [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.driverUserId"
                class="form-control"
                [disabled]="true"
              >
                <option disabled [ngValue]="null">{{ l('SelectaDriver') }}</option>
                <option *ngFor="let item of allDrivers" [value]="item.id">{{ item.displayName }}</option>
              </select>
            </div>
            <div class="form-group col-lg-6">
              <label>{{ l('Truck') }}</label>
              <select
                name="truckId"
                type="text"
                [(ngModel)]="_TripService.CreateOrEditShippingRequestTripDto.truckId"
                class="form-control"
                [disabled]="true"
              >
                <option disabled [ngValue]="null">{{ l('Selectatruck') }}</option>
                <option *ngFor="let item of allTrucks" [value]="item.truckId">{{ item.truckName }}</option>
              </select>
            </div>
          </ng-container>
          <!--   EndOf::Driver&Truck for DedicatedSR -->

          <!-- StartOf::Driver&Truck -->

          <ng-container
            *ngIf="
              (canAssignTrucksAndDrivers &&
                trip.status !== shippingRequestTripStatusEnum.Delivered &&
                shippingRequestForView?.shippingRequestFlag === ShippingRequestFlagEnum.Normal) ||
              (canAssignTrucksAndDrivers &&
                trip.status !== shippingRequestTripStatusEnum.Delivered &&
                isShipper &&
                shippingRequestForView &&
                shippingRequestForView?.shippingRequestFlag === ShippingRequestFlagEnum.Dedicated &&
                trip.shippingRequestTripFlag == ShippingRequestTripFlagEnum.Normal)
            "
          >
            <div class="form-group col-lg-6">
              <label>{{ l('Driver') }}</label>
              <select
                name="driver"
                type="text"
                [(ngModel)]="assignDriverAndTruck.assignedDriverUserId"
                (click)="checkData('driver')"
                class="form-control"
                [disabled]="saving || !isGranted('Pages.ShippingRequestTrips.Edit')"
                (change)="DriverOrTruckSelected(assignDriverAndTruck.assignedDriverUserId, null)"
              >
                <option [ngValue]="null">{{ l('SelectaDriver') }}</option>
                <option *ngFor="let item of allDrivers" [value]="item.id">{{ item.displayName }}</option>
              </select>
            </div>
            <div class="form-group col-lg-5">
              <label>{{ l('Truck') }}</label>
              <select
                name="truck"
                type="text"
                [(ngModel)]="assignDriverAndTruck.assignedTruckId"
                (click)="checkData('truck')"
                class="form-control"
                [disabled]="!isGranted('Pages.ShippingRequestTrips.Edit') || saving"
                (change)="DriverOrTruckSelected(null, assignDriverAndTruck.assignedTruckId)"
              >
                <option [ngValue]="null">{{ l('Selectatruck') }}</option>
                <option *ngFor="let item of allTrucks" [value]="item.id">{{ item.displayName }}</option>
              </select>
            </div>
            <div class="form-group col-lg-1 mt-7 align-items-end">
              <button
                *ngIf="isGranted('Pages.ShippingRequestTrips.Edit')"
                class="btn btn-danger btn-shadow-hover font-weight-bold mr-2"
                (click)="assignDriverandTruck()"
                [disabled]="saving || !assignDriverAndTruck.assignedDriverUserId || !assignDriverAndTruck.assignedTruckId"
              >
                {{ l('Save') }}
              </button>
            </div>
          </ng-container>
          <ng-container *ngIf="isPortMovement && trip.tripManifestDataDto">
            <div class="col-12">
              <div class="d-flex">
                <div class="form-group mt-7 d-flex flex-column justify-content-center">
                  {{ l('TripManifest') }}: {{ trip.tripManifestDataDto.documentName }}
                </div>
                &nbsp;&nbsp;
                <div class="form-group mt-7 align-items-end">
                  <button class="btn btn-danger btn-shadow-hover font-weight-bold mr-2" (click)="downloadTripManifest()">
                    <i class="fa fa-download"></i>
                    {{ l('Download') }}
                  </button>
                </div>
              </div>
            </div>
          </ng-container>

          <!--   EndOf::Driver&Truck -->
          <!--  start:: Notes-->

          <div class="col-lg-12" *ngIf="trip.note">
            <label>{{ l('Notes') }}</label>
            <div class="input-group">
              <textarea name="notes" class="form-control" [(ngModel)]="trip.note" disabled></textarea>
            </div>
          </div>
          <!--  end:: Notes-->

          <!--        begin of home delivery for dedicated request special fields          -->
          <ng-container
            *ngIf="
              shippingRequestForView &&
              shippingRequestForView?.shippingRequestFlag === ShippingRequestFlagEnum.Dedicated &&
              trip.shippingRequestTripFlag == ShippingRequestTripFlagEnum.HomeDelivery
            "
          >
            <div class="form-group col-lg-3">
              <label>{{ l('RouteType') }}</label>
              <select name="routeType" type="text" [(ngModel)]="trip.routeType" class="form-control" disabled>
                <option disabled [ngValue]="null">{{ l('SelectRouteType') }}</option>
                <option [value]="r.key" *ngFor="let r of routeTypes">
                  {{ l(r.value) | localize }}
                </option>
              </select>
            </div>
            <div class="col-lg-3 form-group">
              <label>{{ l('NumberOfDrops') }}</label>
              <input
                #numberOfDrops="ngModel"
                type="number"
                class="form-control"
                name="numberOfDrops"
                [(ngModel)]="trip.numberOfDrops"
                [class.is-invalid]="numberOfDrops.touched && !numberOfDrops.valid"
                [class.is-valid]="numberOfDrops.touched && numberOfDrops.valid"
                disabled
              />
            </div>
          </ng-container>
          <!--        end of home delivery for dedicated request special fields          -->

          <!-- begin::Vas's  -->
          <!--          <div class="col-lg-6" *ngIf="VasListFromFather.length > 0">-->
          <!--            <div class="form-group" *ngIf="selectedVases != []">-->
          <!--              <label>{{ l('vases') }}* </label>-->
          <!--              <p-multiSelect-->
          <!--                [options]="Vases"-->
          <!--                [(ngModel)]="selectedVases"-->
          <!--                [styleClass]="'form-control'"-->
          <!--                [filter]="false"-->
          <!--                [showHeader]="false"-->
          <!--                [defaultLabel]="''"-->
          <!--                optionLabel="name"-->
          <!--              ></p-multiSelect>-->
          <!--            </div>-->
          <!--          </div>-->

          <!--      end:Vas's      -->
          <!--  start:: RouteSteps -->
          <PointsComponent
            *ngIf="viewTripDetails.isShown"
            [isPortMovement]="isPortMovement"
            [isHomeDelivery]="trip.shippingRequestTripFlag == ShippingRequestTripFlagEnum.HomeDelivery"
          ></PointsComponent>
          <!--  end:: RouteSteps -->
          <!--end::Body-->
        </div>
      </div>
      <div class="modal-footer">
        <!--begin::Buttons-->

        <button type="button" class="btn btn-light font-weight-bolder btn-sm py-3 px-6 text-uppercase" (click)="close()">
          {{ l('Close') }}
        </button>
        <!--end::Buttons-->
      </div>
    </div>
  </div>
</div>
<shared-file-viewer #fileViwerComponent></shared-file-viewer>

<app-trip-notes-modal #TripNotesModal [tripId]="_TripService.activeTripId" [type]="type"> </app-trip-notes-modal>
