<div
  bsModal
  #voidInvoiceModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div *ngIf="active" class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <span>{{ l('VoidInvoice') }}</span>
        </h4>
      </div>
      <div class="modal-body d-flex justify-content-center align-items-center">
        <div class="row">
          <div class="col mb-3">
            <button [buttonBusy]="sendFullVoidLoading" (click)="sendFullVoid()" class="btn btn-danger btn-lg btn-outline-danger">
              {{ l('Fully') }}
            </button>
          </div>
          <div class="col mb-3">
            <button class="btn btn-success btn-lg btn-outline-success" (click)="SendPartiallyVoid()">{{ l('Partially') }}</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{ l('Close') }}</button>
      </div>
    </div>
  </div>
</div>
<create-or-edit-note-modal #CreateOrEditNoteModalComponent (modalSave)="close()"></create-or-edit-note-modal>
