<div
  bsModal
  #modal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #balanceRechargeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>{{ l('CreateNewBalanceRecharge') }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group m-form__group">
            <label for="Tenant">{{ l('ClientName') }}</label>
            <p-autoComplete
              name="Tenant"
              [(ngModel)]="Tenant"
              [suggestions]="Tenants"
              (completeMethod)="search($event)"
              field="displayName"
              [forceSelection]="true"
            ></p-autoComplete>
          </div>

          <div class="form-group">
            <label for="RechargeAmount">{{ l('RechargeAmount') }} *</label>
            <input type="number" id="Amount" class="form-control" [(ngModel)]="Recharge.amount" name="Amount" min="1" required />
          </div>
          <div class="form-group">
            <label for="referenceNo">{{ l('referenceNo') }}</label>
            <input type="text" id="referenceNo" class="form-control" [(ngModel)]="Recharge.referenceNo" name="referenceNo" />
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
          <button
            type="submit"
            class="btn btn-save blue"
            [disabled]="!balanceRechargeForm.form.valid"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
