<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'DynamicInvoices' | localize" [description]="'' | localize">
      <div role="actions">
        <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{ l('ExportToExcel') }}</button>
        <p-splitButton
          #splitButton
          (onClick)="splitButton.onDropdownButtonClick(null)"
          [label]="'Add' | localize"
          [model]="items"
          styleClass="p-button-raised"
        ></p-splitButton>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <div class="row align-items-center">
            <!--              [remoteOperations]="true"-->
            <dx-data-grid
              style="height: 45vw"
              #dataGrid
              id="dataGrid"
              [dataSource]="dataSource"
              [showColumnLines]="true"
              [showRowLines]="false"
              [showBorders]="true"
              [rowAlternationEnabled]="true"
              keyExpr="id"
              [wordWrapEnabled]="true"
              (onEditingStart)="editRow($event)"
            >
              <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true"></dxo-editing>
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-search-panel [visible]="true"></dxo-search-panel>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-filter-builder-popup></dxo-filter-builder-popup>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <!--              <dxo-group-panel [visible]="true" emptyPanelText="{{ l('DragAColumnHeaderHereToGroupByThatColumn') }}"></dxo-group-panel>-->
              <!--              <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>-->
              <dxo-remote-operations [groupPaging]="false" [sorting]="false" [filtering]="false"></dxo-remote-operations>
              <dxo-paging [pageSize]="20"></dxo-paging>
              <dxo-summary>
                <dxi-group-item column="id" summaryType="count"></dxi-group-item>
              </dxo-summary>

              <dxi-column
                cellTemplate="cellTemplateActions"
                [allowFiltering]="false"
                [allowSorting]="false"
                [allowEditing]="false"
                [editorOptions]="{ visible: false }"
                [width]="50"
              ></dxi-column>
              <dxi-column dataField="invoiceNumber" caption="{{ l('InvoiceNumber') }}"></dxi-column>
              <dxi-column caption="{{ l('CompanyName') }}" [calculateCellValue]="getCompanyName"></dxi-column>
              <dxi-column dataField="notes" caption="{{ l('Notes') }}"></dxi-column>
              <div *dxTemplate="let options of 'cellTemplateActions'">
                <div class="btn-group dropdown" dropdown container="body">
                  <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" dropdownToggle>
                    <span class="svg-icon svg-icon-md">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"></rect>
                          <path
                            d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z"
                            fill="#000000"
                          ></path>
                        </g>
                      </svg>
                    </span>
                  </a>

                  <ul class="dropdown-menu" *dropdownMenu>
                    <li>
                      <a class="dropdown-item" (click)="dynamicInvoiceOnDemand(options.data)">{{ l('OnDemandInvoice') }}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<invoices-dynamic-modal (modalSave)="reloadPage()" #InvoicesDynamicModal></invoices-dynamic-modal>
