<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form *ngIf="active" #documentTypeTranslationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="documentTypeTranslation.id">{{ l('Edit') }} {{ l('DocumentTypeTranslation') }}</span>
            <span *ngIf="!documentTypeTranslation.id"> {{ l('Create') }} {{ l('NewDocumentTypeTranslation') }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group m-form__group">
            <label for="DocumentTypeDisplayName">{{ l('DocumentType') }}</label>
            <select name="documentTypeTranslation.coreId" [(ngModel)]="documentTypeTranslation.coreId" class="form-control" required>
              <option value="{{ -1 }}"> {{ l('Select') }} {{ l('DocumentType') }}</option>
              <option *ngFor="let item of allDocumentTypes" value="{{ item.id }}">{{ item.displayName }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="DocumentTypeTranslation_Name">{{ l('Name') }} *</label>
            <input
              type="text"
              id="DocumentTypeTranslation_Name"
              class="form-control"
              [(ngModel)]="documentTypeTranslation.name"
              name="Name"
              minlength="0"
              maxlength="256"
              required
            />
          </div>

          <div class="form-group">
            <label for="DocumentTypeTranslation_Language">{{ l('Language') }} *</label>
            <!-- <input
              type="text"
              id="DocumentTypeTranslation_Language"
              class="form-control"
              [(ngModel)]="documentTypeTranslation.language"
              name="Language"
              required
            /> -->
            <select id="DocumentTypeTranslation_Language" name="Language" [(ngModel)]="documentTypeTranslation.language" class="form-control">
              <option *ngFor="let language of languages" value="{{ language.displayName }}">{{ language.displayName }}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
          <button
            type="submit"
            class="btn btn-save blue"
            [disabled]="!documentTypeTranslationForm.form.valid"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
