agm-map {
  height: 100%;
}

.modalTrack .modal-xl {
  max-width: 93.33% !important;
  margin-left: auto;
  margin-right: auto;
}

.modalTrack .modal-body {
  display: flex;
  padding: 0;
}

.modalTrack .modal-body .closeModal {
  position: absolute;
  right: -11px;
  top: -11px;
  border-radius: 50%;
  background: #d82631;
  opacity: 1;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: 9;
}

.modalTrack form .info-x {
  color: rgba(36, 36, 36, 0.6);
}

.modalTrack.rtl .modal-body .closeModal {
  right: unset;
  left: -11px;
}

.modalTrack .modal-body .closeModal:hover,
.modalTrack .modal-body .closeModal:focus {
  box-shadow: none;
  opacity: 1;
  border: none;
  outline: none;
}

.modalTrack .modal-body .closeModal i {
  font-size: 18px;
  color: #fff;
}

.modalTrack .modal-body .detailsContent {
  flex: 0 0 330px;
  max-width: 330px;
  background-color: #e8e9f2;
  padding: 20px 12px;
}

.modalTrack .modal-body .map {
  flex: 0 0 calc(100% - 330px);
  max-width: calc(100% - 330px);
  background-color: #d8d8d8;
}

.modalTrack.tachyonDialer .detailsContent {
  position: relative;
}

.modalTrack.tachyonDialer img.markTachyon {
  position: absolute;
  right: 26px;
  width: 26px;
  top: -6px;
}

.modalTrack.rtl.tachyonDialer img.markTachyon {
  position: absolute;
  right: unset;
  left: 26px;
  width: 26px;
  top: -6px;
  transform: rotateY(180deg);
}

.modalTrack:not(.tachyonDialer) img.markTachyon {
  display: none;
}

.modalTrack .detailsContent > div {
  display: flex;
  flex-wrap: wrap;
}

.modalTrack .detailsContent > * {
  background: #fff;
  padding: 13px 10px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 15px;
}

.modalTrack .detailsContent > *:last-child {
  margin-bottom: 0;
}

.modalTrack .detailsContent > * > div {
  flex: 0 0 100%;
  max-width: 100%;
}

.modalTrack .detailsContent .infoBasic {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 20px;
  flex: 0 0 100%;
  display: flex;
}

.modalTrack .detailsContent .infoBasic .companyName {
  display: inline-block;
  font-size: 18px;
  color: #707070;
  font-weight: 500;
}

.modalTrack.tachyonDialer .detailsContent .infoBasic .companyName {
  color: #d82631;
}

.modalTrack .infoHighLight {
  font-size: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 3px 15px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.modalTrack .infoHighLight.green {
  background-color: #cef1cd;
  color: #0bb805;
}

.modalTrack .infoHighLight.red {
  background-color: #f3cfd1;
  color: #d82631;
}

.modalTrack .infoHighLight.blue {
  background-color: #c3dcf6;
  color: #0069d9;
}

.modalTrack .moreDetails {
  white-space: nowrap;
  flex-wrap: wrap;
  display: flex;
}

.modalTrack .moreDetails > div {
  margin-right: 20px;
}

.modalTrack.rtl .moreDetails > div {
  margin-right: unset;
  margin-left: 20px;
}

.modalTrack .moreDetails > div:last-of-type {
  margin: 0 !important;
}

.modalTrack .moreDetails > div p:nth-child(1) {
  font-size: 12px;
  color: #92a1b1;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.modalTrack .moreDetails > div p:nth-child(1) i {
  font-size: 16px;
  margin-right: 5px;
}

.modalTrack.rtl .moreDetails > div p:nth-child(1) i {
  margin-right: unset;
  margin-left: 5px;
}

.modalTrack .moreDetails > div p:nth-child(1) img {
  width: 16px;
  margin-right: 5px;
}

.modalTrack.rtl .moreDetails > div p:nth-child(1) img {
  margin-right: unset;
  margin-left: 5px;
}

.modalTrack .moreDetails > div p:nth-child(2) {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  margin-bottom: 15px;
}

.modalTrack .moreDetails > div:last-child p:nth-child(2) {
  margin: 0;
}

.modalTrack .moreDetails > div p:nth-child(2).isNum {
  margin-left: 25px;
}

.modalTrack.rtl .moreDetails > div p:nth-child(2) {
  text-align: right;
}

.modalTrack.rtl .moreDetails > div p:nth-child(2).isNum {
  margin-left: unset;
  margin-right: 25px;
}

.modalTrack .driverName .userDriver {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.modalTrack .actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  white-space: nowrap;
  margin-top: 16px;
}

.modalTrack .actions a,
.modalTrack .actions button {
  background-color: #d82631;
  color: #ffff;
  font-size: 13px;
  padding: 8px;
  text-transform: capitalize;
  font-weight: 500;
  border: 1px solid #d82631;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-left: 5px;
}

.modalTrack.rtl .actions a,
.modalTrack.rtl .actions button {
  margin-left: unset;
  margin-right: 5px;
}

.modalSendOffer agm-map {
  height: 100%;
}

.modalTrack .detailsContent .detailsRoad {
  flex-wrap: wrap;
  position: relative;
  padding-left: 15px;
}

.modalTrack.rtl .detailsContent .detailsRoad {
  padding-left: unset;
  padding-right: 15px;
  text-align: right;
}

.modalTrack .detailsContent .detailsRoad::before {
  content: '';
  position: absolute;
  left: -3px;
  top: 6px;
  width: 16px;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url('/assets/custom/imgs/iconRoad.png');
  background-size: 11px calc(100% - 31px);
}

.modalTrack.rtl .detailsContent .detailsRoad::before {
  left: unset;
  right: -6px;
}

.modalTrack .detailsContent .detailsRoad > div {
  flex: 0 0 100%;
  max-width: 100%;
}

.modalTrack .detailsContent .detailsRoad > div:nth-child(1) {
  margin-bottom: 18px;
}

.modalTrack .detailsContent .detailsRoad p {
  margin-bottom: 0;
  font-size: 14px;
  color: #92a1b1;
}

.modalTrack .detailsContent .detailsRoad p:nth-child(1) {
  margin-bottom: 3px;
  color: #d82631;
}

.modalTrack .detailsContent .divirCard {
  width: 100%;
  margin: 15px 0;
  height: 1px;
  background-color: #e1e1e1;
}

.modalTrack form {
  padding: 0 !important;
}

.modalTrack form > * {
  padding: 10px !important;
}

.modalTrack form .textComplete {
  font-size: 13px;
  color: #218838;
  margin-right: 6px;
}

.modalTrack form .textComplete i {
  font-size: 16px;
}

.modalTrack .title-x {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #242424;
  border-bottom: 1px solid #e1e1e1;
}

.modalTrack .title-x span.icon {
  font-size: 16px;
  color: #d82631;
}

.modalTrack .title-x span.icon .fa-chevron-up {
  color: #d82631;
}

.modalTrack form i.done {
  color: #fff !important;
}

.modalTrack form.complete .title-x span.icon {
  color: #218838 !important;
}

.modalTrack .complete .icon i {
  color: #218838 !important;
}

.modalTrack form:not(.complete) .textComplete {
  display: none;
}

.modalTrack i.rotateDown {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.modalTrack .location p {
  margin: 0;
  font-size: 13px;
  color: #707070;
  font-weight: 500;
}

.modalTrack.rtl .location p {
  text-align: right;
}

.modalTrack .pointsRoad {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalTrack .pointsRoad span {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: 1px solid #e68d92;
  background-color: #fff;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.modalTrack .pointsRoad span i {
  display: none;
  z-index: 6;
  font-size: 12px;
}

.modalTrack .pointsRoad b {
  flex: 1 0 auto;
  border-top: 1px dashed #e68d92;
}

/* STEP =====> 1 */
.modalTrack .pointsRoad[step='1'] span:nth-of-type(1) {
  border-color: #d82631;
  transform: scale(1.45);
  -webkit-transform: scale(1.45);
  -moz-transform: scale(1.45);
  -ms-transform: scale(1.45);
  -o-transform: scale(1.45);
}

.modalTrack .pointsRoad[step='1'] span:nth-of-type(1) i.now {
  display: inline-flex;
  color: #d82631;
}

/* STEP =====> 2 */
.modalTrack .pointsRoad[step='2'] b:nth-of-type(1) {
  border-top: 1px solid #d82631;
}

.modalTrack .pointsRoad[step='2'] span:nth-of-type(1) {
  background-color: #d82631;
  border-color: #d82631;
  color: #fff !important;
}

.modalTrack .pointsRoad[step='2'] span:nth-of-type(1) i.done {
  display: inline-flex;
}

.modalTrack .pointsRoad[step='2'] span:nth-of-type(2) {
  border-color: #d82631;
  transform: scale(1.45);
  -webkit-transform: scale(1.45);
  -moz-transform: scale(1.45);
  -ms-transform: scale(1.45);
  -o-transform: scale(1.45);
}

.modalTrack .pointsRoad[step='2'] span:nth-of-type(2) i.now {
  display: inline-flex;
  color: #d82631;
}

/* STEP =====> 3 */
.modalTrack .pointsRoad[step='3'] b:nth-of-type(1),
.modalTrack .pointsRoad[step='3'] b:nth-of-type(2) {
  border-top: 1px solid #d82631;
}

.modalTrack .pointsRoad[step='3'] span:nth-of-type(1),
.modalTrack .pointsRoad[step='3'] span:nth-of-type(2) {
  background-color: #d82631;
  border-color: #d82631;
  color: #fff !important;
}

.modalTrack .pointsRoad[step='3'] span:nth-of-type(1) i.done,
.modalTrack .pointsRoad[step='3'] span:nth-of-type(2) i.done {
  display: inline-flex;
}

.modalTrack .pointsRoad[step='3'] span:nth-of-type(3) {
  border-color: #d82631;
  transform: scale(1.45);
  -webkit-transform: scale(1.45);
  -moz-transform: scale(1.45);
  -ms-transform: scale(1.45);
  -o-transform: scale(1.45);
}

.modalTrack .pointsRoad[step='3'] span:nth-of-type(3) i.now {
  display: inline-flex;
  color: #d82631;
}

/* STEP =====> 4 */
.modalTrack .pointsRoad[step='4'] b:nth-of-type(1),
.modalTrack .pointsRoad[step='4'] b:nth-of-type(2),
.modalTrack .pointsRoad[step='4'] b:nth-of-type(3) {
  border-top: 1px solid #d82631;
}

.modalTrack .pointsRoad[step='4'] span:nth-of-type(1),
.modalTrack .pointsRoad[step='4'] span:nth-of-type(2),
.modalTrack .pointsRoad[step='4'] span:nth-of-type(3) {
  background-color: #d82631;
  border-color: #d82631;
  color: #fff !important;
}

.modalTrack .pointsRoad[step='4'] span:nth-of-type(1) i.done,
.modalTrack .pointsRoad[step='4'] span:nth-of-type(2) i.done,
.modalTrack .pointsRoad[step='4'] span:nth-of-type(3) i.done {
  display: inline-flex;
}

.modalTrack .pointsRoad[step='4'] span:nth-of-type(4) {
  border-color: #d82631;
  transform: scale(1.45);
  -webkit-transform: scale(1.45);
  -moz-transform: scale(1.45);
  -ms-transform: scale(1.45);
  -o-transform: scale(1.45);
}

.modalTrack .pointsRoad[step='4'] span:nth-of-type(4) i.now {
  display: inline-flex;
  color: #d82631;
}

/* STEP =====> 5 */
.modalTrack .pointsRoad[step='5'] b:nth-of-type(1),
.modalTrack .pointsRoad[step='5'] b:nth-of-type(2),
.modalTrack .pointsRoad[step='5'] b:nth-of-type(3),
.modalTrack .pointsRoad[step='5'] b:nth-of-type(4) {
  border-top: 1px solid #d82631;
}

.modalTrack .pointsRoad[step='5'] span:nth-of-type(1),
.modalTrack .pointsRoad[step='5'] span:nth-of-type(2),
.modalTrack .pointsRoad[step='5'] span:nth-of-type(3),
.modalTrack .pointsRoad[step='5'] span:nth-of-type(4) {
  background-color: #d82631;
  border-color: #d82631;
  color: #fff !important;
}

.modalTrack .pointsRoad[step='5'] span:nth-of-type(1) i.done,
.modalTrack .pointsRoad[step='5'] span:nth-of-type(2) i.done,
.modalTrack .pointsRoad[step='5'] span:nth-of-type(3) i.done,
.modalTrack .pointsRoad[step='5'] span:nth-of-type(4) i.done {
  display: inline-flex;
}

.modalTrack .pointsRoad[step='5'] span:nth-of-type(5) {
  border-color: #d82631;
  transform: scale(1.45);
  -webkit-transform: scale(1.45);
  -moz-transform: scale(1.45);
  -ms-transform: scale(1.45);
  -o-transform: scale(1.45);
}

.modalTrack .pointsRoad[step='5'] span:nth-of-type(5) i.now {
  display: inline-flex;
  color: #d82631;
}

/* STEP =====> 6 */
.modalTrack .pointsRoad[step='6'] b:nth-of-type(1),
.modalTrack .pointsRoad[step='6'] b:nth-of-type(2),
.modalTrack .pointsRoad[step='6'] b:nth-of-type(3),
.modalTrack .pointsRoad[step='6'] b:nth-of-type(4),
.modalTrack .pointsRoad[step='6'] b:nth-of-type(5) {
  border-top: 1px solid #d82631;
}

.modalTrack .pointsRoad[step='6'] span:nth-of-type(1),
.modalTrack .pointsRoad[step='6'] span:nth-of-type(2),
.modalTrack .pointsRoad[step='6'] span:nth-of-type(3),
.modalTrack .pointsRoad[step='6'] span:nth-of-type(4),
.modalTrack .pointsRoad[step='6'] span:nth-of-type(5) {
  background-color: #d82631;
  border-color: #d82631;
  color: #fff !important;
}

.modalTrack .pointsRoad[step='6'] span:nth-of-type(1) i.done,
.modalTrack .pointsRoad[step='6'] span:nth-of-type(2) i.done,
.modalTrack .pointsRoad[step='6'] span:nth-of-type(3) i.done,
.modalTrack .pointsRoad[step='6'] span:nth-of-type(4) i.done,
.modalTrack .pointsRoad[step='6'] span:nth-of-type(5) i.done {
  display: inline-flex;
}

.modalTrack .pointsRoad[step='6'] span:nth-of-type(6) {
  border-color: #d82631;
  transform: scale(1.45);
  -webkit-transform: scale(1.45);
  -moz-transform: scale(1.45);
  -ms-transform: scale(1.45);
  -o-transform: scale(1.45);
}

.modalTrack .pointsRoad[step='6'] span:nth-of-type(6) i.now {
  display: inline-flex;
  color: #d82631;
}

/* STEP =====> 7 */
.modalTrack .pointsRoad[step='7'] b:nth-of-type(1),
.modalTrack .pointsRoad[step='7'] b:nth-of-type(2),
.modalTrack .pointsRoad[step='7'] b:nth-of-type(3),
.modalTrack .pointsRoad[step='7'] b:nth-of-type(4),
.modalTrack .pointsRoad[step='7'] b:nth-of-type(5),
.modalTrack .pointsRoad[step='7'] b:nth-of-type(6) {
  border-top: 1px solid #d82631;
}

.modalTrack .pointsRoad[step='7'] span:nth-of-type(1),
.modalTrack .pointsRoad[step='7'] span:nth-of-type(2),
.modalTrack .pointsRoad[step='7'] span:nth-of-type(3),
.modalTrack .pointsRoad[step='7'] span:nth-of-type(4),
.modalTrack .pointsRoad[step='7'] span:nth-of-type(5),
.modalTrack .pointsRoad[step='7'] span:nth-of-type(6) {
  background-color: #d82631;
  border-color: #d82631;
  color: #fff !important;
}

.modalTrack .pointsRoad[step='7'] span:nth-of-type(1) i.done,
.modalTrack .pointsRoad[step='7'] span:nth-of-type(2) i.done,
.modalTrack .pointsRoad[step='7'] span:nth-of-type(3) i.done,
.modalTrack .pointsRoad[step='7'] span:nth-of-type(4) i.done,
.modalTrack .pointsRoad[step='7'] span:nth-of-type(5) i.done,
.modalTrack .pointsRoad[step='7'] span:nth-of-type(6) i.done {
  display: inline-flex;
}

.modalTrack .pointsRoad[step='7'] span:nth-of-type(7) {
  border-color: #d82631;
  transform: scale(1.45);
  -webkit-transform: scale(1.45);
  -moz-transform: scale(1.45);
  -ms-transform: scale(1.45);
  -o-transform: scale(1.45);
}

.modalTrack .pointsRoad[step='7'] span:nth-of-type(7) i.now {
  display: inline-flex;
  color: #d82631;
}

/* STEP =====> 8 */
.modalTrack .pointsRoad[step='8'] b:nth-of-type(1),
.modalTrack .pointsRoad[step='8'] b:nth-of-type(2),
.modalTrack .pointsRoad[step='8'] b:nth-of-type(3),
.modalTrack .pointsRoad[step='8'] b:nth-of-type(4),
.modalTrack .pointsRoad[step='8'] b:nth-of-type(5),
.modalTrack .pointsRoad[step='8'] b:nth-of-type(6),
.modalTrack .pointsRoad[step='8'] b:nth-of-type(7) {
  border-top: 1px solid #d82631;
}

.modalTrack .pointsRoad[step='8'] span:nth-of-type(1),
.modalTrack .pointsRoad[step='8'] span:nth-of-type(2),
.modalTrack .pointsRoad[step='8'] span:nth-of-type(3),
.modalTrack .pointsRoad[step='8'] span:nth-of-type(4),
.modalTrack .pointsRoad[step='8'] span:nth-of-type(5),
.modalTrack .pointsRoad[step='8'] span:nth-of-type(6),
.modalTrack .pointsRoad[step='8'] span:nth-of-type(7) {
  background-color: #d82631;
  border-color: #d82631;
  color: #fff !important;
}

.modalTrack .pointsRoad[step='8'] span:nth-of-type(1) i.done,
.modalTrack .pointsRoad[step='8'] span:nth-of-type(2) i.done,
.modalTrack .pointsRoad[step='8'] span:nth-of-type(3) i.done,
.modalTrack .pointsRoad[step='8'] span:nth-of-type(4) i.done,
.modalTrack .pointsRoad[step='8'] span:nth-of-type(5) i.done,
.modalTrack .pointsRoad[step='8'] span:nth-of-type(6) i.done,
.modalTrack .pointsRoad[step='8'] span:nth-of-type(7) i.done {
  display: inline-flex;
}

.modalTrack .pointsRoad[step='8'] span:nth-of-type(8) {
  border-color: #d82631;
  transform: scale(1.45);
  -webkit-transform: scale(1.45);
  -moz-transform: scale(1.45);
  -ms-transform: scale(1.45);
  -o-transform: scale(1.45);
}

.modalTrack .pointsRoad[step='8'] span:nth-of-type(8) i.now {
  display: inline-flex;
  color: #d82631;
}

/* STEP =====> 9 */
.modalTrack .pointsRoad[step='9'] b:nth-of-type(1),
.modalTrack .pointsRoad[step='9'] b:nth-of-type(2),
.modalTrack .pointsRoad[step='9'] b:nth-of-type(3),
.modalTrack .pointsRoad[step='9'] b:nth-of-type(4),
.modalTrack .pointsRoad[step='9'] b:nth-of-type(5),
.modalTrack .pointsRoad[step='9'] b:nth-of-type(6),
.modalTrack .pointsRoad[step='9'] b:nth-of-type(7),
.modalTrack .pointsRoad[step='9'] b:nth-of-type(8) {
  border-top: 1px solid #d82631;
}

.modalTrack .pointsRoad[step='9'] span:nth-of-type(1),
.modalTrack .pointsRoad[step='9'] span:nth-of-type(2),
.modalTrack .pointsRoad[step='9'] span:nth-of-type(3),
.modalTrack .pointsRoad[step='9'] span:nth-of-type(4),
.modalTrack .pointsRoad[step='9'] span:nth-of-type(5),
.modalTrack .pointsRoad[step='9'] span:nth-of-type(6),
.modalTrack .pointsRoad[step='9'] span:nth-of-type(7),
.modalTrack .pointsRoad[step='9'] span:nth-of-type(8) {
  background-color: #d82631;
  border-color: #d82631;
  color: #fff !important;
}

.modalTrack .pointsRoad[step='9'] span:nth-of-type(1) i.done,
.modalTrack .pointsRoad[step='9'] span:nth-of-type(2) i.done,
.modalTrack .pointsRoad[step='9'] span:nth-of-type(3) i.done,
.modalTrack .pointsRoad[step='9'] span:nth-of-type(4) i.done,
.modalTrack .pointsRoad[step='9'] span:nth-of-type(5) i.done,
.modalTrack .pointsRoad[step='9'] span:nth-of-type(6) i.done,
.modalTrack .pointsRoad[step='9'] span:nth-of-type(7) i.done,
.modalTrack .pointsRoad[step='9'] span:nth-of-type(8) i.done {
  display: inline-flex;
}

.modalTrack .pointsRoad[step='9'] span:nth-of-type(9) {
  border-color: #d82631;
  transform: scale(1.45);
  -webkit-transform: scale(1.45);
  -moz-transform: scale(1.45);
  -ms-transform: scale(1.45);
  -o-transform: scale(1.45);
}

.modalTrack .pointsRoad[step='9'] span:nth-of-type(9) i.now {
  display: inline-flex;
  color: #d82631;
}

/* STEP =====> 10 */
.modalTrack .pointsRoad[step='10'] b:nth-of-type(1),
.modalTrack .pointsRoad[step='10'] b:nth-of-type(2),
.modalTrack .pointsRoad[step='10'] b:nth-of-type(3),
.modalTrack .pointsRoad[step='10'] b:nth-of-type(4),
.modalTrack .pointsRoad[step='10'] b:nth-of-type(5),
.modalTrack .pointsRoad[step='10'] b:nth-of-type(6),
.modalTrack .pointsRoad[step='10'] b:nth-of-type(7),
.modalTrack .pointsRoad[step='10'] b:nth-of-type(8),
.modalTrack .pointsRoad[step='10'] b:nth-of-type(9) {
  border-top: 1px solid #d82631;
}

.modalTrack .pointsRoad[step='10'] span:nth-of-type(1),
.modalTrack .pointsRoad[step='10'] span:nth-of-type(2),
.modalTrack .pointsRoad[step='10'] span:nth-of-type(3),
.modalTrack .pointsRoad[step='10'] span:nth-of-type(4),
.modalTrack .pointsRoad[step='10'] span:nth-of-type(5),
.modalTrack .pointsRoad[step='10'] span:nth-of-type(6),
.modalTrack .pointsRoad[step='10'] span:nth-of-type(7),
.modalTrack .pointsRoad[step='10'] span:nth-of-type(8),
.modalTrack .pointsRoad[step='10'] span:nth-of-type(9) {
  background-color: #d82631;
  border-color: #d82631;
  color: #fff !important;
}

.modalTrack .pointsRoad[step='10'] span:nth-of-type(1) i.done,
.modalTrack .pointsRoad[step='10'] span:nth-of-type(2) i.done,
.modalTrack .pointsRoad[step='10'] span:nth-of-type(3) i.done,
.modalTrack .pointsRoad[step='10'] span:nth-of-type(4) i.done,
.modalTrack .pointsRoad[step='10'] span:nth-of-type(5) i.done,
.modalTrack .pointsRoad[step='10'] span:nth-of-type(6) i.done,
.modalTrack .pointsRoad[step='10'] span:nth-of-type(7) i.done,
.modalTrack .pointsRoad[step='10'] span:nth-of-type(8) i.done,
.modalTrack .pointsRoad[step='10'] span:nth-of-type(9) i.done {
  display: inline-flex;
}

.modalTrack .pointsRoad[step='10'] span:nth-of-type(10) {
  border-color: #d82631;
  transform: scale(1.45);
  -webkit-transform: scale(1.45);
  -moz-transform: scale(1.45);
  -ms-transform: scale(1.45);
  -o-transform: scale(1.45);
}

.modalTrack .pointsRoad[step='10'] span:nth-of-type(10) i.now {
  display: inline-flex;
  color: #d82631;
}

/* STEP =====> 11 */
.modalTrack .pointsRoad[step='11'] b:nth-of-type(1),
.modalTrack .pointsRoad[step='11'] b:nth-of-type(2),
.modalTrack .pointsRoad[step='11'] b:nth-of-type(3),
.modalTrack .pointsRoad[step='11'] b:nth-of-type(4),
.modalTrack .pointsRoad[step='11'] b:nth-of-type(5),
.modalTrack .pointsRoad[step='11'] b:nth-of-type(6),
.modalTrack .pointsRoad[step='11'] b:nth-of-type(7),
.modalTrack .pointsRoad[step='11'] b:nth-of-type(8),
.modalTrack .pointsRoad[step='11'] b:nth-of-type(9),
.modalTrack .pointsRoad[step='11'] b:nth-of-type(10) {
  border-top: 1px solid #d82631;
}

.modalTrack .pointsRoad[step='11'] span:nth-of-type(1),
.modalTrack .pointsRoad[step='11'] span:nth-of-type(2),
.modalTrack .pointsRoad[step='11'] span:nth-of-type(3),
.modalTrack .pointsRoad[step='11'] span:nth-of-type(4),
.modalTrack .pointsRoad[step='11'] span:nth-of-type(5),
.modalTrack .pointsRoad[step='11'] span:nth-of-type(6),
.modalTrack .pointsRoad[step='11'] span:nth-of-type(7),
.modalTrack .pointsRoad[step='11'] span:nth-of-type(8),
.modalTrack .pointsRoad[step='11'] span:nth-of-type(9),
.modalTrack .pointsRoad[step='11'] span:nth-of-type(10) {
  background-color: #d82631;
  border-color: #d82631;
  color: #fff !important;
}

.modalTrack .pointsRoad[step='11'] span:nth-of-type(1) i.done,
.modalTrack .pointsRoad[step='11'] span:nth-of-type(2) i.done,
.modalTrack .pointsRoad[step='11'] span:nth-of-type(3) i.done,
.modalTrack .pointsRoad[step='11'] span:nth-of-type(4) i.done,
.modalTrack .pointsRoad[step='11'] span:nth-of-type(5) i.done,
.modalTrack .pointsRoad[step='11'] span:nth-of-type(6) i.done,
.modalTrack .pointsRoad[step='11'] span:nth-of-type(7) i.done,
.modalTrack .pointsRoad[step='11'] span:nth-of-type(8) i.done,
.modalTrack .pointsRoad[step='11'] span:nth-of-type(9) i.done,
.modalTrack .pointsRoad[step='11'] span:nth-of-type(10) i.done {
  display: inline-flex;
}

.modalTrack .pointsRoad[step='11'] span:nth-of-type(11) {
  border-color: #d82631;
  transform: scale(1.45);
  -webkit-transform: scale(1.45);
  -moz-transform: scale(1.45);
  -ms-transform: scale(1.45);
  -o-transform: scale(1.45);
}

.modalTrack .pointsRoad[step='11'] span:nth-of-type(11) i.now {
  display: inline-flex;
  color: #d82631;
}

.modalTrack .textStautsNow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modalTrack .textStautsNow span:not(.stars) {
  color: #d82631;
  font-weight: 600;
}

.modalTrack .textStautsNow span.stars i {
  color: #dcdcdc;
}

.modalTrack .textStautsNow span.stars[rate='0.5'] i:nth-of-type(1)::before,
.modalTrack .textStautsNow span.stars[rate='1.5'] i:nth-of-type(2)::before,
.modalTrack .textStautsNow span.stars[rate='2.5'] i:nth-of-type(3)::before,
.modalTrack .textStautsNow span.stars[rate='3.5'] i:nth-of-type(4)::before,
.modalTrack .textStautsNow span.stars[rate='4.5'] i:nth-of-type(5)::before {
  content: '\f5c0';
  font-weight: 900;
  color: #ffc107;
}

.modalTrack .textStautsNow span.stars[rate='1'] i:nth-of-type(1)::before,
.modalTrack .textStautsNow span.stars[rate='1.5'] i:nth-of-type(1)::before,
.modalTrack .textStautsNow span.stars[rate='2'] i:nth-of-type(1)::before,
.modalTrack .textStautsNow span.stars[rate='2'] i:nth-of-type(2)::before,
.modalTrack .textStautsNow span.stars[rate='2.5'] i:nth-of-type(1)::before,
.modalTrack .textStautsNow span.stars[rate='2.5'] i:nth-of-type(2)::before,
.modalTrack .textStautsNow span.stars[rate='3'] i:nth-of-type(1)::before,
.modalTrack .textStautsNow span.stars[rate='3'] i:nth-of-type(2)::before,
.modalTrack .textStautsNow span.stars[rate='3'] i:nth-of-type(3)::before,
.modalTrack .textStautsNow span.stars[rate='3.5'] i:nth-of-type(1)::before,
.modalTrack .textStautsNow span.stars[rate='3.5'] i:nth-of-type(2)::before,
.modalTrack .textStautsNow span.stars[rate='3.5'] i:nth-of-type(3)::before,
.modalTrack .textStautsNow span.stars[rate='4'] i:nth-of-type(1)::before,
.modalTrack .textStautsNow span.stars[rate='4'] i:nth-of-type(2)::before,
.modalTrack .textStautsNow span.stars[rate='4'] i:nth-of-type(3)::before,
.modalTrack .textStautsNow span.stars[rate='4'] i:nth-of-type(4)::before,
.modalTrack .textStautsNow span.stars[rate='4.5'] i:nth-of-type(1)::before,
.modalTrack .textStautsNow span.stars[rate='4.5'] i:nth-of-type(2)::before,
.modalTrack .textStautsNow span.stars[rate='4.5'] i:nth-of-type(3)::before,
.modalTrack .textStautsNow span.stars[rate='4.5'] i:nth-of-type(4)::before,
.modalTrack .textStautsNow span.stars[rate='5'] i:nth-of-type(1)::before,
.modalTrack .textStautsNow span.stars[rate='5'] i:nth-of-type(2)::before,
.modalTrack .textStautsNow span.stars[rate='5'] i:nth-of-type(3)::before,
.modalTrack .textStautsNow span.stars[rate='5'] i:nth-of-type(4)::before,
.modalTrack .textStautsNow span.stars[rate='5'] i:nth-of-type(5)::before {
  content: '\f005';
  font-weight: 900;
  color: #ffc107;
}

.modalTrack .receiver {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #92a1b1;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 15px;
}

.modalTrack .receiver i,
.modalTrack .shipperNote i {
  font-size: 16px;
  margin-right: 3px;
  color: #92a1b1;
}

.modalTrack.rtl .receiver i,
.modalTrack.rtl .shipperNote i {
  margin-right: unset;
  margin-left: 3px;
}

.modalTrack .receiver b {
  color: #242424;
  margin-left: 3px;
}

.modalTrack.rtl .receiver b {
  margin-right: 3px;
  margin-left: unset;
}

.modalTrack .receiver label,
.modalTrack .receiver p,
.modalTrack .shipperNote p {
  margin: 0;
}

.modalTrack.rtl .receiver label,
.modalTrack.rtl .receiver p,
.modalTrack.rtl .shipperNote p {
  text-align: right;
}

.modalTrack .receiver label {
  cursor: pointer;
}

.modalTrack .shipperNote p:nth-child(1) {
  font-size: 13px;
  color: #92a1b1;
  margin-bottom: 8px;
}

.modalTrack .shipperNote p:nth-child(2) {
  font-size: 12px;
  color: #707070;
}

label.error {
  position: absolute;
  left: 0;
  bottom: -33px;
  background-color: #d82631;
  padding: 4px 8px;
  font-size: 13px;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

label.error::before {
  content: '\f06a';
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  margin-right: 4px;
}

.rtl label.error::before {
  float: right;
  margin-right: unset;
  margin-left: 4px;
}

label.error::after {
  content: '\f0d8';
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  color: #d82631;
  position: absolute;
  left: 9px;
  top: -17px;
  font-size: 21px;
}

.rtl label.error::after {
  left: unset;
  right: 9px;
}

@media (min-width: 0.1px) and (max-width: 767.9px) {
  .modalTrack .modal-body {
    flex-wrap: wrap;
  }

  .modalTrack .modal-body .detailsContent {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .modalTrack .modal-body .map {
    flex: 0 0 100%;
    max-width: 100%;
    height: 300px;
  }
}

@media (min-width: 768px) and (max-width: 991.9px) {
  .modalTrack .modal-body .detailsContent {
    flex: 0 0 310px;
    max-width: 310px;
  }

  .modalTrack .modal-body .map {
    flex: 0 0 calc(100% - 310px);
    max-width: calc(100% - 310px);
  }
}
