<div
  bsModal
  #modal="bs-modal"
  class="modal fade bd-example-modal-xl modalTrack {{ direction == 'rtl' ? ' rtl' : '' }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close closeModal" data-dismiss="modal" (click)="close()" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
        <div class="detailsContent">
          <div>
            <div class="infoBasic">
              <a href="javascript:void(0)" class="companyName">
                {{ item.name }}
              </a>
              <a href="javascript:void(0)" (click)="showIncident()" class="infoHighLight {{ item.hasAccident ? ' red ' : ' green ' }}  stautsTruck">
                <img *ngIf="item.hasAccident" src="/assets/custom/imgs/incident.svg" class="mr-1" width="16" alt="" />
                {{ item.statusTitle }}
              </a>
            </div>
            <div class="divirCard"></div>
            <div class="moreDetails">
              <div class="goodCategory">
                <p>
                  <img src="/assets/custom/imgs/box.svg" width="16" alt="" />
                  {{ l('GoodCategory') }}
                </p>
                <p>
                  {{ item.goodsCategory }}
                </p>
              </div>
              <div class="driverName">
                <p>
                  <i class="fas fa-user"></i>
                  {{ l('DriverName') }}
                </p>
                <p>
                  {{ item.driver }}
                </p>
              </div>
              <div class="truckType">
                <p>
                  <i class="fas fa-truck"></i>
                  {{ l('TruckType') }}
                </p>
                <p>
                  {{ item.truckType }}
                </p>
              </div>
              <div class="routeType">
                <p>
                  <i class="fas fa-road"></i>
                  {{ l('routeType') }}
                </p>
                <p>
                  {{ l(item.routeType) }}
                </p>
              </div>
            </div>
            <div *ngIf="item.noActionReason" class="textStautsNow">
              <span>
                {{ item.noActionReason }}
              </span>
            </div>
            <div class="actions">
              <a href="javascript:void(0)" class="red" (click)="accept()" *ngIf="item.canAcceptTrip" [buttonBusy]="saving">
                {{ l('Acknowledge') }}
              </a>
              <a href="javascript:void(0)" class="red" (click)="TripAccidentModal.show(item.id, null)" *ngIf="canCreateAccident()">
                {{ l('CreateAccident') }}
              </a>
            </div>
          </div>
          <!-- NOTE!! class "complete" to show "textComplete" by color green -->
          <form class="{{ pickup.status == 4 ? 'complete' : '' }}">
            <div class="title-x">
              <span>
                {{ l('Source') }}
              </span>
              <span class="icon">
                <span class="textComplete">
                  <i class="fas fa-check-circle"></i>
                </span>
                <!-- NOTE!! class "rotateDown" to rotate icon 180deg .. as shown "close" -->
                <i (click)="pickup.isShow = !pickup.isShow" class="{{ pickup.isShow ? 'rotateDown' : 'rotate' }} fas fa-chevron-up"></i>
              </span>
            </div>
            <ng-template [ngIf]="pickup.isShow">
              <div class="location">
                <p>
                  {{ pickup.address }}
                </p>
              </div>
              <!-- attr step for steps work .. for 10 step .. 0 => if no step .. 1 => if one step .. 5 => if num steps is 4, and the 4 step is complete -->
              <div *ngIf="(item.status == 1 && item.driverStatus == 0) || item.driverStatus == 1" class="pointsRoad" [attr.step]="pickup.status + 1">
                <span title="{{ l('StartedMovingToLoadingLocation') }}">
                  <i class="done fas fa-check"></i>
                  <i class="now fas fa-truck"></i>
                </span>
                <b></b>
                <span title="{{ l('ArriveToLoadingLocation') }}">
                  <i class="done fas fa-check"></i>
                  <i class="now fas fa-truck"></i>
                </span>
                <b></b>
                <span title="{{ l('StartLoading') }}">
                  <i class="done fas fa-check"></i>
                  <i class="now fas fa-truck"></i>
                </span>
                <b></b>
                <span title="{{ l('FinishLoading') }}">
                  <i class="done fas fa-check"></i>
                  <i class="now fas fa-truck"></i>
                </span>
              </div>
              <div class="textStautsNow" *ngIf="(pickup.statusTitle && item.status == 1 && item.driverStatus == 0) || item.driverStatus == 1">
                <span>
                  {{ pickup.statusTitle }}
                </span>
              </div>

              <div class="shipperNote" *ngIf="pickup.note">
                <p>
                  <i class="far fa-comment-alt"></i>
                  {{ l('DropoffDetailShipperNotes') }}:
                </p>
                <p>
                  {{ pickup.note }}
                </p>
              </div>
              <div
                class="actions mt-0"
                *ngIf="!pickup.isComplete && item.driverStatus == 1 && (item.status == 1 || (item.status == 0 && item.canStartTrip))"
              >
                <a href="javascript:void(0)" *ngIf="!saving && item.isAssign" (click)="changeStatus(pickup)">
                  {{ pickup.nextStatus }}
                </a>
                <a href="javascript:void(0)" *ngIf="saving" [buttonBusy]="saving"> Saving </a>
              </div>
            </ng-template>
          </form>
          <form *ngFor="let drop of drops" class="{{ drop.status == 10 ? 'complete' : '' }}">
            <div class="title-x">
              <span>
                {{ l('DestinationDelivery') }}
              </span>
              <span class="icon">
                <a href="javascript:void(0)">
                  <i class="info-x fas fa-info-circle"></i>
                </a>
                <span class="textComplete">
                  <i class="fas fa-check-circle"></i>
                </span>
                <!-- NOTE!! class "rotateDown" to rotate icon 180deg .. as shown "close" -->
                <i (click)="drop.isShow = !drop.isShow" class="{{ drop.isShow ? 'rotateDown' : 'rotate' }} fas fa-chevron-up"></i>
              </span>
            </div>
            <ng-template [ngIf]="drop.isShow">
              <div class="location">
                <p>
                  {{ drop.address }}
                </p>
              </div>
              <!-- attr step for steps work .. for 10 step .. 0 => if no step .. 1 => if one step .. 5 => if num steps is 4, and the 4 step is complete -->
              <div *ngIf="(item.status == 1 && item.driverStatus == 0) || item.driverStatus == 1" class="pointsRoad" [attr.step]="dropOffStep(drop)">
                <span title="{{ l('StartedMovingToOfLoadingLocation') }}">
                  <i class="done fas fa-check"></i>
                  <i class="now fas fa-truck"></i>
                </span>
                <b></b>
                <span title="{{ l('ArrivedToDestination') }}">
                  <i class="done fas fa-check"></i>
                  <i class="now fas fa-truck"></i>
                </span>
                <b></b>
                <span title="{{ l('StartOffloading') }}">
                  <i class="done fas fa-check"></i>
                  <i class="now fas fa-truck"></i>
                </span>
                <b></b>
                <span title="{{ l('FinishOffLoadShipment') }}">
                  <i class="done fas fa-check"></i>
                  <i class="now fas fa-truck"></i>
                </span>
                <b></b>
                <span title="{{ l('ReceiverConfirmed') }}">
                  <i class="done fas fa-check"></i>
                  <i class="now fas fa-truck"></i>
                </span>
                <b></b>
                <span title="{{ l('DeliveryConfirmation') }}">
                  <i class="done fas fa-check"></i>
                  <i class="now fas fa-truck"></i>
                </span>
              </div>
              <div *ngIf="(drop.statusTitle && item.status == 1 && item.driverStatus == 0) || item.driverStatus == 1" class="textStautsNow">
                <span>
                  {{ drop.statusTitle }}
                </span>
                <!-- NOTE!! rate form "0" to "5" (0, 0.5, 1, 1.5, 2, ......... etc) -->
                <span *ngIf="drop.rating" class="stars" [attr.rate]="drop.rating">
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                </span>
              </div>
              <div class="receiver">
                <p *ngIf="drop.receiverFullName">
                  <i class="far fa-user"></i>
                  <span> {{ l('Receiver') }}: </span>
                  <b>
                    {{ drop.receiverFullName }}
                  </b>
                </p>
                <label *ngIf="drop.status == 10" for="fileReceiver" (click)="downloadPOD(drop.id)">
                  <i class="fas fa-paperclip"></i>
                  {{ l('POD') }}
                </label>
              </div>
              <div class="shipperNote" *ngIf="drop.note">
                <p>
                  <i class="far fa-comment-alt"></i>
                  {{ l('DropoffDetailShipperNotes') }}:
                </p>
                <p>
                  {{ drop.note }}
                </p>
              </div>
              <div class="actions mt-0" *ngIf="canChangeDropStatus(drop) && item.driverStatus == 1">
                <a href="javascript:void(0)" *ngIf="!saving" (click)="changeStatus(drop)">
                  {{ drop.nextStatus }}
                </a>
                <a href="javascript:void(0)" *ngIf="saving" [buttonBusy]="saving"> Saving </a>
              </div>
            </ng-template>
          </form>
        </div>
        <div class="map">
          <agm-map [latitude]="24.717942" [longitude]="46.675761" [zoom]="10">
            <agm-direction
              *ngIf="destination.lat"
              [origin]="{ lat: origin.lat, lng: origin.lng }"
              [destination]="{ lat: destination.lat, lng: destination.lng }"
              [travelMode]="'DRIVING'"
            ></agm-direction>
          </agm-map>
        </div>
      </div>
    </div>
  </div>
</div>

<tacking-confirm-code-model #modelconfirm (modalConfirm)="confimred()"></tacking-confirm-code-model>
<tacking-pod-model #modelpod></tacking-pod-model>
<view-trip-accident-modal #ModelIncident></view-trip-accident-modal>
<trip-accident-modal #TripAccidentModal (modalSave)="accidentCallBack()"></trip-accident-modal>
