<div
  bsModal
  #modal="bs-modal"
  class="modal fade modalSetPrice tachyonDialer {{ direction == 'rtl' ? ' rtl' : '' }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close closeModal" data-dismiss="modal" (click)="close()" aria-label="Close">
          <i class="fas fa-times"></i>
        </button>
        <form class="contentSetPrice">
          <ng-template>
            <div class="infoBasic">
              <a href="javascript:void(0)" class="companyName"> </a>
            </div>
            <div class="divirCard"></div>
          </ng-template>

          <div class="table-sendOffer">
            <table>
              <thead>
                <tr>
                  <th>
                    {{ l('Price') }}
                  </th>
                  <th *ngIf="feature.isEnabled('App.TachyonDealer') || !appSession.tenantId">
                    {{ l('CommissionType') }}
                  </th>
                  <th>
                    {{ l('NoOfTrips') }}
                  </th>
                  <th>
                    {{ l('Total') }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    {{ offer.itemPrice }}
                  </td>
                  <td *ngIf="feature.isEnabled('App.TachyonDealer') || !appSession.tenantId">
                    {{ l(offer.commissionTypeTitle) }}
                  </td>
                  <td>
                    {{ offer.quantity }}
                  </td>
                  <td>
                    <span>{{ offer.itemPrice * offer.quantity | number }}</span>
                    <span>{{ l('SAR') }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
