<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <!--begin::Subheader-->
    <sub-header [title]="'ShipmentTracking' | localize" [description]="'' | localize">
      <div role="actions">
        <button (click)="ModelSearch.show(searchInput)" class="btn btn-primary red"><i class="fas fa-search"></i> {{ l('Search') }}</button>
      </div>
    </sub-header>
    <!--end::Subheader-->
    <!--begin::Entry-->

    <div class="container-fluid" [busyIf]="IsLoading">
      <div class="row">
        <div class="col-12 mb-7" *ngFor="let item of Items">
          <div>
            <div class="card card-custom" [busyIf]="loadingTripId === item.id">
              <div class="card-body ribbon ribbon-top">
                <!--                <div class="ribbon-target bg-danger" style="top: -2px; right: 20px">Ribbon</div>-->
                <div class="d-flex justify-content-between">
                  <button
                    *ngIf="item.hasAccident"
                    (click)="showIncident(item)"
                    class="ribbon-target bg-warning border-0"
                    style="top: -2px; right: 8%"
                    type="submit"
                  >
                    <!--                    //TODO: Add The Icon and the condition-->
                    {{ l('Incident') }}
                  </button>
                  <div
                    class="ribbon-target"
                    style="top: -2px; right: 2%"
                    [ngClass]="{
                      'bg-danger': item.status === ShippingRequestTripStatusEnum.Delivered,
                      'bg-info': item.status === ShippingRequestTripStatusEnum.Canceled,
                      'bg-success': item.status === ShippingRequestTripStatusEnum.Intransit,
                      'bg-secondary': item.status === ShippingRequestTripStatusEnum.DeliveredAndNeedsConfirmation,
                      'bg-primary': item.status === ShippingRequestTripStatusEnum.New
                    }"
                  >
                    {{ item.statusTitle | localize }}
                  </div>
                </div>

                <!--begin::Top-->
                <div class="d-flex">
                  <!--begin::Pic-->
                  <div class="flex-shrink-0 mr-7">
                    <div *ngIf="item.tenantPhoto" class="symbol symbol-50 symbol-lg-120">
                      <div class="symbol-label" style="background-image: url('data:image/png;base64,{{ item.tenantPhoto }}') "></div>
                    </div>
                    <div *ngIf="!item.tenantPhoto" class="symbol symbol-50 symbol-lg-120">
                      <img alt="Pic" src="{{ defaultProfilePic }}" />
                    </div>
                  </div>
                  <!--end::Pic-->
                  <!--begin: Info-->
                  <div class="flex-grow-1">
                    <!--begin::Title-->
                    <div class="d-flex align-items-center justify-content-between flex-wrap mt-2">
                      <!--begin::User-->
                      <div class="mr-3">
                        <!--begin::Name-->
                        <a
                          [routerLink]="['/app/main/profile', item.tenantId, 'view']"
                          class="d-flex align-items-center text-dark text-hover-primary font-size-h5 font-weight-bold mr-3"
                          >{{ item.name }} <i class="flaticon2-correct text-success icon-md ml-2"></i
                        ></a>
                        <!--end::Name-->
                        <!--begin::Contacts-->
                        <div class="d-flex flex-wrap my-2">
                          <div class="d-flex align-items-center pr-5">
                            <i class="flaticon2-telegram-logo mr-2"></i>
                            <a
                              [routerLink]="['/app/main/shippingRequests/shippingRequests/view']"
                              [queryParams]="{ id: item.requestId }"
                              class="font-weight-bold"
                              >{{ l('RequestId') }}: {{ item.referenceNumber }}</a
                            >
                          </div>
                        </div>
                        <!--end::Contacts-->
                      </div>
                      <!--begin::User-->
                      <!--begin::Actions-->
                      <div class="my-lg-0 my-3 mt-8">
                        <a
                          class="btn btn-sm btn-light-danger font-weight-bolder text-uppercase mr-2"
                          *ngIf="item.driver && (!activePanelId || activePanelId != item.id)"
                          href="javascript:void(0)"
                          (click)="activePanelId = item.id"
                          [attr.aria-expanded]="activePanelId == item.id"
                        >
                          <i class="flaticon-pin"></i> {{ l('Track') }}</a
                        >
                        <a
                          class="btn btn-sm btn-light-danger font-weight-bolder text-uppercase mr-2"
                          *ngIf="activePanelId == item.id"
                          href="javascript:void(0)"
                          (click)="activePanelId = null"
                          [attr.aria-expanded]="activePanelId == item.id"
                          aria-controls="collapseBasics"
                        >
                          <i class="flaticon2-up"></i> {{ l('Collapse') }}</a
                        >
                        <div
                          *ngIf="item.driver && (isCarrier || (isTachyonDealer && item.requestType === ShippingRequestTypeEnum.TachyonManageService))"
                          ngbDropdown
                          container="body"
                          class="d-inline-block"
                        >
                          <a class="btn btn-danger btn-sm font-weight-bolder text-uppercase mr-2" id="dropdownBasic1" ngbDropdownToggle>
                            <i class="flaticon-settings"></i>
                            {{ l('Actions') }}
                          </a>
                          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem *ngIf="item.driverStatus == DriverStatusEnum.None" (click)="accept(item)">
                              {{ l('Accept') }}
                            </button>
                            <button ngbDropdownItem *ngIf="canCreateAccident(item)" (click)="TripAccidentModal.show(item.id, null)">
                              {{ l('CreateAccident') }}
                            </button>
                            <button ngbDropdownItem *ngIf="canResetTrip(item)" (click)="handleTripReset(item.id)">
                              {{ l('Reset') }}
                            </button>
                          </div>
                        </div>
                      </div>
                      <!--end::Actions-->
                    </div>
                    <!--end::Title-->
                    <!--begin::Content-->
                    <div class="d-flex align-items-center flex-wrap justify-content-between">
                      <!--begin::Description-->
                      <div class="flex-grow-1 font-weight-bold text-dark-50 py-2 py-lg-2 mr-5">
                        <div class="py-3">
                          <div class="d-flex align-items-center justify-content-between mb-2">
                            <div>
                              <span class="font-weight-bold mr-1">{{ l('Origin') }}:</span>
                              <a href="#" class="text-muted text-hover-primary">{{ item.origin }}</a>
                            </div>
                            <div>
                              <span class="font-weight-bold mr-1">{{ l('Destination') }}: </span>
                              <span class="text-muted">{{ item.destination }}</span>
                            </div>
                            <!--begin::Progress-->
                            <div class="d-flex">
                              <span class="font-weight-bold mr-4">{{ l('Progress') }}</span>
                              <div class="progress progress-xs mt-2 mb-2 flex-shrink-0 w-150px w-xl-250px">
                                <div
                                  class="progress-bar {{ getProgress(item.status) !== 100 ? 'bg-danger' : 'bg-success' }}"
                                  role="progressbar"
                                  style="width: {{ getProgress(item.status) }}%"
                                  aria-valuemin="0"
                                  aria-valuemax="100"
                                ></div>
                              </div>
                              <span class="font-weight-bolder text-dark ml-4">{{ getProgress(item.status) }}%</span>
                            </div>
                            <!--end::Progress-->
                          </div>
                        </div>
                      </div>
                      <!--                      {{ item.profilePictureUrl }}-->
                      <!--end::Description-->
                    </div>
                    <div
                      *ngIf="activePanelId === item.id"
                      id="{{ item.id }}"
                      class="col-12 p-0"
                      [collapse]="activePanelId !== item.id"
                      [isAnimated]="true"
                    >
                      <new-tracking-conponent [trip]="item"></new-tracking-conponent>
                    </div>
                    <!--end::Content-->
                  </div>
                  <!--end::Info-->
                </div>
                <!--end::Top-->
                <!--begin::Separator-->
                <div class="separator separator-solid my-7"></div>
                <!--end::Separator-->
                <!--begin::Bottom-->
                <div class="d-flex align-items-center flex-wrap">
                  <!--begin: Item-->
                  <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                    <span class="mr-4">
                      <i class="flaticon-map-location icon-2x text-muted font-weight-bold"></i>
                    </span>
                    <div class="d-flex flex-column text-dark-75">
                      <span class="font-weight-bolder font-size-sm">{{ l('RouteType') }}</span>
                      <span class="font-weight-bolder font-size-h5"> <span class="text-dark-50 font-weight-bold"></span>{{ l(item.routeType) }}</span>
                    </div>
                  </div>
                  <!--end: Item-->
                  <!--begin: Item-->
                  <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                    <span class="mr-4">
                      <i class="flaticon2-delivery-truck icon-2x text-muted font-weight-bold"></i>
                    </span>
                    <div class="d-flex flex-column text-dark-75">
                      <span class="font-weight-bolder font-size-sm">{{ l('TruckType') }}</span>
                      <span class="font-weight-bolder font-size-h5"> <span class="text-dark-50 font-weight-bold"></span>{{ item.truckType }}</span>
                    </div>
                  </div>
                  <!--end: Item-->
                  <!--begin: Item-->
                  <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                    <span class="mr-4">
                      <i class="flaticon2-box-1 icon-2x text-muted font-weight-bold"></i>
                    </span>
                    <div class="d-flex flex-column text-dark-75">
                      <span class="font-weight-bolder font-size-sm">{{ l('goodsCategory') }}</span>
                      <span class="font-weight-bolder font-size-h5">
                        <span class="text-dark-50 font-weight-bold"></span>{{ item.goodsCategory }}</span
                      >
                    </div>
                  </div>
                  <!--end: Item-->
                  <!--begin: Item-->
                  <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                    <span class="mr-4">
                      <i class="flaticon-user icon-2x text-muted font-weight-bold"></i>
                    </span>
                    <div class="d-flex flex-column text-dark-75">
                      <span class="font-weight-bolder font-size-sm">{{ l('Driver') }}</span>
                      <span class="font-weight-bolder font-size-h5">
                        <span class="font-weight-normal"></span>{{ item.driver ? item.driver : l('NotAssigned') }}</span
                      >
                    </div>
                  </div>
                  <!--end: Item-->

                  <!--begin: Item-->
                  <div class="d-flex align-items-center flex-lg-fill mr-5 my-1">
                    <span class="mr-4">
                      <i class="flaticon-placeholder icon-2x text-muted font-weight-bold"></i>
                    </span>
                    <div class="d-flex flex-column flex-lg-fill">
                      <span class="text-dark-75 font-weight-bolder font-size-sm">{{ l('NumberOfDrops') }}</span>
                      <a class="text-primary font-weight-bolder">{{ item.numberOfDrops }}</a>
                    </div>
                  </div>
                  <!--end: Item-->
                  <!--begin: Item-->
                  <div class="d-flex align-items-center flex-lg-fill my-1">
                    <span class="mr-4">
                      <i class="flaticon2-notepad icon-2x text-muted font-weight-bold"></i>
                    </span>
                    <div class="d-flex flex-column">
                      <span class="text-dark-75 font-weight-bolder font-size-sm">{{ l('Waybill') }}</span>
                      <a [buttonBusy]="downloadingForItem === item.id" (click)="DownloadSingleDropWaybillPdf(item.id)" class="font-weight-bolder">{{
                        item.waybillNumber
                      }}</a>
                    </div>
                  </div>
                  <!--end: Item-->
                </div>
                <!--end::Bottom-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<tacking-search-model #ModelSearch (modalsearch)="search()"></tacking-search-model>
<view-trip-accident-modal #ModelIncident></view-trip-accident-modal>
<trip-accident-modal #TripAccidentModal></trip-accident-modal>
