<div class="flex-row-fluid ml-lg-8">
  <!--begin::Card-->
  <div class="card card-custom card-stretch">
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder">{{ l('CompanyInformation') }}</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">{{ 'UpdateYourCompanyProfileInformation' | localize }}</span>
      </div>
      <div class="card-toolbar">
        <button type="submit" class="btn btn-primary mr-2" (click)="save()" [buttonBusy]="saving" [disabled]="!profileForm.form.valid">
          {{ l('SaveChanges') }}
        </button>
        <button type="reset" class="btn btn-secondary" routerLink="/app/main/dashboard">{{ l('Skip') }}</button>
        <!--        <button class="btn btn-lg btn-primary fw-bolder" >Skip</button>-->
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <form class="form" #profileForm="ngForm" autocomplete="off" novalidate>
      <!--begin::Body-->
      <div class="card-body" [busyIf]="loading">
        <div class="row">
          <label class="col-xl-3"></label>
          <div class="col-lg-9 col-xl-6">
            <h5 class="font-weight-bold mb-6">{{ l('CompanyInformation') }}</h5>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">{{ l('Avatar') }}</label>
          <div class="col-lg-9 col-xl-6">
            <div class="image-input image-input-outline" id="kt_profile_avatar" style="background-image: url({{ profilePicture }})">
              <div class="image-input-wrapper" style="background-image: url({{ profilePicture }})"></div>
              <label
                class="btn btn-xs btn-icon btn-circle btn-white btn-hover-text-primary btn-shadow"
                data-action="change"
                data-toggle="tooltip"
                title=""
                data-original-title="Change avatar"
                (click)="changeProfilePicture()"
              >
                <i class="fa fa-pen icon-sm text-muted"></i>
              </label>
            </div>
            <span class="form-text text-muted">Allowed file types: png, jpg, jpeg.</span>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">{{ l('CompanyName') }} <span class="required-fileds">*</span></label>
          <div class="col-lg-9 col-xl-6">
            <input
              #companyName="ngModel"
              class="form-control form-control-lg form-control-solid"
              type="text"
              [(ngModel)]="completeFiled.companyName"
              name="CompanyName"
              placeholder="{{ l('CompanyName') }}"
              required
              [class.is-invalid]="companyName.touched && !companyName.valid"
              [class.is-valid]="companyName.touched && companyName.valid"
              minlength="2"
              maxlength="80"
            />
            <validation-messages [formCtrl]="companyName"></validation-messages>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">{{ l('CompanyDescription') }}</label>
          <div class="col-lg-9 col-xl-6">
            <textarea
              #companyInfo="ngModel"
              class="form-control form-control-lg form-control-solid"
              type="text"
              cols="15"
              rows="5"
              placeholder="{{ l('CompanyDescription') }}"
              [(ngModel)]="completeFiled.companyInfo"
              name="CompanyDescription"
              maxlength="500"
            >
            </textarea>
            <span class="form-text text-muted">{{ l('CompanyDescriptionHint') }}.</span>
          </div>
        </div>

        <div class="row">
          <label class="col-xl-3"></label>
          <div class="col-lg-9 col-xl-6">
            <h5 class="font-weight-bold mt-10 mb-6">{{ l('ContactInfo') }}</h5>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">{{ l('ContactPhone') }}<span class="required-fileds">*</span></label>
          <div class="col-lg-9 col-xl-6">
            <div class="input-group input-group-lg input-group-solid">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="la la-phone"></i>
                </span>
              </div>
              <input
                #companyPhone="ngModel"
                type="text"
                class="form-control form-control-lg form-control-solid"
                placeholder="{{ l('Phone') }}"
                name="ContactPhone"
                [(ngModel)]="completeFiled.companyPhone"
                required
                (keypress)="numberOnly($event)"
                [class.is-invalid]="companyPhone.touched && !companyPhone.valid"
                [class.is-valid]="companyPhone.touched && companyPhone.valid"
                maxlength="20"
              />
            </div>
            <validation-messages [formCtrl]="companyPhone"></validation-messages>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">{{ l('EmailAddress') }}<span class="required-fileds">*</span></label>
          <div class="col-lg-9 col-xl-6">
            <div class="input-group input-group-lg input-group-solid">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="la la-at"></i>
                </span>
              </div>
              <input
                #companyEmailAddress="ngModel"
                type="text"
                class="form-control form-control-lg form-control-solid"
                [(ngModel)]="completeFiled.companyEmailAddress"
                placeholder="{{ l('EnterYourEmail') }}"
                name="EmailAddress"
                required
                pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                [class.is-invalid]="companyEmailAddress.touched && !companyEmailAddress.valid"
                [class.is-valid]="companyEmailAddress.touched && companyEmailAddress.valid"
              />
            </div>
            <validation-messages [formCtrl]="companyEmailAddress"></validation-messages>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">{{ l('CompanyWebsite') }} </label>
          <div class="col-lg-9 col-xl-6">
            <div class="input-group input-group-lg input-group-solid">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="la la-globe"></i>
                </span>
              </div>
              <input
                #companySite="ngModel"
                type="text"
                class="form-control form-control-lg form-control-solid"
                placeholder="{{ l('site.com') }}"
                [(ngModel)]="completeFiled.companySite"
                name="CompanySite"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <label class="col-xl-3"></label>
          <div class="col-lg-9 col-xl-6">
            <h5 class="font-weight-bold mt-10 mb-6">{{ l('FinancialDepartmentDetails') }}</h5>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">{{ l('Phone') }}</label>
          <div class="col-lg-9 col-xl-6">
            <div class="input-group input-group-lg input-group-solid">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="la la-phone"></i>
                </span>
              </div>
              <input
                #financialPhone="ngModel"
                type="text"
                class="form-control form-control-lg form-control-solid"
                placeholder="{{ l('Phone') }}"
                name="financialPhone"
                [(ngModel)]="completeFiled.financialPhone"
                (keypress)="numberOnly($event)"
                [class.is-invalid]="financialPhone.touched && !financialPhone.valid"
                [class.is-valid]="financialPhone.touched && financialPhone.valid"
                maxlength="20"
              />
            </div>
            <validation-messages [formCtrl]="financialPhone"></validation-messages>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">{{ l('EmailAddress') }}</label>
          <div class="col-lg-9 col-xl-6">
            <div class="input-group input-group-lg input-group-solid">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="la la-at"></i>
                </span>
              </div>
              <input
                #financialEmail="ngModel"
                type="text"
                class="form-control form-control-lg form-control-solid"
                [(ngModel)]="completeFiled.financialEmail"
                placeholder="{{ l('EnterYourEmail') }}"
                name="financialEmail"
                pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                [class.is-invalid]="financialEmail.touched && !financialEmail.valid"
                [class.is-valid]="financialEmail.touched && financialEmail.valid"
              />
            </div>
            <validation-messages [formCtrl]="financialEmail"></validation-messages>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-xl-3 col-lg-3 col-form-label">{{ l('Name') }} </label>
          <div class="col-lg-9 col-xl-6">
            <div class="input-group input-group-lg input-group-solid">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="la la-user"></i>
                </span>
              </div>
              <input
                #financialName="ngModel"
                type="text"
                class="form-control form-control-lg form-control-solid"
                placeholder="{{ l('Name') }}"
                [(ngModel)]="completeFiled.financialName"
                name="financialName"
              />
            </div>
          </div>
        </div>
      </div>
      <!--end::Body-->
    </form>
    <!--end::Form-->
  </div>
</div>
