<div
  bsModal
  #modal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <form *ngIf="active" #Form="ngForm" novalidate (ngSubmit)="save()">
        <div class="modal-header">
          <h4 class="modal-title">
            {{ l('Penalty') }}
          </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <!--  begin :: Body-->
            <div class="col-lg-12 mt-4">
              <label>{{ l('Company') }} <span class="required-fileds">*</span></label>
              <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': false }">
                <p-dropdown
                  #Company="ngModel"
                  name="Company"
                  [options]="allCompanies"
                  [(ngModel)]="form.tenantId"
                  optionLabel="displayName"
                  [filter]="true"
                  filterBy="displayName"
                  [showClear]="true"
                  placeholder="{{ l('SelectCompany') }}"
                  optionValue="id"
                  [styleClass]="'CompanyInput'"
                  class="form-control"
                  required
                  (onChange)="GetWaybillsByCompany()"
                >
                </p-dropdown>
              </div>
            </div>
            <div class="col-lg-12 mt-4">
              <label>{{ l('DestinationCompany') }}</label>
              <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': false }">
                <p-dropdown
                  #Company="ngModel"
                  name="destinationTenantId"
                  [options]="allCompanies"
                  [(ngModel)]="form.destinationTenantId"
                  optionLabel="displayName"
                  [filter]="true"
                  filterBy="displayName"
                  [showClear]="true"
                  placeholder="{{ l('SelectDestinationCompany') }}"
                  optionValue="id"
                  [styleClass]="'CompanyInput'"
                  class="form-control"
                  (onChange)="Calculator()"
                >
                </p-dropdown>
              </div>
            </div>
            <div class="col-lg-12 mt-4">
              <label>{{ l('Waybill') }}</label>
              <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': false }">
                <p-dropdown
                  #Waybill="ngModel"
                  name="wabills"
                  [options]="Allwaybills"
                  [(ngModel)]="form.shippingRequestTripId"
                  optionLabel="waybillNumber"
                  [filter]="true"
                  filterBy="waybillNumber"
                  [showClear]="true"
                  placeholder="{{ l('SelectWaybill') }}"
                  optionValue="id"
                  [styleClass]="'CompanyInput'"
                  class="form-control"
                >
                </p-dropdown>
              </div>
            </div>

            <div class="col-lg-12 mt-4">
              <label>{{ l('ReferenceNo') }} <span class="required-fileds">*</span></label>
              <input #penaltyName="ngModel" type="text" class="form-control" [(ngModel)]="form.referenceNumber" name="penaltyName" />
            </div>
            <div class="col-lg-12 mt-4">
              <label>{{ l('PenaltyName') }} <span class="required-fileds">*</span></label>
              <input
                #penaltyName="ngModel"
                type="text"
                class="form-control"
                [(ngModel)]="form.penaltyName"
                name="penaltyName"
                [class.is-valid]="penaltyName.valid && (penaltyName.dirty || penaltyName.touched)"
                [class.is-invalid]="penaltyName.invalid && (penaltyName.dirty || penaltyName.touched)"
                required
              />
            </div>
            <div class="col-lg-12 mt-4">
              <label>{{ l('PenaltyDescription') }} <span class="required-fileds">*</span></label>
              <input
                #penaltyDescrption="ngModel"
                type="text"
                class="form-control"
                [(ngModel)]="form.penaltyDescrption"
                name="penaltyDescrption"
                [class.is-valid]="penaltyDescrption.valid && (penaltyDescrption.dirty || penaltyDescrption.touched)"
                [class.is-invalid]="penaltyDescrption.invalid && (penaltyDescrption.dirty || penaltyDescrption.touched)"
              />
            </div>
            <div class="col-lg-6 mt-4">
              <label>{{ l('Price') }} <span class="required-fileds">*</span></label>
              <input
                #ItmePrice="ngModel"
                type="number"
                class="form-control"
                [(ngModel)]="form.itmePrice"
                name="ItmePrice"
                [class.is-valid]="ItmePrice.valid && (ItmePrice.dirty || ItmePrice.touched)"
                [class.is-invalid]="ItmePrice.invalid && (ItmePrice.dirty || ItmePrice.touched)"
                (change)="Calculator()"
                min="1"
                required
              />
            </div>
            <div *ngIf="form.destinationTenantId" class="col-lg-6 mt-4">
              <label>{{ l('commissionType') }}:</label>
              <select class="form-control" name="CommissionType" [(ngModel)]="form.commissionType" (change)="Calculator()">
                <option [value]="code.key" *ngFor="let code of priceOfferCommissionType">{{ l(code.value) | localize }}</option>
              </select>
            </div>
            <div *ngIf="form.destinationTenantId" class="col-lg-6 mt-4">
              <label>{{ l('commissionTypeValue') }}:</label>
              <input
                type="number"
                #commissionPercentageOrAddValue1="ngModel"
                min="1"
                required
                class="form-control"
                placeholder="Value"
                (change)="Calculator()"
                name="commissionPercentageOrAddValue"
                [(ngModel)]="form.commissionPercentageOrAddValue"
                [class.is-valid]="
                  commissionPercentageOrAddValue1.valid && (commissionPercentageOrAddValue1.dirty || commissionPercentageOrAddValue1.touched)
                "
                [class.is-invalid]="
                  commissionPercentageOrAddValue1.invalid && (commissionPercentageOrAddValue1.dirty || commissionPercentageOrAddValue1.touched)
                "
              />
            </div>
            <div class="col-lg-6 mt-4" *ngIf="form.destinationTenantId">
              <label>{{ l('commissionAmount') }}:</label>
              <input type="number" min="0" class="form-control" name="commissionAmount" [(ngModel)]="CommissionAmount" disabled />
            </div>
            <div class="col-lg-12 mt-4">
              <table class="table">
                <thead>
                  <tr class="table-active">
                    <th></th>
                    <th scope="col">{{ l('Price') }}</th>
                    <th scope="col">{{ l('VatAmount') }}</th>
                    <th scope="col">{{ l('TotalAmount') }}</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ l('Company') }}</td>
                    <td><input [(ngModel)]="CompanyPrice" disabled class="form-control" type="number" name="CompanyPrice" id="CompanyPrice" /></td>
                    <td>
                      <input
                        [(ngModel)]="CompanyVatAmount"
                        disabled
                        class="form-control"
                        type="number"
                        name="CompanyVatAmount"
                        id="CompanyVatAmount"
                      />
                    </td>
                    <td>
                      <input
                        [(ngModel)]="TotalCompanyPrice"
                        class="form-control"
                        type="number"
                        name="CompanyTotalAmount"
                        id="CompanyTotalAmount"
                        disabled
                      />
                    </td>
                  </tr>
                  <tr *ngIf="form.destinationTenantId">
                    <td>{{ l('DestinationCompany') }}</td>
                    <td>
                      <input
                        [(ngModel)]="DestinationCompanyPrice"
                        disabled
                        class="form-control"
                        type="number"
                        name="DestinationCompanyPrice"
                        id="DestinationCompanyPrice"
                      />
                    </td>
                    <td>
                      <input
                        [(ngModel)]="DestinationCompanyVatAmount"
                        disabled
                        class="form-control"
                        type="number"
                        name="DestinationCompanyVatAmount"
                        id="DestinationCompanyVatAmount"
                      />
                    </td>
                    <td>
                      <input
                        [(ngModel)]="TotalDestinationCompanyPrice"
                        class="form-control"
                        type="number"
                        name="DestinationCompanyTotalAmount"
                        id="DestinationCompanyTotalAmount"
                        disabled
                      />
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--  end :: Body-->
          </div>
        </div>
        <!-- end::Body-->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="close()">{{ 'Cancel' | localize }}</button>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!Form.form.valid"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot' | localize)"
            (click)="save()"
          >
            <i class="fa fa-save"></i> <span>{{ 'Submit' | localize }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
