<div
  appBsModal
  #editModal="bs-modal"
  (onShown)="onShown()"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static', keyboard: !saving }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form #tenantEditForm="ngForm" role="form" novalidate class="form-validation" (submit)="save()" *ngIf="tenant && active">
        <div class="modal-header">
          <h5 class="modal-title">
            <span>{{ 'EditTenant' | localize }}: {{ tenant.tenancyName }}</span>
          </h5>
          <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="companyName">{{ 'CompanyUniqueName' | localize }}</label>
                <input
                  #companyName="ngModel"
                  id="companyName"
                  type="text"
                  placeholder="{{ 'CompanyUniqueName' | localize }}"
                  name="companyName"
                  class="form-control"
                  [(ngModel)]="tenant.companyName"
                  maxlength="32"
                  required
                />
                <span class="form-text text-muted">{{ l('Enter') }} {{ l('companyName') }}</span>
                <validation-messages [formCtrl]="companyName"></validation-messages>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <label for="Name">{{ 'CompanyFullLeagalName' | localize }} *</label>
                <input
                  id="Name"
                  #nameInput="ngModel"
                  type="text"
                  placeholder="{{ 'CompanyFullLeagalName' | localize }}"
                  name="Name"
                  class="form-control"
                  [ngClass]="{ edited: tenant.name }"
                  [(ngModel)]="tenant.name"
                  required
                  maxlength="128"
                />
                <div>
                  <span class="form-text text-muted">{{ l('Enter') }} {{ l('CompanyFullLeagalName') }}</span>
                </div>
                <validation-messages [formCtrl]="nameInput"></validation-messages>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <select
                  (change)="CountryChanged($event)"
                  #countrySelect="ngModel"
                  class="form-control form-control-lg custom-select mr-sm-2"
                  name="tenant.countryId"
                  [(ngModel)]="tenant.countryId"
                  required
                >
                  <option [ngValue]="null">{{ l('Select') }} {{ l('Country') }}</option>
                  <option *ngFor="let country of allCountries" value="{{ country.id }}">{{ country.displayName }}</option>
                </select>
                <!-- <span class="form-text text-danger" *ngIf="countrySelect.value == -2 && countrySelect.touched">Country is required</span> -->
                <validation-messages [formCtrl]="countrySelect"></validation-messages>
              </div>
            </div>

            <div class="col-6">
              <div class="form-group">
                <select
                  [disabled]="!isCountySelected"
                  #citySelect="ngModel"
                  class="form-control form-control-lg custom-select mr-sm-2"
                  name="tenant.cityId"
                  [(ngModel)]="tenant.cityId"
                  required
                >
                  <option [ngValue]="null">{{ l('Select') }} {{ l('City') }}</option>
                  <option *ngFor="let city of allCities" value="{{ city.id }}">{{ city.displayName }}</option>
                  <option value="-1">{{ l('Other') }}</option>
                </select>
                <!-- <span class="form-text text-danger" *ngIf="citySelect.value == -2 && citySelect.touched">City is required</span> -->
                <validation-messages [formCtrl]="citySelect"></validation-messages>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>{{ 'Address' | localize }}</label>

                <input
                  #addressInput="ngModel"
                  class="form-control py-7 font-size-h6"
                  type="Address"
                  placeholder="{{ 'AddressFormat' | localize }} *"
                  [(ngModel)]="tenant.address"
                  name="Address"
                  required
                  maxlength="128"
                />
                <validation-messages [formCtrl]="addressInput"></validation-messages>
                <span class="form-text text-muted"> {{ l('Enter') }} {{ l('Address') }}</span>
                <span class="form-text text-muted"> {{ l('Format') }} :{{ l('AddressFormat') }}</span>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>{{ 'MoiNumber' | localize }}</label>
                <input
                  #MoiNumber="ngModel"
                  class="form-control py-7 font-size-h6"
                  autoFocus
                  (change)="checkIfIsCompanyUniqueMoiNumber()"
                  [(ngModel)]="tenant.moiNumber"
                  name="MoiNumber"
                  required
                  style="width: 100% !important"
                  maxlength="10"
                  minlength="10"
                  pattern="^7\d{9}$"
                  placeholder="7_________"
                />
                <div>
                  <validation-messages [formCtrl]="MoiNumber"></validation-messages>
                  <span class="form-text text-muted">{{ l('NumbersOnly') }}</span>
                  <span *ngIf="!isMoiNumberAvailable && MoiNumber.valid" class="form-text text-danger text-left"
                    >{{ 'MoiNumber' | localize }} {{ 'AlreadyTaken' | localize }}</span
                  >
                </div>
              </div>
            </div>
          </div>

          <!--          <div class="checkbox-list">-->
          <!--            <label class="checkbox">-->
          <!--              <input id="CreateTenant_UseHostDb" type="checkbox" name="UseHostDb" [(ngModel)]="useHostDb" />-->
          <!--              {{ 'UseHostDatabase' | localize }}-->
          <!--              <span></span>-->
          <!--            </label>-->
          <!--          </div>-->

          <div class="form-group">
            <label for="edition">{{ 'Edition' | localize }}</label>
            <select id="edition" name="edition" class="form-control" [(ngModel)]="tenant.editionId" (change)="onEditionChange()">
              <option *ngFor="let edition of editions" [value]="edition.value">{{ edition.displayText }}</option>
            </select>
          </div>

          <div class="checkbox-list margin-bottom-15">
            <label class="checkbox">
              <input id="EditTenant_IsActive" type="checkbox" name="IsActive" [(ngModel)]="tenant.isActive" />
              {{ 'Active' | localize }}
              <span class="ml-2 mt-1"></span>
            </label>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" [disabled]="saving" class="btn btn-light-primary font-weight-bold" (click)="close()">
            {{ 'Cancel' | localize }}
          </button>
          <button
            type="submit"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
            class="btn btn-save font-weight-bold"
            [disabled]="!tenantEditForm.form.valid || saving || !subscriptionEndDateUtcIsValid"
          >
            <i class="fa fa-save"></i> <span>{{ 'Save' | localize }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
