<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [title]="'Tenants' | localize" [description]="'' | localize">
      <div role="actions">
        <button *ngIf="'Pages.Tenants.Create' | permission" class="btn btn-primary" (click)="createTenant()">
          <i class="fa fa-plus"></i>{{ 'CreateNewTenant' | localize }}
        </button>
      </div>
    </sub-header>

    <div [class]="containerClass">
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <div class="row align-items-center">
            <dx-data-grid
              style="height: 45vw"
              #grid
              id="dataGrid"
              [dataSource]="dataSource"
              [remoteOperations]="true"
              [showColumnLines]="true"
              [showRowLines]="false"
              [showBorders]="true"
              [rowAlternationEnabled]="true"
              keyExpr="id"
              [wordWrapEnabled]="true"
            >
              <dxo-filter-row [visible]="true"></dxo-filter-row>
              <dxo-search-panel [visible]="true"></dxo-search-panel>
              <dxo-filter-panel [visible]="true"></dxo-filter-panel>
              <dxo-filter-builder-popup></dxo-filter-builder-popup>
              <dxo-scrolling mode="virtual"></dxo-scrolling>
              <dxo-group-panel [visible]="true"></dxo-group-panel>
              <dxo-grouping #expand [autoExpandAll]="false" [contextMenuEnabled]="true"> ></dxo-grouping>
              <dxo-remote-operations [groupPaging]="true" [sorting]="true" [filtering]="true"> </dxo-remote-operations>
              <dxo-paging [pageSize]="20"></dxo-paging>
              <dxo-summary>
                <dxi-group-item column="id" summaryType="count"> </dxi-group-item>
              </dxo-summary>

              <dxi-column
                cellTemplate="cellTemplateActions"
                [allowFiltering]="false"
                [allowSorting]="false"
                [allowEditing]="false"
                [editorOptions]="{ visible: false }"
                [width]="50"
                caption="{{ 'Actions' | localize }}"
              ></dxi-column>
              <dxi-column dataField="tenancyName" caption="{{ l('TenancyCodeName') }}"> </dxi-column>
              <dxi-column dataField="name" caption="{{ l('TenantName') }}"> </dxi-column>
              <dxi-column dataField="accountNumber" caption="{{ l('AccountNumber') }}"> </dxi-column>
              <dxi-column dataField="contractNumber" caption="{{ l('ContractNumber') }}"> </dxi-column>
              <dxi-column dataField="editionId" [groupIndex]="0" caption="{{ l('Edition') }}">
                <dxo-lookup [dataSource]="editions" displayExpr="displayText" valueExpr="value"> </dxo-lookup>
              </dxi-column>
              <dxi-column
                dataField="subscriptionEndDateUtc"
                caption="{{ l('SubscriptionEndDateUtc') }}"
                cellTemplate="cellTemplateSubscriptionEndDateUtc"
                dataType="date"
              >
              </dxi-column>
              <dxi-column dataField="isActive" caption="{{ l('Active') }}" cellTemplate="cellTemplate_IsActive"> </dxi-column>
              <dxi-column dataField="creationTime" dataType="date" caption="{{ l('CreationTime') }}"> </dxi-column>

              <div *dxTemplate="let options of 'cellTemplate_IsActive'">
                <span *ngIf="options.data.isActive" class="badge badge-success badge-inline">{{ 'Yes' | localize }}</span>
                <span *ngIf="!options.data.isActive" class="badge badge-dark badge-inline">{{ 'No' | localize }}</span>
              </div>

              <div *dxTemplate="let options of 'cellTemplateSubscriptionEndDateUtc'">
                {{ options.data.subscriptionEndDateUtc ? (options.data.subscriptionEndDateUtc | momentFormat: 'L') : 'Unlimited' }}
              </div>

              <div *dxTemplate="let options of 'cellTemplateActions'">
                <div class="btn-group dropdown" dropdown container="body">
                  <a href="javascript:;" class="btn btn-sm btn-clean btn-icon mr-2" dropdownToggle>
                    <span class="svg-icon svg-icon-md">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="24px"
                        height="24px"
                        viewBox="0 0 24 24"
                        version="1.1"
                      >
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect x="0" y="0" width="24" height="24"></rect>
                          <path
                            d="M5,8.6862915 L5,5 L8.6862915,5 L11.5857864,2.10050506 L14.4852814,5 L19,5 L19,9.51471863 L21.4852814,12 L19,14.4852814 L19,19 L14.4852814,19 L11.5857864,21.8994949 L8.6862915,19 L5,19 L5,15.3137085 L1.6862915,12 L5,8.6862915 Z M12,15 C13.6568542,15 15,13.6568542 15,12 C15,10.3431458 13.6568542,9 12,9 C10.3431458,9 9,10.3431458 9,12 C9,13.6568542 10.3431458,15 12,15 Z"
                            fill="#000000"
                          ></path>
                        </g>
                      </svg>
                    </span>
                  </a>
                  <ul class="dropdown-menu z-index-1000" *dropdownMenu>
                    <li *ngIf="options.data.editionId == 2 || options.data.editionId == 3">
                      <a href="javascript:;" class="dropdown-item" (click)="viewTenantProfile(options.data.id)">
                        {{ 'ViewTenantProfile' | localize }}
                      </a>
                    </li>

                    <li *ngIf="options.data.editionDisplayName != null" [class.disabled]="!options.data.isActive">
                      <a
                        href="javascript:;"
                        class="dropdown-item"
                        *ngIf="'Pages.Tenants.Impersonation' | permission"
                        [class.disabled]="!options.data.isActive"
                        (click)="options.data.isActive && showUserImpersonateLookUpModal(options.data)"
                        >{{ 'LoginAsThisTenant' | localize }}</a
                      >
                    </li>
                    <li>
                      <a
                        href="javascript:;"
                        class="dropdown-item"
                        *ngIf="'Pages.Tenants.Edit' | permission"
                        (click)="editTenantModal.show(options.data.id)"
                        >{{ 'Edit' | localize }}</a
                      >
                    </li>
                    <li>
                      <a
                        href="javascript:;"
                        class="dropdown-item"
                        *ngIf="'Pages.Tenants.ChangeFeatures' | permission"
                        (click)="tenantFeaturesModal.show(options.data.id, options.data.name)"
                        >{{ 'Features' | localize }}</a
                      >
                    </li>
                    <li>
                      <a href="javascript:;" class="dropdown-item" *ngIf="'Pages.Tenants.Delete' | permission" (click)="deleteTenant(options.data)">
                        {{ 'Delete' | localize }}
                      </a>
                    </li>
                    <li>
                      <a
                        href="javascript:;"
                        class="dropdown-item"
                        *ngIf="
                          isGranted('Pages.TenantCarrier') &&
                          options.data.editionDisplayName.trim().toLowerCase() == shipperEditionDisplayName.trim().toLowerCase()
                        "
                        (click)="TenantCarriersModel.show(options.data.id)"
                      >
                        {{ 'Carriers' | localize }}
                      </a>
                    </li>
                    <li>
                      <a href="javascript:;" class="dropdown-item" (click)="unlockUser(options.data)">{{ 'Unlock' | localize }}</a>
                    </li>
                    <li>
                      <a href="javascript:;" *ngIf="entityHistoryEnabled" class="dropdown-item" (click)="showHistory(options.data)">
                        {{ 'History' | localize }}
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </dx-data-grid>
          </div>
        </div>
      </div>
    </div>

    <createTenantModal #createTenantModal (modalSave)="getTenants()"></createTenantModal>
    <editTenantModal #editTenantModal (modalSave)="getTenants()"></editTenantModal>
    <tenantFeaturesModal #tenantFeaturesModal></tenantFeaturesModal>
    <commonLookupModal #impersonateUserLookupModal (itemSelected)="impersonateUser($event)"></commonLookupModal>
    <entityTypeHistoryModal #entityTypeHistoryModal></entityTypeHistoryModal>
    <tenant-carriers-model #TenantCarriersModel></tenant-carriers-model>
  </div>
</div>
