<div
  bsModal
  #DriverTrackingModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div>
        <div class="modal-header">
          <h4 class="modal-title">
            <!--                <span *ngIf="routStep.id">{{l("EditRoutStep")}}</span>-->
            <!--                <span *ngIf="!routStep.id">{{l("CreateNewRoutStep")}}</span>-->
            <span>{{ l('DriverTracking') }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="col-lg-6">
            <div class="form-group">
              <label>{{ l(' Date ') }}</label>
              <div class="input-group date">
                <input
                  bsDatepicker
                  datePickerMomentModifier
                  class="form-control"
                  type="datetime"
                  name="startdate"
                  placeholder="{{ l('EnterTheDate') }}"
                  (dateChange)="dateFilter ? show(this.driverId, this.tripId) : ''"
                  [(date)]="dateFilter"
                />
              </div>
            </div>
          </div>
          <div class="form-group col-md-12">
            <agm-map style="height: 350px" [latitude]="this.trackDriver.latitude" [longitude]="this.trackDriver.longitude" [zoom]="zoom">
              <agm-marker
                *ngFor="let location of driverLocations"
                [latitude]="location.latitude"
                [longitude]="location.longitude"
                [markerDraggable]="false"
              ></agm-marker>
            </agm-map>
          </div>
        </div>
        <div [class]="containerClass">
          <div class="card card-custom gutter-b">
            <div class="card-body">
              <div class="row align-items-center">
                <dx-data-grid
                  #grid
                  id="dataGrid"
                  [dataSource]="dataSource"
                  [remoteOperations]="true"
                  [showColumnLines]="true"
                  [showRowLines]="false"
                  [showBorders]="true"
                  [rowAlternationEnabled]="true"
                  keyExpr="id"
                >
                  <dxo-filter-row [visible]="true"></dxo-filter-row>
                  <dxo-search-panel [visible]="true"></dxo-search-panel>
                  <dxo-filter-panel [visible]="true"></dxo-filter-panel>
                  <dxo-filter-builder-popup></dxo-filter-builder-popup>

                  <dxo-remote-operations [sorting]="true" [paging]="true" [filtering]="true"></dxo-remote-operations>
                  <dxo-paging [pageSize]="10"></dxo-paging>
                  <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20, 50, 200]"></dxo-pager>

                  <dxi-column dataField="latitude" caption="{{ l('Latitude') }}"> </dxi-column>
                  <dxi-column dataField="longitude" caption="{{ l('Longitude') }}"></dxi-column>

                  <dxi-column dataField="time" type="date" caption="{{ l('Time') }}"></dxi-column>
                </dx-data-grid>
              </div>
            </div>
          </div>
        </div>

        <!--        <div class="modal-footer">-->
        <!--          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</div>
