<div
  bsModal
  #createOrEditModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #transportTypesTranslationForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="transportTypesTranslation.id">{{ l('EditTransportTypesTranslation') }}</span>
            <span *ngIf="!transportTypesTranslation.id">{{ l('CreateNewTransportTypesTranslation') }}</span>
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group m-form__group">
            <label for="TransportTypeDisplayName">{{ l('TransportType') }}</label>
            <select
              id="TransportTypeDisplayName"
              name="transportTypesTranslation.coreId"
              [(ngModel)]="transportTypesTranslation.coreId"
              class="form-control"
              required
            >
              <option value="">{{ l('SelectATransportType') }}</option>
              <option *ngFor="let item of allTransportTypes" value="{{ item.id }}">{{ item.translatedDisplayName }}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="TransportTypesTranslation_DisplayName">{{ l('DisplayName') }} *</label>
            <input
              type="text"
              #TransportTypesTranslation_DisplayName="ngModel"
              id="TransportTypesTranslation_DisplayName"
              class="form-control"
              [(ngModel)]="transportTypesTranslation.translatedDisplayName"
              name="DisplayName"
              minlength="0"
              maxlength="256"
              required
            />
            <validation-messages [formCtrl]="TransportTypesTranslation_DisplayName"></validation-messages>
          </div>

          <div class="form-group">
            <label for="TransportTypesTranslation_Language">{{ l('Language') }} *</label>
            <input
              type="text"
              #TransportTypesTranslation_Language="ngModel"
              id="TransportTypesTranslation_Language"
              class="form-control"
              [(ngModel)]="transportTypesTranslation.language"
              name="Language"
              minlength="0"
              maxlength="32"
              required
            />
            <validation-messages [formCtrl]="TransportTypesTranslation_Language"></validation-messages>
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
          <button
            type="submit"
            class="btn btn-primary blue"
            [disabled]="!transportTypesTranslationForm.form.valid"
            [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')"
          >
            <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
