<div class="row">
  <div class="col-lg-12">
    <!--begin::Card-->
    <div class="card card-custom card-stretch" [busyIf]="loading">
      <div class="card-header border-0">
        <div class="card-title text-center">
          <h3 class="card-label">{{ l('NewTrips') }}</h3>
          <div class="card-toolbar">
            <div class="btn-group" data-toggle="buttons">
              <label
                class="btn btn-secondary active"
                [ngClass]="{ active: selectedDatePeriod == appSalesSummaryDateInterval.Daily }"
                (click)="reload(appSalesSummaryDateInterval.Daily)"
              >
                <input type="radio" name="SalesSummaryDateInterval" [value]="appSalesSummaryDateInterval.Daily" />
                {{ 'Daily' | localize }}
              </label>
              <label
                class="btn btn-secondary"
                [ngClass]="{ active: selectedDatePeriod == appSalesSummaryDateInterval.Weekly }"
                (click)="reload(appSalesSummaryDateInterval.Weekly)"
              >
                <input type="radio" name="SalesSummaryDateInterval" [value]="appSalesSummaryDateInterval.Weekly" />
                {{ 'Weekly' | localize }}
              </label>
              <label
                class="btn btn-secondary"
                [ngClass]="{ active: selectedDatePeriod == appSalesSummaryDateInterval.Monthly }"
                (click)="reload(appSalesSummaryDateInterval.Monthly)"
              >
                <input type="radio" name="SalesSummaryDateInterval" [value]="appSalesSummaryDateInterval.Monthly" />
                {{ 'Monthly' | localize }}
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body p-1">
        <div id="invoicesVsPaidInvoices">
          <apx-chart
            *ngIf="chartOptions && chartOptions.series"
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [dataLabels]="chartOptions.dataLabels"
            [plotOptions]="chartOptions.plotOptions"
            [yaxis]="chartOptions.yaxis"
            [legend]="chartOptions.legend"
            [fill]="chartOptions.fill"
            [stroke]="chartOptions.stroke"
            [tooltip]="chartOptions.tooltip"
            [xaxis]="chartOptions.xaxis"
          ></apx-chart>
        </div>
      </div>
    </div>
    <!--end::Card-->
  </div>
</div>
