<div
  bsModal
  #rejectPricingOfferModal="bs-modal"
  class="modal fade"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">
          <span>{{ l('rejectPricingOffer') }}</span>
        </p>
      </div>
      <div class="modal-body">
        <div class="row">
          <!--  begin :: Body-->
          <!-- begin :: Source Dest Facilitys  -->
          <div class="col-lg-12 form-group">
            <label>{{ l('reason') }}</label>
            <div class="input-group">
              <textarea type="textarea" class="form-control" name="offerPrice" [(ngModel)]="acceptOrRejectInputs.rejectedReason" required></textarea>
            </div>
          </div>
          <!--          end::Body-->
        </div>
      </div>
      <div class="modal-footer">
        <!--begin::Buttons-->

        <button type="button" class="btn btn-primary font-weight-bolder btn-sm py-3 px-6 text-uppercase" [disabled]="saving" (click)="close()">
          {{ l('Close') }}
        </button>
        <button type="button" class="btn btn-primary font-weight-bolder btn-sm py-3 px-6 text-uppercase" [buttonBusy]="saving" (click)="send()">
          {{ l('Send') }}
        </button>
        <!--end::Buttons-->
      </div>
    </div>
  </div>
</div>
