<div
  bsModal
  #ViewImportedVasesModal="bs-modal"
  class="modal fade"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-dialog-centered modal-xl lgWidth2">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">
          <span>{{ l('ImportedVasesDetails') }}</span>
        </p>
        <div class="card-toolbar"></div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-12 mt-4">
            <div class="row align-items-center">
              <!--<Primeng-Datatable-Start>-->
              <div [busyIf]="primengTableHelper.isLoading" class="table primeng-datatable-container col-12">
                <dx-data-grid
                  id="gridContainer"
                  [dataSource]="ImportedVasesList"
                  [columnAutoWidth]="true"
                  [wordWrapEnabled]="true"
                  [showBorders]="true"
                  (onCellHoverChanged)="onCellHoverChanged($event)"
                >
                  <dxi-column dataField="tripReference" [caption]="'TripReferenceID' | localize"></dxi-column>
                  <dxi-column dataField="vasName" [caption]="'VasName' | localize"></dxi-column>
                  <dxi-column
                    dataField="exception"
                    [caption]="'HasErrors' | localize"
                    cellTemplate="errorsCellTemplate"
                    alignment="center"
                  ></dxi-column>

                  <div *dxTemplate="let item of 'errorsCellTemplate'">
                    <div *ngIf="item.data.exception">
                      <i class="fa fa-2x fa-exclamation-circle text-danger"></i>
                    </div>
                  </div>
                </dx-data-grid>
                <dx-popover #popOver [(target)]="popoverTarget" position="{{ isRtl ? 'right' : 'left' }}" [width]="300">
                  <div *dxTemplate="let data of 'content'">
                    <span class="required-fileds font-weight-bolder"> {{ l('Exception') }}: </span><span>{{ popOverText }}</span>
                  </div>
                </dx-popover>
                <br />
                <div class="modal-footer">
                  <!--begin::Buttons-->

                  <button type="button" class="btn btn-primary font-weight-bolder btn-sm py-3 px-6 text-uppercase" (click)="close()">
                    {{ l('Close') }}
                  </button>
                  <button
                    type="submit"
                    (click)="save()"
                    class="btn btn-save font-weight-bold"
                    [disabled]="ImportedVasesList ? checkImportedList(ImportedVasesList) : false"
                    [buttonBusy]="saving"
                    [busyText]="l('SavingWithThreeDot')"
                  >
                    <i class="fa fa-save"></i> <span>{{ 'Save' | localize }}</span>
                  </button>
                  <!--end::Buttons-->
                </div>
              </div>
              <!--<Primeng-Datatable-End>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
