<div
  bsModal
  #ViewImportedVasesModal="bs-modal"
  class="modal fade"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-dialog-centered modal-xl lgWidth2">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">
          <span>{{ l('ImportedVasesDetails') }}</span>
        </p>
        <div class="card-toolbar"></div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-6"></div>
          <div class="col-lg-12 mt-4">
            <div class="row align-items-center">
              <!--<Primeng-Datatable-Start>-->
              <div [busyIf]="primengTableHelper.isLoading" class="table primeng-datatable-container col-12">
                <p-table
                  ScrollWidth="100%"
                  [paginator]="false"
                  [resizableColumns]="primengTableHelper.resizableColumns"
                  [responsive]="primengTableHelper.isResponsive"
                  [scrollable]="true"
                  [value]="ImportedVasesList"
                  rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                >
                  <ng-template pTemplate="header">
                    <tr>
                      <th>{{ l('TripReferenceID') }}</th>
                      <th>{{ l('VasName') }}</th>
                      <th>
                        {{ l('Exception') }}
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template let-record="$implicit" pTemplate="body" let-i="rowIndex">
                    <tr [class]="record.exception ? 'alert alert-custom alert-light-warning' : 'alert alert-custom alert-light-success customAlert'">
                      <td>
                        <span class="ui-column-title"> {{ l('TripReference') }}</span>
                        {{ record.tripReference }}
                      </td>
                      <td>
                        <span class="ui-column-title"> {{ l('VasName') }}</span>
                        {{ record.vasName }}
                      </td>
                      <td>
                        <span class="ui-column-title"> {{ l('exception') }}</span>
                        {{ record.exception }}
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                <br />
                <div class="modal-footer">
                  <!--begin::Buttons-->

                  <button type="button" class="btn btn-primary font-weight-bolder btn-sm py-3 px-6 text-uppercase" (click)="close()">
                    {{ l('Close') }}
                  </button>
                  <button
                    type="submit"
                    (click)="save()"
                    class="btn btn-save font-weight-bold"
                    [disabled]="ImportedVasesList ? checkImportedList(ImportedVasesList) : false"
                    [buttonBusy]="saving"
                    [busyText]="l('SavingWithThreeDot')"
                  >
                    <i class="fa fa-save"></i> <span>{{ 'Save' | localize }}</span>
                  </button>
                  <!--end::Buttons-->
                </div>
              </div>
              <!--<Primeng-Datatable-End>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
