<div
  bsModal
  #assignDriverTruckModal="bs-modal"
  class="modal fade"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title">
          <span>{{ l('assign') }}</span>
        </p>
      </div>
      <div class="modal-body">
        <div class="row">
          <!--  begin :: Body-->
          <!--           begin :: assign Driver  -->
          <ng-container *ngIf="feature.isEnabled('App.Carrier')">
            <div class="form-group col-lg-6">
              <label>{{ l('driver') }}</label>
              <select name="driver" type="text" [(ngModel)]="assignDriverAndTruck.assignedDriverUserId" class="form-control">
                <option [ngValue]="null">{{ l('selectaDriver') }}</option>
                <option *ngFor="let item of allDrivers" [ngValue]="item.id">{{ item.displayName }}</option>
              </select>
            </div>
            <div class="form-group col-lg-6">
              <label>{{ l('tuck') }}</label>
              <select name="truck" type="text" [(ngModel)]="assignDriverAndTruck.assignedTruckId" class="form-control">
                <option [ngValue]="null">{{ l('selectatruck') }}</option>
                <option *ngFor="let item of allTrucks" [ngValue]="item.id">{{ item.displayName }}</option>
              </select>
            </div>
          </ng-container>
          <!--          end::Body-->
        </div>
      </div>
      <div class="modal-footer">
        <!--begin::Buttons-->

        <button type="button" class="btn btn-primary font-weight-bolder btn-sm py-3 px-6 text-uppercase" [disabled]="saving" (click)="close()">
          {{ l('Close') }}
        </button>
        <button
          type="button"
          class="btn btn-primary font-weight-bolder btn-sm py-3 px-6 text-uppercase"
          [buttonBusy]="saving"
          (click)="assignDriverandTruck()"
        >
          {{ l('save') }}
        </button>
        <!--end::Buttons-->
      </div>
    </div>
  </div>
</div>
