<div
  bsModal
  #UpdatePriceModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createOrEditModal"
  aria-hidden="true"
  [config]="{ backdrop: 'static' }"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <form *ngIf="active" #UpdatePriceForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
        <div class="modal-header">
          <h4 class="modal-title">
            <!--            <span *ngIf="item.id">{{ l('EditItem') }}</span>-->
            <!--            <span *ngIf="!item.id">{{ l('CreateItem') }}</span>-->
          </h4>
          <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row align-items-center">
            <div class="col-6 mb-3">
              <h6>({{ l('TrucksType') }}) {{ l('DisplayName') }} :</h6>
              {{ item.trucksTypeDisplayName }}
            </div>
            <div class="col-6 mb-3">
              <h6>({{ l('TrailerType') }}) {{ l('DisplayName') }} :</h6>
              {{ item.trailerTypeDisplayName }}
            </div>
            <div class="col-6 mb-3">
              <h6>({{ l('GoodsDetail') }}) {{ l('Name') }} :</h6>
              {{ item.goodsDetailName }}
            </div>
            <div class="col-6 mb-3">
              <h6>({{ l('Route') }}) {{ l('DisplayName') }} :</h6>
              {{ item.routeDisplayName }}
            </div>
            <div class="col-6 mb-3">
              <h6>{{ l('isBid') }} :</h6>
              {{ item.shippingRequest.isBid }}
            </div>
            <div class="col-6 mb-3">
              <h6>{{ l('isTachyonDeal') }} :</h6>
              {{ item.shippingRequest.isTachyonDeal }}
            </div>
            <div class="col-6 mb-3">
              <h6>{{ l('isPriceAccepted') }} :</h6>
              {{ item.shippingRequest.isPriceAccepted }}
            </div>
            <div class="col-6 mb-3">
              <h6>{{ l('isRejected') }} :</h6>
              {{ item.shippingRequest.isRejected }}
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="Price">{{ l('Price') }} *</label>
                <input
                  [disabled]="!feature.isEnabled('App.TachyonDealer')"
                  type="number"
                  id="Price"
                  class="form-control"
                  [(ngModel)]="updatePriceInput.price"
                  name="Price"
                  minlength="0"
                  required
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l('Cancel') }}</button>
            <button
              [disabled]="!feature.isEnabled('App.Shipper') || item.shippingRequest.isPriceAccepted || item.shippingRequest.price <= 0"
              type="button"
              class="btn btn-success"
              (click)="acceptPrice()"
            >
              {{ l('AcceptPrice') }}
            </button>
            <button
              [disabled]="!feature.isEnabled('App.TachyonDealer') || item.shippingRequest.isRejected"
              type="button"
              class="btn btn-warning"
              (click)="Reject()"
            >
              {{ l('Reject') }}
            </button>
            <button
              *ngIf="feature.isEnabled('App.TachyonDealer')"
              type="submit"
              class="btn btn-primary blue"
              [disabled]="!UpdatePriceForm.form.valid"
              [buttonBusy]="saving"
              [busyText]="l('SavingWithThreeDot')"
            >
              <i class="fa fa-save"></i> <span>{{ l('Save') }}</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
