<div class="card card-custom">
  <div class="card-header">
    <h3 class="card-title">
      {{ l('ShippingRequestTrips') }}
    </h3>
    <div
      class="card-toolbar"
      *ngIf="feature.isEnabled('App.Shipper') || feature.isEnabled('App.TachyonDealer') || feature.isEnabled('App.CarrierAsASaas')"
    >
      <p-toggleButton
        onLabel="{{ l('EnableAddTripsByTms') }}"
        offLabel="{{ l('DisableAddTripsByTms') }}"
        [(ngModel)]="tripsByTmsEnabled"
        [style]="{ width: '14em' }"
        onIcon="pi pi-lock-open"
        offIcon="pi pi-lock"
        *ngIf="ShippingRequest.isTachyonDeal && feature.isEnabled('App.Shipper')"
        (click)="updateAddTripsByTmsFeature()"
        [busyIf]="saving"
      >
      </p-toggleButton>

      <button
        class="btn btn-primary"
        (click)="AddNewTripModal.show()"
        [disabled]="primengTableHelper.totalRecordsCount >= ShippingRequest.numberOfTrips"
        *ngIf="ShippingRequest.canAddTrip"
      >
        <i class="flaticon-plus"></i> {{ l('AddATrip') }}
      </button>
    </div>
  </div>
  <!--begin::card-body-->
  <div class="card-body">
    <div class="row align-items-center">
      <!--<Primeng-Datatable-Start>-->
      <div [busyIf]="primengTableHelper.isLoading" class="primeng-datatable-container col-12">
        <p-table
          #dataTablechild
          (onLazyLoad)="getShippingRequestsTrips($event)"
          [value]="primengTableHelper.records"
          rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
          [paginator]="false"
          [lazy]="true"
          [scrollable]="true"
          ScrollWidth="100%"
          [responsive]="primengTableHelper.isResponsive"
          [resizableColumns]="primengTableHelper.resizableColumns"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="startTripDate">
                {{ l('StartDate') }}
                <p-sortIcon field="startTripDate"></p-sortIcon>
              </th>
              <th pSortableColumn="endTripDate">
                {{ l('EndDate') }}
                <p-sortIcon field="endTripDate"></p-sortIcon>
              </th>
              <th pSortableColumn="originFacility">
                {{ l('Origin') }}
                <p-sortIcon field="originFacility"></p-sortIcon>
              </th>
              <th pSortableColumn="destinationFacility">
                {{ l('Destination') }}
                <p-sortIcon field="destinationFacility"></p-sortIcon>
              </th>
              <th *ngIf="feature.isEnabled('App.Carrier')" pSortableColumn="driverStatusTitle">
                {{ l('DriverStatus') }}
                <p-sortIcon field="driverStatusTitle"></p-sortIcon>
              </th>
              <th pSortableColumn="status">
                {{ l('TripStatus') }}
                <p-sortIcon field="status"></p-sortIcon>
              </th>
              <th pSortableColumn="status">
                {{ l('WaybillNumber') }}
                <p-sortIcon field="waybillNo"></p-sortIcon>
              </th>

              <th>
                {{ l('Actions') }}
              </th>
            </tr>
          </ng-template>
          <ng-template let-record="$implicit" pTemplate="body">
            <tr [ngClass]="record.hasAccident ? 'table-warning' : ''">
              <!-- <td style="width: 50px;">
                  <span class="ui-column-title"> {{ l('id') }}</span>
                  {{ record.id }}
                </td> -->
              <td>
                <span class="ui-column-title"> {{ l('startTripDate') }}</span>
                {{ record.startTripDate | momentFormat: 'L' }}
              </td>
              <td>
                <span class="ui-column-title"> {{ l('endTripDate') }}</span>
                {{ record.endTripDate | momentFormat: 'L' }}
              </td>
              <td>
                <span class="ui-column-title"> {{ l('originFacility') }}</span>
                {{ record.originCity }}
              </td>
              <td>
                <span class="ui-column-title"> {{ l('destinationFacility') }}</span>
                {{ record.destinationCity }}
              </td>
              <td *ngIf="feature.isEnabled('App.Carrier')">
                <span class="ui-column-title"> {{ l('driverStatus') }}</span>
                {{ l(record.driverStatusTitle) }}
              </td>

              <td>
                <span class="ui-column-title"> {{ l('tripStatus') }}</span>
                {{ record.statusTitle }}
                <a (click)="ViewTripAccidentModal.getAll(record)" *ngIf="record.hasAccident"><i class="flaticon-warning text-danger"></i></a>
              </td>
              <td>
                <span class="ui-column-title"> {{ l('waybillNumber') }}</span>
                {{ record.waybillNumber }}
              </td>

              <td>
                <span class="ui-column-title"> {{ l('Actions') }}</span>
                <div class="btn-group dropdown" container="body" dropdown>
                  <a class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                    <i class="fa fa-cog"></i><span class="caret"></span> {{ l('Actions') }}
                  </a>
                  <ul *dropdownMenu class="dropdown-menu">
                    <li *ngIf="record.status == 0 && CanEditTrip">
                      <a class="dropdown-item" (click)="AddNewTripModal.show(record)">{{ l('Edit') }}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="ViewTripModal.show(record.id)">{{ isCarrier ? l('ViewOrAssignDriver') : l('View') }}</a>
                    </li>
                    <li
                      *ngIf="
                        record.status == ShippingRequestTripStatusEnum.Delivered && !ShippingRequest.isSaas &&
                        !record.isTripRateBefore &&
                        (feature.isEnabled('App.Carrier') || feature.isEnabled('App.Shipper'))
                      "
                    >
                      <a class="dropdown-item" (click)="shippingRequestRatingModal.show(record.id)">{{ l('Rating') }}</a>
                    </li>
                    <li *ngIf="canResetTrip(record)">
                      <a class="dropdown-item" (click)="ViewTripModal.ResetTrip(record.id)">{{ l('Reset') }}</a>
                    </li>
                    <li *ngIf="record.status != 0 && record.status != 6 && record.status != 7">
                      <a class="dropdown-item" (click)="TripAccidentModal.show(record.id, null)">{{ l('CreateAccident') }}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="AddRemarksModal.show(record.id)">{{ l('Remarks') }}</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div *ngIf="primengTableHelper.totalRecordsCount == 0" class="primeng-no-data">
          {{ l('NoData') }}
        </div>
        <div class="primeng-paging-container">
          <p-paginator
            #paginatorchild
            (onPageChange)="getShippingRequestsTrips($event)"
            [rows]="primengTableHelper?.defaultRecordsCountPerPage"
            [totalRecords]="primengTableHelper?.totalRecordsCount"
          >
          </p-paginator>
          <span class="total-records-count">
            {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
          </span>
        </div>
      </div>
      <!--<Primeng-Datatable-End>-->
    </div>
  </div>
  <!--end::card-body-->
</div>

<AddNewTripModal
  *ngIf="ShippingRequest.canAddTrip && primengTableHelper.totalRecordsCount < ShippingRequest.numberOfTrips"
  #AddNewTripModal
  (modalSave)="reloadPage()"
  [shippingRequest]="ShippingRequest"
  [VasListFromFather]="VasListFromFather"
>
</AddNewTripModal>
<viewTripModal #ViewTripModal (modalSave)="reloadPage()"></viewTripModal>
<trip-accident-modal #TripAccidentModal (modalSave)="getShippingRequestsTrips($event)"></trip-accident-modal>
<view-trip-accident-modal #ViewTripAccidentModal (modalcanceltrip)="reloadPage()"></view-trip-accident-modal>
<app-add-new-remarks-trip-modal #AddRemarksModal></app-add-new-remarks-trip-modal>
<app-shipping-request-rating-modal #shippingRequestRatingModal></app-shipping-request-rating-modal>
