<div>
  <div class="card card-custom">
    <div class="card-header">
      <h3 class="card-title">
        {{ l('shippingRequestTrips') }}
      </h3>
      <div class="card-toolbar" *ngIf="feature.isEnabled('App.Shipper')">
        <!--          *ngIf="ShippingRequest.status <= 1"-->
        <button
          class="btn btn-primary"
          (click)="AddNewTripModal.show()"
          [disabled]="primengTableHelper.totalRecordsCount >= ShippingRequest.numberOfTrips"
        >
          <i class="flaticon-plus"></i> {{ l('AddATrip') }}
        </button>
      </div>
    </div>
    <!--begin::card-body-->
    <div class="card-body">
      <div class="row align-items-center">
        <!--<Primeng-Datatable-Start>-->
        <div [busyIf]="primengTableHelper.isLoading" class="primeng-datatable-container col-12">
          <p-table
            #dataTablechild
            (onLazyLoad)="getShippingRequestsTrips($event)"
            ScrollWidth="100%"
            [lazy]="true"
            [paginator]="false"
            [resizableColumns]="primengTableHelper.resizableColumns"
            [responsive]="primengTableHelper.isResponsive"
            [scrollable]="true"
            [value]="primengTableHelper.records"
            rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
          >
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="id" style="width: 50px;">
                  {{ l('id') }}
                  <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th pSortableColumn="startTripDate" style="width: 150px;">
                  {{ l('startDate') }}
                  <p-sortIcon field="startTripDate"></p-sortIcon>
                </th>
                <th pSortableColumn="endTripDate" style="width: 150px;">
                  {{ l('endDate') }}
                  <p-sortIcon field="endTripDate"></p-sortIcon>
                </th>
                <th pSortableColumn="originFacility" style="width: 150px;">
                  {{ l('origin') }}
                  <p-sortIcon field="originFacility"></p-sortIcon>
                </th>
                <th pSortableColumn="destinationFacility" style="width: 150px;">
                  {{ l('destination') }}
                  <p-sortIcon field="destinationFacility"></p-sortIcon>
                </th>
                <th *ngIf="feature.isEnabled('App.Carrier')" pSortableColumn="driverStatusTitle" style="width: 150px;">
                  {{ l('driverStatus') }}
                  <p-sortIcon field="driverStatusTitle"></p-sortIcon>
                </th>
                <th pSortableColumn="status" style="width: 150px;">
                  {{ l('tripStatus') }}
                  <p-sortIcon field="status"></p-sortIcon>
                </th>

                <th style="width: 150px;">
                  {{ l('Actions') }}
                </th>
              </tr>
            </ng-template>
            <ng-template let-record="$implicit" pTemplate="body">
              <tr [ngClass]="record.hasAccident ? 'table-warning' : ''">
                <td style="width: 50px;">
                  <span class="ui-column-title"> {{ l('id') }}</span>
                  {{ record.id }}
                </td>
                <td style="width: 150px;">
                  <span class="ui-column-title"> {{ l('startTripDate') }}</span>
                  {{ record.startTripDate | momentFormat: 'L' }}
                </td>
                <td style="width: 150px;">
                  <span class="ui-column-title"> {{ l('endTripDate') }}</span>
                  {{ record.endTripDate | momentFormat: 'L' }}
                </td>
                <td style="width: 150px;">
                  <span class="ui-column-title"> {{ l('originFacility') }}</span>
                  {{ record.originFacility }}
                </td>
                <td style="width: 150px;">
                  <span class="ui-column-title"> {{ l('destinationFacility') }}</span>
                  {{ record.destinationFacility }}
                </td>
                <td *ngIf="feature.isEnabled('App.Carrier')" style="width: 150px;">
                  <span class="ui-column-title"> {{ l('driverStatus') }}</span>
                  {{ record.driverStatusTitle }}
                </td>

                <td style="width: 150px;">
                  <span class="ui-column-title"> {{ l('tripStatus') }}</span>
                  {{ record.statusTitle }}
                  <a (click)="ViewTripAccidentModal.getAll(record)" *ngIf="record.hasAccident"><i class="flaticon-warning text-danger"></i></a>
                </td>

                <td style="width: 150px;">
                  <span class="ui-column-title"> {{ l('Actions') }}</span>
                  <div class="btn-group dropdown" container="body" dropdown>
                    <a class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                      <i class="fa fa-cog"></i><span class="caret"></span> {{ l('Actions') }}
                    </a>
                    <ul *dropdownMenu class="dropdown-menu">
                      <li *ngIf="permission.isGranted('Pages.ShippingRequestTrips.Edit') && feature.isEnabled('App.Shipper')">
                        <a class="dropdown-item" (click)="AddNewTripModal.show(record)">{{ l('Edit') }}</a>
                      </li>
                      <li>
                        <a class="dropdown-item" (click)="ViewTripModal.show(record.id)">{{ l('View') }}</a>
                      </li>
                      <li *ngIf="record.status != 0 && record.status != 6 && record.status != 7">
                        <a class="dropdown-item" (click)="TripAccidentModal.show(record, null)">{{ l('CreateAccident') }}</a>
                      </li>
                      <li *ngIf="permission.isGranted('Pages.ShippingRequestTrips.Delete') && feature.isEnabled('App.Shipper')">
                        <a class="dropdown-item" (click)="AddNewTripModal.deleteTrip(record.id)">{{ l('Delete') }}</a>
                      </li>
                      <li>
                        <!--                        <a class="dropdown-item" (click)="AddNewTripModal.printMasterWaybill(record.id)">{{ l('PrintMasterWaybill') }}</a>-->
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <div *ngIf="primengTableHelper.totalRecordsCount == 0" class="primeng-no-data">
            {{ l('NoData') }}
          </div>
          <div class="primeng-paging-container">
            <p-paginator
              #paginatorchild
              (onPageChange)="getShippingRequestsTrips($event)"
              [rows]="primengTableHelper.defaultRecordsCountPerPage"
              [totalRecords]="primengTableHelper.totalRecordsCount"
            >
            </p-paginator>
            <span class="total-records-count">
              {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
            </span>
          </div>
        </div>
        <!--<Primeng-Datatable-End>-->
      </div>
    </div>
    <!--end::card-body-->
  </div>
</div>
<AddNewTripModal
  *ngIf="feature.isEnabled('App.Shipper')"
  #AddNewTripModal
  (modalSave)="reloadPage()"
  [shippingRequest]="ShippingRequest"
  [VasListFromFather]="VasListFromFather"
></AddNewTripModal>
<viewTripModal #ViewTripModal></viewTripModal>
<trip-accident-modal #TripAccidentModal (modalSave)="getShippingRequestsTrips($event)"></trip-accident-modal>
<view-trip-accident-modal #ViewTripAccidentModal (modalcanceltrip)="reloadPage()"></view-trip-accident-modal>
