<div class="card card-custom">
  <div class="card-header">
    <h3 class="card-title">
      {{ l('ShippingRequestTrips') }}
    </h3>
    <div
      class="card-toolbar"
      *ngIf="feature.isEnabled('App.Shipper') || feature.isEnabled('App.TachyonDealer') || feature.isEnabled('App.CarrierAsASaas')"
    >
      <!--      <p-toggleButton-->
      <!--        onLabel="{{ l('EnableAddTripsByTms') }}"-->
      <!--        offLabel="{{ l('DisableAddTripsByTms') }}"-->
      <!--        [(ngModel)]="tripsByTmsEnabled"-->
      <!--        [style]="{ width: '14em' }"-->
      <!--        onIcon="pi pi-lock-open"-->
      <!--        offIcon="pi pi-lock"-->
      <!--        *ngIf="ShippingRequest.isTachyonDeal && feature.isEnabled('App.Shipper')"-->
      <!--        (click)="updateAddTripsByTmsFeature()"-->
      <!--        [busyIf]="saving"-->
      <!--      >-->
      <!--      </p-toggleButton>-->

      <button
        class="btn btn-primary"
        (click)="AddNewTripModal.show()"
        [disabled]="primengTableHelper.totalRecordsCount >= ShippingRequest.numberOfTrips"
        *ngIf="ShippingRequest.canAddTrip"
      >
        <i class="flaticon-plus"></i> {{ l('AddATrip') }}
      </button>
      &nbsp; &nbsp;
      <!-- <div role="actions"> -->
      <div class="btn-group" dropdown [busyIf]="loading">
        <button
          dropdownToggle
          type="button"
          class="btn btn-outline-success dropdown-toggle mr-1"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="far fa-file-excel"></i> {{ 'ExcelOperations' | localize }}
        </button>
        <div class="dropdown-menu dropdown-menu-right dropdown-excel-operations" *dropdownMenu>
          <!-- *ngIf="'Pages.ShippingRequestTrips.Create' | permission" -->
          <div class="no-padding">
            <span class="fileinput-button">
              <p-fileUpload
                customUpload="true"
                name="ExcelFileUpload"
                #ExcelFileUpload
                maxFileSize="10000000"
                auto="auto"
                accept=".csv,.xls,.xlsx"
                (uploadHandler)="uploadExcel($event)"
                (onError)="onUploadExcelError()"
                chooseLabel="{{ 'ImportTripFromExcel' | localize }}"
                [disabled]="primengTableHelper.totalRecordsCount >= ShippingRequest.numberOfTrips"
              >
              </p-fileUpload>
              <span class="dropdown-item-text text-muted pl-3" href="#">
                <small
                  *ngIf="ShippingRequest.routeTypeId != ShippingRequestRouteTypeEnum.SingleDrop"
                  [innerHTML]="
                    l('ImportToExcelSampleFileDownloadInfo', '<a href=/assets/sampleFiles/ImportShipmentSampleFile.xlsx>' + l('ClickHere') + '</a>')
                  "
                ></small>

                <small
                  *ngIf="ShippingRequest.routeTypeId == ShippingRequestRouteTypeEnum.SingleDrop"
                  [innerHTML]="
                    l(
                      'ImportToExcelSampleFileDownloadInfo',
                      '<a href=/assets/sampleFiles/ImportSingleDropShipmentSampleFile.xlsx>' + l('ClickHere') + '</a>'
                    )
                  "
                ></small>
              </span>
            </span>
          </div>

          <div class="no-padding">
            <span class="fileinput-button" *ngIf="ShippingRequest.routeTypeId != ShippingRequestRouteTypeEnum.SingleDrop">
              <p-fileUpload
                customUpload="true"
                name="PointExcelFileUpload"
                #PointExcelFileUpload
                maxFileSize="10000000"
                auto="auto"
                accept=".csv,.xls,.xlsx"
                (uploadHandler)="uploadPointsExcel($event)"
                (onError)="onUploadExcelError()"
                chooseLabel="{{ 'ImportPointFromExcel' | localize }}"
                [disabled]="primengTableHelper.totalRecordsCount == 0"
              >
              </p-fileUpload>
              <span class="dropdown-item-text text-muted pl-3" href="#">
                <small
                  [innerHTML]="
                    l('ImportToExcelSampleFileDownloadInfo', '<a href=/assets/sampleFiles/ImportPointSampleFile.xlsx>' + l('ClickHere') + '</a>')
                  "
                ></small>
              </span>
            </span>
          </div>

          <div class="no-padding">
            <span class="fileinput-button">
              <p-fileUpload
                customUpload="true"
                name="GoodDetailsExcelFileUpload"
                #GoodDetailsExcelFileUpload
                maxFileSize="10000000"
                auto="auto"
                accept=".csv,.xls,.xlsx"
                (uploadHandler)="uploadGoodDetailsExcel($event)"
                (onError)="onUploadExcelError()"
                chooseLabel="{{ 'ImportGoodDetailsFromExcel' | localize }}"
                [disabled]="primengTableHelper.totalRecordsCount == 0"
              >
              </p-fileUpload>
              <span class="dropdown-item-text text-muted pl-3" href="#">
                <small
                  *ngIf="ShippingRequest.routeTypeId != ShippingRequestRouteTypeEnum.SingleDrop"
                  [innerHTML]="
                    l(
                      'ImportToExcelSampleFileDownloadInfo',
                      '<a href=/assets/sampleFiles/ImportGoodsDetailsRequestSampleFile.xlsx>' + l('ClickHere') + '</a>'
                    )
                  "
                ></small>

                <small
                  *ngIf="ShippingRequest.routeTypeId == ShippingRequestRouteTypeEnum.SingleDrop"
                  [innerHTML]="
                    l(
                      'ImportToExcelSampleFileDownloadInfo',
                      '<a href=/assets/sampleFiles/ImportGoodsDetailsSingleDropRequestSampleFile.xlsx>' + l('ClickHere') + '</a>'
                    )
                  "
                ></small>
              </span>
            </span>
          </div>

          <div class="no-padding">
            <span class="fileinput-button">
              <p-fileUpload
                customUpload="true"
                name="VasesExcelFileUpload"
                #VasesExcelFileUpload
                maxFileSize="10000000"
                auto="auto"
                accept=".csv,.xls,.xlsx"
                (uploadHandler)="uploadVasesExcel($event)"
                (onError)="onUploadExcelError()"
                chooseLabel="{{ 'ImportVasesFromExcel' | localize }}"
                [disabled]="primengTableHelper.totalRecordsCount == 0 || VasListFromFather.length == 0"
              >
              </p-fileUpload>
              <span class="dropdown-item-text text-muted pl-3" href="#">
                <small
                  [innerHTML]="
                    l(
                      'ImportToExcelSampleFileDownloadInfo',
                      '<a href=/assets/sampleFiles/ImportTripVasesFromExcelSampleFile.xlsx>' + l('ClickHere') + '</a>'
                    )
                  "
                ></small>
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <!--begin::card-body-->
    <div class="row align-items-center">
      <!--<Primeng-Datatable-Start>-->
      <div [busyIf]="primengTableHelper.isLoading" class="primeng-datatable-container col-12">
        <p-table
          #dataTablechild
          (onLazyLoad)="getShippingRequestsTrips($event)"
          [value]="primengTableHelper.records"
          rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
          [paginator]="false"
          [lazy]="true"
          [scrollable]="true"
          ScrollWidth="100%"
          [responsive]="primengTableHelper.isResponsive"
          [resizableColumns]="primengTableHelper.resizableColumns"
        >
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="TripReferenceID">
                {{ l('ReferenceID') }}
                <p-sortIcon field="TripReferenceID"></p-sortIcon>
              </th>
              <th pSortableColumn="startTripDate">
                {{ l('StartDate') }}
                <p-sortIcon field="startTripDate"></p-sortIcon>
              </th>
              <th pSortableColumn="endTripDate">
                {{ l('EndDate') }}
                <p-sortIcon field="endTripDate"></p-sortIcon>
              </th>
              <th pSortableColumn="originFacility">
                {{ l('Origin') }}
                <p-sortIcon field="originFacility"></p-sortIcon>
              </th>
              <th pSortableColumn="destinationFacility">
                {{ l('Destination') }}
                <p-sortIcon field="destinationFacility"></p-sortIcon>
              </th>
              <th *ngIf="feature.isEnabled('App.Carrier')" pSortableColumn="driverStatusTitle">
                {{ l('DriverStatus') }}
                <p-sortIcon field="driverStatusTitle"></p-sortIcon>
              </th>
              <th pSortableColumn="notesCount">
                {{ l('Notes') }}
                <p-sortIcon field="notesCount"></p-sortIcon>
              </th>
              <th pSortableColumn="status">
                {{ l('TripStatus') }}
                <p-sortIcon field="status"></p-sortIcon>
              </th>
              <th pSortableColumn="status">
                {{ l('WaybillNumber') }}
                <p-sortIcon field="waybillNo"></p-sortIcon>
              </th>

              <th>
                {{ l('Actions') }}
              </th>
            </tr>
          </ng-template>
          <ng-template let-record="$implicit" pTemplate="body">
            <tr
              [ngClass]="{
                'table-warning': record.hasAccident || record.cancelStatus == ShippingRequestTripCancelStatusEnum.WaitingForTMSApproval,
                'bg-danger':
                  record.cancelStatus == ShippingRequestTripCancelStatusEnum.Rejected ||
                  record.cancelStatus == ShippingRequestTripCancelStatusEnum.Canceled
              }"
            >
              <!-- <td style="width: 50px;">
                  <span class="ui-column-title"> {{ l('id') }}</span>
                  {{ record.id }}
                </td> -->
              <td>
                <span class="ui-column-title"> {{ l('bulkUploadReference') }}</span>
                {{ record.bulkUploadRef }}
              </td>
              <td>
                <span class="ui-column-title"> {{ l('startTripDate') }}</span>
                {{ record.startTripDate | momentFormat: 'L' }}
              </td>
              <td>
                <span class="ui-column-title"> {{ l('endTripDate') }}</span>
                {{ record.endTripDate | momentFormat: 'L' }}
              </td>
              <td>
                <span class="ui-column-title"> {{ l('originFacility') }}</span>
                {{ record.originCity }}
              </td>
              <td>
                <span class="ui-column-title"> {{ l('destinationFacility') }}</span>
                {{ record.destinationCity }}
              </td>
              <td *ngIf="feature.isEnabled('App.Carrier')">
                <span class="ui-column-title"> {{ l('driverStatus') }}</span>
                {{ l(record.driverStatusTitle) }}
              </td>
              <td>
                <span class="ui-column-title"> {{ l('notes') }}</span>
                <span class="hasNote" *ngIf="record.notesCount > 0">
                  {{ record.notesCount }} &nbsp; <span> {{ record.notesCount == 1 ? l('note') : l('notes') }} </span></span
                >
              </td>
              <td>
                <span class="ui-column-title"> {{ l('tripStatus') }}</span>
                <span class="noPadding" *ngIf="record.status != ShippingRequestTripStatusEnum.Canceled">
                  {{ l(record.statusTitle) }}
                  <a
                    class="noPadding noColor"
                    (click)="ViewCancelReasonModal.show(record.status, record.canceledReason, record.rejectedCancelingReason, record.cancelStatus)"
                  >
                    <span
                      class="cancelLink"
                      *ngIf="
                        record.cancelStatus !== ShippingRequestTripCancelStatusEnum.Canceled &&
                        record.cancelStatus !== ShippingRequestTripCancelStatusEnum.None
                      "
                    >
                      - {{ getCancelStatus(record.cancelStatus) }}
                    </span>
                  </a>
                </span>

                <a
                  class="noPadding noColor"
                  *ngIf="record.status == ShippingRequestTripStatusEnum.Canceled"
                  (click)="ViewCancelReasonModal.show(record.status, record.canceledReason, record.rejectedCancelingReason, record.cancelStatus)"
                >
                  <span class="cancelLink" *ngIf="record.cancelStatus == ShippingRequestTripCancelStatusEnum.Canceled">
                    {{ l(record.statusTitle) }}
                  </span>

                  <span
                    *ngIf="
                      record.cancelStatus !== ShippingRequestTripCancelStatusEnum.Canceled &&
                      record.cancelStatus !== ShippingRequestTripCancelStatusEnum.None
                    "
                  >
                    - {{ getCancelStatus(record.cancelStatus) }}
                  </span>
                </a>

                <span>
                  <a (click)="ViewTripAccidentModal.getAll(record)" *ngIf="record.hasAccident"><i class="flaticon-warning text-danger"></i> </a>
                </span>
              </td>
              <td>
                <span class="ui-column-title"> {{ l('waybillNumber') }}</span>
                {{ record.waybillNumber }}
              </td>

              <td>
                <span class="ui-column-title"> {{ l('Actions') }}</span>
                <div class="btn-group dropdown" container="body" dropdown>
                  <a class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                    <i class="fa fa-cog"></i><span class="caret"></span> {{ l('Actions') }}
                  </a>
                  <ul *dropdownMenu class="dropdown-menu">
                    <li *ngIf="record.status == 0 && CanEditTrip">
                      <a class="dropdown-item" (click)="AddNewTripModal.show(record)">{{ l('Edit') }}</a>
                    </li>

                    <li>
                      <a class="dropdown-item" (click)="ViewTripModal.show(record.id)">{{ isCarrier ? l('ViewOrAssignDriver') : l('View') }}</a>
                    </li>
                    <li
                      *ngIf="
                        record.status == ShippingRequestTripStatusEnum.Delivered &&
                        !ShippingRequest.isSaas &&
                        !record.isTripRateBefore &&
                        (feature.isEnabled('App.Carrier') || feature.isEnabled('App.Shipper'))
                      "
                    >
                      <a class="dropdown-item" (click)="shippingRequestRatingModal.show(record.id)">{{ l('Rating') }}</a>
                    </li>
                    <li *ngIf="canResetTrip(record)">
                      <a class="dropdown-item" (click)="ViewTripModal.ResetTrip(record.id)">{{ l('Reset') }}</a>
                    </li>
                    <li *ngIf="record.status != ShippingRequestTripStatusEnum.New">
                      <a class="dropdown-item" (click)="TripAccidentModal.show(record.id, null)">{{ l('CreateAccident') }}</a>
                    </li>
                    <li
                      *ngIf="
                        ShippingRequest.status == ShippingRequestStatusEnum.PrePrice &&
                        record.status == ShippingRequestTripStatusEnum.New &&
                        ((!feature.isEnabled('App.TachyonDealer') && record.cancelStatus == ShippingRequestTripCancelStatusEnum.None) ||
                          (feature.isEnabled('App.TachyonDealer') &&
                            (record.cancelStatus == ShippingRequestTripCancelStatusEnum.None ||
                              record.cancelStatus == ShippingRequestTripCancelStatusEnum.Rejected)))
                      "
                    >
                      <a class="dropdown-item" (click)="CancelTripModal.show(record.id, record.requestType)">
                        {{ l('Cancel') }}
                      </a>
                    </li>
                    <li
                      *ngIf="
                        ShippingRequest.status == ShippingRequestStatusEnum.PrePrice &&
                        feature.isEnabled('App.TachyonDealer') &&
                        record.cancelStatus == ShippingRequestTripCancelStatusEnum.WaitingForTMSApproval
                      "
                    >
                      <a class="dropdown-item" (click)="TmsCancelTripModal.ApplyCancel(record.id)">{{ l('ApplyCancel') }}</a>
                    </li>
                    <li
                      *ngIf="
                        permission.isGranted('Pages.ShippingRequestTrips.Delete') &&
                        feature.isEnabled('App.Shipper') &&
                        record.status == ShippingRequestTripStatusEnum.New
                      "
                    >
                      <a class="dropdown-item" (click)="AddNewTripModal.deleteTrip(record.id)">{{ l('Delete') }}</a>
                    </li>
                    <li *ngIf="isShipper || isTachyonDealer">
                      <a class="dropdown-item" (click)="saveAsTemplateModal.show(record.id)">{{ l('SaveAsTemplate') }}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" (click)="AddRemarksModal.show(record.id)">{{ l('Remarks') }}</a>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <div *ngIf="primengTableHelper.totalRecordsCount == 0" class="primeng-no-data">
          {{ l('NoData') }}
        </div>
        <div class="primeng-paging-container">
          <p-paginator
            #paginatorchild
            (onPageChange)="getShippingRequestsTrips($event)"
            [rows]="primengTableHelper?.defaultRecordsCountPerPage"
            [totalRecords]="primengTableHelper?.totalRecordsCount"
          >
          </p-paginator>
          <span class="total-records-count">
            {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
          </span>
        </div>
      </div>
      <!--<Primeng-Datatable-End>-->
    </div>
    <!--end::card-body-->
  </div>

  <!-- <AddNewTripModal
    *ngIf="feature.isEnabled('App.Shipper') || feature.isEnabled('App.TachyonDealer')"
    #AddNewTripModal
    (modalSave)="reloadPage()"
    [shippingRequest]="ShippingRequest"
    [VasListFromFather]="VasListFromFather"
  ></AddNewTripModal> -->
  <app-view-imported-trips-from-excel-modal
    [ImportedTripsList]="list"
    [isSingleDdrop]="ShippingRequest.routeTypeId == ShippingRequestRouteTypeEnum.SingleDrop"
    #ViewImportedTripsModal
    (modalSave)="reloadPage()"
  ></app-view-imported-trips-from-excel-modal>
  <app-view-imported-points-from-excel-modal
    [ImportedPointsList]="pointsList"
    #ViewImportedPointsModal
    (modalSave)="reloadPage()"
  ></app-view-imported-points-from-excel-modal>
  <app-view-imported-good-details-from-excel-modal
    [ImportedGoodDetailsList]="goodDetailsList"
    #ViewImportedGoodDetailsModal
    (modalSave)="reloadPage()"
  >
  </app-view-imported-good-details-from-excel-modal>
  <app-view-import-vases-from-excel-modal [ImportedVasesList]="vasesList" #ViewImportedVasesModal (modalSave)="reloadPage()">
  </app-view-import-vases-from-excel-modal>
  <viewTripModal #ViewTripModal (modalSave)="reloadPage()"></viewTripModal>
  <trip-accident-modal #TripAccidentModal (modalSave)="getShippingRequestsTrips($event)"></trip-accident-modal>
  <view-trip-accident-modal #ViewTripAccidentModal (modalcanceltrip)="reloadPage()"></view-trip-accident-modal>
  <app-shipping-request-rating-modal #shippingRequestRatingModal></app-shipping-request-rating-modal>
</div>

<AddNewTripModal
  #AddNewTripModal
  (modalSave)="reloadPage()"
  [shippingRequest]="ShippingRequest"
  [VasListFromFather]="VasListFromFather"
></AddNewTripModal>
<app-view-cancel-reason-modal #ViewCancelReasonModal></app-view-cancel-reason-modal>
<app-cancel-trip-modal #CancelTripModal (modalSave)="reloadPage()"></app-cancel-trip-modal>
<app-tms-cancel-trip-modal #TmsCancelTripModal (modalSave)="reloadPage()"></app-tms-cancel-trip-modal>
<viewTripModal #ViewTripModal (modalSave)="reloadPage()"></viewTripModal>
<trip-accident-modal #TripAccidentModal (modalSave)="getShippingRequestsTrips($event)"></trip-accident-modal>
<view-trip-accident-modal #ViewTripAccidentModal (incidentResolved)="refreshWhenIncidentResolved()"></view-trip-accident-modal>
<app-add-new-remarks-trip-modal #AddRemarksModal></app-add-new-remarks-trip-modal>
<app-shipping-request-rating-modal #shippingRequestRatingModal></app-shipping-request-rating-modal>
<create-new-entity-template-modal #saveAsTemplateModal></create-new-entity-template-modal>
