<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <!--begin::Subheader-->
    <sub-header [title]="'MarketPlace' | localize" [description]="'marketPlaceHeaderInfo' | localize">
      <div role="actions">
        <button class="btn btn-primary" (click)="ViewAllCarrierBidsModal.show()">
          <i class="flaticon2-indent-dots"></i> {{ l('My Bidding History') }}
        </button>
      </div>
    </sub-header>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
      <!--begin::Container-->
      <div class="container-fluid">
        <div class="card card-custom">
          <!-- start::cardheader -->
          <!-- end::cardHeader -->
          <!--begin::Body-->
          <div class="card-body">
            <!--  Start:advFiltters-->
            <form class="form" autocomplete="off">
              <div>
                <div class="row align-items-center">
                  <div class="col-xl-12">
                    <div class="form-group m-form__group align-items-center">
                      <div class="input-group">
                        <input
                          name="filterText"
                          autoFocus
                          class="form-control m-input"
                          [(ngModel)]="filterText"
                          [placeholder]="l('SearchWithThreeDot')"
                          type="text"
                        />
                        <span class="input-group-btn">
                          <button (click)="GetAllShippingRequests()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center" [hidden]="!advancedFiltersAreShown">
                  <div class="col-md-4">
                    <div class="form-group m-form__group">
                      <label for="transportTypeDisplayName">{{ l('TransportType') }}</label>
                      <select
                        [(ngModel)]="TransportTypeFilter"
                        class="form-control"
                        name="truck.transportTypeId"
                        (change)="GetTransportDropDownList('GetAllTransportSubTypes', TransportTypeFilter)"
                        required
                      >
                        <option>{{ l('SelectATransportType') }}</option>
                        <option *ngFor="let item of allTransportTypes" value="{{ item.id }}">{{ item.displayName }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group m-form__group">
                      <label for="allTransportSubTypes">{{ l('TransportSubTypes') }}</label>
                      <select
                        [(ngModel)]="TruckSubTypeIdFilter"
                        class="form-control"
                        name="truck.transportSubtypeId"
                        (change)="GetTransportDropDownList('GetAllTruckTypesByTransportSubTypes', TruckSubTypeIdFilter)"
                        [disabled]="allTransportSubTypes ? null : true"
                        required
                      >
                        <option value="0">{{ l('SelectATransportSubType') }}</option>
                        <option *ngFor="let item of allTransportSubTypes" value="{{ item.id }}">{{ item.displayName }} </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group m-form__group">
                      <label for="allTruckTypesByTransportSubtype">{{ l('TruckType') }}</label>
                      <select
                        [(ngModel)]="TruckTypeIdFilter"
                        class="form-control"
                        name="truck.trucksTypeId"
                        (change)="GetTransportDropDownList('GetAllTruckSubTypesByTruckTypeId', TruckTypeIdFilter)"
                        [disabled]="allTruckTypesByTransportSubtype ? null : true"
                        required
                      >
                        <option value="0">{{ l('SelectTruckTypeByTransportSubtype') }}</option>
                        <option *ngFor="let item of allTruckTypesByTransportSubtype" value="{{ item.id }}"> {{ item.displayName }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group m-form__group">
                      <label for="allTruckSubTypesByTruckTypeIdDisplayName">{{ l('TruckSubType') }}</label>
                      <select
                        [(ngModel)]="TransportSubTypeFilter"
                        class="form-control"
                        name="truck.truckSubtypeId"
                        (change)="GetTransportDropDownList('GetAllCapByTruckSybTypeId', TransportSubTypeFilter)"
                        [disabled]="allTruckSubTypesByTruckTypeId ? null : true"
                        required
                      >
                        <option value="0">{{ l('SelectTruckSubType') }}</option>
                        <option *ngFor="let item of allTruckSubTypesByTruckTypeId" value="{{ item.id }}"> {{ item.displayName }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group m-form__group">
                      <label for="truck.capacityId">{{ l('Capacity') }}</label>
                      <select
                        [(ngModel)]="CapacityIdFillter"
                        class="form-control"
                        name="truck.capacityId"
                        [disabled]="allTrucksCapByTruckSubTypeId ? null : true"
                        required
                      >
                        <option value="0">{{ l('SelectTruckCapByTruckSubType') }}</option>
                        <option *ngFor="let item of allTrucksCapByTruckSubTypeId" value="{{ item.id }}">{{ item.displayName }} </option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4 mt-5">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group form-inline my-5">
                          <label for="MatchingBidsOnly">{{ l('MatchingBidsOnly') }}</label>
                          <span class="switch switch-sm switch-outline switch-icon switch-danger ml-2">
                            <label>
                              <input
                                id="MatchingBidsOnly"
                                type="checkbox"
                                name="MatchingBidsOnly"
                                [checked]="MatchingBidOnlyFilter"
                                [(ngModel)]="MatchingBidOnlyFilter"
                              />
                              <span></span>
                            </label>
                          </span>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group form-inline my-5">
                          <label for="ShowOnlyMyBids">{{ l('ShowOnlyMyBids') }}</label>
                          <span class="switch switch-sm switch-outline switch-icon switch-danger ml-2">
                            <label>
                              <input
                                id="ShowOnlyMyBids"
                                type="checkbox"
                                name="ShowOnlyMyBids"
                                [checked]="MyBidsOnlyFilter"
                                [(ngModel)]="MyBidsOnlyFilter"
                              />
                              <span></span>
                            </label>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mb-2">
                  <div class="col-sm-12">
                    <span
                      class="clickable-item text-muted"
                      *ngIf="!advancedFiltersAreShown"
                      (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                      ><i class="fa fa-angle-down"></i> {{ l('ShowAdvancedFilters') }}</span
                    >
                    <span
                      class="clickable-item text-muted"
                      *ngIf="advancedFiltersAreShown"
                      (click)="advancedFiltersAreShown = !advancedFiltersAreShown"
                      ><i class="fa fa-angle-up"></i> {{ l('HideAdvancedFilters') }}</span
                    >
                  </div>
                </div>
              </div>
            </form>
            <!--  End::advFillters-->
            <!--begin: Datatable-->
            <div class="primeng-datatable-container col-12" [busyIf]="primengTableHelper.isLoading">
              <p-table
                #dataTable
                (onLazyLoad)="GetAllShippingRequests($event)"
                [value]="primengTableHelper.records"
                rows="{{ primengTableHelper.defaultRecordsCountPerPage }}"
                [paginator]="false"
                [lazy]="true"
                [scrollable]="true"
                ScrollWidth="100%"
                [responsive]="primengTableHelper.isResponsive"
                [resizableColumns]="primengTableHelper.resizableColumns"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width: 150px;" pSortableColumn="id">
                      {{ l('id') }}
                      <p-sortIcon field="id"></p-sortIcon>
                    </th>
                    <th style="width: 150px;" pSortableColumn="shipperName">
                      {{ l('shipperName') }}
                      <p-sortIcon field="shipperName"></p-sortIcon>
                    </th>
                    <th style="width: 150px;" pSortableColumn="truckType">
                      {{ l('truckType') }}
                      <p-sortIcon field="truckType"></p-sortIcon>
                    </th>
                    <th style="width: 150px;" pSortableColumn="GoodType">
                      {{ l('GoodType') }}
                      <p-sortIcon field="GoodType"></p-sortIcon>
                    </th>
                    <th style="width: 150px;" pSortableColumn="StartDate">
                      {{ l('StartDate') }}
                      <p-sortIcon field="StartDate"></p-sortIcon>
                    </th>
                    <th style="width: 150px;" pSortableColumn="EndDate">
                      {{ l('EndDate') }}
                      <p-sortIcon field="EndDate"></p-sortIcon>
                    </th>
                    <th style="width: 150px;" pSortableColumn="BiddingStatusName">
                      {{ l('BiddingStatusName') }}
                      <p-sortIcon field="BiddingStatusName"></p-sortIcon>
                    </th>

                    <th style="width: 150px;" pSortableColumn="LastBidPrice">
                      {{ l('LastBidPrice') }}
                      <p-sortIcon field="LastBidPrice"></p-sortIcon>
                    </th>
                    <th style="width: 150px;" pSortableColumn="Actions">
                      {{ l('Actions') }}
                      <p-sortIcon field="Actions"></p-sortIcon>
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-record="$implicit">
                  <tr>
                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('id') }}</span>
                      {{ record.viewShipperBidsReqDetailsOutput.id }}
                    </td>
                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('shipperName') }}</span>
                      {{ record.viewShipperBidsReqDetailsOutput.shipperName }}
                    </td>
                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('truckTypeDisplayName') }}</span>
                      {{ record.viewShipperBidsReqDetailsOutput.truckTypeDisplayName }}
                    </td>
                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('goodCategoryName') }}</span>
                      {{ record.viewShipperBidsReqDetailsOutput.goodCategoryName }}
                    </td>
                    <td style="width: 150px;">
                      <span
                        *ngIf="record.viewShipperBidsReqDetailsOutput.startBidDate"
                        class="label label-xl font-weight-bold label-light-success label-inline"
                        >{{ record.viewShipperBidsReqDetailsOutput.startBidDate | momentFormat: 'L' }}</span
                      >
                    </td>
                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('endBidDate') }}</span>
                      {{ record.viewShipperBidsReqDetailsOutput.endBidDate }}
                    </td>
                    <td style="width: 150px;">
                      <span
                        *ngIf="record.viewShipperBidsReqDetailsOutput.shippingRequestBidStatusName"
                        class="label label-xl label-inline font-weight-bold"
                        [class.label-light-danger]="record.viewShipperBidsReqDetailsOutput.shippingRequestBidStatusName == 'Ongoing'"
                        [class.label-light-dark]="record.viewShipperBidsReqDetailsOutput.shippingRequestBidStatusName == 'Cancled'"
                        [class.label-light-warning]="record.viewShipperBidsReqDetailsOutput.shippingRequestBidStatusName == 'Closed'"
                        >{{ record.viewShipperBidsReqDetailsOutput.shippingRequestBidStatusName }}</span
                      >
                    </td>

                    <td style="width: 150px;">
                      <span class="ui-column-title"> {{ l('lastBidPrice') }}</span>
                      {{ record.viewShipperBidsReqDetailsOutput.lastBidPrice }}
                    </td>
                    <td style="width: 150px;">
                      <button
                        class="btn btn-primary font-weight-bolder"
                        [disabled]="
                          record.viewShipperBidsReqDetailsOutput.shippingRequestBidStatusName == 'Cancled' ||
                          record.viewShipperBidsReqDetailsOutput.shippingRequestBidStatusName == 'Closed'
                        "
                        (click)="ViewShippingRequestDetailsModal.show(record.viewShipperBidsReqDetailsOutput)"
                      >
                        {{ l('Details') }}
                      </button>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
              <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                {{ l('NoData') }}
              </div>
              <div class="primeng-paging-container">
                <p-paginator
                  [rows]="primengTableHelper.defaultRecordsCountPerPage"
                  #paginator
                  (onPageChange)="GetAllShippingRequests($event)"
                  [totalRecords]="primengTableHelper.totalRecordsCount"
                  [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                >
                </p-paginator>
                <span class="total-records-count">
                  {{ l('TotalRecordsCount', primengTableHelper.totalRecordsCount) }}
                </span>
              </div>
              <ViewAllCarrierBidsModal #ViewAllCarrierBidsModal></ViewAllCarrierBidsModal>

              <ViewShippingRequestDetailsModal #ViewShippingRequestDetailsModal (modalSave)="reloadPage()"></ViewShippingRequestDetailsModal>
            </div>
            <!--end: Datatable-->
          </div>
          <!--end::Body-->
        </div>
        <!--    End table card      -->
      </div>
      <!--end::Container-->
    </div>
    <!--end::Entry-->
  </div>
</div>
