<div [@routerTransition]>
  <div class="content d-flex flex-column flex-column-fluid">
    <sub-header [breadcrumbs]="breadcrumbs" [title]="l('ShippingRequest')"> </sub-header>

    <div class="container">
      <div class="card card-custom gutter-b">
        <ng-container *ngIf="saving">
          <div class="progress progress-modal">
            <div
              class="progress-bar progress-bar-striped progress-bar-animated bg-primary"
              role="progressbar"
              style="width: 100%"
              aria-valuenow="100"
              aria-valuemin="0"
              aria-valuemax="100"
            ></div>
          </div>
        </ng-container>
        <div class="card-header">
          <div class="card-title">
            <h3 class="card-label">
              <ng-container>{{ l('ShippingRequest') }} </ng-container>
            </h3>
          </div>
          <div class="card-toolbar">
            <a type="button" class="btn btn-light" routerLink="/app/main/shippingRequests/shippingRequests">
              <i class="fa fa-arrow-left"></i> {{ l('Back') }}</a
            >
            <button class="btn btn-secondary ml-2" (click)="resetWizard()" [disabled]="!activeShippingRequestId">
              <i class="fa fa-redo"></i>{{ l('Reset') }}
            </button>
          </div>
        </div>
        <div class="card-body">
          <!--begin: Wizard -->
          <div #wizard class="wizard wizard-1" id="kt_wizard_v1" data-wizard-state="step-first" data-wizard-clickable="true" [busyIf]="loading">
            <!--begin: Form Wizard Nav -->
            <div class="wizard-nav border-bottom">
              <div class="wizard-steps p-8 p-lg-10">
                <a class="wizard-step" href="javascript:;" data-wizard-type="step" data-wizard-state="current">
                  <div class="wizard-label">
                    <i class="wizard-icon flaticon-list text-danger"></i>
                    <h3 class="wizard-title">{{ l('BasicDetails') }}</h3>
                  </div>
                </a>
                <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                  <div class="wizard-label">
                    <i class="wizard-icon flaticon-bus-stop text-danger"></i>
                    <h3 class="wizard-title">{{ l('RouteDetails') }}</h3>
                  </div>
                </a>
                <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                  <div class="wizard-label">
                    <i class="wizard-icon flaticon-open-box text-danger"></i>
                    <h3 class="wizard-title">{{ l('GoodDetails') }}</h3>
                  </div>
                </a>
                <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                  <div class="wizard-label">
                    <i class="wizard-icon flaticon-app text-danger"></i>
                    <h3 class="wizard-title">{{ l('Vas') }}</h3>
                  </div>
                </a>
                <a class="wizard-step" href="javascript:;" data-wizard-type="step">
                  <div class="wizard-label">
                    <i class="wizard-icon flaticon-globe text-danger"></i>
                    <h3 class="wizard-title">{{ l('ReviewAndSubmit') }}</h3>
                  </div>
                </a>
              </div>
            </div>
            <!--end: Form Wizard Nav -->
            <div class="row justify-content-center my-10 px-8 my-lg-15 px-lg-10">
              <div class="col-xl-12 col-xxl-8">
                <!--begin: Form Wizard Form-->
                <div class="form" id="kt_form">
                  <!--begin: Form Wizard Step 1-->
                  <div class="pb-5" [formGroup]="step1Form" data-wizard-type="step-content" data-wizard-state="current">
                    <div *ngIf="this.feature.isEnabled('App.TachyonDealer')" class="form-group">
                      <label>{{ l('Shipper') }} <span class="required-fileds">*</span></label>
                      <div
                        [ngClass]="{
                          'spinner spinner-success spinner-right mr-1 ml-1': !AllShippers
                        }"
                      >
                        <select
                          class="form-control"
                          name="Shipper"
                          formControlName="Shipper"
                          [(ngModel)]="step1Dto.shipperId"
                          (change)="shippingRequestType = 'tachyondeal'"
                          required
                        >
                          <option [value]="undefined">{{ l('SelectShipper') }}</option>
                          <option *ngFor="let item of AllShippers" value="{{ item.id }}">{{ item.displayName }}</option>
                        </select>
                      </div>
                      <span class="form-text text-muted">{{ l('SelectShipper') }} {{ step1Dto.shipperId }}</span>
                    </div>

                    <div class="form-group">
                      <label>{{ l('ShippingRequestType') }} <span class="required-fileds">*</span></label>
                      <select
                        class="form-control"
                        name="shippingRequestType"
                        formControlName="shippingRequestType"
                        [(ngModel)]="shippingRequestType"
                        (change)="validateCarrierForDirectRequest()"
                        [class.is-valid]="
                          step1Form.get('shippingRequestType').valid &&
                          (step1Form.get('shippingRequestType').dirty || step1Form.get('shippingRequestType').touched)
                        "
                        [class.is-invalid]="
                          step1Form.get('shippingRequestType').invalid &&
                          (step1Form.get('shippingRequestType').dirty || step1Form.get('shippingRequestType').touched)
                        "
                        required
                        readonly="readonly"
                        [attr.disabled]="step1Dto.shipperId > 0 ? true : null"
                      >
                        <option value="undefined" selected>{{ l('select') }}</option>
                        <option [value]="'bidding'">{{ l('Marketplace') }}</option>
                        <option [value]="'tachyondeal'">{{ l('TachyonManageService') }}</option>
                        <option *ngIf="this.feature.isEnabled('App.SendDirectRequest')" value="directrequest">{{ l('DirectRequest') }}</option>
                      </select>
                      <span class="form-text text-muted">{{ l('PickaShippingRequestType') }}</span>
                    </div>
                    <div class="form-group" [hidden]="shippingRequestType !== 'directrequest'">
                      <label>{{ l('SelectCarriers') }} <span class="required-fileds">*</span></label>
                      <div
                        [ngClass]="{
                          'spinner spinner-success spinner-right mr-1 ml-1': !allCarriers
                        }"
                      >
                        <p-dropdown
                          name="allCarriers"
                          [options]="allCarriers"
                          class="form-control"
                          [(ngModel)]="step1Dto.carrierTenantIdForDirectRequest"
                          placeholder="Select a Carrier"
                          optionLabel="displayName"
                          optionValue="id"
                          [showClear]="true"
                          [styleClass]="'myCarrierInput'"
                          formControlName="carrier"
                          [dataKey]="'id'"
                          [required]="shippingRequestType === 'directrequest'"
                          [class.is-valid]="step1Form.get('carrier').valid && (step1Form.get('carrier').dirty || step1Form.get('carrier').touched)"
                          [class.is-invalid]="
                            step1Form.get('carrier').invalid && (step1Form.get('carrier').dirty || step1Form.get('carrier').touched)
                          "
                        >
                          <ng-template let-carrier pTemplate="item">
                            <div class="country-item">
                              <span style="float: left; margin-right: 10px; width: 45%">{{ carrier.displayName }}</span>
                              <span style="float: left; width: 50%">
                                <ng-template #t let-fill="fill">
                                  <span class="star p-0" [class.full]="fill === 100">
                                    <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;</span
                                  >
                                </ng-template>
                                <ngb-rating [(rate)]="carrier.rate" [starTemplate]="t" [readonly]="true" [max]="5"></ngb-rating>
                              </span>
                            </div>
                          </ng-template>
                        </p-dropdown>
                        <!--                        <select-->
                        <!--                          class="form-control dropdown"-->
                        <!--                          name="carrier"-->
                        <!--                          formControlName="carrier"-->
                        <!--                          [(ngModel)]="step1Dto.carrierTenantIdForDirectRequest"-->
                        <!--                          [required]="shippingRequestType == 'directrequest'"-->
                        <!--                          [class.is-valid]="step1Form.get('carrier').valid && (step1Form.get('carrier').dirty || step1Form.get('carrier').touched)"-->
                        <!--                          [class.is-invalid]="-->
                        <!--                            step1Form.get('carrier').invalid && (step1Form.get('carrier').dirty || step1Form.get('carrier').touched)-->
                        <!--                          "-->
                        <!--                        >-->
                        <!--                          <option *ngFor="let item of allCarriers" value="{{ item.id }}">{{ item.displayName }}</option>-->
                        <!--                        </select>-->
                      </div>
                      <span class="form-text text-muted">{{ l('SelectAShippingType') }}</span>
                    </div>

                    <div class="row pb-5" *ngIf="shippingRequestType == 'bidding'" [@grow]>
                      <!--                        bidding gonna be here -->
                      <div class="col-lg-6">
                        <div class="form-group">
                          <hijri-gregorian-datepicker-test
                            [parentForm]="parentForm"
                            [label]="l('BiddingStartDate')"
                            class="m-input"
                            [disabled]="shippingRequestType == 'bidding' ? null : true"
                            [readonly]="true"
                            [minHijri]="todayHijri"
                            [minGreg]="todayGregorian"
                            [selectedDate]="startBiddate"
                            (selectedDateChange)="validateBiddingDates($event, 'biddingStartDate')"
                          >
                          </hijri-gregorian-datepicker-test>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <hijri-gregorian-datepicker-test
                            [parentForm]="parentForm"
                            [label]="l('BiddingEndDate')"
                            class="m-input"
                            [disabled]="shippingRequestType == 'bidding' ? null : true"
                            [readonly]="true"
                            [minHijri]="todayHijri"
                            [minGreg]="todayGregorian"
                            [selectedDate]="endBiddate"
                            (selectedDateChange)="validateBiddingDates($event, 'biddingEndDate')"
                          >
                          </hijri-gregorian-datepicker-test>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label>{{ l('ShippingType') }} <span class="required-fileds">*</span></label>
                      <div
                        [ngClass]="{
                          'spinner spinner-success spinner-right mr-1 ml-1': !allShippingTypes
                        }"
                      >
                        <select
                          class="form-control"
                          name="shippingType"
                          formControlName="shippingType"
                          [(ngModel)]="step1Dto.shippingTypeId"
                          (change)="step2Dto.destinationCityId = undefined"
                          [class.is-valid]="
                            step1Form.get('shippingType').valid && (step1Form.get('shippingType').dirty || step1Form.get('shippingType').touched)
                          "
                          [class.is-invalid]="
                            step1Form.get('shippingType').invalid && (step1Form.get('shippingType').dirty || step1Form.get('shippingType').touched)
                          "
                          required
                        >
                          <!--                          <option [ngValue]="null">{{ l('SelectAshippingType') }}</option>-->
                          <option *ngFor="let item of allShippingTypes" value="{{ item.id }}">{{ item.displayName }}</option>
                        </select>
                      </div>
                      <span class="form-text text-muted">{{ l('SelectAShippingType') }}</span>
                    </div>

                    <div class="row">
                      <div class="col-lg-6">
                        <div class="form-group">
                          <hijri-gregorian-datepicker-test
                            [parentForm]="parentForm"
                            [label]="l('TripsStartDate')"
                            class="m-input"
                            [readonly]="true"
                            [minHijri]="todayHijri"
                            [minGreg]="todayGregorian"
                            [selectedDate]="startTripdate"
                            (selectedDateChange)="validateTripsDates($event, 'tripsStartDate')"
                          >
                          </hijri-gregorian-datepicker-test>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <hijri-gregorian-datepicker-test
                            [parentForm]="parentForm"
                            [label]="l('TripsEndDate')"
                            class="m-input"
                            [readonly]="true"
                            [minHijri]="startTripdate || todayHijri"
                            [minGreg]="startTripdate || todayGregorian"
                            [selectedDate]="endTripdate"
                            (selectedDateChange)="validateTripsDates($event, 'tripsEndDate')"
                          >
                          </hijri-gregorian-datepicker-test>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>{{ l('ShipperReference') }} </label>
                          <div class="input-group date">
                            <input
                              formControlName="ShipperReference"
                              class="form-control"
                              type="text"
                              name="ShipperReference"
                              [(ngModel)]="step1Dto.shipperReference"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>{{ l(' ShipperInvoiceNumber') }}</label>
                          <div class="input-group date">
                            <input
                              formControlName="ShipperInvoiceNumber"
                              class="form-control"
                              type="text"
                              name="ShipperInvoiceNumber"
                              [(ngModel)]="step1Dto.shipperInvoiceNo"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end: Form Wizard Step 1-->
                  <!-- begin: Form Wizard Step 2-->
                  <div class="pb-5" [formGroup]="step2Form" data-wizard-type="step-content">
                    <div class="row">
                      <!-- Start of Select Source -->
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>{{ l('OriginCity') }} <span class="required-fileds">*</span> </label>
                          <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allCitys }">
                            <select
                              class="form-control"
                              name="origin"
                              formControlName="origin"
                              [attr.disabled]="allCitys ? null : true"
                              [(ngModel)]="step2Dto.originCityId"
                              [class.is-valid]="step2Form.get('origin').valid && (step2Form.get('origin').dirty || step2Form.get('origin').touched)"
                              [class.is-invalid]="
                                step2Form.get('origin').invalid && (step2Form.get('origin').dirty || step2Form.get('origin').touched)
                              "
                              (ngModelChange)="validateShippingRequestType()"
                              required
                            >
                              <option value="undefined">{{ l('SelectanOriginCity') }}</option>
                              <option *ngFor="let item of allCitys" value="{{ item.id }}">{{ item.displayName }}</option>
                            </select>
                          </div>

                          <span class="form-text text-muted">{{ l('SelectaCity') }}</span>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label> {{ l('DestinationCity') }}<span class="required-fileds">*</span></label>
                          <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allCitys }">
                            <select
                              class="form-control"
                              name="destination"
                              formControlName="destination"
                              [(ngModel)]="step2Dto.destinationCityId"
                              [class.is-valid]="
                                step2Form.get('destination').valid && (step2Form.get('destination').dirty || step2Form.get('destination').touched)
                              "
                              [class.is-invalid]="
                                step2Form.get('destination').invalid && (step2Form.get('destination').dirty || step2Form.get('destination').touched)
                              "
                              [attr.disabled]="step1Dto.shippingTypeId == 1 ? true : null"
                              (ngModelChange)="validateShippingRequestType()"
                              required
                            >
                              <option value="undefined">{{ l('selectaDestination') }}</option>
                              <option *ngFor="let item of allCitys" value="{{ item.id }}">{{ item.displayName }}</option>
                            </select>
                            <div class="invalid-feedback">{{ l('SourceAndDestinationCantBeTheSame') }}</div>
                          </div>
                          <span class="form-text text-muted">{{ l('SelectaCity') }}</span>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <label> {{ l('RouteType') }} <span class="required-fileds">*</span></label>
                        <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allRoutTypes }">
                          <select
                            class="form-control"
                            name="routeType"
                            formControlName="routeType"
                            [attr.disabled]="allRoutTypes ? null : true"
                            [(ngModel)]="step2Dto.routeTypeId"
                            [class.is-valid]="
                              step2Form.get('routeType').valid && (step2Form.get('routeType').dirty || step2Form.get('routeType').touched)
                            "
                            [class.is-invalid]="
                              step2Form.get('routeType').invalid && (step2Form.get('routeType').dirty || step2Form.get('routeType').touched)
                            "
                            (change)="step2Dto.numberOfDrops = undefined"
                            required
                          >
                            <option value="undefined">{{ l('SelectRouteType') }}</option>
                            <option [value]="code.key" *ngFor="let code of allRoutTypes">
                              {{ l(code.value) }}
                            </option>
                            <!--<option *ngFor="let item of allRoutTypes" value="{{ item.id }}">{{ item.displayName }}</option>-->
                          </select>
                        </div>
                        <span class="form-text text-muted">{{ l('PickaRouteType') }}</span>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group">
                          <label>{{ l('NumberOfDrops') }} <span class="required-fileds">*</span></label>
                          <input
                            class="form-control"
                            type="number"
                            name="numberOfDrops"
                            id="numberOfDrops"
                            formControlName="numberOfDrops"
                            maxlength="2"
                            [min]="step2Dto.routeTypeId == 1 ? 1 : 2"
                            [max]="100"
                            [(ngModel)]="step2Dto.numberOfDrops"
                            [class.is-invalid]="
                              step2Dto.routeTypeId == 3 && step2Form.get('numberOfDrops').touched && !step2Form.get('numberOfDrops').valid
                            "
                            [class.is-valid]="
                              step2Dto.routeTypeId == 3 && step2Form.get('numberOfDrops').touched && step2Form.get('numberOfDrops').valid
                            "
                            [attr.disabled]="step2Dto.routeTypeId != 3 ? true : null"
                            [required]="step2Dto.routeTypeId == 3"
                            (keypress)="numberOnly($event)"
                          />
                          <span class="form-text text-muted">{{ l('NumberOfDrops') }} </span>
                        </div>
                      </div>
                      <div class="col-lg-12">
                        <div class="form-group">
                          <label>{{ l('NumberOfTrips') }} <span class="required-fileds">*</span></label>
                          <input
                            class="form-control"
                            type="number"
                            name="numberOfTrips"
                            id="numberOfTrips"
                            formControlName="NumberOfTrips"
                            [(ngModel)]="step2Dto.numberOfTrips"
                            (keypress)="numberOnly($event)"
                            [class.is-valid]="
                              step2Form.get('NumberOfTrips').valid && (step2Form.get('NumberOfTrips').dirty || step2Form.get('NumberOfTrips').touched)
                            "
                            [class.is-invalid]="
                              step2Form.get('NumberOfTrips').invalid &&
                              (step2Form.get('NumberOfTrips').dirty || step2Form.get('NumberOfTrips').touched)
                            "
                            required
                          />
                          <span class="form-text text-muted">{{ l('EnterNumberOfTrips') }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--  end: Form Wizard Step 2-->

                  <!--begin: Form Wizard Step 3-->
                  <div class="pb-5" [formGroup]="step3Form" data-wizard-type="step-content">
                    <div class="row">
                      <div class="col-lg-6">
                        <label>{{ l('MainGoodCategory') }} <span class="required-fileds">*</span></label>
                        <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allGoodCategorys }">
                          <select
                            class="form-control"
                            name="goodCategory"
                            formControlName="goodCategory"
                            [disabled]="!allGoodCategorys"
                            [(ngModel)]="step3Dto.goodCategoryId"
                            [class.is-valid]="
                              step3Form.get('goodCategory').valid && (step3Form.get('goodCategory').dirty || step3Form.get('goodCategory').touched)
                            "
                            [class.is-invalid]="
                              step3Form.get('goodCategory').invalid && (step3Form.get('goodCategory').dirty || step3Form.get('goodCategory').touched)
                            "
                            required
                          >
                            <!--                            <option [ngValue]="undefined" disabled selected>{{ l('SelectAGoodCategory') }}</option>-->
                            <option *ngFor="let item of allGoodCategorys" value="{{ item.id }}">{{ item.displayName }}</option>
                          </select>
                          <span class="form-text text-muted">{{ l('SelectaGoodCategory') }}</span>
                        </div>
                      </div>

                      <div class="col-lg-6">
                        <label>{{ l('TotalWeight') }} <span class="required-fileds">*</span></label>
                        <div>
                          <div class="input-group">
                            <div class="input-group-append">
                              <span class="input-group-text"> KG </span>
                            </div>
                            <input
                              type="number"
                              name="weight"
                              formControlName="weight"
                              class="form-control"
                              [(ngModel)]="step3Dto.totalWeight"
                              [class.is-valid]="step3Form.get('weight').valid && (step3Form.get('weight').dirty || step3Form.get('weight').touched)"
                              [class.is-invalid]="
                                step3Form.get('weight').invalid && (step3Form.get('weight').dirty || step3Form.get('weight').touched)
                              "
                              required
                            />
                          </div>
                        </div>
                        <span class="form-text text-muted">{{ l('TotalWeightofGoodsinKG') }}</span>
                      </div>

                      <div class="col-lg-12 mt-4" *ngIf="IfOther(allGoodCategorys, step3Dto.goodCategoryId)">
                        <label>{{ l('Other') }} <span class="required-fileds">*</span></label>
                        <div>
                          <div class="input-group">
                            <input
                              type="text"
                              name="otherGoodsCategoryName"
                              formControlName="otherGoodsCategoryName"
                              class="form-control"
                              (change)="isOthersGoodCategoryId(step3Dto.goodCategoryId)"
                              [(ngModel)]="step3Dto.otherGoodsCategoryName"
                              [class.is-valid]="
                                step3Form.get('otherGoodsCategoryName').valid &&
                                (step3Form.get('otherGoodsCategoryName').dirty || step3Form.get('otherGoodsCategoryName').touched)
                              "
                              [class.is-invalid]="
                                step3Form.get('otherGoodsCategoryName').invalid &&
                                (step3Form.get('otherGoodsCategoryName').dirty || step3Form.get('otherGoodsCategoryName').touched)
                              "
                              [required]="step3Form.get('goodCategory').valid"
                            />
                          </div>
                        </div>
                        <span class="form-text text-muted">{{ l('otherGoodsCategoryName') }}</span>
                      </div>

                      <div class="col-lg-6 mt-4">
                        <div class="form-group">
                          <div
                            [ngClass]="{
                              'spinner spinner-success spinner-right mr-1 ml-1': !allpackingTypes
                            }"
                          >
                            <label>{{ l('PackingType') }} <span class="required-fileds">*</span></label>
                            <select
                              class="form-control"
                              name="packingType"
                              formControlName="packingType"
                              [(ngModel)]="step3Dto.packingTypeId"
                              [class.is-valid]="
                                step3Form.get('packingType').valid && (step3Form.get('packingType').dirty || step3Form.get('packingType').touched)
                              "
                              [class.is-invalid]="
                                step3Form.get('packingType').invalid && (step3Form.get('packingType').dirty || step3Form.get('packingType').touched)
                              "
                              [disabled]="!allpackingTypes"
                              required
                            >
                              <option [ngValue]="null" disabled selected>{{ l('SelectaPackingType') }}</option>
                              <option *ngFor="let item of allpackingTypes" value="{{ item.id }}">{{ item.displayName }}</option>
                            </select>
                          </div>
                          <span class="form-text text-muted">{{ l('EnterPackingType') }}</span>
                        </div>
                      </div>
                      <div class="col-lg-6 mt-4">
                        <div class="form-group">
                          <label>{{ l('NumberOfPacking') }} <span class="required-fileds">*</span></label>
                          <input
                            class="form-control"
                            type="number"
                            name="numberOfPacking"
                            id="numberOfPacking"
                            formControlName="numberOfPacking"
                            [(ngModel)]="step3Dto.numberOfPacking"
                            [class.is-valid]="
                              step3Form.get('numberOfPacking').valid &&
                              (step3Form.get('numberOfPacking').dirty || step3Form.get('numberOfPacking').touched)
                            "
                            [class.is-invalid]="
                              step3Form.get('numberOfPacking').invalid &&
                              (step3Form.get('numberOfPacking').dirty || step3Form.get('numberOfPacking').touched)
                            "
                            required
                          />
                          <span class="form-text text-muted">{{ l('EnterNumberOfPacking') }}</span>
                        </div>
                      </div>
                      <div class="col-lg-6 mt-4">
                        <label> {{ l('TransportType') }} <span class="required-fileds">*</span></label>
                        <div [ngClass]="{ 'spinner spinner-success spinner-right mr-1 ml-1': !allTransportTypes }">
                          <select
                            class="form-control"
                            name="transportType"
                            formControlName="transportType"
                            required
                            [attr.disabled]="allTransportTypes ? null : true"
                            [(ngModel)]="step3Dto.transportTypeId"
                            [class.is-valid]="
                              step3Form.get('transportType').valid && (step3Form.get('transportType').dirty || step3Form.get('transportType').touched)
                            "
                            [class.is-invalid]="
                              step3Form.get('transportType').invalid &&
                              (step3Form.get('transportType').dirty || step3Form.get('transportType').touched)
                            "
                            (change)="transportTypeSelectChange(step3Dto.transportTypeId)"
                          >
                            <option [ngValue]="null" disabled selected>{{ l('SelectaTransportType') }}</option>
                            <option *ngFor="let item of allTransportTypes" value="{{ item.id }}">{{ item.displayName }}</option>
                          </select>
                        </div>
                        <span class="form-text text-muted">{{ l('SelectaTransportType') }}</span>

                        <div class="form-group" *ngIf="IfOther(allTransportTypes, step3Dto.transportTypeId)">
                          <label>{{ l('Other') }} <span class="required-fileds">*</span></label>
                          <div>
                            <div class="input-group">
                              <input
                                type="text"
                                name="otherTransportTypeName"
                                formControlName="otherTransportTypeName"
                                class="form-control"
                                [(ngModel)]="step3Dto.otherTransportTypeName"
                                [class.is-valid]="
                                  step3Form.get('otherTransportTypeName').valid &&
                                  (step3Form.get('otherTransportTypeName').dirty || step3Form.get('otherTransportTypeName').touched)
                                "
                                [class.is-invalid]="
                                  step3Form.get('otherTransportTypeName').invalid &&
                                  (step3Form.get('otherTransportTypeName').dirty || step3Form.get('otherTransportTypeName').touched)
                                "
                                [required]="step3Form.get('transportType').valid"
                              />
                            </div>
                          </div>
                          <span class="form-text text-muted">{{ l('OtherTransportTypeName') }}</span>
                        </div>
                      </div>

                      <div class="col-lg-6 mt-4">
                        <label>{{ l('TruckType') }} <span class="required-fileds">*</span></label>
                        <div>
                          <div
                            [ngClass]="{
                              'spinner spinner-success spinner-right mr-1 ml-1': truckTypeLoading
                            }"
                          >
                            <select
                              class="form-control"
                              name="truckType"
                              formControlName="truckType"
                              [attr.disabled]="
                                step3Dto.transportTypeId == null
                                  ? true
                                  : null || allTransportTypes == null
                                  ? true
                                  : null || allTrucksTypes == null
                                  ? true
                                  : null
                              "
                              [(ngModel)]="step3Dto.trucksTypeId"
                              [class.is-valid]="
                                step3Form.get('truckType').valid && (step3Form.get('truckType').dirty || step3Form.get('truckType').touched)
                              "
                              [class.is-invalid]="
                                step3Form.get('truckType').invalid && (step3Form.get('truckType').dirty || step3Form.get('truckType').touched)
                              "
                              (change)="trucksTypeSelectChange(step3Dto.trucksTypeId)"
                              required
                            >
                              <option [ngValue]="null" selected disabled>{{ l('SelectaTruckType') }}</option>
                              <option *ngFor="let item of allTrucksTypes" value="{{ item.id }}">{{ item.displayName }}</option>
                            </select>
                          </div>
                        </div>

                        <span class="form-text text-muted">{{ l('SelectaTruckType') }}</span>

                        <div class="form-group" *ngIf="IfOther(allTrucksTypes, step3Dto.trucksTypeId)">
                          <label>{{ l('Other') }} <span class="required-fileds">*</span></label>
                          <div>
                            <div class="input-group">
                              <input
                                type="text"
                                name="otherTrucksTypeName"
                                formControlName="otherTrucksTypeName"
                                class="form-control"
                                [(ngModel)]="step3Dto.otherTrucksTypeName"
                                [class.is-valid]="
                                  step3Form.get('otherTrucksTypeName').valid &&
                                  (step3Form.get('otherTrucksTypeName').dirty || step3Form.get('otherTrucksTypeName').touched)
                                "
                                [class.is-invalid]="
                                  step3Form.get('otherTrucksTypeName').invalid &&
                                  (step3Form.get('otherTrucksTypeName').dirty || step3Form.get('otherTrucksTypeName').touched)
                                "
                                [required]="step3Form.get('truckType').valid"
                              />
                            </div>
                          </div>
                          <span class="form-text text-muted">{{ l('otherTrucksTypeName') }}</span>
                        </div>
                      </div>

                      <div class="col-lg-12 mt-4">
                        <label>{{ l('Capacity') }} <span class="required-fileds">*</span></label>
                        <div
                          [ngClass]="{
                            'spinner spinner-success spinner-right mr-1 ml-1': capacityLoading
                          }"
                        >
                          <select
                            class="form-control"
                            name="capacity"
                            formControlName="capacity"
                            [attr.disabled]="
                              capacityLoading
                                ? true
                                : null || step3Dto.trucksTypeId == null
                                ? true
                                : null || step3Dto.transportTypeId == null
                                ? true
                                : null || allTransportTypes == null
                                ? true
                                : null || allTrucksTypes == null
                                ? true
                                : null
                            "
                            [(ngModel)]="step3Dto.capacityId"
                            [class.is-valid]="
                              step3Form.get('capacity').valid && (step3Form.get('capacity').dirty || step3Form.get('capacity').touched)
                            "
                            [class.is-invalid]="
                              step3Form.get('capacity').invalid && (step3Form.get('capacity').dirty || step3Form.get('capacity').touched)
                            "
                            required
                          >
                            <option [ngValue]="null" selected disabled>{{ l('SelectaCapacity') }}</option>
                            <option *ngFor="let item of allCapacities" value="{{ item.id }}">{{ item.displayName }}</option>
                          </select>
                        </div>
                        <span class="form-text text-muted">{{ l('SelectaCapacity') }}</span>
                      </div>
                    </div>
                  </div>
                  <!--end: Form Wizard Step 3-->

                  <!--begin: Form Wizard Step 4-->
                  <div class="pb-5" data-wizard-type="step-content">
                    <div class="mb-10 font-weight-bold text-dark"></div>
                    <div class="row">
                      <div class="col-sm-4">
                        <p-listbox
                          *ngIf="cleanedVases.length > 0"
                          [options]="cleanedVases"
                          [checkbox]="true"
                          filter="true"
                          multiple="true"
                          [(ngModel)]="selectedVases"
                          [listStyle]="'text-align: center;'"
                          optionLabel="vasName"
                          [dataKey]="'vasId'"
                        ></p-listbox>
                      </div>
                      <div class="col-sm-8">
                        <table class="table" *ngIf="selectedVasesProperties.length > 0">
                          <thead>
                            <tr class="table-active">
                              <th scope="col">{{ l('VASType') }}</th>
                              <th scope="col">{{ l('Count') }}</th>
                              <th scope="col">{{ l('Amount') }}</th>
                              <th scope="col">{{ l('NumberOfTrips') }}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of selectedVases; index as i">
                              <td>
                                {{ selectedVasesProperties[item.vasId].vasName }}
                              </td>
                              <td>
                                <input
                                  type="number"
                                  [attr.disabled]="selectedVasesProperties[item.vasId].vasCountDisabled || null"
                                  id="Vas-Count{{ i }}"
                                  [(ngModel)]="item.requestMaxCount"
                                  (keypress)="numberOnly($event)"
                                  [required]="!selectedVasesProperties[item.vasId].vasCountDisabled"
                                  class="form-control"
                                  name="Vas-Count{{ i }}"
                                />
                              </td>
                              <td>
                                <input
                                  type="number"
                                  [attr.disabled]="selectedVasesProperties[item.vasId].vasAmountDisabled || null"
                                  id="VasAmount2{{ i }}"
                                  [(ngModel)]="item.requestMaxAmount"
                                  (keypress)="numberOnly($event)"
                                  [required]="!selectedVasesProperties[item.vasId].vasAmountDisabled"
                                  class="form-control"
                                  name="VasAmount2{{ i }}"
                                />
                              </td>
                              <td>
                                <input
                                  #numberOfTrips="ngModel"
                                  type="number"
                                  id="numberOfTrips{{ i }}"
                                  [(ngModel)]="item.numberOfTrips"
                                  (keypress)="numberOnly($event)"
                                  class="form-control"
                                  name="numberOfTrips{{ i }}"
                                  required
                                  [class.is-invalid]="numberOfTrips.touched && !numberOfTrips.valid && step2Dto.numberOfTrips < item.numberOfTrips"
                                  [class.is-valid]="numberOfTrips.touched && numberOfTrips.valid && step2Dto.numberOfTrips >= item.numberOfTrips"
                                  [max]="step2Dto.numberOfTrips"
                                  min="0"
                                />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <!--end: Form Wizard Step 4-->
                  <!--begin: Form Wizard Step 5-->
                  <div class="pb-5" data-wizard-type="step-content">
                    <!--                    <h4 class="mb-10 font-weight-bold text-dark">{{ l('ReviewYourDetailsAndSubmit') }}</h4>-->

                    <div>
                      <div class="border-bottom mb-5 pb-5 map">
                        <agm-map [latitude]="24.717942" [longitude]="46.675761" [zoom]="10">
                          <agm-direction
                            *ngIf="destination.lat"
                            [origin]="{ lat: origin.lat, lng: origin.lng }"
                            [destination]="{ lat: destination.lat, lng: destination.lng }"
                            [travelMode]="'DRIVING'"
                          ></agm-direction>
                        </agm-map>
                      </div>

                      <div class="border-bottom mb-5 pb-5">
                        <div class="font-weight-bolder text-primary mb-3">{{ l('BasicDetails') }}:</div>
                        <div class="font-size-base line-height-xl">
                          {{ l('ShippingRequestType') }} : {{ requestType }}
                          <br />
                          {{ l('BiddingRange') }} : {{ shippingRequestReview?.shippingRequest?.bidStartDate | momentFormat: 'L' }} -
                          {{ shippingRequestReview?.shippingRequest?.bidEndDate | momentFormat: 'L' }}
                          <br />
                          {{ l('ShippingTypes') }} : {{ shippingRequestReview?.shippingTypeDisplayName }}
                          <br />
                          {{ l('TripsDateRange') }} : {{ shippingRequestReview?.shippingRequest?.startTripDate | momentFormat: 'L' }} -
                          {{ shippingRequestReview?.shippingRequest?.endTripDate | momentFormat: 'L' }}
                        </div>
                      </div>
                      <div class="border-bottom mb-5 pb-5">
                        <div class="font-weight-bolder text-primary mb-3">{{ l('RouteDetails') }}:</div>
                        <div class="line-height-xl">
                          {{ l('OriginCity') }} : {{ shippingRequestReview?.originalCityName }}
                          <br />
                          {{ l('DestinationCity') }} : {{ shippingRequestReview?.destinationCityName }}
                          <br />
                          {{ l('RouteType') }} : {{ shippingRequestReview?.routTypeName }}
                          <br />
                          {{ l('NumberOfDrops') }} : {{ shippingRequestReview?.shippingRequest?.numberOfDrops }}
                          <br />
                          {{ l('NumberOfTrips') }} : {{ shippingRequestReview?.shippingRequest?.numberOfTrips }}
                        </div>
                      </div>
                      <div class="border-bottom mb-5 pb-5">
                        <div class="font-weight-bolder text-primary mb-3">{{ l('GoodDetails') }}:</div>
                        <div class="line-height-xl">
                          {{ l('MainGoodCategory') }} : {{ shippingRequestReview?.goodsCategoryName }}
                          <br />
                          {{ l('TotalWeight') }} : {{ shippingRequestReview?.shippingRequest?.totalWeight }}
                          <br />
                          {{ l('PackingType') }} : {{ shippingRequestReview?.packingTypeDisplayName }}
                          <br />
                          {{ l('NumberOfPacking') }} : {{ shippingRequestReview?.shippingRequest?.numberOfPacking }}
                          <br />
                          {{ l('TransportType') }} : {{ shippingRequestReview?.transportTypeDisplayName }}
                          <br />
                          {{ l('TruckType') }} : {{ shippingRequestReview?.truckTypeDisplayName }}
                          <br />
                          {{ l('Capacity') }} : {{ shippingRequestReview?.capacityDisplayName }}
                        </div>
                      </div>
                      <div class="mb-5 pb-5">
                        <div class="font-weight-bolder text-primary mb-3">{{ l('Vas') }}:</div>
                        <div class="line-height-xl">
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">{{ l('VasName') }}</th>
                                <th scope="col">{{ l('VasAmount') }}</th>
                                <th scope="col">{{ l('VasCount') }}</th>
                                <th scope="col">{{ l('NumberOfTrips') }}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let vas of selectedVases; let i = index">
                                <th scope="row">{{ i + 1 }}</th>
                                <th>{{ selectedVasesProperties[vas.vasId].vasName }}</th>
                                <td>{{ vas.requestMaxAmount == 0 ? '-' : vas.requestMaxAmount }}</td>
                                <td>{{ vas.requestMaxCount == 0 ? '-' : vas.requestMaxCount }}</td>
                                <td>{{ vas.numberOfTrips == 0 ? '-' : vas.numberOfTrips }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--end: Form Wizard Step 5-->

                  <!--begin: Form Actions -->
                  <div class="d-flex justify-content-between border-top pt-10">
                    <div class="mr-2">
                      <div class="btn btn-light-danger font-weight text-uppercase px-9 py-4" data-wizard-type="action-prev">
                        {{ l('Previous') }}
                      </div>
                    </div>
                    <div>
                      <create-or-edit-template-drop-down-button
                        *ngIf="activeStep == 4"
                        [entityType]="entityType.ShippingRequest"
                        [sourceEntityId]="activeShippingRequestId"
                        [templateIdForEdit]="templateId"
                        [customClass]="'btn btn-light-danger font-weight-bold px-9 py-4 dropdown-toggle btn-elevate-hover mr-2'"
                      ></create-or-edit-template-drop-down-button>
                      <button (click)="onSubmit()" class="btn btn-success font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-submit">
                        {{ l('Publish') }}
                      </button>
                      <button class="btn btn-primary font-weight-bold text-uppercase px-9 py-4" data-wizard-type="action-next" [buttonBusy]="saving">
                        {{ l('Next') }}
                      </button>
                    </div>
                  </div>
                  <!--end: Form Actions -->
                </div>
                <!--end: Form Wizard Form-->
              </div>
            </div>
          </div>
          <!--end: Wizard -->
        </div>
      </div>
    </div>
  </div>
</div>
